[2016-07-10 13:03] pertrai1 commented on #328
@DaleMcGrew I think flexbox would be the way to go but would want @ixley to chime in and say whether he wants to go this route or not.

@DaleMcGrew What is the deadline for this milestone? Is it today? If so, getting this last issue with the view area is not a problem. I can also fix the clicking on the body to get the container of results to be removed if it is needed to show the basics of what t

[2016-07-10 13:06] DaleMcGrew commented on #328
Thanks @pertrai1,  I love the idea of wrapping up this issue with one more fix today, and then entering a new issue for discussing re-factoring the whole header to flexbox after discussion.

[2016-07-10 13:09] pertrai1 commented on #328
@DaleMcGrew Hey, on 360x640, can we remove the name and have the hamburger and search?

[2016-07-10 13:10] pertrai1 commented on #328
@DaleMcGrew forget that last question :-)

[2016-07-10 13:13] pertrai1 commented on #328
@DaleMcGrew after playing around in Firefox responsive mode, I am not sure that having the search on the same line as the hamburger and name would be enough real estate for the search to be useful? 500 looks about the closest that I see there being enough room for it to work. Take a look in responsive mode and see what you think.

[2016-07-10 13:13] pertrai1 commented on #328
@DaleMcGrew after playing around in Firefox responsive mode, I am not sure that having the search on the same line as the hamburger and name would be enough real estate for the search to be useful? 500 looks about the closest that I see there being enough room for it to work. Take a look in responsive mode and see what you think.

[2016-07-10 13:29] DaleMcGrew commented on #328
@pertrai1 Maybe if between 330px and 500px, when you give focus to the search box, we remove "My Voter Guide demo"?

I didn't see any changes just now -- I may have overwritten your changes with a commit to that branch just now (sorry!)

[2016-07-10 13:32] pertrai1 commented on #328
@DaleMcGrew I did not push yet. I am still playing around with the sizes because and various viewport sizes the search can look sometimes weird. I will give the focus a shot and see what that does

[2016-07-10 13:34] DaleMcGrew commented on #319
Hello @ixley what does the "ready" tag mean?

[2016-07-10 14:51] pertrai1 commented on #328
@DaleMcGrew I just pushed the latest change where the text logo goes away on search focus and then comes back on blur. The only thing is that right now the widths are not consistent because of the layout and that the focus and blur happens on any viewport size. This can be fixed to only happen at different sizes, but there will have to be multiple factors taken into consideration because it has to

[2016-07-10 14:51] pertrai1 commented on #328
* [x] When the view area is between 330px wide and 695px wide, the search box should not drop down to a new line (which it currently does).

[2016-07-10 15:07] DaleMcGrew commented on #328
I think we are in a good spot with this one! I will thumbs up and merge your pull request in a couple of hours. Great work @pertrai1!

[2016-07-10 15:07] #328 closed

[2016-07-10 15:57] ixley commented on #319
@DaleMcGrew I was just playing around with [Waffle.io](https://waffle.io/) and [ZenHub](https://www.zenhub.com/) to see if either would be helpful for managing issues and tasks. They both use kanban style progress tracking, and Waffle.io adds its categories as labels. 'Ready' is sort of like the queued backlog, as opposed to Icebox or new/unsorted.

[2016-07-10 16:08] ixley commented on #328
@pertrai1 @DaleMcGrew I'm not familiar with all the factors, but I definitely think it makes sense to use flexbox if it simplifies layout and resizing or minimizes media queries.

[2016-07-10 16:42] ixley commented on #324
@DaleMcGrew I'm not quite ready to take this - was just trying to help add some definition so it's ready to go.
This is also probably more text than is appropriate for a popover, so it's worth considering whether this would work in a modal or whether we can trim down the text a bit.

[2016-07-10 16:52] DaleMcGrew commented on #324
Fair enough @ixley! Ideally the popover could show some of the text, but then have a way to reveal the rest. Perhaps a way to scroll down?

[2016-07-11 17:39] #319 closed

[2016-07-11 17:58] DaleMcGrew commented on #332
@pertrai1, any attempt I have made to hide the "search-container" drop-down with the "onBlur" action in SearchAllBox.js has led to the Link not taking the view to the candidate or measure page (that is, when you search for a candidate or organization, and click on a candidate's or organization's name). We need to figure out another way to hide the "search-container" drop-down when you click outsid

[2016-07-11 17:58] DaleMcGrew commented on #333
Done!

[2016-07-11 17:58] #333 closed

[2016-07-11 17:59] DaleMcGrew commented on #331
Done -- Pull request #338.

[2016-07-11 17:59] #331 closed

[2016-07-11 21:19] pertrai1 commented on #332
@DaleMcGrew Ok, I will change the event to the search container or body and not on the search input field. It really does not belong on the input anyways. I also have some changes that I have seen where the input is right in Firefox but not in Chrome. I am off until Thursday so I will have some time to try to get the search issues wrapped up.

[2016-07-11 22:41] DaleMcGrew commented on #332
Thank you @pertrai1!

[2016-07-12 05:53] ixley commented on #324
Yeah, that's reasonable to try. A technical blocker is that React-Bootstrap doesn't currently support custom prefixing for all classes, which makes it largely incompatible with the namespaced classes I prefixed. I wasn't clear how important it would be to leverage third-party Bootstrap 'plug-ins', but it's seeming like it might make sense to roll back the Bootstrap class namespacing for the time b

[2016-07-14 04:58] DaleMcGrew commented on #332
Nailed it! Thank you @pertrai1.

[2016-07-14 04:58] #332 closed

[2016-07-14 05:14] DaleMcGrew opened #341 "Instant Search: Box expand/contract behavior"
- [x] When browser is wide enough to show top navigation icons, the "My Voter Guide demo" text should not be hidden when you click in the search box.

[2016-07-14 05:29] DaleMcGrew opened #342 "Instant Search Box: Positioning"
Issues Thursday night:
- [x] When 693px and narrower, enter a search term so you see the drop-down. When the drop-down is open, the left nav hamburger doesn't react to clicking except for a very small click area.
- [x] When 768px and wider, the search box jumps up vertically.
- [x] When 768px and wider, the width of the search box jumps as you expand the browser. The way it is expanding is just fi

[2016-07-15 03:02] pertrai1 commented on #325
@DaleMcGrew Is this not needed for the shootout? I do see Next but wanted to make sure that it is not needed for the shootout and is there just because there was no resources for this to make it into the shootout.

[2016-07-15 03:05] DaleMcGrew commented on #325
@pertrai1 It would be ideal to have for Saturday, but is not critical.

[2016-07-15 03:05] pertrai1 commented on #324
Possibly a good scenario would be to have the side bar open up with the menu hidden and have the information shown about the source that would allow for the complete content to be revealed.

[2016-07-15 03:09] pertrai1 commented on #310
@DaleMcGrew Depending on how you want to set this up, I have seen rapid growth in sites using Disqus(sp?) because it allows you to post comments not only on site but also to other social media outlets. Possible implementation to consider.

[2016-07-15 03:17] DaleMcGrew commented on #341
👍  Nailed it, thank you!

[2016-07-15 03:17] #341 closed

[2016-07-15 03:18] DaleMcGrew commented on #342
@pertrai1 I added one more bullet item in the description of this issue. Still working on another comment too... (coming soon)

[2016-07-15 03:26] DaleMcGrew commented on #342
All comments are above now.

[2016-07-15 05:05] ixley commented on #324
I think a popover (large ‘tooltip’) could be reasonable but the amount of
text makes it feel a bit heavy. Additionally, in the current context (each
item citing vote smart as the source), the content become redundant
quickly. It should. Be accessible, but in this case (with no varied
content) it doesn’t need to be so ‘frictionless’ that something like a
modal window wouldn’t also be reasonable.

[2016-07-15 05:24] ixley commented on #324
Additionally, this is making me feel a bit conflicted since this story could be easily solved with a (React-)Bootstrap component, but to do that I would have to remove the namespace prefixing I added. I would also prefer not to be as reliant on the Bootstrap ecosystem, but it still has the lure of simpler implementation, absent our own set of robust custom components.

Nice to see you back around

[2016-07-15 10:31] pertrai1 commented on #342
@DaleMcGrew - the 768px issue is something to do with how Bootstrap handles media queries at that size and I am still trying to find out what properties it is putting in the DOM that makes that issue arise.

[2016-07-15 10:37] pertrai1 commented on #324
I believe that the source would not be needed next to every calculation. If the source is notes in one place, that would be enough for someone to know what was the source of the calculations. I also believe that if a user was to click on the url, the intent would be that the user is expecting to go to that website.  Anything else could be not what the user expected. I believe adding a footer for l

[2016-07-16 01:01] pertrai1 commented on #342
@DaleMcGrew I tested the changes on my Samsung Galaxy Note Edge and the instant search is not dropping to a new line.

[2016-07-16 01:08] DaleMcGrew commented on #342
Thank you Rob! It looks really good, and is ready for our presentation tomorrow. Thank you! One item we can deal with later:
- [ ] The "add friends" and "Who I can follow" text is showing up within the Instant search drop down and should not be visible.
<img width="590" alt="screen shot 2016-07-15 at 6 03 56 pm" src="https://cloud.githubusercontent.com/assets/7756031/16891898/e3d5a954-4ab6-11e6-92

[2016-07-16 01:09] pertrai1 commented on #342
@DaleMcGrew yeah I just noticed that as I synced my branch and now I am figuring out the issue when I took care of the hamburger issue. I will get this resolved and do a PR here in a moment.

[2016-07-16 01:32] pertrai1 commented on #334
@DaleMcGrew I think there will need to be more conversation and details about this. I have played around with some of your replications and was not able to follow them completely. The expected behavior I would imagine is that a person would tab to the choice that they want. If the enter desire is that there is a typeahead that will populate the input with the closest match so that hitting the ente

[2016-07-16 14:23] DaleMcGrew commented on #334
Hi Rob, you are right -- if someone hits return (or clicks the search button), it should populate the box with the first search result and navigate to that entry.

[2016-07-16 14:30] DaleMcGrew commented on #342
Fixed! Thanks @pertrai1.

[2016-07-16 14:30] #342 closed

[2016-07-20 17:03] ixley commented on #324
I've been thinking about this more, and while I don't think it necessarily means we shouldn't have a brief inline explanation (tooltip, popup, or otherwise) as well, it seems more relevant to have an entire section/page to explain ratings, endorsements, how network 'scores' are constructed, and anything else related.

[2016-08-04 03:26] DaleMcGrew opened #352 "Modal not showing over page as popup"
I am trying to get a Modal display working. It is currently showing up at the bottom of the page though. @ixley thinks it might be because of the prefix we are adding to all bootstrap classes.

You can see this here:
http://localhost:3000/defenders
...and click on the % rating. It will try to pop up the Modal.

I am including the "EditPositionAboutCandidateModal" component in this component:
src/j

[2016-08-04 10:50] #352 closed

[2016-08-04 10:55] DaleMcGrew commented on #352
It works beautifully @ixley, thank you!

[2016-08-11 06:13] ixley opened #361 "Display Position Statements"
Allow users to post and edit statements for candidates and ballot items.

[2016-08-11 06:16] ixley commented on #361
@DaleMcGrew I did some style cleanup but was unclear about a couple things. Take a look and let's touch base to discuss.
Two quick notes - I added a placeholder for speaker_display_name (you can fix), and think that ideally the text input would expand (as textarea) to accommodate a few vertical lines (a la Facebook, etc.)

https://github.com/ixley/WebApp/tree/position-statement

[2016-08-11 17:00] DaleMcGrew commented on #361
Thank you @ixley! Would you like to try to have a quick Google hangout or phone call today to discuss? Since this is very much a work-in-progress, please feel free to submit a pull request, even though there is more to iterate on. -Dale

[2016-08-11 17:01] DaleMcGrew commented on #310
Done!

[2016-08-11 17:01] #310 closed

[2016-08-12 00:00] DaleMcGrew opened #362 "Add small text under icons in top bar"
Please add small text under the top bar navigation icons (which show in desktop mode):
Ballot, Requests, Connect, Activity
![screen shot 2016-08-11 at 4 50 17 pm](https://cloud.githubusercontent.com/assets/7756031/17608781/babd3c2a-5fe3-11e6-9e9e-a200bbd699c9.png)

Code (I believe): WebApp/src/js/components/Navigator.jsx file

[2016-08-12 06:23] ixley commented on #361
@DaleMcGrew I've been super busy, but could talk through this possibly sometime Friday afternoon or evening, or else maybe Saturday morning. I'll submit a PR if you don't mind the messiness of fragmented commits and such.

[2016-08-12 06:26] DaleMcGrew commented on #361
Hi @ixley what I saw looked far enough along for a pull request. Thank you for tackling this issue.

[2016-08-15 17:54] DaleMcGrew opened #369 "Make icons in top bar show "at" state, just like the footer icons in mobile mode do"

[2016-08-15 18:45] #361 closed

[2016-08-18 18:38] zachmonteith commented on #362
this is done in my latest pull request, although I still haven't been successful in standardizing the size of the icons

[2016-08-18 20:47] zachmonteith opened #374 "Search results seem only to flash before returning user to previous page"
Tried using the search bar and encountered a strange issue: after typing in a search query and hitting return, the results of the search flashed briefly as my current page before displaying the page I had previously been looking at.  The asynchronous drop down predictive search results (not sure what to call these but I imagine they are happening in AJAX, like how if i type "harr" kamala harris ap

[2016-08-18 20:48] #374 closed

[2016-08-18 20:48] zachmonteith commented on #374
duplicate of existing issue

[2016-08-19 03:06] DaleMcGrew commented on #369
Working!

[2016-08-19 03:06] #369 closed

[2016-08-19 03:07] DaleMcGrew commented on #362
Working now!

[2016-08-19 03:07] #362 closed

[2016-08-19 03:11] DaleMcGrew commented on #324
Hi @ixley, we tried to implement a simple OverlayTrigger in WebApp/src/js/components/Widgets/PositionRatingSnippet.jsx
It didn't work, and I suspect because of our "bs-" style prefix. Can you please take a look?

[2016-08-19 03:11] DaleMcGrew commented on #311
This now working. Great work @zachmonteith!

[2016-08-19 03:11] #311 closed

[2016-08-19 03:12] DaleMcGrew commented on #208
We have changed the interface to solve this issue.

[2016-08-19 03:12] #208 closed

[2016-08-19 03:24] DaleMcGrew opened #377 "Position toggle switch between "Public" and "Friends Only""
I have put in place a temporary toggle button that shows whether a position is visible to "Friends Only" vs. "Public":
![screen shot 2016-08-18 at 8 17 32 pm](https://cloud.githubusercontent.com/assets/7756031/17797827/dab7408c-6580-11e6-8024-b19457b6b97e.png)

My ideal case would be that it would look like the toggle switches seen here, and be right-aligned above the "Post" button:
<img width="78

[2016-08-19 04:26] ixley commented on #324
@DaleMcGrew I'm confused - the modal and trigger appear to be working. Can you be more specific?

[2016-08-19 04:31] DaleMcGrew commented on #324
You can see the "(source Votesmart.org)" button we tried to implement here:
https://wevote.me/candidate/wv02cand98
We couldn't get the Popover to work.

[2016-08-19 05:18] ixley commented on #377
@DaleMcGrew Do you have a branch I could take a look at?

From just scanning the demo/doc pages for both of those, it appears that yes, Bootstrap Toggle is dependent on external Bootstrap styles, which could cause it to break (visually) if those external classes are not as it expects them. It's possible that you could customize around this, but it didn't jump out at me.

Bootstrap Switch appears t

[2016-08-19 05:41] DaleMcGrew commented on #377
The very latest code we worked with is in the develop branch.

My perspective is that we have now hit several components that expect standard bootstrap in order to work, and won't work without additional modification, requiring work from someone with significant expertise. I'm ok with maintaining the bootstrap styles with a "bs-" prefix as long as you feel strongly about it. I just don't see the p

[2016-08-19 06:59] ixley commented on #316
Never received production-ready icons. Closing for now.

[2016-08-19 06:59] #316 closed

[2016-08-19 07:21] ixley commented on #377
Understood. It's not something I want to be spending extra time on either. I can look at rolling it back this weekend. One of the things that pushed me this direction in the first place is that there are custom classes named similarly to Bootstrap classes so that they can be easily confused. I'd like to try and maintain more of a distinction some other way at least.

Also, I will still express fav

[2016-08-19 07:22] ixley commented on #377
Oh, and I saw the Public/Friends-only button(s), but no references to Bootstrap Toggle.

[2016-08-19 13:16] DaleMcGrew commented on #377
Thank you Jeff! I did not leave my attempt at the Bootstrap Toggle in place -- it was pretty easy to set up if you wanted to try to get it to work. (Otherwise I can after the "bs-" rollback.) I'm also open if you can think of a better way to represent the toggle between "Public" and "Friends".

[2016-08-19 13:18] DaleMcGrew commented on #324
@zachmonteith, Jeff is going to rollback the "bs-" bootstrap class prefix we are using. Once that is done (this weekend) hopefully we will be able to get this Popover to work.

[2016-08-19 15:13] ixley commented on #324
I also made a PR last night to get this working. Be mindful that in one
view/route you have both that modal and the popover being triggered by the
same click.

On Friday, August 19, 2016, Dale John McGrew <notifications@github.com>
wrote:

[2016-08-19 18:04] abbynormative commented on #334
I have a solution that partially does what you want for this. I am stuck on handling what happens when there are truly "no results." See code below with comments.
Added to the render function in SearchAllBox.js
`onKeyPress={this.handleKeyPress}`
Added above the render fuction
`  handleKeyPress(e) {
    if (e.key === 'Enter') {
      console.log('pressed enter');
      var results = document.getEle

[2016-08-19 22:18] DaleMcGrew opened #379 "Create /id/WeVoteId page equivalent to Twitter "NotFound" page"
This will allow Friends to see each other's positions, as well as view the positions of people signed in via Facebook. (Facebook no longer provides Usernames via their API.)

[2016-08-22 18:09] DaleMcGrew commented on #324
Issue resolved. Great work @zachmonteith!

[2016-08-22 18:09] #324 closed

[2016-08-23 14:05] DaleMcGrew commented on #325
Thank you @zachmonteith, this is working very well.

[2016-08-23 14:05] #325 closed

[2016-08-24 17:24] DaleMcGrew commented on #377
First draft working -- thank you @zachmonteith!

[2016-08-24 17:24] #377 closed

[2016-08-25 03:37] DaleMcGrew commented on #334
This if working now. Great work @abbynormative!

[2016-08-25 03:37] #334 closed

[2016-08-25 15:04] DaleMcGrew opened #392 "Convert "Share" button to a button drop-down"
Currently, the "Share" button in WebApp/src/js/components/Widgets/ItemActionBar.jsx opens a Facebook share box directly.
![screen shot 2016-08-25 at 7 58 08 am](https://cloud.githubusercontent.com/assets/7756031/17974139/b5e98ba2-6a99-11e6-9775-1f81e0083ec3.png)
- [ ] Convert this to a DropdownButton as described on this page: https://react-bootstrap.github.io/components.html
- [ ] Make the first

[2016-08-25 20:07] ColettePhair opened #394 "Organization's image not appearing on certain page(s)"
https://WeVote.US/measure/wv02meas122

The link to an organization's photo is cached in the PositionEntered and VoterGuide tables. Currently our admin tools are not updating the link in the PositionEntered table when it gets updated in the master Organization table. This causes this problem: On this page Sierra Club's Twitter image doesn't appear in the "Voter Guide" list, but if you click the ima

[2016-08-26 13:13] DaleMcGrew opened #396 "Implement "Who You're Ignoring" page"
<img width="441" alt="screen shot 2016-08-26 at 6 12 42 am" src="https://cloud.githubusercontent.com/assets/7756031/18006394/253183e2-6b54-11e6-853f-a3c1635f1829.png">

Use this page as example code:
https://wevote.us/opinions_followed

Show all of the organizations that voter is ignoring. Offer an "Edit" interface where voter can "Stop Ignoring". This will require both React code and WeVoteServer

[2016-08-26 13:19] DaleMcGrew opened #397 "Make position source link active: open new tab in desktop mode, open modal with content in mobile mode"
<img width="490" alt="screen shot 2016-08-26 at 6 15 37 am" src="https://cloud.githubusercontent.com/assets/7756031/18006525/c0b22d30-6b54-11e6-9d4a-96cfe19de6b8.png">

When a person clicks on the source link for a position:
- [x] In desktop mode, open the link in a new tab
- [ ] In mobile mode, open the link in a modal that can be closed

[2016-08-26 13:24] DaleMcGrew opened #398 "Search box 1px off from magnifying glass"
The magnifying glass on the right side of the search box is 1px shorter than the search box itself.
![screen shot 2016-08-26 at 6 23 30 am](https://cloud.githubusercontent.com/assets/7756031/18006711/b53679c4-6b55-11e6-9f04-4c0231403789.png)

[2016-08-26 13:26] DaleMcGrew opened #399 "Make the top navigation text align vertically"
Across the top of the desktop site, I think we should reduce the size of the "Connect" and "Activity" icons so the text aligns vertically with the "Ballot" and "Requests" icons.
![screen shot 2016-08-26 at 6 24 57 am](https://cloud.githubusercontent.com/assets/7756031/18006757/06c364e6-6b56-11e6-8a03-2afdfe9231a3.png)

[2016-08-26 13:37] DaleMcGrew opened #400 "Create "Office" page/route"
Create a page where you can see all of the candidates running for a particular office.

Background: We are moving towards the ballot page being only an index page with a list of all offices and measures, so we need a page to display just one office and all of the candidates running for that office.

[2016-08-26 13:40] DaleMcGrew opened #401 "Convert ballot page to index of offices & measures"
Once Issue #400 is finished, create a new version "compressed" version of the ballot page (which will be the default) to display the office name or measure name, with a *very* brief description of the office or measure. Link to the office or measure page.

[2016-08-26 16:07] DaleMcGrew opened #402 "Broken image showing in some places. Should show placeholder."
The bulk of this issue is resolved (thanks @zachmonteith!) but:
- [ ] Spacing still doesn't match the correct images:
![screen shot 2016-08-27 at 7 58 44 am](https://cloud.githubusercontent.com/assets/7756031/18028164/1cdb44e8-6c2c-11e6-9133-86ca94ff362a.png)

[2016-08-26 16:27] zachmonteith opened #403 "Position Toggle Switch should appear on Your Page for each ballot item with a position"
currently the position toggle switch (to change a post from one only your "Friends" can see to one available to the "Public" and vice-versa) appears on the Ballot page and on the individual ballot item's page, but not on the list of ballot items a user has taken positions on (available by clicking "Your Page" in the hamburger menu/left column menu, or navigating to /{the user's twitter handle}).

[2016-08-26 16:38] ColettePhair opened #404 ""Measures" data not importing from Google Civic"
We checked for Virginia using the address "101 W Franklin St, Richmond, VA 23220" and saw this page, without measures.  The first time I entered the address, one measure showed without any other data.  The second time, it was this page with candidates and no measure data.

![screenshot 24](https://cloud.githubusercontent.com/assets/20586344/18012971/c4322a8e-6b70-11e6-93f8-ddb09a0aa196.png)

[2016-08-26 16:48] ColettePhair opened #405 "San Francisco showing as "nearby address" for Virginia"
I entered "101 W Franklin St, Richmond, VA 23220" and this message appeared that it was showing the ballot for a nearby address, in SF.   Yet the ballot data is actually for Virginia on this page.
![screenshot 24](https://cloud.githubusercontent.com/assets/20586344/18013300/4752d1e2-6b72-11e6-94f4-ea84474b652c.png)

[2016-08-26 21:24] zachmonteith opened #407 "Ratings Info Popovers should not appear within modal"
first, Ratings Popovers should be extracted from current home within PositionRatingSnippet to their own standalone file.

second, these popovers should not appear when ratings are appearing in a modal link (example: when on page /ACLU, looking at list of ACLU ballot item ratings, clicking on an individual ballot item brings up a modal for that particular candidate and rating.  clicking the VoteSma

[2016-08-27 15:00] DaleMcGrew commented on #407
Nailed it! 👍

[2016-08-27 15:00] #407 closed

[2016-08-27 15:15] DaleMcGrew opened #410 "Change to FriendsOnlyIndicator"
![screen shot 2016-08-27 at 8 04 04 am](https://cloud.githubusercontent.com/assets/7756031/18028201/14482b88-6c2d-11e6-9913-4dda822d93b6.png)

Change where/when the "display to friends only" indicator is shown to this logic:
- [ ] If looking at your voter guide page, do not show the FriendsOnlyIndicator (since the PositionPublicToggle will be already shown)
- [ ] When looking at a "friend's" voter

[2016-08-27 15:16] DaleMcGrew commented on #403
I am working on changing the value of signed_in_with_this_twitter_account based on live data.

[2016-08-27 15:56] DaleMcGrew opened #411 "Show the office the position is for, when looking at a voter guide"
How it currently shows:
![screen shot 2016-08-27 at 8 50 03 am](https://cloud.githubusercontent.com/assets/7756031/18028422/c7647b30-6c33-11e6-8ad7-82be5ba39375.png)

The "office" line we want to copy from the CandidateCard:
![screen shot 2016-08-27 at 8 54 30 am](https://cloud.githubusercontent.com/assets/7756031/18028428/e72e78b2-6c33-11e6-8c04-3db25df0ee34.png)

[2016-08-27 15:58] DaleMcGrew commented on #403
Fixed.

[2016-08-27 17:11] DaleMcGrew commented on #399
Great work @kyleludlow!

[2016-08-27 17:11] #399 closed

[2016-08-27 17:11] DaleMcGrew commented on #398
Working like a charm. Thank you @kyleludlow.

[2016-08-27 17:11] #398 closed

[2016-08-28 15:01] #327 closed

[2016-08-28 15:03] pertrai1 opened #415 "Search Box not hidden when clicking on body"
Is it a new experience that when you click away from the search container that it should still be there? Before if you clicked on the body, the search container would be hidden.

[2016-08-28 15:45] pertrai1 opened #419 "Dropdown options do not go away"
After selecting from a dropdown, the options do not go away as I scroll up and down the page. Using Mac Chrome. See screenshot. @DaleMcGrew I assign these to you so you can decide who is best to fix these if they are indeed an issue.

![dropdown-still-visible](https://cloud.githubusercontent.com/assets/442374/18034829/c24d3538-6d14-11e6-88a2-48994f8469f1.png)

[2016-08-29 14:26] DaleMcGrew commented on #415
Hi @pertrai1, you are totally right--we seem to have broken that. Thank you for creating an issue for it!

[2016-08-29 14:45] DaleMcGrew commented on #419
@pertrai1 thank you for creating this issue. You are correct, they should go away when a voter clicks away from the drop-down.

[2016-08-29 17:28] zachmonteith opened #420 "editing position comments about a measure from within a modal creates a new item"
Walkthru for encountering this bug:
1) make a comment about any ballot measure (i put my location as New York, NY, and commented on proposition one, we vote id measure/wv02meas8)
2) go to "Your Page" (url should be /your twitter handle, also available from hamburger/left side menu)
3) click on the card for the measure you commented on to bring up the modal for that measure
4) click to edit your co

[2016-08-29 17:41] zachmonteith opened #422 "some ballot items' display names are appearing in all caps"
if ballot item name in database is in all caps, name appears in all caps on front end.  We would prefer to have names appear in typical Capitalized Case, where only the first letter of each word is capitalized.

We do not, however, want to apply this capitalization at ALL times, as it will eliminate some good formatting such as US President becoming Us President, etc.  Only when name is stored in

[2016-08-31 13:23] DaleMcGrew commented on #410
Verified

[2016-08-31 13:23] #410 closed

[2016-08-31 14:04] DaleMcGrew commented on #403
Hi @zachmonteith I think this was working, but isn't working any longer. When I go to my page now (signed into my Twitter account http://localhost:3000/WeVote ), I don't see the "Friends/Public" toggles any more. Can you please take a look?

[2016-08-31 14:09] DaleMcGrew commented on #402
Hi @zachmonteith, I notice that since this change, if a candidate doesn't have an image link in the system, the placeholder isn't shown.
To reproduce:
1) Sign in with Twitter.
2) Go to "Charlotte, NC" election.
3) Express an opinion for a down-ballot candidate that doesn't have an opinion.
4) Go to your page and you will see an empty space where the placeholder should be.
![screen shot 2016-08-31

[2016-08-31 22:42] DaleMcGrew opened #427 "My position overwrites Organization position on voter guide"
### Expected behavior and actual behavior
Weirdly, when I'm logged into WeVote.me, East Bay Express's positions say support for some, oppose for others, and neutral for some - even though I put as "info only" for all of them.  Basically it looks like it's picking up my own opinions (the texts "takes a lot of people out" and "this shouldn't even be on the ballot" were things I wrote on my own page

[2016-08-31 22:49] ColettePhair opened #428 "Position comments are not showing line breaks that have been entered"
Line breaks aren't appearing in position explanations - so for content longer than 1 paragraph it's a big glob of text like in the "Money Out Voters In" position here - https://wevote.me/measure/wv02meas112

[2016-09-02 05:35] DaleMcGrew commented on #422
👍

[2016-09-02 05:35] #422 closed

[2016-09-02 06:00] DaleMcGrew commented on #411
Hi @zachmonteith, I worked it out and it works well now!

[2016-09-02 06:00] #411 closed

[2016-09-02 18:32] DaleMcGrew commented on #402
Verified, thank you @zachmonteith!

[2016-09-02 18:32] #402 closed

[2016-09-02 20:50] DaleMcGrew commented on #405
Removed.

[2016-09-02 20:50] #405 closed

[2016-09-02 20:51] DaleMcGrew commented on #403
@zachmonteith can you please verify this? I believe I fixed it.

[2016-09-02 20:52] josephevans commented on #323
OK, I made some changes so that we atomically sync a new build output. This will prevent the webserver from grabbing an incomplete build and displaying an error to the user.

[2016-09-02 20:54] DaleMcGrew commented on #323
Awesome @josephevans thank you! I will verify this later today when I do another release.

[2016-09-02 21:01] zachmonteith commented on #403
Yes, it's working both on ballot page (where it is pulled in by ItemActionBar) and on "Your Page" (where it is pulled in by OrganizationPositionItem).  I tried it locally and in the version running on wevote.me and toggled a few positions, everything seems great.

[2016-09-02 21:02] zachmonteith commented on #403
👍

[2016-09-02 21:35] DaleMcGrew commented on #427
Verified by Colette.

[2016-09-02 21:35] #427 closed

[2016-09-02 21:36] #403 closed

[2016-09-03 20:30] DaleMcGrew opened #435 "Create "copy link" Modal for ShareButtonDropdown"
In Widgets/ShareButtonDropdown we have a "copy link" option. Turn this "copy link" on, and when the option is selected, open a modal with the link in a select box that allows the person to copy the link to their clipboard.

To get started, I suggest searching for "EditPositionAboutCandidateModal" for example code you can start with.

Next step after this is to show a preview of the link in the mod

[2016-09-05 21:41] DaleMcGrew commented on #323
Verified.

[2016-09-05 21:41] #323 closed

[2016-09-05 21:43] DaleMcGrew commented on #392
Verified. Thank you @kyleludlow!

[2016-09-05 21:43] #392 closed

[2016-09-05 21:45] DaleMcGrew commented on #379
Verified

[2016-09-05 21:45] #379 closed

[2016-09-05 22:27] DaleMcGrew commented on #139
Will not fix. One we we may ensure better addresses is by using instant search for the address (via Google) as people are entering an address.

[2016-09-05 22:27] #139 closed

[2016-09-05 22:46] DaleMcGrew opened #438 "Add the ability to invite a friend via email"
Here is the current design: https://projects.invisionapp.com/share/2R41VR3XW#/screens/89479679

Related to issue #439

[2016-09-05 22:48] DaleMcGrew opened #439 "Add ability to invite friends from Facebook"
**Prior to sign in**
Create "Find Friends from Facebook" component for the Connect page that encourages you to sign in with Facebook.
- [ ] Step 1: See visual design here: https://app.moqups.com/DaleMcGrew/EdffBLTLBI/view/page/a0805d9e7
- [ ] Step 2: Once we have friend options: https://app.moqups.com/DaleMcGrew/EdffBLTLBI/view/page/aa31ff480
- [ ] Step 3: Show the Facebook-powered popup asking fo

[2016-09-07 01:27] tiffanysun opened #440 "#3 & #4 Ballot Page: New top-of-ballot design needed, rework into tab format"
We need a design for the top of the ballot.

3) On [Landing Page](https://wevote.me/ballot), the spacing between dropdown and text surrounding should have more spacing.
<img width="646" alt="screen shot 2016-09-06 at 12 44 09 pm" src="https://cloud.githubusercontent.com/assets/12804592/18296544/3f20f4c2-745f-11e6-90da-2d5199071bb4.png">

4) Instead of dropdown, rework these as tabs (ie: Remaining

[2016-09-07 01:35] tiffanysun opened #441 "#7 Organization is offered to be followed on measure page, even though there is no comment or support/oppose"
Data bug: Dale McGrew doesn’t show a ‘supports’ or any stance on the Prop 51.

<img width="634" alt="screen shot 2016-09-06 at 12 54 54 pm" src="https://cloud.githubusercontent.com/assets/12804592/18296703/6cc4f0bc-7460-11e6-92a2-b21f7ba1b9b3.png">

[2016-09-07 01:36] tiffanysun opened #442 "#4 Rework dropdown into tab format"
4) Instead of dropdown, rework these as tabs (ie: Remaining Choices, Support, Bookmark)
<img width="355" alt="screen shot 2016-09-06 at 12 44 16 pm" src="https://cloud.githubusercontent.com/assets/12804592/18296653/f7d3a4ec-745f-11e6-95e5-245e5d34197a.png">

[2016-09-07 01:38] tiffanysun opened #443 "#8 In mobile view, make search box fill top bar to right of hamburger menu"
Alignment issue in mobile view.
<img width="396" alt="screen shot 2016-09-06 at 12 59 04 pm" src="https://cloud.githubusercontent.com/assets/12804592/18296804/0d35ae7e-7461-11e6-8894-b4a03c3c1ea8.png">

If you shrink the window even further, the search box fills the entire top bar, so this is an issue of the responsive design transition widths.

Note that the search box is lower than it should be,

[2016-09-07 14:36] DaleMcGrew commented on #442
Merged with issue #440

[2016-09-07 14:36] #442 closed

[2016-09-07 14:54] DaleMcGrew opened #444 "Remove 2nd Header Bar"
In mobile mode, the 2nd header bar should take less vertical space, and the text should not wrap.
![screen shot 2016-09-07 at 7 51 43 am](https://cloud.githubusercontent.com/assets/7756031/18316636/46cd72c4-74d0-11e6-93cf-9dfa221aa2e7.png)

Dale would like to be trained in the layout styles for the header so he can make tweaks.

[2016-09-07 15:09] DaleMcGrew opened #445 "Mobile: Support/Oppose/Share buttons, and Public/Friends-toggle are colliding"
This is how the ItemActionBar looks in desktop mode:
![screen shot 2016-09-07 at 8 00 21 am](https://cloud.githubusercontent.com/assets/7756031/18316889/2961f2ea-74d1-11e6-9dcf-5179edaf5ec9.png)

But in mobile mode, the ItemActionBar has some layout collisions:
- [ ] 1) Support/Oppose/Share splits onto two lines, and should remain on one line.
![screen shot 2016-09-07 at 8 02 25 am](https://cloud.

[2016-09-07 15:13] DaleMcGrew opened #446 "Mobile: Measure card has left-spacing that can be removed"
There is space on the Measure card in mobile mode that is left-over from the candidate photo. This space can be removed. The spacing does not exist in desktop mode.
![screen shot 2016-09-07 at 8 12 53 am](https://cloud.githubusercontent.com/assets/7756031/18317416/ed231af0-74d2-11e6-8a32-b021ac141a8d.png)

[2016-09-07 15:43] ixley commented on #444
Can we just remove this? We've discussed before how these nav items are relevant in certain contexts but probably don't warrant taking up that much prime space all the time.

[2016-09-07 15:54] DaleMcGrew commented on #444
I'd like to leave this bar in place for user testing. I know that now it doesn't feel right the way it is displayed currently. This 2nd header bar will feel less "heavy" when we make it *much* shorter. I think we will also want to change the buttons we put there after some experimentation. Facebook has a 2nd header bar like this, and I suspect it is based on what they've learned through user A/B t

[2016-09-07 16:21] ixley commented on #444
@DaleMcGrew I can appreciate getting feedback from users on this, but I still think there are better ways to surface these options _in relevant contexts_ without having them take up prime space all the time.

[2016-09-07 16:24] ixley commented on #443
I'm working on cleaning up the header nav bar.

[2016-09-07 18:02] ixley commented on #446
This is due to the 'media-object' pattern (though it's likely being positioned inconsistently if it forces empty spacing on small screens and not larger ones).

The pattern assumes there will (or should) be an image/avatar to the left of the text. Forcing the spacing (leaving blank space when there is no image) is probably appropriate when there should be an image (but in that case there should at

[2016-09-07 18:06] DaleMcGrew commented on #446
Measures will not have images like Candidates do, but that is a cool idea to use the 1-3 character measure label as a auto-generated avatar.

[2016-09-07 18:18] ixley commented on #440
@DaleMcGrew @tiffanysun I'm attaching an **in progress** mockup where I am exploring some wider reaching navigation cleanup, but since it also addresses this issue's notion of switching Ballot filterning navigation from dropdown to tabs, I thought I would share it for feedback.

Of course, the singular change of switching from dropdown to tabs is relatively simple such that it doesn't necessarily

[2016-09-07 18:21] DaleMcGrew commented on #440
@ixley I love this direction!!!

[2016-09-07 18:38] ixley commented on #446
Ok, the most direct and flexible fix then would be to make the avatar container `measure-card__media-object-anchor` conditional and only render if there is an image (or placeholder).

We can explore adding an auto-generated image later.

[2016-09-07 18:41] ixley commented on #440
@DaleMcGrew awesome! It's still closer to concept (exploring ideas) than implementation-ready, but let's find time to discuss.

[2016-09-07 20:04] #445 closed

[2016-09-07 23:54] zachmonteith commented on #444
I just made the header bar shorter itself without changing the icon/text font size.  could change icon size too if you want it shorter still, just let me know.

[2016-09-08 02:18] nickbarry commented on #400
@zachmonteith and @DaleMcGrew , I'd like to help out with this, and don't want to step on anyone's toes. What's the current status of this? I see that Root.js already has an /office route on line 87 (based on the code I pulled down last week):

`<Route path="/office/:we_vote_id" component={Office} />`

I'm happy to look through the code and figure out what's done and what isn't, but if either of y

[2016-09-08 02:20] nickbarry commented on #400
@DaleMcGrew says this one is already well in hand - I'll work on something else.

[2016-09-08 05:28] ixley opened #450 "react-burger-menu breaks react-headroom"
[react-burger-menu](https://github.com/negomi/react-burger-menu) currently breaks [react-headroom](https://github.com/KyleAMathews/react-headroom) functionality after the menu has been triggered.

react-burger-menu injects `overflow-x: hidden` into the `<html>` and `<body>` tags when the menu is triggered, but does not remove them on close.

Investigate whether the problem can be solved on our end

[2016-09-08 12:50] DaleMcGrew commented on #450
Hi @ixley I think I broke this. I was trying to get rid of the console errors "No pageWrapId supplied" and "outerContainerId".

In /src/js/components/Navigation/HeaderBar.jsx we call:
<ReactBurgerMenu pageWrapId={ "" } outerContainerId={ "app-base-id" } styles={ menuStyles }>
In the last couple of weeks I added:   pageWrapId={ "" } outerContainerId={ "app-base-id" }

...if we don't pass in pageWra

[2016-09-08 14:24] ixley opened #451 "'.edit-position-action' renders even when I cannot edit a position"
`.edit-position-action` renders (around `.explicit-position`) for all items (even when I am not able to edit it. The functionality to edit is still (correctly) unavailable to me, but the element should not render, especially since it changes the cursor.

[2016-09-08 15:49] ixley commented on #450
@DaleMcGrew It's possible you adjusted something that broke it in a different way, but it doesn't look like this is a full fix. Without `outerContainerId`, the page will still scroll (along with the slide-out nav), in an undesirable way. (This is the current behavior on wevote.me).

The menu transition we're using doesn't require `pageWrapId`, but it doesn't seem to matter whether you pass an empt

[2016-09-08 15:55] ixley commented on #444
I'm removing this with Dale's acquiescence.

[2016-09-09 12:58] #443 closed

[2016-09-09 12:58] #444 closed

[2016-09-09 12:58] #446 closed

[2016-09-09 15:12] DaleMcGrew opened #454 "Mobile (Safari): Can we add "momentum" to scroll?"
### Please describe the issue (What happens? What do you expect?)
When I am trying to scroll down the ballot while using iPhone Safari, or a list of candidates, there isn't any scrolling momentum. (It doesn't seem to be a problem with iPhone Chrome.) It would feel better if you could flick up, and have the page keep scrolling and then slow to a stop.
### Steps to reproduce the problem (1, 2, 3...)

[2016-09-09 15:29] DaleMcGrew commented on #401
Fixed and live.

[2016-09-09 15:29] #401 closed

[2016-09-09 15:30] DaleMcGrew commented on #400
Fixed and live.

[2016-09-09 15:30] #400 closed

[2016-09-09 15:31] DaleMcGrew commented on #450
@ixley following your most recent changes, is this still a bug?

[2016-09-09 15:32] DaleMcGrew commented on #419
@kyleludlow we are migrating away from these drop-downs, so there is no need to fix this bug.

[2016-09-09 15:32] #419 closed

[2016-09-09 15:38] ixley commented on #450
@DaleMcGrew Unfortunately, yes. I dug into it while I was doing clean up, but am not sure how to fix. The info I posted about the `overflow-x: hidden` values not being removed is the most I can probably offer.

[2016-09-10 14:27] DaleMcGrew opened #455 "Ballot -> Ballot Item page -> Ballot: Can we return to same spot?"
### Please describe the issue (What happens? What do you expect?)

When you click away from a long ballot page to a particular office or measure, and then go back, you don't return to the same spot in the page. This is disorienting.
### Steps to reproduce the problem (1, 2, 3...), including links
1. Go to a ballot that is longer than a single screen, like "Charlotte, NC 28205" for example.
2. Scro

[2016-09-10 20:46] abbynormative commented on #435
I'm interested in working on this. Can you post a link to a page in the WeVote app where the copy link option should appear?

[2016-09-10 21:10] DaleMcGrew commented on #435
Hello, you can use a dummy link  for now in the modal.  The copy link option is currently commented out in the ShareButtonDropdown component.

[2016-09-11 06:12] ixley opened #456 "Cards (Measures/Offices) w/o images need adjustment for position icon"
Cards with positions that don't have avatars/images, such as Measures or Offices, need the position of the support/oppose icon adjusted.

![image](https://cloud.githubusercontent.com/assets/160662/18415543/c18cccbc-77aa-11e6-830b-bab1c621c03c.png)

![image](https://cloud.githubusercontent.com/assets/160662/18415578/00e76a4c-77ac-11e6-8a33-90aa9bdabc91.png)

[2016-09-11 21:11] abbynormative commented on #435
Ok. Can you post a link to one of the pages that has this button? I just want to clarify what exactly I'm working on, and to have a page to view when testing my code.

[2016-09-11 22:02] DaleMcGrew commented on #435
Any page with the support/oppose/share buttons. https://wevote.me/measure/wv02meas100

[2016-09-12 17:44] DaleMcGrew opened #459 "Ballot Filter nav cleanup related to PR #457"
Cleanup related to Pull Request #457.

Changes the Ballot filter dropdown menu to a button-group nav.
*I added the same conditionals to the FollowingFilter in PR #462, so please apply the same changes there as well.
- [ ] The conditional for adding active class to selected tab should be cleaned up (I wasn't sure how to)
- [ ] The conditional for the date tooltip on Election Name heading could be c

[2016-09-14 05:52] ixley commented on #454
@DaleMcGrew I think this might just be a browser thing. Scrolling has the momentum you describe in Chrome, but not in Safari – seems specific to the (mobile) browser, as opposed to the website.

[2016-09-14 05:58] ixley commented on #415
I noticed this behavior on the dropdown buttons in the ItemActionbar as well. All 'overlay' UI elements (modals, dropdowns, etc.) should have default behavior of closing/exiting when clicking/tapping outside the element (or hitting `esc`). 'Locked' modals windows are the only exception I can readily think of.

[2016-09-14 13:58] #456 closed

[2016-09-15 00:47] DaleMcGrew opened #465 "Position statement text too long on Measure & Candidate pages"
### Please describe the issue (What happens? What do you expect?)
1. Go to either a Candidate or Measure page that has a position with a very long statement, like this one: https://wevote.me/measure/wv02meas115
2. Some of the statements take up way too much vertical screen space.
3. We should limit the amount of text that displays to ~4 lines of text, and offer a "More" link that "unfurls" the tex

[2016-09-15 03:49] zachmonteith opened #466 "Nav Bar disappears between 660px and 695px wide"
currently, if your window is fewer than 660px wide, the navigation bar icons appear on the footer of the page (ballot, requests, connect and activity), and if window is 695 px or wider they appear on the header next to the search field.

BUT if window is wider than 660px but more narrow than 695px, both disappear and no nav icons are available.

accessed using Google Chrome Version 52.0.2743.116

[2016-09-15 21:28] DaleMcGrew opened #469 "Ballot icon doesn't seem to work, first visit to site"
### Please describe the issue (What happens? What do you expect?)
Ballot icon doesn't seem to work when you first visit the site. Most likely it is trying to navigate to the route you are already on.

### Steps to reproduce the problem (1, 2, 3...), including links
1. Clear your voter_device_id cookie.
2. Visit http://localhost:3000/ and you are directed to http://localhost:3000/intro
3. Click on

[2016-09-16 14:37] DaleMcGrew opened #471 "Support/Oppose buttons stack vertically on small phones"
### Please describe the issue (What happens? What do you expect?)
On all phones, the "Support" and "Oppose" buttons stack one on top of the other. I think we can remove the text ("Support" and "Oppose") for those two buttons when the view is too small. The Public/private toggle also overlaps the "Share" button on some phones.
### Steps to reproduce the problem (1, 2, 3...), including links
1. Go t

[2016-09-16 15:08] DaleMcGrew commented on #440
Completed!

[2016-09-16 15:08] #440 closed

[2016-09-16 15:08] DaleMcGrew commented on #322
Live!

[2016-09-16 15:08] #322 closed

[2016-09-17 00:08] ixley commented on #454
*I haven't dug into it but `-webkit-overflow-scrolling: touch` might do the trick.

[2016-09-20 17:59] DaleMcGrew commented on #465
Verified!

[2016-09-20 17:59] #465 closed

[2016-09-20 18:12] zachmonteith opened #474 "Name & position statements show over photo on mobile browser"
Since implementation of read more link truncation, alignment of candidate name, position, and position statement text is off, partially obscuring the candidate image. NOTE: We believe this issue is caused by transitioning a "p" (paragraph tag) to a "div" for the class "explicit-position__text" in:
/src/js/components/Widgets/PositionSupportOpposeSnippet.jsx and
/src/js/components/Widgets/PositionIn

[2016-09-20 18:28] ixley commented on #474
@zachmonteith is this live or only on the develop branch? I'm not able to reproduce this on the live site.

[2016-09-20 18:30] zachmonteith commented on #474
this is live on wevote.me, but only experienced the behavior on a mobile browser.

1) navigate to wevote.me in mobile browser (I used chrome on iPhone 5s)
2) search for "league of pissed off voters" (or really, "piss" will do the trick)
3) scroll down to candidates in their voter guide

[2016-09-20 19:20] ixley commented on #474
I still can't reproduce in mobile (iOS) Chrome or Safari. Maybe clear your
cache?

On Tue, Sep 20, 2016 at 11:30 AM, zachmonteith <notifications@github.com>
wrote:

[2016-09-20 19:36] zachmonteith commented on #474
hmm, that didn't seem to fix it.  Specifically I am at url https://wevote.me/theleaguesf, my current address is set to San Francisco 94116 and I am looking at their Positions for Other Elections.  bug beings with Preston Picus (he is the fourth candidate I can see), also happens with Kamala Harris, Jackie Speier, Bernie Sanders, Jane Kim, and Victor Hwang.

[2016-09-20 19:59] ixley commented on #474
@zachmonteith I'll leave this to you to troubleshoot unless you can provide more info with what's happening to the layout (try emulating mobile in Chrome desktop and using the inspector). I did notice that there's an anchor tag wrapping `card-child__avatar` which should probably just be wrapping the image instead (`card-child__avatar` and `card-card__content` should be siblings), but I can't comme

[2016-09-21 21:14] zachmonteith commented on #397
Unable to get modal to load and display full external webpage, so commented it out.  mobile users will not see a "view source" link, desktop users will open link in new tab as desired.

[2016-09-22 02:09] nickbarry opened #479 "Improve index.md of Contributing docs"
The [Contributing index.md](https://github.com/wevote/WebApp/blob/develop/docs/contributing/index.md) file is pretty empty. I want to update it a bit, since I'm going through it right now and it's fresh in my mind.

[2016-09-22 02:25] nickbarry opened #481 "Improve docs for creating ssh key on Windows"
[Our docs](https://github.com/wevote/WebApp/blob/develop/docs/installing/CLONING_CODE.md) aren't great for creating a ssh key on Windows. We should link to [something like this](https://help.github.com/articles/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent/#platform-windows).

[2016-09-22 02:56] #479 closed

[2016-09-22 02:58] #481 closed

[2016-09-22 03:01] DaleMcGrew commented on #451
Verified!

[2016-09-22 03:01] #451 closed

[2016-09-22 03:03] DaleMcGrew commented on #435
Verified! Great work @zachmonteith.

[2016-09-22 03:03] #435 closed

[2016-09-22 03:05] DaleMcGrew commented on #397
Agreed. We won't offer a "view source" link in mobile mode for the foreseeable future. Verified.

[2016-09-22 03:05] #397 closed

[2016-09-22 03:06] DaleMcGrew commented on #471
Verified!

[2016-09-22 03:06] #471 closed

[2016-09-22 03:06] DaleMcGrew commented on #469
Unable to reproduce. Closing.

[2016-09-22 03:06] #469 closed

[2016-09-22 03:08] DaleMcGrew commented on #420
Closing this issue since we won't be re-introducing the "Edit Position Modal" for a while.

[2016-09-22 03:08] #420 closed

[2016-09-22 03:32] DaleMcGrew opened #483 "BallotFilter "All" displays over other elements like slide-out menu"
### Please describe the issue (What happens? What do you expect?)
The BallotFilter component, which displays "All", "Remaining", and "Bookmarked" options at top of Ballot page, displays the selected option on top of other elements like slide-out menu.
![img_2442](https://cloud.githubusercontent.com/assets/7756031/18736258/2ed44c2c-803a-11e6-9a50-ba9281bae43b.PNG)

### Steps to reproduce the proble

[2016-09-22 14:18] DaleMcGrew opened #487 "Copy link problems"
### Please describe the issue (What happens? What do you expect?)
On iPhone 5, when I use the ShareDropdown Copy Link option, it offers a second modal, and doesn't bring the link into the clipboard.
- [x] The copy or Select All button is 1px too low on iPhone and Desktop Firefox
- [x] The Select All link doesn't work on Mac Firefox.

[2016-09-23 01:50] ixley commented on #471
I appreciate saving space by removing the text labels on small screens, but I wonder if it makes more sense to hide the 'Share' label (instead of 'Support/Oppose') because 1) sharing is more a secondary action, and 2) the thumbs up/down icons look very similar without labels and/or coloring. Thoughts @DaleMcGrew @zachmonteith ?

![image](https://cloud.githubusercontent.com/assets/160662/18771631/5

[2016-09-23 02:11] DaleMcGrew commented on #471
Hi @ixley I would be worried that removing just the word "Share" won't reclaim enough horizontal width on the smaller phones. I also think the "thumbs up" and "thumbs down" icons are easier to figure out than the share icon (without the word).

[2016-09-23 02:20] zachmonteith commented on #471
I thought about removing the word Share but I agree with @DaleMcGrew, the symbol is slightly more ambiguous and also we want to be encouraging users to share in order to scale up quickly.

I like the idea of color coding the icons though!  Same color scheme we are currently using for the positions you have already taken would look good and maintain consistency.  I also don't think this would confu

[2016-09-23 02:40] ixley commented on #471
Though I agree color can help with distinction, I don't think adding color in this context is appropriate. If you guys both prefer Share have the emphasis here, that's fine.

[2016-09-23 03:46] DaleMcGrew opened #488 ""Build Your Network" iPhone 5: Two options wrapping to two lines"
### Please describe the issue (What happens? What do you expect?)
The "Who You Can Follow" and "Currently Following" options should stay on one line.
![screen shot 2016-09-22 at 8 43 21 pm](https://cloud.githubusercontent.com/assets/7756031/18773605/6d7f05cc-8105-11e6-9041-701fa5498ab9.png)

### Steps to reproduce the problem (1, 2, 3...), including links
1. iPhone 5. Go to Connect. "Who You Can F

[2016-09-23 06:13] ixley commented on #450
submitted an issue with [react-burger-menu](https://github.com/negomi/react-burger-menu) to see if it's on their side.
https://github.com/negomi/react-burger-menu/issues/103

[2016-09-23 06:20] ixley commented on #488
Because this is a spacing issue rather than a css bug, I'd recommend just coming up with slightly shorter text. Alternatively, we could either override the horizontal button padding here (or even rewrite the default button padding), but changing the text seems slightly preferable, if reasonable.

[2016-09-23 06:24] ixley commented on #474
@zachmonteith I'm going to close this for now. Reopen if you are able to reproduce on multiple devices and/or can provide more info.

[2016-09-23 13:56] DaleMcGrew commented on #474
I am still seeing it on my iPhone 6, Safari and Chrome, after clearing cache, as well as in incognito mode.

[2016-09-23 14:01] DaleMcGrew commented on #488
@ixley I like your suggestion. I will change "Currently Following" -> "Following". Thank you! I will mark this as "Verify Fix" as soon as the change is on the live site.

[2016-09-23 14:03] #466 closed

[2016-09-23 14:03] #483 closed

[2016-09-23 15:22] ixley commented on #474
😕 Strange. I'll see if I can check on other devices too. I have no idea what to attribute the difference to since I still can't reproduce on my end desktop or mobile, chrome or safari, local or live. Try fixing the tag wrapping issue I mentioned above to see if that does anything for you. If it doesn't, use an inspector to find out which specific elements are breaking layout.

[2016-09-23 16:17] DaleMcGrew commented on #428
Verified.

[2016-09-23 16:17] #428 closed

[2016-09-23 16:18] DaleMcGrew commented on #488
Verified locally.

[2016-09-23 16:18] #488 closed

[2016-09-23 16:37] DaleMcGrew opened #491 "Add Truncate to Positions You Can Follow"
When looking at a candidate or measure, the organizations shown under "Positions You Can Follow" include an organizational description. In mobile, I would like to limit the text to only two lines, with a "More..." link. (e.g. "Official Twitter page for the...")
![img_2447](https://cloud.githubusercontent.com/assets/7756031/18793745/111eb02c-8171-11e6-825a-3a7a9b5330dd.PNG)

[2016-09-23 16:54] DaleMcGrew opened #492 ""Ratings from Vote Smart" PopOver too hard to close"
1. Go to this candidate: https://wevote.us/candidate/wv02cand1
2. Click on "(source: VoteSmart.org)".
3. Once open, the "Ratings from Vote Smart" popover is too hard to close, especially on mobile.
4. Get it working so that clicking anywhere in the popover will cause it to close.

[2016-09-23 19:07] ColettePhair opened #493 "Organization Search Result not working/disappearing"
### Please describe the issue (What happens? What do you expect?)

When searching for the org "SF Berniecrats" on a PC in Chrome, on the Location page, the result came up, but nothing happened when it was clicked.  Then when we were clicking on another part of the page, the search result still hung there instead of disappearing.  It still appeared there even when we navigated to another page of th

[2016-09-24 20:20] DaleMcGrew commented on #474
Fixed!

[2016-09-24 20:20] #474 closed

[2016-09-24 21:22] ixley commented on #450
acknowledged bug: https://github.com/negomi/react-burger-menu/issues/103#issuecomment-249113137 - waiting for fix to see if it resolves our issue

[2016-09-28 15:39] zachmonteith commented on #493
formerly bad URI for SF Berniecrats, Dale fixed.

[2016-09-28 21:04] zachmonteith commented on #487
current behavior: on iOS, clicking "Select All" button selects all text in the input field and brings up options to copy.  clicking input field itself does NOT select all.

Android: select all selects the text, but then user has to click and hold to bring up clipboard options.

desktop: clicking input field or Select All button (if window is narrow enough to show the button) selects all text in in

[2016-09-29 02:05] nickbarry opened #505 "Search text disappears if you click away from the search box, then click back"
### Please describe the issue (What happens? What do you expect?)

Search text disappears if you click away from the search box, then click back. I would expect that the text persists until the user navigates to another page (or manually deletes the text).
### Steps to reproduce the problem (1, 2, 3...), including links

Reproduce this problem by:
1. Typing some text into the search box
2. Clickin

[2016-09-29 02:18] nickbarry commented on #505
Per discussion with Dale, this is actually by design. We talked about ways to improve what potentially could be a confusing experience for the user. Here are the user stories:
- If the user starts typing some text, blurs the search box, then clicks back, the text should remain unchanged; it should be highlighted, though, for ease of deletion
- Whenever the user navigates to a page, the title of th

[2016-09-29 02:20] nickbarry opened #506 "Improve appearance of Search suggestion cards"
When the user types in the Search box, search suggestions appear below the search box. We'd like to improve the appearance of those suggestions. Each suggestion "card" should:
- [x] Be proper case ("Nancy Pelosi" not "NANCY PELOSI")
- [x] Display a thumbnail of the suggestion
- [ ] Perhaps other improvements; see how Facebook styles theirs for inspiration

[2016-09-29 02:54] nickbarry opened #507 "Use react patterns instead of searching the DOM"
There are many cases when we're searching the DOM for elements, instead of using proper React patterns to modify the DOM. This is slow. It would also be confusing for other React developers (including our future selves, looking at the code and trying to figure out how it works!).

For example, see the `src/js/utils/search-functions.js` file.

[2016-09-29 02:55] nickbarry commented on #507
I've assigned this to myself, but it's probably not super high priority. If someone else comes across this issue, and I'm not clearly in the middle of it (i.e., I haven't left recent comments on the issue), feel free to work on it yourself.

[2016-09-29 02:58] DaleMcGrew opened #509 "Firefox: Weird icons on voter guide page"
### Please describe the issue (What happens? What do you expect?)
1. On Mac Firefox, go to: https://wevote.us/theleaguesf
2. You will see many icons displayed left-to-right, when it should only show one

<img width="639" alt="screen shot 2016-09-28 at 7 55 17 pm" src="https://cloud.githubusercontent.com/assets/7756031/18939509/ab9f5154-85b5-11e6-9500-198f435c8d33.png">

[2016-09-29 03:35] luojxxx commented on #415
I was talking with Zach and he mentioned that the problem goes away after upgrading from iOS9 to iOS10.

Potentially this is related to Safari 10 fully supporting the ES6 standard: https://developer.apple.com/library/content/releasenotes/General/WhatsNewInSafari/Articles/Safari_10_0.html
iOS9 Safari previously had relatively low support for the standard (it's all the way on the right):
https://kan

[2016-09-29 03:36] ixley commented on #509
Fun! So it appears that it's something to do with the image handling. What's rendering is the image alt text 'candidate-photo' using the sizing and icon font intended for the placeholder icons. So while Webkit seems to trigger the image handler to swap out the image tag for the placeholder icons (`<i class="icon-icon-person-placeholder-6-1... >`, Firefox, in these cases is leaving the `image` tag

[2016-09-29 18:44] zachmonteith commented on #506
Hey Nico, hope I'm not stepping on your toes on this one; as a preliminary step toward improving search results, I included the textFormat util we are using every other place that candidate or measure names are displayed to ensure they are in the proper case.  Didn't touch thumbnail images or any other improvements, in case you had already started on that, but the case issue was easy enough to sol

[2016-09-29 19:00] DaleMcGrew opened #512 "iPad Display: NavigatorInHeader spacing problem"
### Please describe the issue (What happens? What do you expect?)
On an iPad (model 2), the NavigatorInHeader styles need some fine tuning.

Landscape Display:
![evernote camera roll 20160928 141130](https://cloud.githubusercontent.com/assets/7756031/18968023/35b450ac-863c-11e6-8ecc-6de7566ae4c5.png)

Portrait Display:
![evernote camera roll 20160928 141131](https://cloud.githubusercontent.com/ass

[2016-09-30 22:12] zachmonteith commented on #506
we will need to update the search result API to include image urls if we want thumbnails in search results.  See screenshot below (specifically, the field result_image which is coming back "" for candidates that have images)
![screen shot 2016-09-30 at 3 07 43 pm](https://cloud.githubusercontent.com/assets/17035647/19008377/c855810e-871f-11e6-81d9-e96f0ac26f73.png)

[2016-10-01 15:47] DaleMcGrew opened #515 "Test We Vote with a Cross-browser tool"
We should run some tests of our HTML/CSS with one of these cross-browser tools:
http://mashable.com/2014/02/26/browser-testing-tools

[2016-10-01 15:50] DaleMcGrew opened #516 "Galaxy S3 different line breaks with icons"
### Please describe the issue (What happens? What do you expect?)

Using the Galaxy default browser "Internet" there are formatting differences.
![screenshot952016-09-30-14-18-241](https://cloud.githubusercontent.com/assets/7756031/19015167/fd91bbf0-87b3-11e6-8fea-3eacb151e310.png)

and:
<img width="479" alt="screen shot 2016-10-01 at 8 49 52 am" src="https://cloud.githubusercontent.com/assets/775

[2016-10-01 17:36] DaleMcGrew commented on #506
Hi Zach, the result_image (on the live server) now returns a value for CANDIDATE and ORGANIZATION results. For now please use a spacer image for OFFICE and MEASURE results so the search results text all lines up horizontally.

[2016-10-01 17:38] DaleMcGrew commented on #509
Verified! Thank you @zachmonteith.

[2016-10-01 17:38] #509 closed

[2016-10-01 17:41] DaleMcGrew commented on #491
This fix rocks! I love how it keeps the vertical space under control. 👍

[2016-10-01 17:41] #491 closed

[2016-10-01 17:45] DaleMcGrew commented on #487
@zachmonteith I found some more issues with this while testing.

[2016-10-01 19:15] DaleMcGrew commented on #228
Note from Joe (May 11, 2016):
I got Selenium installed on our admin VM. You have an account on it and can access via ssh:
ec2-52-34-223-243.us-west-2.compute.amazonaws.com

[2016-10-01 21:33] luojxxx commented on #228
I put together a little guide for using cross browser testing cloud services with Selenium's automated testing: https://docs.google.com/document/d/1gDi1eXimhN-7syTt-OK9V6elBWC8F9s9riz_0qH6nek/edit?usp=sharing

It's fairly straightforward it seems. You can use the Selenium Firefox extension to record the website test actions, convert them into Selenium WebDriver format, modify that code to use the

[2016-10-01 21:37] luojxxx commented on #515
I put together a little guide for using cross browser testing cloud services with Selenium's automated testing: https://docs.google.com/document/d/1gDi1eXimhN-7syTt-OK9V6elBWC8F9s9riz_0qH6nek/edit?usp=sharing

It's fairly straightforward it seems. You can use the Selenium Firefox extension to record the website test actions, convert them into Selenium WebDriver format, modify that code to use the

[2016-10-03 00:21] ixley commented on #454
I found another factor. Seems like triggering the react burger menu is a/the cause of this.

[2016-10-04 14:12] DaleMcGrew commented on #493
I am closing this issue since we have another issue for the drop down not closing on mobile.

[2016-10-04 14:12] #493 closed

[2016-10-04 15:01] DaleMcGrew opened #521 "Do an SEO audit of We Vote"
### Please describe the issue (What happens? What do you expect?)
Now that we are on WeVote.US, we can start paying closer attention to Google finding all of the great information we have on We Vote. Below are notes I took at a great talk on SEO. There is a lot here, so instead of doing ALL of these items as part of this Issue, please do an audit of how we are doing things that affect SEO (includi

[2016-10-04 16:18] ixley commented on #512
@DaleMcGrew I can't reproduce in Chrome's inspector. Can you provide more info about browser version and whether this behavior is consistent? [screenshot from Chrome inspector (iPad landscape: 1024 x 768)](https://cloud.githubusercontent.com/assets/160662/19082511/4dec3c0e-8a13-11e6-9758-62f8ec7af615.png)

One of the things we should do is establish a list of browsers that we intend to officially

[2016-10-04 16:20] ixley commented on #516
This is likely due to lack of browser support for flexbox. We can create fallbacks if necessary, but first we should create a list of browsers and versions that we need to support.

[2016-10-04 16:25] ixley opened #522 "Create list of supported browsers"
Establish a list of which browsers (including versions and device, when relevant) that the web app should support. This will aid in determining a list of browsers for a test suite as well as where we will need to rely on fallbacks or different implementation (particularly with CSS).

If we are supporting older browsers, it would also be helpful to have standards around what features can be partial

[2016-10-04 16:26] ixley commented on #515
Related: Establish list of supported browsers: https://github.com/wevote/WebApp/issues/522

[2016-10-04 16:26] DaleMcGrew commented on #512
Hi @ixley I don't see the problem in the Chrome simulator either. I am glad you created Issue #522 so we can figure out which devices we'll be supporting for now.

[2016-10-04 17:46] zachmonteith opened #524 "Placeholder Icons: shape, lower margin"
2 notes on Placeholder Icons:
1) we have changed avatar images to always be round for candidates and square for orgs; however, the placeholder icon for orgs is round.  perhaps we want to redesign?

2) placeholder icons seem to have a lower margin, or padding, that is altering the shape of their containers.  less of an issue with position cards, etc, but becomes more obvious in search results image

[2016-10-04 20:16] zachmonteith opened #525 "Create XML Sitemap, submit to Google webmaster"
We need to create an XML sitemap to help google give searchers optimized results, and take them to the appropriate parts of We Vote.

https://en.wikipedia.org/wiki/Sitemaps

here are a few sitemap generators:
https://www.xml-sitemaps.com/
https://xmlsitemapgenerator.org/
http://www.web-site-map.com/

When complete, submit to Google’s webmaster tool: http://webmaster.google.com

[2016-10-04 20:26] zachmonteith opened #526 "Create dynamic, SEO optimized <title> and <description> tags for all relevant routes/pages"
Currently, We Vote web app only has one title and one description for the entire app.  The title, regardless of what url users access or what is rendered in DOM, appears as simply "We Vote", and the description text is "Putting you in the driver's seat of American democracy."

Ideally, we would have different titles for each section of the site (perhaps they could be not dissimilar from headings o

[2016-10-04 20:30] zachmonteith opened #527 "Keywords needed for SEO"
We need to integrate keywords into webapp, to help boost our Search Engine Optimization.  Might be worth having specific keywords for specific parts of the site, like including "ballot" on ballot page, etc

quick brainstorm of some good keywords:
"election", "ballot", "voting", "opinion", "proposition", "initiative", "measure", "candidate", "senate", "governor" etc etc

[2016-10-04 20:37] zachmonteith commented on #521
I created distinct issues for several of these action items, but not for headings or link text/urls.  I think our headings are already pretty descriptive, many of the urls are dependent on twitter handles or otherwise already include keywords/are descriptive.  WeVoteID url strings aren't ideal for SEO, but seem like a pretty integral part of the structure.

Also didn't create an issue for setting

[2016-10-04 20:43] ixley commented on #521
@zachmonteith My guess for why CDN is on there is that load times have an impact on SEO. But I agree, I think performance oriented goals should be prioritized in their own right, since they have just as much or more relevance to UX than SEO at this stage.

[2016-10-04 20:48] zachmonteith commented on #526
SO question posted by our own @pertrai1 back in January on the topic of dynamic titles in react:
http://stackoverflow.com/questions/35106647/dynamic-header-titles-with-react

[2016-10-04 20:49] zachmonteith commented on #526
also useful http://stackoverflow.com/questions/26266675/how-do-i-keep-document-title-updated-in-react-app

[2016-10-04 22:33] DaleMcGrew opened #528 "Your Polling Place"
When you enter a full address, Google Civic returns your polling place. We would like to provide this to voters.
- [ ] Change "Your Address & Ballot" to "Your Address & Polling Place"
- [ ] If we have a polling place from Google Civic, show the polling place address
- [ ] Show a Google Map with directions between your address and the polling place
- [ ] Include a link to open the directions in a n

[2016-10-04 22:43] pertrai1 commented on #521
If you want a long list to look at, this was interesting: http://backlinko.com/google-ranking-factors

In regards to CDN, site speed is starting to creep up the list of factors for the search engine algorithms. Might be better to consider going the service worker path for offline usage of the app. CDN's work great for the static assets no matter what, and could be part of SEO or separate.

[2016-10-04 22:46] pertrai1 commented on #515
Selenium testing works great but the drivers are limited for cross browser testing. The simplest way would be to use the device toolbar if working in Chrome or Responsive Design Mode in Firefox. Continually change the different devices to get a close idea of simulation on how the site will look being that it is a responsive app.

[2016-10-04 22:59] pertrai1 commented on #512
If anything, might need to add a query for the `min-device-pixel-ratio: 1` for older iPad versions.

[2016-10-06 03:43] luojxxx opened #532 "Office Pages stuck in infinite Loading"
### Please describe the issue (What happens? What do you expect?)
The page makes the http request to the api and gets back a response with the office object. However, the page does not load.

The issue may be the way the information is passed through the actions/stores. Researching the issue further.

### Steps to reproduce the problem (1, 2, 3...), including links
1. Go to the wevote main page
2.

[2016-10-06 04:18] ColettePhair opened #533 "Position entered for Prop 52 is showing on Prop 51"
### Steps to reproduce the problem (1, 2, 3...), including links
1. Enter a position 1 on one measure (not a problem on candidates) and post it.
2. Search for position 2 and go to it.
3. Your position 1 shows up as if you entered it for position 2.
   Your position 1 disappears from position 2 when you refresh the position 2 page.

[2016-10-06 05:04] ixley opened #534 "Followed people/orgs don't appear in list on candidate/measure pages"
### Please describe the issue (What happens? What do you expect?)
When I visit a candidate/measure page, I expect to see the people/orgs I follow that have posted positions or statements on that candidate/measure.

Instead, I see a position rating bar and counts, but not the actual position items. I can only see orgs/people that I do not follow.
![image](https://cloud.githubusercontent.com/assets/

[2016-10-06 05:27] ixley commented on #526
I imagine the technical implementation for this will be relatively simple compared to the work of thoughtfully crafting contextual descriptions for different route contexts.

Creating a Google Doc where we can outline: https://docs.google.com/document/d/1S8Q9ZbBHh2VwYTHh2Kc60PLkEIji_QXQusWbVYutuek/edit?usp=sharing

[2016-10-06 06:19] ixley opened #535 "Organize Github Issue labels"
Low priority, but thought it might be helpful to clean up our issue labels a bit.

I found this approach useful - color coding by type. It wouldn't be appropriate to copy their labels directly, but I appreciate the structure and breakdown.
https://robinpowered.com/blog/best-practice-system-for-organizing-and-tagging-github-issues/

[2016-10-06 06:27] ixley commented on #527
Let's deprioritize this one for now. My understanding is that keyword value is dubious in SEO these days. We will get more value from relevant page titles, descriptions, and headings.

[2016-10-06 06:35] ixley commented on #525
We will probably want something that generates and updates our sitemap with our own config, rather than having to rely on external site crawlers. I'm not able to assess personally, but see if there's anything built specifically to work with react(-router).

[2016-10-07 03:52] luojxxx commented on #532
Further digging shows that the object is being retrieved successfully in OfficeStore, so it seems to be an issue with it not being passed properly to the Office view. Will try to implement a fix.

[2016-10-07 04:28] luojxxx commented on #532
The getOffice function within OfficeStore is trying to
`return office_list[office_we_vote_id]`
However, office_list is only a single object without an ID/key. So currently it errors here and _onOfficeStoreChange receives and undefined variable. So by using
`return office_list`
_onOfficeStoreChange is now able to correctly retrieve the office object and set it's state.

However, for some reason set

[2016-10-11 21:10] #450 closed

[2016-10-11 21:13] DaleMcGrew commented on #454
Hi Jeff, good catch, I can confirm that the scrolling slows down on iPhone Safari only AFTER you open the menu. I haven't tested since the new update. I'll do that shortly.

[2016-10-12 18:21] DaleMcGrew commented on #455
This seems to work now on my Mobile browser, but not still does not work on Mac desktop.

[2016-10-12 18:24] DaleMcGrew commented on #534
Fixed.

[2016-10-12 18:24] #534 closed

[2016-10-12 18:26] DaleMcGrew commented on #526
Hi @zachmonteith, can we consider this issue complete now?

[2016-10-12 18:28] DaleMcGrew commented on #533
@ColettePhair can you verify that this is fixed now?

[2016-10-12 18:31] DaleMcGrew commented on #521
It appears we have other issues created for everything we are going to tackle now, so I am closing this Audit issue.

[2016-10-12 18:31] #521 closed

[2016-10-12 18:32] zachmonteith commented on #526
👍

[2016-10-13 03:12] zachmonteith commented on #533
Hey @DaleMcGrew, this is not fixed.

It's measure_subtitle, which is a prop of all measures (or, a prop of all Props?  haha), and in this case, on the ballot page is being passed in (as far as I can tell) from routes/Ballot.jsx to components/ballot/BallotItemCompressed.jsx to MeasureItemCompressed.jsx.  I can't figure out why the wrong measure_subtitle is ONLY displaying for prop 52, and why it AL

[2016-10-13 03:39] kyleludlow commented on #533
Hey @DaleMcGrew,

What's super strange is that location seems to trigger this. When I set my location to Walnut Creek, the subtitle is correct. We tested out whether distance or common letter sequences trigger it but nothing seems consistent haha. Crazy mystery. Any thoughts? Could it be on the backend?

[2016-10-13 22:32] DaleMcGrew commented on #454
Verified! Woohoo!

[2016-10-13 22:32] #454 closed

[2016-10-13 22:37] ixley opened #544 "Can't remove 2nd unverified email address from account"
### The issue

I accidentally added an additional (unverified) email address when attempting to invite someone as a friend. (This is probably an edge case since the second email was entered in the 'from' email field in the invitation flow.) Whenever I log in with the linked account now, it shows the additional email address as unverified, but I cannot remove the email.
### Steps to reproduce the p

[2016-10-13 22:38] DaleMcGrew commented on #544
@ixley what happens when you click "Remove Email" for waltfrench?

[2016-10-13 22:43] ixley opened #545 "Clicking 'Send Verification Email' returns confusing alert message"
### The issue

Entering my email address and clicking 'Send Verification Email' returns a confusing message stating 'That email is already being used by another account'. The dialogue includes a way to continue sending a verification email but the whole experience is confusing.

If the email is known and there is an account associated with it, the default action should be to send a sign in link em

[2016-10-13 22:46] DaleMcGrew commented on #545
Thank you @ixley -- great bug report. I can fix this.

[2016-10-13 22:59] ixley opened #546 "When signed in via email, Sign in page erroneously implies I am also signed in via Twitter"
### The issue

Signing in via email seems to get the Twitter sign-in mechanism confused.
When I sign in via email link, the sign in page then indicates that I am also signed in via Twitter, which I am not (Sign in page renders 'Sign Out' button for Twitter). Going to ‘Your Page’ confirms that data from my Twitter account has not been merged with my email handle account. (*My Twitter account _does_

[2016-10-13 23:03] ixley commented on #544
@DaleMcGrew Nothing happens when I click "Remove Email".

[2016-10-15 04:28] ixley commented on #545
Not sure if this is related, but just now I got this message after signing in via email link, which again, is misleading.
![image](https://cloud.githubusercontent.com/assets/160662/19407363/062157b6-9255-11e6-9fab-71d714b17b89.png)

[2016-10-15 15:47] DaleMcGrew commented on #545
Thank you Jeff, I will fix this too.

[2016-10-16 06:34] ixley opened #550 "Can't edit address (consistently)"
### The issue
When entering a new ballot address, the new address usually doesn't stick.

### Steps to reproduce the problem
1. Click edit link on /ballot page and enter: `4209 Park Blvd, Oakland, CA 94602`
2. Click Save. -- Address does not update. No error or other indication is given. Old address simply persists.
3. Click edit again and enter (slightly modified): `420 Park Blvd, Oakland, CA 946

[2016-10-17 01:21] DaleMcGrew commented on #532
Fixed

[2016-10-17 01:21] #532 closed

[2016-10-17 01:27] DaleMcGrew commented on #550
Thanks Jeff, I'm seeing this too. I will take a look.

[2016-10-17 03:46] DaleMcGrew opened #553 "Candidates don't show the first time you click office on new ballot"
### Steps to reproduce the problem (1, 2, 3...), including links
1. Start with a new account.
2. Enter a new address, and save.
3. Go to your ballot and click on any office. (Make sure you have not refreshed your browser since starting this process.)
4. You will not see any candidate data (see photo below).
5. When you refresh the browser, candidate data appears.

![screen shot 2016-10-16 at 8 33

[2016-10-17 18:01] ixley opened #554 "Can't send email invitations"
### The issue

When attempting to invite friends in We Vote, after entering an email to invite and then a sender email, the loading icon appears and then hangs.
### Details
- I'm signed in to my account, which has Facebook, Twitter, and email accounts linked.
- I have been entering my primary email tied to these accounts (jfre...@ixley.com)

Console error:
![image](https://cloud.githubusercontent.

[2016-10-17 18:05] ixley opened #555 "My Account page showing same email twice"
### The issue

When I log in, my account page shows multiple entries for my email handle.
I'm not sure what's causing this, but for reference, both my Twitter and Facebook accounts use this email as the primary email, and I have manually entered this email in the sender field for We Vote invitations. In the image below, the unverified emails are ones that I have accidentally or experimentally ente

[2016-10-17 18:08] ixley commented on #544
Attempting to invite friends with another sender email has again added it as an additional unverified email address (that I can't remove).

![image](https://cloud.githubusercontent.com/assets/160662/19449326/fad73c5c-9459-11e6-97fd-7d3c8606788b.png)

[2016-10-18 16:08] DaleMcGrew commented on #550
Fixed

[2016-10-18 16:08] #550 closed

[2016-10-18 16:22] DaleMcGrew commented on #506
Looks great!

[2016-10-18 16:22] #506 closed

[2016-10-18 16:23] #526 closed

[2016-10-18 18:33] zachmonteith opened #557 "Measures should display measure_text with ReadMore truncation"
measures have expanded text attribute, we should display this on the measure page, but with the ReadMore truncation to keep it neat and not take up too much vertical real estate.

[2016-10-18 18:38] zachmonteith opened #558 "measures should display on which ballot (city, state, election) they appear: phase 1"
Measure pages should indicate their state, city if relevant, and in which election they'll appear.  This is especially critical if a user searches for and finds a measure that isn't on their personal ballot, as it won't be clear where and when this measure will be voted on.

Phase 1 will be to include the info already being passed in from the API call: State and Election ID.

[2016-10-18 18:40] zachmonteith opened #559 "measures should display on which ballot (city, state, election) they appear: phase 2"
See issue #558
phase 2: API call should return what City (or other jurisdiction, whatever is relevant/accurate) ballot measures belong to, for display on that measure's page.

[2016-10-18 19:01] ColettePhair commented on #404
This is fixed as both candidate and measure data now appear.

[2016-10-18 19:01] #404 closed

[2016-10-18 20:38] ColettePhair opened #560 "Add Social Media Icons to About Page"
Hi, it would be great if we could have "Follow us" (with Twitter icon) and "Like our page" (with Facebook icon) buttons at the top of the About page.

[2016-10-18 21:06] zachmonteith commented on #559
copied from PR #561 comments:
TODO: #559 Measure API should be updated to include election_display_name, regional_display_name, state_display_name.  sample format:
election_display_name = "November 2016 General Election"
regional_display_name = "Oakland"
state_display_name = "California"

[2016-10-19 00:17] DaleMcGrew commented on #558
Verified. Great work @zachmonteith!

[2016-10-19 00:17] #558 closed

[2016-10-19 00:17] DaleMcGrew commented on #557
Verified.

[2016-10-19 00:17] #557 closed

[2016-10-19 00:18] DaleMcGrew commented on #553
Verified

[2016-10-19 00:18] #553 closed

[2016-10-19 00:19] DaleMcGrew commented on #438
Verified with bugs.

[2016-10-19 00:19] #438 closed

[2016-10-19 01:24] DaleMcGrew opened #563 "What is your plan to vote?"
Add a field near the top of ballot where voters can answer the question: "What is your plan to vote?" And share it with friends on the friends page.

[2016-10-19 01:34] DaleMcGrew opened #564 "Instant change: Follow org"
Currently when you click the follow button, it does not change until we get a response back from the API server.  Update the click handler to instantly change the follow button to following so we don't have to wait until the API server response.

[2016-10-19 01:36] DaleMcGrew opened #565 "Instant change: Public/Private toggle"
Currently when you click the public/private toggle, it does not change until we get a response back from the API server.  Update the click handler to instantly change the public/private toggle so we don't have to wait until the API server response.

[2016-10-19 02:57] DaleMcGrew opened #566 "To follow: does it include orgs that have opinions on measures on your ballot?"

[2016-10-19 13:01] DaleMcGrew opened #567 "Add "Edit" mode on Friends listing page"
Problem -- it is too easy to click "Remove Friend" when browsing through friends.

On the "Friends" page: https://wevote.us/friends, emulate the way the Edit/Done Editing works from this page: https://wevote.us/opinions_followed

[2016-10-20 00:25] DaleMcGrew opened #570 "City/State geocoding isn't finding correct nearby ballot"
City/State geocoding isn't finding correct nearby ballot. (Dale to investigate.)

[2016-10-20 00:25] DaleMcGrew commented on #567
Verified!

[2016-10-20 00:25] #567 closed

[2016-10-20 00:27] DaleMcGrew commented on #487
@zachmonteith implemented a good enough solution for this upcoming release.

[2016-10-20 00:27] #487 closed

[2016-10-20 17:05] DaleMcGrew opened #574 "Instant Search: Voter entering address"
Upgrade the https://wevote.us/settings/location "Enter address where you are registered to vote" input box to suggest address options as you type, similar to how we suggest search results in the "Search We Vote..." box.

[2016-10-20 20:55] ixley opened #575 "Item visibility (public/friends) is not reflected by setting"
### The issue

Many items I set to public visibility are shown as public, however (possibly due to a previous data migration?), many of those positions, including the visibility settings are NOT reflected in my account. Going in and reselecting or editing the position, as well as toggling the audience visibility setting don't seem to have any effect on what was already publicly displayed.

I'm not

[2016-10-21 03:04] DaleMcGrew opened #579 "Your position statement displays temporarily on the wrong position"
### Steps to reproduce the problem (1, 2, 3...), including links
1. Enter a position 1 on one measure and post it.
2. Search for position 2 and go to it.
3. Your position 1 shows up as if you entered it for position 2.
   Your position 1 disappears from position 2 when you refresh the position 2 page.

[2016-10-24 05:20] ixley commented on #512
Since I can't reproduce and this seems low priority, I'm closing this issue. Let's establish a [list of supported browsers](https://github.com/wevote/WebApp/issues/522) first so we know what our standards are.

[2016-10-24 05:20] #512 closed

[2016-10-24 18:36] ixley commented on #535
Outline/Proposal for labels here: https://docs.google.com/document/d/13Vq_xeOGTF1ftc3wCoBLoNP5c7Ox8y-RxpllCrstZZ4/edit?usp=sharing

[2016-10-24 20:47] ixley opened #580 "Duplicate (partially linked) ballot items"
### The issue

My ballot page includes duplicates of most California propositions and some candidates (like Hillary/Kaine) with slightly different name formatting.
- I'm assuming this is a data issue, but I am unable to remove or remedy the redundancies myself.
- In most cases, editing one affects/updates its duplicate, but removing a position entirely does not necessarily remove (or update) the d

[2016-10-27 23:09] ColettePhair opened #581 "Edit text on "address/ballot" page (entering "los angeles" w/o address shows San Francisco items)"
### Please describe the issue (What happens? What do you expect?)

When I enter the city of LA without a full address, the wrong ballot items appear.  But when I enter a full LA address, it seems to work.

A quick fix would be to edit the text on the page to say below in smaller print something like "Make sure to enter your full address for accurate results."
### Steps to reproduce the problem (1,

[2016-10-31 06:12] ixley commented on #524
There are some elements—like the search results dropdown—that disappear on *any* mouse or keyboard action, including clicks using the inspector. This makes it really tricky to debug styling issues. Can we use more friendly defaults for click handlers?

[2016-10-31 06:42] ixley opened #583 "Inappropriate message on triggering email sign in verification"
### The issue
When using email verification to sign in, after entering my email, I get the message "That email is already being used by another account." Along with "Please click "Send Login Link in an Email" below to sign into that account."

The first part of this message is confusing and inappropriate. When triggering attempting to sign in via email verification, the default behavior should be

[2016-10-31 07:07] ixley opened #584 "Successive 'new' invitations send the same (unusable) single-use link"
### The issue
Inviting someone (that has already been invited) but is not currently a friend appears to use the same authentication link that has been sent for previous invitation attempts. If the link has been clicked (even if the person is not currently a friend), the link is invalid and triggers the message "Invitation not found. You may have already accepted this invitation. Invitation links m

[2016-10-31 07:21] ixley opened #585 "Can't make positions public or share 'Your Page' without Twitter account"
### The issue
This functionality might just not exist yet, but because @DaleMcGrew mentioned that it _should_ work and the UX is confusing, I'm filing as a bug.

If your account is only linked to an email (and not a Twitter account), it appears that you cannot make positions public. This is confusing however, because you can still set the visibility toggle to 'public,' it just resets when you navi

[2016-10-31 15:44] DaleMcGrew commented on #585
Thank you Jeff! I totally agree.  When someone (who is not signed in) clicks on that "make public" toggle,  I am imagining that they would get a little pop-up that said something like "please sign in to share your opinions publicly". (Note: I am healing the data so that everyone who signed in has a page they can share publicly regardless of how they signed in.) What do you think is the best interf

[2016-10-31 19:18] ixley commented on #585
The combination of bugs and unpolished UX often makes it difficult for me to tell what the intended behavior is... @DaleMcGrew Do you have any of these flows mapped out? Perhaps it would be useful for us to do that since there is a good amount of behind-the-scenes complexity with sign-in related flows? They could be diagrams or just text scenarios...

[2016-11-01 05:24] ixley commented on #580
Measures are now mostly synced in order, but still duplicated. The occasional duplicate is out of sync though. @DaleMcGrew
![image](https://cloud.githubusercontent.com/assets/160662/19880242/c61893e8-9fb8-11e6-8b77-23c655daffde.png)

[2016-11-01 19:34] ixley commented on #580
Got an extra one! Seemed to appear after editing as the entry with a Support position (which I can't remove) no longer had the comment. Additionally, the visibility toggle doesn't necessarily seem to have an effect as even when the friends-only setting is selected, I can still see these as public on my page (when not logged in).

**Logged in**
![image](https://cloud.githubusercontent.com/assets/16

[2016-11-01 19:38] DaleMcGrew commented on #580
Thank you Jeff! I am almost done with a "de-duplication" routine to combine duplicates, but knowing what is creating duplicates is very valuable!

[2016-11-01 19:54] ixley commented on #580
YES! Hoped the quasi real-time updates would be at least marginally helpful.

[2016-11-01 21:29] DaleMcGrew commented on #580
Hi Jeff, can you see if my latest update fixed this?

[2016-11-01 21:31] DaleMcGrew commented on #575
Hi Jeff, can you check to see if my most recent update fixed this issue?

[2016-11-01 21:32] DaleMcGrew commented on #565
Verified

[2016-11-01 21:32] #565 closed

[2016-11-01 21:32] DaleMcGrew commented on #564
Verified

[2016-11-01 21:32] #564 closed

[2016-11-01 21:33] DaleMcGrew commented on #554
Hi Jeff, can you verify that this is fixed?

[2016-11-01 21:33] DaleMcGrew commented on #544
Hi Jeff, can you please verify this is fixed?

[2016-11-01 21:34] DaleMcGrew commented on #555
Hi Jeff, can you please verify this is fixed for you?

[2016-11-01 21:51] ixley commented on #554
Yes, appears to work. I did not confirm the email verification for a new email account since this bug was specifically around initiating an invite from a non logged in state.

[2016-11-01 21:51] #554 closed

[2016-11-01 21:55] ixley commented on #544
Yes, this was fixed previously. I haven't noticed any related/additional issues with this behavior so far.

[2016-11-01 21:55] #544 closed

[2016-11-01 22:11] ixley commented on #555
Confirmed.

[2016-11-01 22:11] #555 closed

[2016-11-01 22:12] ixley commented on #575
Appears to be fixed.

[2016-11-01 22:12] #575 closed

[2016-11-01 22:24] ixley commented on #580
Woohoo! There were a few remaining inconsistencies that I was able to squash by toggling settings/positions, and then one tiny remaining inconsistency detailed below.

The one remaining inconsistency I see is that for me, the 'Hillary Clinton/Tim Kaine' candidate item has an inconsistency that is likely a holdover from duplicate candidate/measure items. This appears to be an incredibly minor issue

[2016-11-01 22:37] ixley opened #587 "Local ballot items are still on We Vote but do not appear in my ballot list"
### The issue
There are a number of local ballot items that are in the system, but no longer show up for me in my ballot. The two I previously took positions on are still visible on my page (`/ixley`) but still not in my ballot. Additionally, there are others that I know exist (in We Vote) that also don't appear on my ballot. I have been able to find a few of them via other users who have made pub

[2016-11-02 05:09] ixley commented on #546
I no longer have a way to reproduce this and since there have been a bunch of sign-in and account fixes, I'm closing this for now.

[2016-11-02 05:09] #546 closed

[2016-11-04 05:53] ixley commented on #535
@DaleMcGrew @zachmonteith
Tagged [issue labels](https://github.com/wevote/WebApp/labels) for deletion by prepending with `x-`. Could you guys just let me know if you object to removing any of these?

- **Waiting Feedback** - this hasn’t been used. If we want something like this, it could go in the ‘Pending’ category.
- **Ready** - not sure what this is for
- **Duplicate** - We haven’t encountered

[2016-11-16 23:20] DaleMcGrew commented on #560
Fixed.

[2016-11-16 23:20] #560 closed

[2016-11-17 03:24] zachmonteith commented on #579
after some preliminary testing, this appears to happen only with measures, not candidates

[2016-12-01 04:00] DaleMcGrew opened #594 "Slack Sign Up: Allow new volunteers to self-register for We Vote Slack"
I am very impressed with how easy CodeCorps makes it to sign up for their Slack Channel:
http://slack.codecorps.org/

To complete this issue, set up the same feature. They said they used this:
https://github.com/rauchg/slackin

[2016-12-01 04:23] DaleMcGrew commented on #587
Hi Jeff, this has to do with how we assign measures and offices to a person's ballot. Solving this for the next election we run will require some work on the data side, but I am going to close this issue for now. Thank you for capturing it!

[2016-12-01 04:23] #587 closed

[2016-12-01 05:05] wendy-c commented on #227
works on chrome, still skipping support/oppose on safari

[2016-12-14 18:34] sarah-clements opened #597 "Header should not wrap when viewing in Mobile"
### Add a media query to make font size smaller for mobile format, so it doesn't wrap onto the next line.

[2016-12-14 18:52] DaleMcGrew commented on #570
Fixed.

[2016-12-14 18:52] #570 closed

[2016-12-22 02:15] zachmonteith commented on #227
update: hard coding in a tab index through dev tools does not cause firefox to highlight candidate name, so that theory is debunked

[2016-12-22 02:28] DaleMcGrew commented on #597
Fixed!

[2016-12-22 02:28] #597 closed

[2016-12-22 03:15] DaleMcGrew commented on #594
Dale can get an API token here:
https://api.slack.com/docs/oauth-test-tokens

[2017-01-04 17:13] DaleMcGrew commented on #249
We are now using Helmet, so we can implement this.

[2017-01-04 19:23] nf071590 commented on #249
Helmet is great!

Sent from my iPhone

[2017-01-04 19:51] DaleMcGrew commented on #249
I agree @nf071590! It has been awesome to work with.

[2017-01-04 21:06] DaleMcGrew opened #608 "On "About We Vote" page, create grid with team photos"
- [x] Add photos from both c4 (www.WeVoteUSA.org) and c3 (www.WeVoteEducation.org) boards, to the "About We Vote" page. Photos that are not on either of these sites will be placed here: https://drive.google.com/drive/u/1/folders/0B3O7mejbtJ3qc0M2WHh4dFZHdmc
- [x] In desktop the photos should be 4 across
- [x] In mobile the photos should be 3 across
- [x] Name and title of each person should be ben

[2017-01-12 18:18] ColettePhair opened #612 "Medium blog on our domain"
Our blog currently exists only on Medium.com.  To benefit from SEO, drive traffic to our site, and keep everything in one place, we should link our Medium blog to the WeVote.us domain.

The "M" Medium social link at the top of https://wevote.us/more/about can also be changed to link to our blog on our own domain.

Here is an article on linking Medium to one's own site:  https://help.medium.com/hc/

[2017-01-12 21:46] ColettePhair opened #613 "Add Mailchimp email newsletter signup form to About page"
Create email newsletter form fields that lets users sign up for our 501(c4) nationwide email list on Mailchimp, to add to We Vote About page

[2017-01-17 21:18] ixley commented on #612
@ColettePhair There are two separate things here. I'm assuming you're primarily referring to setting up a custom domain for Medium posts, such as blog.wevote.us. This requires first setting up a Medium Publication since custom domains cannot point to user profiles (@wevote). https://help.medium.com/hc/en-us/articles/213474588-How-do-I-set-up-a-custom-domain

The post you linked to is about duplica

[2017-01-17 22:10] ixley opened #615 "Create basic interaction for an 'intro tour' to We Vote"
Add functionality for a basic 'intro tour' for first-time We Vote users to orient them to the benefits and basic features of We Vote. In the absence of design or content, focus on basic interactions and features agnostic to content.

The goal of this feature will be to give first-time visitors/users a basic overview of what high-level benefits/abilities to expect. It should _not_ attempt to orient

[2017-01-17 23:07] sarah-clements commented on #615
Per another of Jeff's suggestions, there should be a clear sense of what happens above a certain screen size (ideally determined and conveyed by the designers).

[2017-01-18 20:02] ericogawa commented on #615
Something along these lines, perhaps? (from the Patreon responsive website) (Attempting to upload screen shot)
![screen shot 2017-01-18 at 12 00 32 pm](https://cloud.githubusercontent.com/assets/13991758/22080807/ce828ad4-dd75-11e6-9ea7-d787ffa15012.png)

[2017-01-18 20:09] ericogawa commented on #615
I suspect with the proper image file(s), we could resize all the way to full screen on mobile. We'd have to find some images that are aesthetically functional across a wide range of "croppings"

[2017-01-18 20:31] sarah-clements commented on #615
The desktop snapshot looks great with the arrows. For mobile, I've gotten
the image to go to 100% viewport by tinkering with the CSS (thanks to Jeff)
- its very much improved now.

On Wed, Jan 18, 2017 at 12:09 PM, Eric O the UX D <notifications@github.com>
wrote:

[2017-01-18 21:10] ericogawa commented on #615
For sure. Something else you see is an automated slideshow in the main box--removes need for the user to comprehend the clicking/swiping interaction; higher likelihood all the value props get seen.

[2017-01-18 21:13] ericogawa commented on #615
And of course there's always the option to throw out the slideshow all together and just have everything in one long scrollable "slab" with call to action buttons along the way....here's Squarespace's version of this. [https://www.squarespace.com](url) Possible Search Engine Optimization perks to doing it this way.

[2017-01-18 21:25] ericogawa commented on #615
Sorry, no idea why that link is not working. Just google Squaresoft and check out their main page to see what I mean.

[2017-01-18 21:25] ixley commented on #615
@ericogawa Thanks for your comments and input. There are some good points you bring up that underscore the value of figuring out the intended usage and proposed implementation details before building too much. Please make sure to coordinate w/ @DaleMcGrew and @KIVA7777 (if he is working on design for this) to confirm the design satisfies intended use cases for both mobile (touch) and desktop.

[2017-01-19 01:34] ColettePhair commented on #612
@ixley What I'd like is for our Medium blog posts to be posted in two places - on Medium and on our site, in a way that doesn't disturb SEO.  (Right now we're losing out on SEO with our blog only existing on Medium.)  My understanding is that this is possible, though I'm not aware of the details of how to implement it - one reason I'm hoping one of the engineers can help out with this. ( :

[2017-01-19 02:02] ixley commented on #612
@ColettePhair I may be misinterpreting what your goal is, but my impression is that you want blog posts that you continue to write/post using Medium's platform to be accessible via blog.wevote.us (or somesuch). In this scenario, you get the branding benefits of having content associated with our domain (plus the SEO association/benefit that goes along with that) and get to continue to use Medium's

[2017-01-19 22:43] ColettePhair commented on #612
Okay, thanks, I think I understand now.  If @DaleMcGrew wants to create it I can do what I need to do on my end.

[2017-01-26 04:12] flobotbear opened #624 "Ballot page is missing margins/padding on the left & right"
### Please describe the issue (What happens? What do you expect?)
When you make the viewport more narrow (less than 692px -- or whenever the left sidebar is hidden), the right column with "US 2016 General Election" tex and the candidate cards lose padding/space on the left and right sides.

![ballot_-_we_vote-nomargins](https://cloud.githubusercontent.com/assets/823927/22319691/ec217bda-e339-11e6-

[2017-01-26 04:13] flobotbear commented on #624
Dale helped me pinpoint the issue -- it seems to be coming from ``` './components/intro-story';``` bc when we comment that out, the spacing is back. Will make sure the fixes don't end up messing up the work for the intro

[2017-01-28 05:04] DaleMcGrew commented on #624
Resolved!

[2017-01-28 05:04] #624 closed

[2017-01-28 05:05] DaleMcGrew commented on #613
Verified. Thank you @zachmonteith!

[2017-01-28 05:05] #613 closed

[2017-01-28 05:05] DaleMcGrew commented on #608
Great work @mnneelam!

[2017-01-28 05:05] #608 closed

[2017-01-29 07:00] pertrai1 commented on #594
This might be of assistance: https://bryanhadaway.com/how-to-create-a-slack-chat-community-with-auto-invites/

[2017-01-30 18:00] DaleMcGrew opened #635 "Include First and Last Name in the Add Friends "Connect" flow"
Currently in /src/js/components/Friends/AddFriendsByEmail we accept a comma separated list of email addresses. We want to copy this current code to AddFriendsByEmailBulk, and then modify the existing file to also accept First and Last name.

Slack has a nice interface for this (we will not offer "Connect your Google Contacts"):
![screen shot 2017-01-30 at 9 56 00 am](https://cloud.githubuserconten

[2017-02-02 03:47] DaleMcGrew commented on #507
Thank you @nickelser!

[2017-02-02 03:47] #507 closed

[2017-02-02 03:54] DaleMcGrew commented on #615
Great work @sarah-clements and @KIVA7777!

[2017-02-02 03:54] #615 closed

[2017-02-02 03:55] DaleMcGrew commented on #585
Closing because this is on the upcoming feature roadmap.

[2017-02-02 03:55] #585 closed

[2017-02-02 03:57] DaleMcGrew commented on #581
We are adding incremental address completion to address this issue. Thank you for this suggestion!

[2017-02-02 03:57] #581 closed

[2017-02-02 03:58] DaleMcGrew commented on #563
Closing this since it is on our upcoming feature roadmap.

[2017-02-02 03:58] #563 closed

[2017-02-02 04:12] flobotbear opened #641 ""Bookmark for later" action has an awkward outline"
### Please describe the issue (What happens? What do you expect?)
When you click on the "Bookmark for later" icons in the app, you see a blue fuzzy highlight (on Chrome) around an area once you click in.

**Chrome**
![bookmark-chrome](https://cloud.githubusercontent.com/assets/823927/22536889/964a8bc6-e8ba-11e6-98e5-61ef9860e6e6.png)

**Firefox**
![bookmark-firefox](https://cloud.githubusercontent

[2017-02-02 04:18] flobotbear commented on #515
Not sure if this issue is still relevant, but Browserstack does offer its services for free of charge to OSS projects https://www.browserstack.com/pricing

[2017-02-02 04:33] #492 closed

[2017-02-02 04:37] DaleMcGrew commented on #527
I believe we are covered on keywords given our recent adoption of Helmet.

[2017-02-02 04:37] #527 closed

[2017-02-02 04:38] DaleMcGrew commented on #459
No longer an issue.

[2017-02-02 04:38] #459 closed

[2017-02-02 04:48] DaleMcGrew commented on #237
This is fixed!

[2017-02-02 04:48] #237 closed

[2017-02-02 04:49] jpellizzari commented on #579
@DaleMcGrew I'm going to take a look at this one. I can't assign it to myself unfortunately

[2017-02-02 04:51] DaleMcGrew commented on #580
The worst of this has been fixed. Closing issue.

[2017-02-02 04:51] #580 closed

[2017-02-02 04:54] ixley commented on #641
FYI: [Don't remove CSS outlines!!](http://a11yproject.com/posts/never-remove-css-outlines/) (without replacing them with something comparable for accessibility)

[2017-02-02 04:55] #641 closed

[2017-02-06 21:32] DaleMcGrew commented on #415
I believe this has been resolved.

[2017-02-06 21:32] #415 closed

[2017-02-09 04:05] alexthornton commented on #583
After digging into this a bit, this appears to be more like a backend than frontend bug. Let's look at the API interaction here.

The request from the React app is: `https://api.wevoteusa.org/apis/v1/voterEmailAddressSave/?voter_device_id=UNIQUE_ID&text_for_email_address=alex.thornton%2Bwevote%40gmail.com&make_primary_email=true`

The response is:

[code]

Note how `email_address_already_owned_by_

[2017-02-09 04:08] alexthornton commented on #583
Adding a clarification to the analysis above, I'm not at all implying that this isn't a bug. Rather, I think this bug is should files in https://github.com/wevote/WeVoteServer.

[2017-02-09 04:28] alexthornton commented on #525
Are you suggesting something that is generated with the build / deploy? If so, that seems like a good idea to ensure that the sitemap always reflects the latest deploy.

Poking around a bit in the code, I can't find where the build and deploy are defined. I see a `.travis.yml` file that appears to be just running `npm run lint`. What builds the code and deploys it so folks can access it at https:/

[2017-02-09 04:33] alexthornton commented on #515
Cross-browser testing is a good idea, but I think the priorities might be a little misplaced. There don't appear to be any tests written yet (https://github.com/wevote/WebApp/tree/master/tests). In a hierarchy of testing, I think we would want to worry about cross-browser testing after we have basic unit and functional tests for the application. If the application logic breaks, it's broken in ever

[2017-02-09 04:47] alexthornton commented on #228
After discussing a bit with @DaleMcGrew, I'll try to push this one forward a bit. In a hierarchy of testing, it's usually a good idea to start as close to the code as possible with unit tests, then back out to more integration tests that test the full stack with a tool like Selenium (which is fantastic by the way). Unit tests run faster and are less brittle because they test fewer things at a time

[2017-02-09 21:44] DaleMcGrew commented on #574
Verified. Thank you @sarah-clements! 👍

[2017-02-09 21:44] #574 closed

[2017-02-09 21:44] DaleMcGrew commented on #535
I am archiving this for future consideration.

[2017-02-09 21:44] #535 closed

[2017-02-09 21:46] DaleMcGrew commented on #528
Archiving this feature for the future.

[2017-02-09 21:46] #528 closed

[2017-02-09 21:57] DaleMcGrew commented on #505
Closing this case.

[2017-02-09 21:57] #505 closed

[2017-02-09 21:58] DaleMcGrew commented on #396
Great work @sarah-clements! 👍

[2017-02-09 21:58] #396 closed

[2017-02-09 21:59] DaleMcGrew commented on #228
Hello @alexthornton I wanted to introduce you to @niyatikothari. She is helping We Vote with Quality Assurance as well, so I added her to this case so the two of you can stay synchronized. Thank you!

[2017-02-09 22:22] #250 closed

[2017-02-09 22:23] #559 closed

[2017-02-09 23:34] ixley commented on #535
I already implemented some of my proposed changes and recently removed the unused ones that I flagged for deletion a few months back.

[2017-02-10 02:40] DaleMcGrew commented on #583
Closing for now since we'll be updating this with a new design.

[2017-02-10 02:40] #583 closed

[2017-02-10 02:41] DaleMcGrew commented on #545
Closing this since we are reworking the email sign in system.

[2017-02-10 02:41] #545 closed

[2017-02-10 02:45] DaleMcGrew commented on #579
I am merging this with Issue #533

[2017-02-10 02:45] #579 closed

[2017-02-10 04:04] Anoninnyc opened #648 "Bad Filename?"
Summary: So, it seems this module "src/js/config-template.js", is actually referenced as a module throughout the app as 'config', giving me problems on setup.
Steps to reproduce: Clone repo, npm install, and 'npm run start'.
Expected behavior: Run on localhost.
Actual behavior: Didn't run on localhost.
Screenshot or animated gif: If possible, attach visual documentation of the bug.
References: Thi

[2017-02-10 04:07] #648 closed

[2017-02-10 04:43] Anoninnyc commented on #515
For now.... they offer a free trial feature on their homepage.

[2017-02-10 18:49] ixley commented on #525
@alexthornton Yes - the sitemap should always reflect current, live content. The most relevant aspect (that I'm familiar with) is to aid search engines and help with SEO. I'm not familiar with the deploy process or with even with how the router is structured, so I can assist with info organization and mapping, but not much with the technical side.

It occurs to me that we will probably also want m

[2017-02-10 19:47] DaleMcGrew commented on #522
Niyati has created this Minimum Supported Browser list here:
https://docs.google.com/spreadsheets/d/1FlUMCvg1pNIO0IzJm0jQyvUW1YC_KHh-LO4l-OVIcog/edit#gid=1774503729

...with this supporting research:
https://docs.google.com/spreadsheets/d/14LQmWNqc74aR1a5eZftX2JFaEdDXD-S0kLRi0tPwqe8/edit#gid=1232767229

Comments welcome!

[2017-02-10 19:58] DaleMcGrew commented on #516
Per Issue #522 (updated now with Minimum Supported browsers) we are going to support Internet Explorer on Android. We are going to close this issue for now since we will need to track browser specific issues in a new way.

[2017-02-10 19:58] #516 closed

[2017-02-10 20:05] ixley commented on #515
I agree with @alexthornton's point about priority, and that we should put more focus on automated testing of app functionality at this stage.

I *do* think that it will be helpful to have a clear sense of which browsers we officially support, but I don't see such a high value for browser testing at this stage because it's not clear how we would automate such a process and unless there are dedicate

[2017-02-10 20:25] ixley opened #649 "Replace 'app-font' icon images with image files"
The icon font introduced to add placeholder (and other) iconography across the app were helpful in the beginning, but have gotten more cumbersome to work with, especially when mixed with normal images.

![image](https://cloud.githubusercontent.com/assets/160662/22842528/57cd06cc-ef8a-11e6-8921-b104a9cd7c88.png)

1) Convert existing icon font images to SVGs and size and reference them to match the

[2017-02-10 21:38] Anoninnyc commented on #524
@ixley  This worked for me, but yeah... annoying :(
https://www.dropbox.com/s/lrdw7vv5f2hgf77/trythis.webm?dl=0

[2017-02-10 21:43] ixley commented on #524
Thanks @Anoninnyc. Maybe I'll revisit using that tactic. On the topic, are you familiar with a better way to setup event listeners so they're confined to the viewport (and don't pick up clicks in the inspector)?

[2017-02-10 21:52] Anoninnyc commented on #524
@ixley I'm trying it on this page. The only side effect it's giving is that, when you try to resume the script via clicking play in yellow banner atop page, it will register *that* as a click. ie you'll have to double click :)

However, it's not registering any cIicks make in devtools.

[2017-02-10 21:53] Anoninnyc commented on #524
well, sometimes it does...

[2017-02-10 22:04] Anoninnyc commented on #524
@ixley @DaleMcGrew
Hey, so...
I'm finding the alignment seems to be fixable by targeting specific classes associated with placeholder profiles, and adding top: 2px/2em/2%, etc.

Any problems/pitfalls/caveats with this approach before I go in and try it out, make my first PR, etc?
![centering](https://cloud.githubusercontent.com/assets/16432389/22845877/fa525840-efa1-11e6-9020-08eaa2af499c.png)

[2017-02-10 22:20] ixley commented on #524
@Anoninnyc To be honest, that approach feels a bit hackish. If you're interested in taking a stab at this specific issue, it can be solved more cleanly by using `position: flex;`. I'll let you explore how to implement that if you're interested in learning more about flexbox properties. If not, I can handle it (and I can share what I do for reference). Either way, I appreciate the tip on intercepti

[2017-02-10 22:26] ixley commented on #524
@Anoninnyc I'm gonna give you the answer and you can implement to better understand why it works and get practice making your PR.

[code]

[2017-02-10 22:36] Anoninnyc commented on #524
@ixley Thanks! I'm familiar with all the above properties, so I'm happy to try it out.
Re: your question, I'll slack you.

[2017-02-11 02:57] pertrai1 commented on #515
There might be some confusion in regards to what these different levels of testing are. Cross browser testing is for the most part manual testing. Functional testing is where there are selenium test scripts that are created and run in the CI. @josephevans and I started the process so there would be a grid that would run this in the cloud during the CI process and depending on the tests would depen

[2017-02-13 02:32] Anoninnyc commented on #524
So... as I relayed to @DaleMcGrew , it looks like the placeholders might be riding a bit higher than real candis. @ixley, take a look at the att.

Dunno it this is splitting hairs or if having at least partially rectified this issue has bumped this down a priority level (& we should place on back-burner(?)), but the placeholder icons are riding a *bit* higher in their spans than are the rounded im

[2017-02-13 05:37] ixley commented on #524
Thanks @Anoninnyc - I think it's good enough, especially since this stuff is likely to change. If you want to take a stab at another issue that is also low priority, but gets more at the root of this, check out https://github.com/wevote/WebApp/issues/649

[2017-02-13 07:07] Anoninnyc commented on #455
So, would something like [this](https://www.npmjs.com/package/react-router-restore-scroll)?

[2017-02-13 08:37] Anoninnyc commented on #649
@ixley So, we would convert to something like [this](https://jsfiddle.net/5zxdzftf/1/), save one per file, then use react-svg-icons to point to each file?

[2017-02-13 14:30] DaleMcGrew commented on #455
Hello Krishan @anoninnyc, yes this looks perfect. Thank you.

[2017-02-13 17:47] DaleMcGrew commented on #524
I consider this fixed. Thank you @Anoninnyc!

[2017-02-13 17:47] #524 closed

[2017-02-13 17:48] DaleMcGrew commented on #612
We will manage this task separate from github. Closing for now.

[2017-02-13 17:48] #612 closed

[2017-02-13 17:55] ixley commented on #649
@Anoninnyc Yes, that's my thinking. A few things to consider...
- Again, this is low-priority and a 'chore,' meaning it could be good if you're interested or otherwise want to get more familiar with this type of thing in the app, but doesn't provide a huge amount value on its own.
- In general, I will want SVG files to be 'clean' and well-formed, but since many of these icons will be targeted for

[2017-02-13 18:48] ixley opened #654 "Cleanup new 'summary' view styling on /ballot"
Clean up styling of summary position view on /ballot (on develop branch). The reference design is here: https://app.moqups.com/DaleMcGrew/2vW41QMVXE/view/page/a211a4810

1) For candidates, keep all of these elements on one line:
Name + "follow options" or "positions in your network" + support/oppose

2) For measures, I think the measure description should display above the line that has these two

[2017-02-13 18:50] ixley commented on #654
@DaleMcGrew Can you add any additional definition/clarification to this?

[2017-02-13 19:21] DaleMcGrew commented on #654
Hi @ixley I just updated the description for this Issue with clarification and answers to your questions.

[2017-02-13 21:46] DaleMcGrew commented on #566
Fixed.

[2017-02-13 21:46] #566 closed

[2017-02-13 21:47] DaleMcGrew commented on #522
Completed. Thank you @niyatikothari!

[2017-02-13 21:47] #522 closed

[2017-02-13 21:49] DaleMcGrew commented on #533
Hi @niyatikothari when you get a moment can you see if you can reproduce this problem? Thank you.

[2017-02-13 21:51] niyatikothari commented on #533
Hi Dale,

I will check and let you know.

Regards,
Niyati kothari

On Mon, Feb 13, 2017 at 4:49 PM, Dale John McGrew <notifications@github.com>
wrote:

[2017-02-13 22:39] niyatikothari commented on #533
Hi Dale,

I am able to reproduce this issue with below steps:

   1.

   Navigate to https://wevote.us/ballot
   2.

   Click on Proposition 51
   3.

   Title is “US 2016 General Election · California”
   4.

   Go Back to https://wevote.us/ballot
   5.

   Click on Proposition 52
   6. Title is “US 2016 General Election · California”

Regards,
Niyati Kothari

On Mon, Feb 13, 2017 at 4:51 PM, Niy

[2017-02-13 23:38] DaleMcGrew commented on #533
Closing this issue.

[2017-02-13 23:38] #533 closed

[2017-02-14 07:15] Anoninnyc commented on #649
@ixley: I'm interested in whatever will move the app forward, though the more meaningful the contribution the better. If you want me to do it- consider it done. If you think there are better uses of my time, let me know.
Re: my skills...
I'm a full-stack guy (70% front end/ 30% backend), 70% of front-end UX(React), 30% UI (html/SASS/css).

[2017-02-14 19:34] ixley opened #658 "Reset search box results when..."
When you type into the global search box, the search results update per character (addition or deletion) — with the exception of all characters being deleted. Search results should not persist in cases when there are no characters in the search box, a result has been clicked on, or the user exits the search.

Update the search box so that the search results reset when:
- the input field is empty (

[2017-02-14 19:46] ixley opened #659 "Don't exit search box when clicking outside the DOM"
When the global search box is open, clicking anywhere else (even to another browser window or within the DevTools inspector) exits/closes it. This is not how it should behave.

The search results should remain active until:
- a user clicks within the window, but outside the search box or the search results window
- a user clicks on a result (after that click is captured)
Clicking outside the windo

[2017-02-14 19:54] ixley commented on #659
BTW - there are existing HOC wrappers that folks have created for this purpose (clicking outside an element) if you want to go that route.

[2017-02-15 00:07] Anoninnyc commented on #659
@ ixley My understanding, as per our initial convo was that this was an issue as it slowed development.
For me, fixing solely for the purposes of dev.  (i.e. while developing only, include a module with stoppropgation, or while developing) would be easier than for the purposes of UX, though I can certainly see how this is not user-friendly.

[2017-02-15 00:34] ixley commented on #659
@Anoninnyc certainly – don't feel obligated to take this. I should maybe create a separate label for 'UX-bug' (or some such).

With most projects—but especially with a volunteer project like this—there will always be a tension between trying to do things in a forward-thinking way and just getting things finished/functional. While I _do_ appreciate the value of getting things out the door, as someo

[2017-02-15 01:24] Anoninnyc commented on #659
@ixley gotcha and thx for response.
If we'd like to create (or look for something) expiliticly to expedite development, I can do that with relative ease.
Though, addressing the fundamental improper behavior will take longer (for me, at least).

[2017-02-15 11:09] DaleMcGrew commented on #455
Fixed! Thank you @Anoninnyc.

[2017-02-15 11:09] #455 closed

[2017-02-15 20:44] DaleMcGrew opened #661 "Create list of everywhere an organization's or voter's photo needs to be updated when it changes"
### Please describe the issue (What happens? What do you expect?)
1) When an organization's photo is stored, we need to update the link to that photo in all other database tables where we cache that photo.
2) When a voter's photo is stored, we need to update the link to that photo in all other database tables where we cache that photo

More complete notes here:
https://docs.google.com/document/d/1

[2017-02-16 00:54] DaleMcGrew commented on #441
This needs to be fixed on the API server in the voterGuidesToFollowRetrieve API endpoint. We have a filter in place for positions about candidates that don't have support/oppose or comment, and that same filter needs to be added for Measures.

[2017-02-16 04:40] DaleMcGrew opened #662 "Facebook Login uses popup, which gets blocked by most browsers"
### Please describe the issue (What happens? What do you expect?)
The current Facebook sign in we are using uses a pop-up. When user testing, I notice that many browsers block the popup needed for Facebook sign in. We need a solution that doesn't use a popup that gets blocked by browser defaults.
Note: We avoid a problem with popup blockers with Twitter because it does a browser redirect.

### Ste

[2017-02-16 04:46] alexthornton commented on #525
Ok. I'll see what I can find out about the deploy process.

Regarding readable URLs, those measure identifiers are more the responsibility of the application (probably backend). It will likely be more challenging to automatically generate a sitemap for those so I suggest leaving that as an incremental improvement after we have a basic sitemap.

[2017-02-16 06:28] ixley commented on #525
@alexthornton Right – readable URLs would be a separate task. The potential drawback to not getting our URLs in order first is that it means 'needing' 301 redirects when we change them (if we want to keep page rankings), but realistically, I'm guessing our search engine rankings won't be significant enough to matter at this stage of the game anyway.

[2017-02-16 19:56] clapinton commented on #525
@ixley @zachmonteith On the subject of sitemap, adding a robots.txt is also a good idea, specially if we don't want search engines to waste crawlers in specific pages, like user accounts.

I worked in Marketing for a startup recently and had to fix some SEO issues, so I ended up diving into the subject and can be of help on that front. I'd say we expand more on that once we leave alpha, but sitema

[2017-02-16 20:21] clapinton opened #663 "Typo when signing in with Twitter"
Go to https://wevote.us/more/sign_in -> Hit the Twitter **Sign In** -> Complete the process until success message is displayed:
`Your have successfully signed into Twitter.`

(HTML element: `<div role="alert" class="alert alert-success">`)

Should be `You have successfully signed into Twitter.`

Maybe also change language to `You have successfully signed in with Twitter.`

[2017-02-16 20:26] ixley commented on #525
@clapinton awesome. If you have some experience there, it'd be welcome. Feel free to add an issue with the relevant info (and to take it on if you're volunteering).

[2017-02-16 20:30] clapinton commented on #525
@ixley Will do. I'll check for tech changes that we can work on at this point.

[2017-02-17 17:44] clapinton commented on #659
I'm working on #658 which involves this behavior, so I'll take care of this. I haven't worked with HOCs before, but I'll take a look at that too.

[2017-02-17 18:24] ixley commented on #659
@clapinton Awesome. I'll be interested to see what you come up with. As a designer, I'm particularly interested in structuring our UI patterns intelligently and my impression is that HOCs could lend themselves well to this effort. Let me know if you want to discuss pattern behavior at all.

I love this example of how to think about HOCs...
<img width="500" alt="img-1" src="https://cloud.githubuser

[2017-02-17 22:03] DaleMcGrew opened #664 ""Ready to Vote" view on Ballot page"
On the main ballot page, create a filter (to the right of "All", "Remaining", and "Bookmarked") called "Ready to Vote".

Please make sure to grab the latest code since others have been working in these files.
- [x] In src/js/routes/Ballot/Ballot.jsx replace "show_expanded_ballot_items" variable with "in_ready_to_vote_mode" and set it based on the filter mode chosen in "BallotFilter"
- [x] Currentl

[2017-02-17 22:15] DaleMcGrew opened #665 "Clicking on ItemTinyOpinionsToFollow should open popup (empty for now)"
In MeasureItemCompressed, ~line 110 we have this onClick handler:
                      onClick={ this.props.link_to_ballot_item_page ?
                        goToMeasureLink :
                        null }

Please remove this onClick handler, and add a similar onClick for ItemTinyOpinionsToFollow that opens a (currently empty) Modal popup.

Sample code showing a working Modal popup is commented

[2017-02-18 00:49] jainanisha90 commented on #662
Popup action for that facebook login(FB.login) is not caused by a click event in wevote, we are calling FB.login from the fallback of FB.getLoginStatus from where popup blocker is triggering.

FB.getLoginStatus does an ajax call and when you call FB.login on it's response, the popup that would open  as a result of this call is blocked. There are two solution stated below:
1.  Initiate your FB.logi

[2017-02-18 07:01] Anoninnyc commented on #665
@DaleMcGrew
Quick Question:
How long does it usually take for your page to "hot reload"?
I only ask because I think it may be my machine that's slow.

In other news,
I have a rough-draft/sample for you. Pls pull down my develop branch. Couple of things:
1. I haven't associated a route with the popup (do we want to do this, if it's simply quick info we want to show?).
2. Do we want to change this t

[2017-02-18 15:44] DaleMcGrew commented on #665
Thank you @Anoninnyc, I got a chance to run it locally and it looks great!
Browserify usually takes about 30 seconds to build on my machine.

You are correct that we could have 20+ possible modals to display on the ballot page. To avoid rendering 20+ modals, I am hoping you can find a way to only render the modal that is being clicked on? Perhaps we can use one modal, and replace the contents with

[2017-02-19 01:23] Anoninnyc commented on #665
@DaleMcGrew
30 seconds? So it's not my computer.  Wow. Is it not problematic for you when developing?

- I can center and enable 'x' easily.
- I should be able to extract the modal to the main ballot page, include a 'toggleModal' method on the ballot page, then pass down to each ballot initiative.
- For the hide modal onClickAnythingButTheModal, we could:
a. Use jQuery to remove any modals from sc

[2017-02-19 02:58] Anoninnyc commented on #665
@DaleMcGrew
update: So I:
1.Vertically re-positioned (let me know where I should put the css you see added, do you want me to add a new component file)?
2. Enabled the x;
3.  It looks like the modal is disabled when we click back on the screen(?)

[2017-02-19 18:20] DaleMcGrew commented on #665
Hi Chris, I think "src/sass/components/_ballotList.scss" is the right place for the CSS related to this modal.
Moving the Module code to its own component can wait.
I think the bigger question is if we can dynamically change the contents of the Modal depending on which ItemTinyOpinionsToFollow is clicked on? (Avoiding the creation of 20+ Modals when we render the Ballot.)

When you are ready to sh

[2017-02-19 19:24] Anoninnyc commented on #665
OK- pull my branch down for a more 'verbose' modal.

[2017-02-19 19:26] Anoninnyc commented on #665
I'll move the s(css).
Notice how the contents are already dynamic. Click on a measure and notice the name of the measure in the modal header.
Moreover, I don't know if we need vertical centering if we're going to have long modals(?)

[2017-02-19 19:44] Anoninnyc commented on #665
pr made- some minor code cleanup @ least is needed. Let me know if/how you'd like to modulate.
Though no more than 1 will popup @ any time.

[2017-02-19 22:04] DaleMcGrew commented on #665
Working! Thank you Krishan.

[2017-02-19 22:04] #665 closed

[2017-02-19 22:05] DaleMcGrew commented on #662
Fixed!

[2017-02-19 22:05] #662 closed

[2017-02-20 15:29] DaleMcGrew commented on #663
Thank you @clapinton, I have fixed this (I will check in later today) and found a few other spots in the code where we mistakenly had sentences start with the text "Your have". Good catch!

[2017-02-20 15:29] #663 closed

[2017-02-21 23:14] #654 closed

[2017-02-23 03:05] DaleMcGrew commented on #661
First version of this list complete!

[2017-02-23 03:05] #661 closed

[2017-02-23 03:08] DaleMcGrew commented on #659
@ixley does the fix posted by @clapinton accomplish your goals? Thank you!

[2017-02-23 03:08] DaleMcGrew commented on #658
Thank you @clapinton, you nailed it!

[2017-02-23 03:09] DaleMcGrew commented on #515
This project is underway. Thank you to everyone who has contributed!

[2017-02-23 03:09] #515 closed

[2017-02-23 03:10] DaleMcGrew commented on #228
This is underway with @niyatikothari and @pertrai1. Thank you!

[2017-02-23 03:10] #228 closed

[2017-02-23 03:20] nickelser opened #676 "Make the positions popup a bit friendlier"
### Please describe the issue (What happens? What do you expect?)
- [x] In mobile (iPhone Safari) the single click on a TinyOpinionToFollow is still opening the organizational popover, instead of opening the modal.
- [x] On https://wevote.us/ballot when looking at Kamala Harris, hover over "California National Organization for Women". In the popover you are not able to click the Follow button (the

[2017-02-23 03:49] ixley commented on #659
The described issue does NOT appear to have been addressed by #674. The search results window still closes when triggering the inspector, clicking in the inspector, or clicking outside the browser window.

The only behaviors that should close the search results window are:
- selecting a search result
- clicking inside the DOM/window but not in the search box or results pane (think of the click beh

[2017-02-23 03:59] ixley commented on #658
@clapinton The search string now also persists when a user selects a search results. Can we clear the search string when a user selects a result (or alternatively, update the string to match the selected result)?

[2017-02-24 00:58] clapinton commented on #658
Good catch. I just noticed Facebook updates the search bar to the selected result. I'll fix it.

[2017-02-24 01:16] clapinton commented on #659
I wasn't seeing that. I was switching between windows and tabs, but whenever I went back to it, the results pane was still open, so I though it was ok. I just saw it actually instantly opens the tab as soon as I land on the page again. Sorry for missing it.

I did some digging and just found out that it happens because the `onblur` function that we're using on the form (hides the results when we l

[2017-02-24 07:50] ixley commented on #659
Thanks @clapinton - no worries on 'missing' a subtlety of my request. I initially noticed this behavior because using the browser inspector collapses the pane, so that makes sense that it is tied to `onblur`. If you are interested in tweaking this more, feel free to go at it, but also acknowledge that my interest in this subtle UX element is somewhat disproportionate to so many other things that c

[2017-02-24 18:33] DaleMcGrew commented on #664
Great work @emilyliza! This is complete.

[2017-02-24 18:33] #664 closed

[2017-02-24 18:35] emilyliza commented on #664
Great - thanks!

On Fri, Feb 24, 2017 at 10:33 AM, Dale John McGrew <notifications@github.com

[2017-02-24 20:16] niyatikothari opened #680 "Unable to access options on left side of page when size is less than 694 px"
Unable to access options that are available on left side of the page when size is 694 px and less.
I am able to access when size is 695 px * 638 px but when it is changed to 694 px * 638 px, I am unable to access them.

Steps to reproduce:

1. Open https://wevote.us/ballot.
2. Change window size such that it is less than or equal to 694 px.
3. Unable to access options available on left side of scr

[2017-02-24 23:48] DaleMcGrew commented on #280
Anisha has a first version of this and is migrating it throughout WeVoteServer.

[2017-02-24 23:48] #280 closed

[2017-02-24 23:52] DaleMcGrew commented on #680
Hi @niyatikothari, this is not a bug -- those options move to the hamburger menu when the viewport is less than 694 px.

[2017-02-24 23:52] #680 closed

[2017-02-24 23:59] ixley commented on #280
sweet! Thanks for setting this up @jainanisha90!

[2017-02-25 00:08] niyatikothari commented on #680
Hi Dale,

I just verified. Yes, it is coming like the one we have in phone screen. I
assumed we will get scroll bar to access left side of the page.

Thanks for update. Will update Defect Tracking Log and Route Display
Testing sheets on Monday.

Regards,
Niyati Kothari

On Fri, Feb 24, 2017 at 6:52 PM, Dale John McGrew <notifications@github.com>
wrote:

[2017-02-25 00:09] DaleMcGrew opened #681 "Ballot page layout problem when too narrow"
### Please describe the issue (What happens? What do you expect?)
When in desktop mode, the layout of the a) candidate name and b) measure text looks good, uses space well, and does not need to change:
![screen shot 2017-02-24 at 3 57 07 pm](https://cloud.githubusercontent.com/assets/7756031/23325461/4e975e7e-faaa-11e6-9de6-66091132ce24.png)

In iPhone 5 mobile mode though, the text to the left ge

[2017-02-25 00:10] niyatikothari commented on #680
Hi Dale,

I just verified. Yes, it is coming like the one we have in phone screen. I
assumed we will get scroll bar to access left side of the page.

Regards,
Niyati Kothari

On Fri, Feb 24, 2017 at 6:52 PM, Dale John McGrew <notifications@github.com>
wrote:

[2017-02-25 05:58] Anoninnyc commented on #681
@DaleMcGrew I'm gonna get rid of the *bar* for iphone5, but keep the count.

[2017-02-25 06:46] Anoninnyc commented on #681
Just saw this: "For smaller screen sizes, please move the candidate names and measure text above the position bar and support/oppose buttons."... :O

[2017-02-25 10:31] Anoninnyc commented on #681
@DaleMcGrew Beginning to fix this. Misread issue specs...

[2017-02-25 17:39] DaleMcGrew commented on #635
Hello @clapinton this is all checked in and ready for you.

[2017-02-25 17:46] DaleMcGrew opened #686 "Ready to Vote: Convert to flex (from tables)"
The js/components/Ballot/MeasureItemReadyToVote and OfficeItemReadyToVote pages are still using tables. Please convert to the new flex system. There is example code in js/components/Ballot/MeasureItemCompressed and OfficeItemCompressed.

[2017-02-26 04:32] DaleMcGrew opened #689 "Convert YouTube or Vimeo links to display in a video player"
Some voter guides contain links to videos, hosted on YouTube or Vimeo. Whenever we recognize a YouTube or Vimeo URL, we want to offer a video player. We should be able to use the module ReactPlayer to play most videos. (See js/routes/More/About.jsx for sample code using ReactPlayer.)

[2017-02-26 05:41] clapinton commented on #635
Thanks! I'll pull it and start working on it.

On Sat, Feb 25, 2017, 09:39 Dale John McGrew <notifications@github.com>
wrote:

[2017-02-26 07:00] Anoninnyc commented on #681
@DaleMcGrew Pls take a look at my PR (aware I should have submitted separate PR's- my apologies)

[2017-02-26 12:23] DaleMcGrew opened #690 "Top navigation fine tuning"
This is a follow up to all of the awesome work you did on the top navigation @Anoninnyc, now that your prior pull request has been merged into the develop branch.

- [x] The click area that opens the right navigation seems to only cover the lower 1/2 of the profile photo (or placeholder photo), and should cover the entire photo.
- [ ] Prior to the search text box opening up to accept text, clickin

[2017-02-26 12:37] DaleMcGrew commented on #681
This is shaping up nicely. Measures are looking particularly good. A few comments:

- [ ] If there is room for the support/oppose buttons to fit on the same line as the candidate name, it would be nice if if they could all fit on one line. Then, as soon as there is a position, the position bar and support/oppose buttons would slide down to the next line (like it does now). Vertical ballot space is

[2017-02-26 22:51] Anoninnyc commented on #690
@DaleMcGrew , Thx!
So,  for **"Prior to the search text box opening up to accept text, clicking the magnifying glass should open the search text box."**, you'd like me to add a click listener to the mag. glass the same as the click listener already on the text box?

[2017-02-26 23:06] DaleMcGrew commented on #690
Exactly!

-Dale

On Sun, Feb 26, 2017 at 2:51 PM Krishan Arya <notifications@github.com>
wrote:

--

Dale John McGrew
Co-founder, We Vote
Dale.McGrew@WeVote.US
www.WeVote.US <http://wevote.us/>
415-516-8777
Twitter: @WeVote <https://twitter.com/WeVote> & @DaleMcGrew
<https://twitter.com/dalemcgrew>
We Vote is putting voters in the driver's seat

[2017-02-27 16:18] DaleMcGrew commented on #658
Hi @ixley these fixes are up on https://WeVote.US and ready for your verification.

[2017-02-27 16:20] DaleMcGrew commented on #659
Hi @ixley there is a new version up on https://WeVote.US. Are you ok with us closing this issue given the experience on voters is minor compared to the other issues we need to work on?

[2017-02-27 17:22] ixley commented on #659
Sure - I can revisit later if inspired.

[2017-02-27 17:22] #659 closed

[2017-02-27 17:31] #658 closed

[2017-02-28 22:51] emilyliza commented on #686
The js/components/Ballot/MeasureItemReadyToVote uses cards instead of tables.

[2017-02-28 22:53] DaleMcGrew commented on #686
Hi @emilyliza I see now that you are correct. :) So it is the OfficeItemReadyToVote that just needs the update. Thank you!

[2017-03-01 22:35] niyatikothari opened #695 "Android Browser: Spacing issue between Requests and Connect"
Spacing between Requests and Connect is not as expected.
(1) Open https://wevote.us/ballot in Samsung Galaxy S4 Emulator and Android browser 4.4
(2) Spacing between Requests and Connect is not proper.

Please use below link for the issue:
https://saucelabs.com/beta/tests/af2b9b44dea74f2db44eee8d1f5c1497/watch

Please find below screenshot:

![image](https://cloud.githubusercontent.com/assets/25673

[2017-03-01 23:02] DaleMcGrew commented on #686
Resolved!

[2017-03-01 23:02] #686 closed

[2017-03-02 02:58] DaleMcGrew commented on #101
First version done, thank you @sarah-clements and @KIVA7777!

[2017-03-02 02:58] #101 closed

[2017-03-02 03:48] DaleMcGrew commented on #394
We are revamping the image system which will fix this.

[2017-03-02 03:48] #394 closed

[2017-03-02 03:56] DaleMcGrew opened #696 "Desktop profile photo should open right navigation"
Desktop profile photo (far right) should open right navigation, in the same way it opens the right navigation in mobile mode.

[2017-03-02 04:02] Anoninnyc commented on #690
@DaleMcGrew As per our chat, pls extract  "Desktop profile photo should open right navigation. (My apologies for the design moqups not including the right nav -- my mistake!)", and leave the rest to me :)

[2017-03-02 04:46] DaleMcGrew opened #698 "Travis builds seem to fail quite often"
### Please describe the issue (What happens? What do you expect?)
With many builds (if not all?) we get a failed build test like this:
https://travis-ci.org/wevote/WebApp/builds/206866123

Can we fix these to not fail, or disable them for now? Thank you!

[2017-03-02 07:39] clapinton opened #699 "Remove "Add Another Invitation" button when 5 invites are added"
When adding friends by e-mail, a user can send 5 invitations at a time by clicking "Add Another Invitation". That button should get disabled when the user opens 5 input rows.

[2017-03-02 09:06] Anoninnyc commented on #690
@DaleMcGrew  "The click area that opens the right navigation seems to only cover the lower 1/2 of the profile photo (or placeholder photo), and should cover the entire photo." is no longer a problem.

[2017-03-02 20:17] emilyliza commented on #689
I can't seem to find any voter guides with video links. Would the video link be in the organization/person's card with the description, website link and twitter followers count?

[2017-03-02 20:24] DaleMcGrew commented on #689
Hi Emily, you can add a link in your own comment on any candidate or measure. This is an example video link you can use:
https://www.youtube.com/watch?v=hMdjN-4V95c

This is an organization that has several videos in their voter guide: https://wevote.us/lwv_oakland

[2017-03-02 20:25] emilyliza commented on #689
Ahh, thanks!

[2017-03-03 14:20] DaleMcGrew commented on #690
@Anoninnyc nailed it! 👍

[2017-03-03 14:20] #690 closed

[2017-03-03 14:24] DaleMcGrew commented on #681
Thank you @Anoninnyc for knocking out 90% of the items. I am going to close this issue for now.

[2017-03-03 14:24] #681 closed

[2017-03-03 14:27] DaleMcGrew commented on #698
Resolved!

[2017-03-03 14:27] #698 closed

[2017-03-03 16:32] DaleMcGrew opened #704 "Ballot items list photos: visual clean up"
### Please describe the issue (What happens? What do you expect?)
On the main ballot page, the small (24 x 24 in mobile mode) and larger (48x48 in desktop mode) images need better spacing.

### Steps to reproduce the problem (1, 2, 3...), including links
1. Go to http://localhost:3000/ballot (not on live server yet)
2. Enter address "Oakland, CA"
3. Notice desktop spacing around candidate photos A

[2017-03-03 16:34] DaleMcGrew opened #705 "Connect and Donate icons in top nav spacing are too high"
### Please describe the issue (What happens? What do you expect?)
In the new top navigation system, the connect icon and the donate icon seem to be riding a little high and could be brought down.

[2017-03-03 16:38] DaleMcGrew opened #706 "Submitting empty search shows error in browser console"
### Please describe the issue (What happens? What do you expect?)
When you submit an empty search from the top navigation bar, there is an error in the browser console:
![screen shot 2017-03-03 at 8 35 43 am](https://cloud.githubusercontent.com/assets/7756031/23559658/8e8fe914-ffec-11e6-87e5-d0bb471a87f0.png)

### Steps to reproduce the problem (1, 2, 3...), including links
1. Go to https://WeVote

[2017-03-03 17:45] DaleMcGrew opened #707 "Implement CSS for printable "Ready to Vote" page"
### Please describe the issue (What happens? What do you expect?)
When I use my browser's "Print" function, the styles have not been set up to make the result look good in PDF format. This Issue is about creating print-specific styles that make the PDF output look good for printing your ballot to take to your polling place.
![screen shot 2017-03-03 at 9 40 27 am](https://cloud.githubusercontent.co

[2017-03-03 22:47] emilyliza commented on #689
@DaleMcGrew I have things set up so that if a person pastes a youtube or a vimeo link in the comment box, the link will be converted to a video via ReactPlayer. However, this only works if a link is the only text. So for example: "Here is a video: "https://www.youtube.com/watch?v=hMdjN-4V95c" would not work. This is because I use regex to identify the link and then feed it to the player. Thoughts?

[2017-03-03 22:48] emilyliza commented on #689
I wonder if it makes sense to add a stand alone text area for urls?

[2017-03-03 22:50] ixley opened #709 "Add a stylesheet linter"
Add a stylesheet linter with reasonable rules and add a pre-commit hook.

Use [Stylelint](https://github.com/stylelint/stylelint) with:
- [stylelint-declaration-strict-value](https://github.com/AndyOGo/stylelint-declaration-strict-value)
- [stylelint-scss](https://github.com/kristerkari/stylelint-scss) ?

consider for later:
- [stylelint-selector-bem-pattern](https://github.com/davidtheclark/style

[2017-03-03 23:04] DaleMcGrew commented on #689
Hi Emily, we can write a text parser (or regex) that looks through the text and pulls out the video link(s) that can be fed to the player. Checking in a first version that just looks at {statement_text_to_be_saved} to see if it is a video link is a good first step!

[2017-03-03 23:10] emilyliza commented on #689
Ok, sounds good!

[2017-03-03 23:52] emilyliza commented on #689
@DaleMcGrew I opened a request. It now pulls just the url and leaves any remaining text. I think the code could be more concise.

[2017-03-04 00:52] DaleMcGrew commented on #635
Thank you Eric and Neelam, this is in good shape!

[2017-03-04 00:52] #635 closed

[2017-03-04 18:28] DaleMcGrew opened #711 "Move "Edit Address" feature into a modal popup"
### Please describe the issue (What happens? What do you expect?)
Currently when you edit your address, it navigates to a new page. Instead we want to open a modal popover, similar to "SelectBallotModal" in WebApp/src/js/routes/Ballot/Ballot.jsx
![screen shot 2017-03-04 at 10 23 28 am](https://cloud.githubusercontent.com/assets/7756031/23581217/e63ef686-00c4-11e7-94ce-d496be0668a0.png)

### Steps

[2017-03-04 18:54] DaleMcGrew opened #712 "Support video display from first video link in paragraph of text"
### Please describe the issue (What happens? What do you expect?)
If a voter enters a Vimeo or YouTube URL as a position statement, we display the video directly in the position feed. What we would like to do is update these RegEx's to use the first video URL in the position to display a video, but also allow the voter to add text before and after the video URL.
See WebApp/src/js/components/Widget

[2017-03-04 19:25] DaleMcGrew commented on #689
Hi Emily, I made a couple of changes to the code to fix some errors I got (please make sure to grab the latest code before working on this further), but this is a great new feature! Thank you!

I wanted to point out two more areas to make the video player appear:
WebApp/src/js/components/Widgets/PositionSupportOpposeSnippet.jsx
WebApp/src/js/components/Widgets/PositionInformationOnlySnippet.jsx

Y

[2017-03-05 02:48] ixley commented on #704
@DaleMcGrew I'm getting a little confused about what the intended display is supposed to look like. I've added spacers between the candidate avatars and their names to the right, but a lot of the code in here feels like it's adding unnecessary complexity without a clear reason (that I can tell at least). There are also more custom classes that have been added that again, seem like they are adding

[2017-03-05 02:53] DaleMcGrew commented on #704
Hi Jeff, feel free to clean up the code and CSS. The goal is to have  different sized photos in mobile versus desktop, and keep the photo, Position bar, and Support or Oppose buttons on the same line if possible, but wrap if not. Thank you!

[2017-03-05 07:24] ixley commented on #704
I did some light cleanup but didn't want to get into the weeds since a lot of this feels somewhat fragile. What we really want to target layout changes like this is element queries (instead of media queries). They are not here for CSS yet, but there is some promise with React plugins. Anyway, that's a whole other endeavor but worth looking into eventually.

[2017-03-06 01:47] DaleMcGrew commented on #707
Great work @ixley!

[2017-03-06 01:47] #707 closed

[2017-03-06 01:47] DaleMcGrew commented on #704
Awesome work! Thank you!

[2017-03-06 01:47] #704 closed

[2017-03-06 17:12] DaleMcGrew commented on #706
Fixed by @bigethan -- thank you!

[2017-03-06 17:12] #706 closed

[2017-03-06 17:33] emilyliza commented on #689
Ok, great and thank you for the fixes. I'll pull down the latest code and work on this today.

[2017-03-07 04:22] bigethan commented on #696
My proposal (I'm new so please feel free to tell me where I'm wrong):

`react-burger-menu` is a slightly strange fit for desktop, as it's attached to the right (or left) side, and the icon isn't always over on that side. It's also a lot of animation code that isn't being (currently) used. My thought is to remove `react-burger-menu` and use a more generic menu component that will work the same on m

[2017-03-07 04:35] DaleMcGrew commented on #696
Hi @bigethan I am totally open to using a different menu component. I look forward to your pull request! Thank you.

[2017-03-07 17:03] DaleMcGrew commented on #696
I love this solution! Thank you @bigethan.

[2017-03-07 17:03] #696 closed

[2017-03-07 22:18] emilyliza commented on #689
Pull request is open for this, along with a note. The code may need to be modified further if there is a case for a user to add a URL in the both the `statement text` and the `more info url` in `PositionOnlyInformationShippet.jsx`.

[2017-03-08 00:09] DaleMcGrew opened #719 "New menu navigation creates link "ghosts""
### Please describe the issue (What happens? What do you expect?)
After using the new profile drop-down menu, there is a remaining "ghost" of the drop-down links after the drop-down menu closes. This appeared after @bigethan submitted pull request https://github.com/wevote/WebApp/pull/717

### Steps to reproduce the problem (1, 2, 3...), including links
1. Go to https://wevote.us/ballot and shrink

[2017-03-08 05:47] DaleMcGrew commented on #719
Fixed! Thank you @bigethan.

[2017-03-08 05:47] #719 closed

[2017-03-08 05:48] DaleMcGrew commented on #689
Great work @emilyliza! Check it out: https://wevote.us/lwv_oakland

[2017-03-08 05:48] #689 closed

[2017-03-08 17:39] ixley commented on #705
#649 should be addressed first.

[2017-03-10 09:31] Anoninnyc commented on #711
@DaleMcGrew So, I submitted a PR, and there are 2 lines worth of conflicts. If you think I'm on the right track here, let me know. Then, I'll do a brief code clean-up/optimization & make my branch mergeable.

[2017-03-12 05:20] Anoninnyc commented on #711
@DaleMcGrew  Currently, my PR has no conficts.

[2017-03-14 21:12] #709 closed

[2017-03-15 17:37] DaleMcGrew commented on #711
Thank you @Anoninnyc, this new feature is great!

[2017-03-15 17:37] #711 closed

[2017-03-15 17:45] DaleMcGrew opened #729 "Connect: Show groups you are following on Twitter"
Create a component for display on the Connect page that shows organizations you are following because you are following them on Twitter. Here is how it looks in our moqup:
https://app.moqups.com/DaleMcGrew/EdffBLTLBI/view/page/a39059ea6

[2017-03-15 17:49] DaleMcGrew opened #730 "Connect, Organizations to Follow: Show photo icons for voter guides you can follow"
Connect, Organizations to Follow: Show photo icons for voter guides you can follow. Create a component that displays Organizations you can follow on the Connect page, as shown in this design:
https://app.moqups.com/DaleMcGrew/EdffBLTLBI/view/page/aed27cc24
- [ ] Show the photo icons for any voter guides that have photos. Data would come from same source as voter guides shown on https://wevote.us/o

[2017-03-15 17:52] DaleMcGrew opened #731 "Connect, Current Friends: Show photo icons for existing friends"
Connect, Current Friends: Show photo icons for existing friends. See visual design at the bottom of this page:
https://app.moqups.com/DaleMcGrew/EdffBLTLBI/view/page/aed27cc24
- [ ] Show the photo icons for any current friends that have photos. Data would come from same source as friends shown on https://wevote.us/more/connect
- [ ] After showing 10 photo icons, summarize the remaining number of v

[2017-03-15 17:59] DaleMcGrew opened #732 "Connect: Add friend search filter to Friends list"
Our current list of friends page is here:
https://wevote.us/friends

We want to let you search for a friend within this list. See updated interactive design here:
https://app.moqups.com/DaleMcGrew/EdffBLTLBI/view/page/a8a0a46c6

[2017-03-16 03:26] DaleMcGrew commented on #699
Fixed!

[2017-03-16 03:26] #699 closed

[2017-03-16 12:11] Anoninnyc commented on #731
@DaleMcGrew  safe to assume desktop view will be a wider version of what's shown in moqup?

[2017-03-16 12:31] Anoninnyc commented on #731
@DaleMcGrew  Also, I'm  not receiving the friend invitation I'm sending to my alt. email address

[2017-03-16 14:58] DaleMcGrew opened #734 "email_address_array not included when inviting friend"
### Please describe the issue (What happens? What do you expect?)
If you as a voter have a verified email already saved with your account and you Send an invitation, then email_address_array is not included in the call to the API.

### Steps to reproduce the problem (1, 2, 3...), including links
1. Go to the connect page: http://localhost:3000/more/connect
2. Make sure you already have a verified

[2017-03-16 15:07] DaleMcGrew commented on #731
Hi @Anoninnyc, we are working on fixing the bug with friend invitations not working. And you are correct that the desktop view of this component will be wider.

[2017-03-16 16:09] Anoninnyc commented on #731
@DaleMcGrew got it... thanks!

[2017-03-16 20:54] emilyliza commented on #712
@DaleMcGrew I believe this is working now locally - I needed to change the youtube regex.

However, there is a new concern. The code finds and removes the url from the text block, saves the new text (sans url) and puts the url into the video player. This is fine as long as you don't need to edit. If you choose to edit the text, you will no longer have access to the url. Thoughts?

[2017-03-16 20:55] emilyliza commented on #712
Perhaps I will create a new variable for the visible text.

[2017-03-16 21:00] DaleMcGrew commented on #712
That is what I was going to suggest. :)

[2017-03-16 21:01] emilyliza commented on #712
Ok, working on it now. Thanks!

[2017-03-16 21:54] emilyliza commented on #712
Pull request open. Hopefully, it works now! :-)

[2017-03-18 03:10] DaleMcGrew commented on #730
Verified!

[2017-03-18 03:10] #730 closed

[2017-03-18 03:10] DaleMcGrew commented on #729
Verified!

[2017-03-18 03:10] #729 closed

[2017-03-18 03:10] DaleMcGrew commented on #712
Works like a charm! Thank you @emilyliza.

[2017-03-18 03:10] #712 closed

[2017-03-18 21:34] Anoninnyc opened #738 "Optimize browserify process"
### Please describe the issue (What happens? What do you expect?)
It currently takes ~30 seconds for hot reloading to complete.
### Steps to reproduce the problem (1, 2, 3...), including links
Edit one of the .jsx files, and you'll have to wait quote a while to see your changes rendered.

http://gulpjs.org/recipes/fast-browserify-builds-with-watchify.html

[2017-03-20 16:32] DaleMcGrew commented on #738
Thank you @Anoninnyc!

[2017-03-20 16:32] #738 closed

[2017-03-20 16:41] DaleMcGrew opened #744 "Add "x" icon to clear search box contents"
### Please describe the issue (What happens? What do you expect?)
I search for a group or candidate and select a choice. When I go to the search box again, I would like a way to clear out the contents of the search box with a single click. We can do this by adding an "x" at the far right of the search box, like this:
![searchbox_close](https://cloud.githubusercontent.com/assets/7756031/24110509/d6

[2017-03-20 16:57] DaleMcGrew opened #745 "Make Twitter link active"
### Please describe the issue (What happens? What do you expect?)
Links in the descriptions of organizations or candidates are not active HTML links, and they should be. Files that need to be updated (search for "twitter_description" in these files):
- /src/js/components/Ballot/CandidateItem.jsx
- /src/js/components/VoterGuide/OrganizationCard.jsx
- /src/js/components/Twitter/TwitterAccountCard.js

[2017-03-20 17:03] DaleMcGrew opened #746 "Show "Loading" text immediately from WebApp/src/index.html file"
### Please describe the issue (What happens? What do you expect?)
When accessing We Vote on a smart phone when there isn't great reception, I have seen a white screen for 6 seconds before the blue "We Vote Loading" screen appears. I would like a blue screen with the words "We Vote Loading" to appear within 1 second of visiting the site (i.e. before the Javascript bundle loads).

[2017-03-20 17:28] DaleMcGrew opened #747 "Connect, Add Friends by Email: Only show "Include a Message" after first email has been entered"
### Please describe the issue (What happens? What do you expect?)
When I go to the "Connect" page, the "Include a Message" optional field appears before an email address has been entered. We want to hide that field (and label) until after a valid email address has been entered in at least one of the 5 inputs.

### Steps to reproduce the problem (1, 2, 3...), including links
1. Go to http://localho

[2017-03-21 03:12] Anoninnyc commented on #746
@DaleMcGrew Sooo.....
We add a blank screen in a div tag to index.html.
Then ComponentDidMount for the app, we remove it with jQuery?

[2017-03-21 16:18] DaleMcGrew commented on #731
Thank you @jainanisha90 for the first version of this feature!

[2017-03-21 16:18] #731 closed

[2017-03-21 16:35] DaleMcGrew opened #750 "Travis tests: Find way to run tests with different config.js file"
### Please describe the issue (What happens? What do you expect?)
When we try to run Travis for build & test verification, it fails ( https://travis-ci.org/wevote/WebApp/builds/213232696 ). I believe this is because it cannot find a WebApp/src/js/config.js file, and the solution might be to add a configuration setting in WebApp/.travis.yml to tell it to use a different config.js file, or at least

[2017-03-21 23:56] Anoninnyc commented on #750
@DaleMcGrew Unsure as to what, in any conclusion we came to re: this issue.

We could have different environmental variables for local devs, than we have for YAML, than we have for production. We would have to change the values in the current config to process.env.VARIABLE_NAME.

Or we could put a script in the "before_script:" section of Yaml that will rewrite the config file for the purposes of

[2017-03-22 01:27] DaleMcGrew commented on #750
Hi @Anoninnyc it turns out you can set Global variables in the Yaml file, so when I added the access key, the selenium tests worked! https://travis-ci.org/wevote/WebApp/builds/213659549

[2017-03-22 01:27] #750 closed

[2017-03-22 01:46] Anoninnyc commented on #750
Great!

[2017-03-22 02:31] Anoninnyc commented on #746
@DaleMcGrew  Took a closer look at your request and the HTML file.

So, the spinner that's parsed in html seems to be parsed well before the bundle script is executed already.
The only thing of substance that's parsed before the spinner are the CSS files... so, maybe we could defer them with something like [this](https://www.giftofspeed.com/defer-loading-css/)?

I want to make sure I'm grasping th

[2017-03-22 02:34] Anoninnyc commented on #746
Or this.... http://stackoverflow.com/a/22255132

[2017-03-23 03:52] nickelser commented on #676
Looks like the multiple popovers bug is still present -- reopening.

[2017-03-23 07:30] Anoninnyc opened #757 "Transition from Watchify to Webpack"
### Please describe the issue (What happens? What do you expect?)
We introduced Watchify in order to cut down the built time from ~30 seconds to ~4 seconds. This made the iterations much quicker, which was a benefit to developers. But we had to remove the watchify module because since introduction of watchify module, ~ every other time a change is saved, its omitted in hot-reloaded version of app.

[2017-03-23 18:10] DaleMcGrew commented on #746
@nf071590 or @pertrai1 do either of you have any thoughts about how to show a loading message instead of a white screen when someone first arrives at https://WeVote.US?

[2017-03-24 23:16] Anoninnyc commented on #746
(GPRS make sure no cache)

[2017-03-25 00:08] Anoninnyc commented on #757
@DaleMcGrew Where did you see that this was a mac specific issue?

[2017-03-25 00:16] DaleMcGrew commented on #757
Useful posts I found (I did not do extensive digging):
https://github.com/substack/watchify#rebuilds-on-os-x-never-trigger
https://github.com/substack/watchify/issues/224

I saw a couple of posts that recommended passing in the ", { poll: true }" option.

[2017-03-25 00:28] Anoninnyc commented on #747
@DaleMcGrew Can we kill the issue?

[2017-03-25 00:29] Anoninnyc commented on #757
@DaleMcGrew Thanks! I'll check it out.

[2017-03-25 00:29] DaleMcGrew commented on #747
This is fixed. Thank you @Anoninnyc!

[2017-03-25 00:29] #747 closed

[2017-03-25 01:18] Anoninnyc commented on #746
@DaleMcGrew  Isolating the prblem: seems like culprit for slow download are indeed the link tags. `

<title> We Vote </title>
  <script>console.log("Logging to test speed");</script>
  <meta charset="utf-8">
`

[2017-03-25 02:16] Anoninnyc commented on #757
@DaleMcGrew  I think I fixed it- pls see Pr

[2017-03-25 02:25] Anoninnyc commented on #746
@DaleMcGrew
Insights so far: If I remove all of the stylesheet tags, Loading appears nearly asap, even on the crappiest network connection.

However, if I includeeven one locally hosted stylesheet (even when minified) and put inline (i.e. in ), the GSPS-level connection takes so long to parse thru the inline css, it's still unbearable.

[2017-03-25 02:42] Anoninnyc commented on #746
@DaleMcGrew
Hi Dale,
See my Do Not Merge PR , specifically, what I did to the link tags in index.html. Basically I'm deferring their download. The trade-off is that, because the spinner relies on bootstrap, it doesn't show.  However, the word "Loading" shows immediately.

I might be able to dissect bootstrap and pull out the spinner-related classes, then put them inline in "style" tags above the s

[2017-03-25 02:43] Anoninnyc commented on #746
Also, please let me know how it looks on your end...

[2017-03-29 00:57] Anoninnyc opened #763 "Minify CSS"
### Please describe the issue (What happens? What do you expect?)
Load time to download CSS files can be minimized with minification
### Steps to reproduce the problem (1, 2, 3...), including links
N/A...

[2017-03-30 01:09] Anoninnyc commented on #757
@DaleMcGrew Can we close this? I think integration of my last PR fixed this, no?

[2017-03-30 01:13] Anoninnyc commented on #745
@DaleMcGrew - "https://t.co/G6GRhMY3f7  valid link, it seems.
But, you want twitter to open, when click on icons, click on handle ( ex @sdfsdkjfh), or other?

[2017-03-30 01:19] DaleMcGrew commented on #745
Hi @Anoninnyc, we just want to create an external link around the text of the Twitter link "https://t.co/G6GRhMY3f7" so when you click on it, a new tab is opened with that destination. No other links are needed at this time.

[2017-03-30 01:19] Anoninnyc commented on #745
Got it.

[2017-03-30 01:30] DaleMcGrew commented on #746
Fixed.

[2017-03-30 01:30] #746 closed

[2017-03-30 01:50] DaleMcGrew commented on #763
Thank you @Anoninnyc, this works great.

[2017-03-30 01:50] #763 closed

[2017-03-30 02:01] DaleMcGrew commented on #246
Google Tag Manager added. @IreneFlorez is setting up tracking events.

[2017-03-30 04:00] Anoninnyc commented on #745
@DaleMcGrew Hi Sale- so... let's use Scott M's acct as an example.
We need to parse the description (which is currently a string) such that we turn anything that's a link (starts with "http") into "<a hfef='http.....".

Please pull down my addHyperLink branch and let me know if my solution is satisfactory. Fundamentally, I don't think there's any other way to do this, if all we're provided is a st

[2017-03-30 18:44] DaleMcGrew commented on #757
Hello @Anoninnyc, the PR you submitted to fix this did not work. I would recommend we pass this to a developer using a Mac so it can be tested locally. Thank you for your work so far on this!

[2017-03-30 19:03] DaleMcGrew opened #768 "Improve look of team photos on "About We Vote" page"
This issue is for a developer who is an expert at CSS. On the "About We Vote" page:
http://localhost:3000/more/about
- [ ] Reduce the horizontal space between each person's photo and bio (for both desktop and mobile)
![screen shot 2017-03-30 at 11 45 03 am](https://cloud.githubusercontent.com/assets/7756031/24520770/7fdd74e2-153e-11e7-8e3b-d318ca325bce.png)
- [ ] Reduce font size of team titles an

[2017-03-30 19:04] DaleMcGrew opened #769 "About We Vote, Desktop: Split into three pages"
When using We Vote from a mobile device, clicking on "About We Vote" will click to this page:
http://localhost:3000/more/about
No changes are required to this.

When using We Vote from a DESKTOP device, please make the following changes:
- [ ] Convert the "About We Vote" top navigation item to open a drop down when clicked (please mimic the drop down opened from the profile photo)
- [ ] Create the

[2017-03-30 20:37] DaleMcGrew opened #770 "Facebook & Twitter sign in buttons should be centered"
Please make sure the Sign in buttons are centered on this page: http://localhost:3000/intro/get_started
The file is in WebApp/src/js/routes/intro/GetStarted.jsx

[2017-03-31 18:17] DaleMcGrew commented on #745
Hi @Anoninnyc, I'd like to avoid attempts to support general markup, but instead focus on converting http and https links into active links. I think the approach @emilyliza took for activating video links is a good one. See https://github.com/wevote/WebApp/pull/735/files

[2017-03-31 18:20] DaleMcGrew opened #771 "Move video regex's into one location"
Please take the video regex code (shown in the closed pull request: https://github.com/wevote/WebApp/pull/735/files ) and move it into one location (used by the components referenced in the closed pull request). Lets put this regex code in a function (or constant?) in WebApp/src/js/utils/textFormat.js

[2017-04-03 05:38] Anoninnyc commented on #745
@DaleMcGrew  So, to my knowledge, what's being done in the example you showed me can't be done when parsing thru text.  @emilyliza is injecting <a href's... into the code because she knows where the urls are going to pop up within surrounding text.

For what I'm doing, if I have a string like: "Hello, my name is bob, see my website at https://www.dsfsdf.com and here, too: https://www.dsfsdf.com ",

[2017-04-03 06:28] Anoninnyc commented on #769
@DaleMcGrew Hey dale, nearly done with this.
Quick question- when user clicks on About we vote, you want a route change *and* the dropdown?

[2017-04-03 12:41] DaleMcGrew commented on #769
Hi @Anoninnyc -- when the voter clicks the "About We Vote", there should not be a route change. Only the dropdown should appear.

[2017-04-03 12:46] DaleMcGrew commented on #745
You are correct in your description that this is what we want to end up with:
-------
Hello, my name is bob, see my website at http://www.abcdef.com and here, too: https://www.dsfsdf.com as well as www.xyzxyz.com
-------

You should be able to search for "http:" or "https:" or "www" with a regex (like how Emily did the video link matching), and then convert the text of the entire link to an active

[2017-04-03 23:33] Anoninnyc commented on #745
Hi Dale,
I've looked far and wide and have found nothing that would allow us to to what we're attempting.
Let me know if this will suffice: http://stackoverflow.com/a/29048207
Best,
Chris

[2017-04-03 23:34] Anoninnyc commented on #745
<script>console.log(3)</script>

[2017-04-04 00:52] Anoninnyc commented on #769
@DaleMcGrew  can we kill this issue. or is there more needed here?

[2017-04-05 00:10] Anoninnyc commented on #745
@DaleMcGrew Pls see abv comment.

[2017-04-05 01:23] DaleMcGrew commented on #745
Hi @Anoninnyc, I unfortunately cannot do a deeper dive on this issue now, so maybe we should punt on this for now.

[2017-04-05 13:04] DaleMcGrew opened #776 "Analyze size of current react plugins in production"
Ideally we can reduce the size of our compiled react bundle. I suspect that we are using a few react plugins that are quite large that we could phase out. To resolve this issue:

Step 1:
- [ ] Find out the size of every react plugin we are using (as described in WebApp/package.json), so we can discuss whether or not we need to use each plugin

Step 2:
- [ ] Make sure we are using all of the plugin

[2017-04-06 15:02] DaleMcGrew commented on #769
I will create another issue for the menu positioning bug. Thank you @Anoninnyc for doing this!

[2017-04-06 15:02] #769 closed

[2017-04-07 22:38] clapinton commented on #768
Also fix this on /more/team

[2017-04-08 00:19] clapinton commented on #768
How do these look:

**Desktop**
![image](https://cloud.githubusercontent.com/assets/8397150/24823682/21d830c0-1bb6-11e7-8c24-1eed4a452f4d.png)

**Mobile**
![image](https://cloud.githubusercontent.com/assets/8397150/24823690/4a78e722-1bb6-11e7-841d-7bcaf9c37cad.png)

[2017-04-08 03:45] Anoninnyc commented on #771
@DaleMcGrew  was unable to find vimeo video's with which to test this...

[2017-04-10 01:28] DaleMcGrew commented on #771
Fixed!

[2017-04-10 01:28] #771 closed

[2017-04-10 01:32] DaleMcGrew commented on #770
Fixed. Thank you @Anoninnyc!

[2017-04-10 01:32] #770 closed

[2017-04-10 01:32] DaleMcGrew commented on #768
Thank you @clapinton, you nailed it.

[2017-04-10 01:32] #768 closed

[2017-04-10 19:30] clapinton commented on #776
I got the size of all packages using the `cost-of-modules` npm package, tabled the results and added prod and dev flags, depending on the dependency (also added hyperlinks to the npm page itself on the first column). Note that a bunch of children are shared between packages (if you add up the Children column, you'll get 2800+ children, vs the real total of 1051). Same goes for the size. There's an

[2017-04-10 19:39] DaleMcGrew commented on #776
Thank you Eric for spearheading this. Please let me know if you need help with any of these steps.

[2017-04-10 19:57] Anoninnyc commented on #745
@DaleMcGrew I have an idea for this.....

[2017-04-11 20:42] DaleMcGrew opened #784 "Update ballot to use inline styling to avoid position bar overflow"
### Please describe the issue (What happens? What do you expect?)
In this screenshot we show that position bars wrap to the next line in cases where they could fit on the same line as the candidate name.
![screen shot 2017-04-11 at 1 40 03 pm](https://cloud.githubusercontent.com/assets/7756031/24929922/82b2ee04-1ebc-11e7-8ac7-c2693002e31a.png)

[2017-04-12 21:08] Anoninnyc commented on #745
@DaleMcGrew  , can you pull down my Anoninnyc:twitterDetector branch and let me know if this is a satisfactory approach, and I'll continue to flesh it out, then send a PR? This is re: issue #745..

[2017-04-13 20:14] Anoninnyc commented on #776
@DaleMcGrew @clapinton Are we doing this [this](http://stackoverflow.com/a/34241128) in our code, like here:[]( https://github.com/wevote/WebApp/blob/develop/src/js/components/DonationForm.jsx#L2)

[2017-04-13 21:24] DaleMcGrew commented on #776
Hi @Anoninnyc and @clapinton it looks like there might be some opportunities to reduce the size of our production bundle based on how we included portions of some of these bigger packages.

[2017-04-13 23:04] Anoninnyc commented on #776
yup... @clapinton- we're not tying to optimize the dev deps, correct- just production deps?
Wanted to clarify...

[2017-04-19 00:51] clapinton commented on #776
@Anoninnyc it is just the prod ones. I tabled the dev ones since it wasn't too much work and thought it might come in handy at some point. Still, I'm focusing on the prod ones.

I went through all `dependencies` and added some comments to that spreadsheet above. Overall, here's what we could tackle:
* `react-headroom` (14.8M and 7 children) is the biggest package. It's only required on Application

[2017-04-19 01:03] DaleMcGrew commented on #776
Great detective work Eric! I will create a separate issue to remove replace react-headroom. We should be able to refactor the API  server to retrieve formatted datetime values so we don't need to do it in React. Thank you!

[2017-04-19 01:10] clapinton commented on #776
Makes sense. Do test out the `moment-timezone` on your end as well. I did go through every single page and clicked around to make sure, but it's better to be safe.
Also, I was thinking about the `react-text-truncate` (1.7M and 0 children) package. It's only used inside the ReadMore component, so it might also be fairly easy to switch to a lighter package.

In any case, I can take a look at other o

[2017-04-19 01:10] DaleMcGrew opened #787 "Replace react-headroom React package because it makes the bundle too big"
react-headroom (14.8M and 7 children) is the biggest package. It's only required on Application.jsx to hide the header when the user scrolls. I think we can switch to a lighter package, such as the original headroom.js (not specific to React, but easy to readapt), or some other similar;

More notes here:
https://docs.google.com/spreadsheets/d/1mINBClQJ8CBd8e4rceE8ZvXPJXZE4d6dxa9Tp5OcCo0/edit#gid=0

[2017-04-19 01:11] DaleMcGrew commented on #787
(I just assigned it to you Eric because I saw your note on the other case where you said you could look at other options for react-headroom. Thank you!)

[2017-04-20 00:56] clapinton commented on #787
I'm testing the original headroom.js package. The folder is 70KB. It needs a bit more work on it, as it only assigns specific class names to a target element, so it's up to us to specify the CSS rules that hides/shows the header bar. I'm working on implementing the same behavior as we have now.

[2017-04-20 11:36] #705 closed

[2017-04-22 16:43] DaleMcGrew commented on #744
Thank you @nickelser this is really helpful!

[2017-04-22 16:43] #744 closed

[2017-04-22 16:45] DaleMcGrew commented on #776
Thank you @clapinton for your excellent work on this. I am closing this for now given your work on react-headroom, although we might open it again later.

[2017-04-22 16:45] #776 closed

[2017-04-22 16:46] DaleMcGrew commented on #676
Great work!

[2017-04-22 16:46] #676 closed

[2017-04-22 16:46] DaleMcGrew commented on #584
I am going to close this issue and weave a fix into a refactoring of this feature I will be doing soon.

[2017-04-22 16:46] #584 closed

[2017-04-22 16:48] DaleMcGrew commented on #525
For now we will rely on getting picked up by search engines dynamically.

[2017-04-22 16:48] #525 closed

[2017-04-22 16:49] DaleMcGrew commented on #154
I am closing this for now until someone wants to actively pick it up and work on it.

[2017-04-22 16:50] DaleMcGrew commented on #249
Closing this issue since we will be developing Facebook cards as part of some new sharing features.

[2017-04-22 16:50] #249 closed

[2017-04-22 16:51] DaleMcGrew commented on #441
I am closing this as an active issue.

[2017-04-22 16:51] #441 closed

[2017-04-22 16:51] DaleMcGrew commented on #594
We won't be tackling this issue at the current time.

[2017-04-22 16:51] #594 closed

[2017-04-22 17:02] DaleMcGrew opened #797 "Change Support/Oppose "at" state in ItemActionBar"
In /js/components/Widgets/ItemActionBar.jsx, after a voter has selected "Support" or "Oppose", we show just the selected position:
<img width="123" alt="screen shot 2017-04-22 at 9 58 26 am" src="https://cloud.githubusercontent.com/assets/7756031/25306461/5b22ff30-2742-11e7-9c3b-d515900cd01f.png">

- [ ] Instead, leave both Support/Oppose options visible, but with the selected state highlighted.
-

[2017-04-22 17:04] DaleMcGrew commented on #256
Resolved.

[2017-04-22 17:04] #256 closed

[2017-04-23 05:41] Anoninnyc commented on #797
Hi @DaleMcGrew, so I think I have a working solution to this which  I'm going to refine before I submit PR, let me know if [this video](https://youtu.be/utvEZsh_qPE) demonstrates desired behavior,  (obviously not desired highlighting, I'm sure).

I also wanted to clarify some things:
1. You want the PositionDropdown component removed, correct?
2. If you have a preference, how would you like me to

[2017-04-23 05:48] Anoninnyc commented on #797
also... you'll notice that my computer is very slow.

[2017-04-23 11:46] DaleMcGrew commented on #797
Thank you Chris, for now you can just make the support thumb icon take the green, and the oppose take the red.

[2017-04-23 11:47] DaleMcGrew commented on #797
And please leave the PositionDropdown component in the repo for now.

[2017-04-23 18:10] Anoninnyc commented on #797
@DaleMcGrew, - got it, thanks

[2017-04-23 22:57] ixley commented on #797
I appreciate the simplicity of the updated component but I'm unclear on the intent here. My original understanding was that once a user selects a position, we aren't trying to encourage them frequently change their position. This updated approach seems to remove friction for changing your position, but I'm unclear on the value it provides in doing so. @DaleMcGrew could you clarify this for me?

If

[2017-04-24 21:42] DaleMcGrew commented on #797
Hi Jeff, thank you for your question. Cara, Samantha and Randy all argued for the benefits of simplifying the support/oppose selection process on the ballot page. This implementation needs more visual design, but until we finish that design, this pull request gives us a chance to see how it feels.

[2017-04-24 21:57] DaleMcGrew commented on #797
Hi @Anoninnyc, this component is used on the ballot page as well as on the Candidate and Measure pages. On the ballot page the "at" states are visible. When you are a candidate's page (or a measure page), the click functionality works, but there isn't a visual "at" state on the "Support" and "Oppose" buttons (the wider format).

[2017-04-25 14:55] DaleMcGrew commented on #797
I fixed this by adding the highlight_thumb_green and highlight_thumb_green to the item-actionbar.

[2017-04-25 14:55] #797 closed

[2017-04-26 20:21] ixley commented on #784
Hey @abasalilov - are you still actively working on this? I saw your note that you hit a wall with the element-queries approach. It's possible that's just not the best way to integrate with the current way our grid framework is setup (mixed with using Bootstrap and classnames for styling). I have another idea for addressing this with flexbox (just an idea - not validated yet) but wanted to check t

[2017-04-26 23:34] DaleMcGrew commented on #787
Great work Eric! Fixed.

[2017-04-26 23:34] #787 closed

[2017-04-27 00:39] ixley opened #804 "Headroom miscalculates header height (due to dropdowns)"
### The issue
It appears that the replaced Headroom.js (via #787) introduces issues with detecting the header height. Loading or refreshing the page locally (not currently on production) commonly miscalculates the header height and assigns an inappropriately large value, creating a big spacing gap. This appears to be related to including the height of the dropdown menus in its calculation (perhaps

[2017-04-27 05:15] ixley commented on #804
looks good on my end.

[2017-04-27 05:15] #804 closed

[2017-04-28 17:17] DaleMcGrew opened #811 "Create modal that gives more information when you click support or oppose the first time"
Create new modal called SupportOrOpposeHelpModal in /js/routes/Ballot/Ballot.jsx, similar to CandidateModal.

Trigger modal with function call “_openSupportOrOpposeHelpModal” in /js/components/Widgets/ItemActionBar.jsx when voter clicks on either support or oppose, similar to _toggleCandidateModal.

[2017-04-30 03:10] DaleMcGrew opened #812 "In Modal popup for organization on Ballot, "Follow" button cannot be clicked"
### Please describe the issue (What happens? What do you expect?)
On the ballot page (Address: Oakland, CA 94602), prior to signing in, there are a number of organizational icons. When you hover over them, some of them have a problem with the Follow button. The Follow button on some of them cannot be clicked along the left side of the button. The clickable area is obscured for some organizations.

[2017-04-30 03:47] #784 closed

[2017-04-30 16:40] ixley commented on #227
@DaleMcGrew This looks like it has been addressed. On a related note – tabbing typically only jumps to links and buttons, so text that has a click handler attached, but has no `href` will not work. On /ballot, notice that tabbing catches the 'office' text links but not the candidate ones.

[2017-04-30 17:01] DaleMcGrew commented on #227
Hi @ixley, @nickelser is still working on this. We got it working on all browsers except Safari, and Nick tracked down a possible fix that he is working on.

[2017-04-30 17:08] ixley commented on #227
ah okay - sorry about that.

On Sun, Apr 30, 2017 at 10:01 AM, Dale John McGrew <notifications@github.com

[2017-04-30 19:47] Anoninnyc commented on #812
@DaleMcGrew I'm having trouble replicating this problem... is this in mobile view only? In addition, I signed out, and can't find "Alameda County Green party" on my ballot even after setting address as"Oakland, CA 94602". Is this problem occurring on [this ](https://wevote.us/AlamedaGreens)page?

[2017-04-30 20:27] Anoninnyc commented on #812
I'd like to work on this, should I be able to replicate the problem...

[2017-04-30 21:12] Anoninnyc commented on #757
@DaleMcGrew Do you think this X-machine compatibility issue could be solved by Docker? Just putting it out there (never used Docker myself, and maybe it would be overkill if only using to solve this one issue).

[2017-05-01 05:42] ixley opened #816 "Remove React Burger Menu"
Is Burger Menu still being used for anything or can we remove it?
cc @DaleMcGrew

[2017-05-01 14:10] DaleMcGrew commented on #816
Hi Jeff, I don't think we are using the Burger menu any more. I think you can remove it (assuming nothing breaks of course.)

[2017-05-01 14:15] DaleMcGrew commented on #757
Hi @Anoninnyc, you are welcome to try Docker. We discovered that the watchify/browserify problem we saw on Mac also existed for our Linux developers.

[2017-05-02 19:59] ixley commented on #812
This is basically what's happening.
![pasted_image_5_2_17__12_39_pm](https://cloud.githubusercontent.com/assets/160662/25635894/7ff736ba-2f34-11e7-835a-c4e59bab9930.png)

At a high level, things that were constructed as components are being used in contexts that weren't originally anticipated without being updated.

In this specific case, the text container is essentially overlapping with part of

[2017-05-02 20:07] ixley commented on #812
A longer term fix would be to adjust sizing for this specific component – a smaller image and maybe a wider popover would be relatively small adjustments. I don't want to advocate for duplicating components with minimal differences though. An ideal solution might be better abstracted components to allow for slight variations like this.

[2017-05-03 15:04] #812 closed

[2017-05-04 16:49] DaleMcGrew opened #820 "Add ability to save/update First and Last name on Account page"
### Please describe the issue (What happens? What do you expect?)
On this Account page: https://wevote.us/more/sign_in
We want to add the ability for a voter to add or update their First and last name using the voterUpdate API call.

Designs here:
https://app.moqups.com/DaleMcGrew/7Wt7cMiS6G/view/page/ac5b0960a

Note: It should auto save after voter has stopped typing for 1-2 seconds. Ideally we c

[2017-05-11 01:47] DaleMcGrew commented on #439
Great first version Anisha!

[2017-05-11 01:47] #439 closed

[2017-05-11 02:05] DaleMcGrew opened #827 "Ballot page: "read more" link before "learn more""
Currently next to each candidate on the ballot page is a "learn more" link. We want to introduce a preliminary step where you can click "read more" to unfurl some basic information about the candidate first (the same information that shows on the candidate's page). Once the additional information is "unfurled" and shown, the "learn more" link should appear at the end of the additional candidate in

[2017-05-11 02:35] DaleMcGrew opened #828 "Network page: Error when you click on "Invite Friends" link"
1. Click on Network top nav
2. Click on "Invite Friends" button
3. This error appears in console log:
Uncaught TypeError: _FacebookStore2.default.facebookInvitableFriendsList is not a function
    at new InviteByEmail

[2017-05-11 03:55] smokymcbear commented on #828
In short, **SyntaxError**.

In js/routes/Friends/InviteByEmail.jsx, `this.state.facebook_invitable_friends_list` was pointing to `FacebookStore.facebookInvitableFriendsList()`.

After digging around FacebookStore.js, there was no class method of `facebookInvitableFriendsList` but there was a `facebookInviteableFriends` on line 80. So before I had to dive deeper, I just adjusted the syntax properly

[2017-05-11 13:56] #828 closed

[2017-05-13 14:05] pertrai1 commented on #757
@DaleMcGrew Long time no talk in this project for myself. I am wondering why there was the introduction of watchify? Would help to put into context the exact use case of the need for it in this project.

[2017-05-13 14:14] pertrai1 opened #834 "App Freezes Browser from Donate Page"
### Please describe the issue (What happens? What do you expect?)

* Go to Donate
* Click on the User icon
* Expecting to see sign in option right away
* Does not show up so I try to click on WeVote
* Not able to do any user interactions until the event loop catches up to perform sign in dropdown

[2017-05-13 14:17] DaleMcGrew commented on #757
Great to hear from you Rob! I just updated the description with more details: "We introduced Watchify in order to cut down the built time from ~30 seconds to ~4 seconds. This made the iterations much quicker, which was a benefit to developers. But we had to remove the watchify module because since introduction of watchify module, ~ every other time a change is saved, its omitted in hot-reloaded ve

[2017-05-13 14:47] pertrai1 commented on #757
@DaleMcGrew might be time to change over to Webpack.

[2017-05-13 18:23] DaleMcGrew commented on #834
Thank you @pertrai1 for reporting this. I am not able to reproduce this. Can you share the browser and computer you were using? Do you have any tips of what might be happening from the console log? cc'ing @SailingSteve

[2017-05-13 20:16] pertrai1 commented on #834
Yes it is Edge on Microsoft Surface. No issues that are showing in the console.

[2017-05-14 22:42] SailingSteve commented on #834
Hi,
    There is an "known" issue where maybe, if you donate without logging
in or if Watchify refreshes the app while you are on the donation, you
get an endless stream of retrieveVoter requests from the browser (~ 2
per second), until the browser freezes up.  I think I saw it from the
beginning of my working on the project, on Chrome.   I'll dig into it
tomorrow.

Steve Podell

On 5/13/17 1:16 P

[2017-05-14 23:01] DaleMcGrew commented on #820
Great work Bharath!

[2017-05-14 23:01] #820 closed

[2017-05-14 23:08] pertrai1 commented on #834
@SailingSteve @DaleMcGrew This seems to be a edge case that happened yesterday while I was playing around with the app. Right now I am trying to reproduce in Edge on the Surface and I am not able to reproduce. I am going to go ahead and close.

[2017-05-14 23:20] DaleMcGrew commented on #834
Thank you Rob, but I think it is enough of an issue that we should fix it.  I appreciate you reporting it!

[2017-05-14 23:24] pertrai1 opened #835 "Mixed Content over HTTPS"
I was playing around with the search and noticed the messages coming in the console about mixed content being served over https. To avoid this issue you can remove `http` or `https` from the url of the source for the image. So for example, instead of

[code]

You can just do:

[code]

Notice that for the `src` the `http` is left out. This way you let the browser determine how to serve the asset ov

[2017-05-15 20:31] DaleMcGrew opened #836 "Simulate an iframe on "facebook_invitable_friends""
### Please describe the issue (What happens? What do you expect?)
We just got a first version of "Choose Facebook Friends" working. Currently all of your friends appear in a long vertical list.
![screen shot 2017-05-15 at 1 25 58 pm](https://cloud.githubusercontent.com/assets/7756031/26077778/1ecf08c0-3972-11e7-99b8-354f87c2cdac.png)

We need an HTML/CSS expert to make these changes:
- [ ] Make th

[2017-05-15 21:15] #816 closed

[2017-05-15 21:31] ixley commented on #154
Reviewing https://github.com/styleguidist/react-styleguidist as an option...

[2017-05-16 15:48] DaleMcGrew opened #841 "Implement Welcome Page Designs"
We have a new design for a We Vote welcome page that needs to be implemented at WebApp/src/js/routes/Welcome.jsx. We are looking for an HTML/CSS developer to take this on. Please let @dalemcgrew know if you are interested in this. These are the preliminary designs, and cut up art assets are available:
![welcome_mockup_v9](https://cloud.githubusercontent.com/assets/7756031/26115243/47223eb2-3a14-11

[2017-05-16 16:52] DaleMcGrew commented on #811
Great work Bharath!

[2017-05-16 16:52] #811 closed

[2017-05-16 16:54] DaleMcGrew commented on #835
Thank you @pertrai1! We just implemented an image caching system so all images will be hosted https from our AWS CDN account. These errors will go away when we've finished migrating all of the photos.

[2017-05-16 16:54] #835 closed

[2017-05-16 17:10] DaleMcGrew opened #842 "Introductory modal (4 screens) on first visit to the Ballot page"
Please see these designs (4 screens):
https://app.moqups.com/DaleMcGrew/tjOpLBaseC/view/page/abca4865f

We want to have this modal show *over* the ballot page the very first time you arrive at /ballot
It should include the ability to click "next" through 4 different modal screens.
Create a flag in voter.interface_status_flag to keep track of whether the voter has seen the modal or not.

[2017-05-16 17:38] DaleMcGrew commented on #836
Some ideas for how to do this from searching for "bootstrap scroll box":
http://stackoverflow.com/questions/19639842/bootstrap-3-scrollable-div-for-table
http://getbootstrap.com/css/#code-block
http://www.quackit.com/html/codes/html_scroll_box.cfm
https://www.bootply.com/qdLCAlG9fm

[2017-05-17 09:57] DaleMcGrew commented on #734
Fixed!

[2017-05-17 09:57] #734 closed

[2017-05-17 22:46] Jayadev6191 commented on #836
@DaleMcGrew You don't need an iframe to get this working. Adding an IFrame will introduce a lot of complexity, for example sharing props from parent component to the iframe component can be a little tricky.

The better solution would be to have div container with a fixed height and making it scroll with overflow-y property.  This DIV container will have the entire friends list.

[2017-05-18 18:52] SailingSteve commented on #834
Not sure, but the endless loop of "/apis/v1/voterRetrieve/" calls with a bad voter_device_id seems to happen when you are transpiling with Watchify and BrowserSync updates the running JavaScript.

[2017-05-20 01:36] DaleMcGrew opened #852 "facebook_invitable_friends: search box needed"
We have implemented a "Choose Facebook Friends" interface.

Add a search box that filters down the list of possible friends based on a search for friend's name.

See the design here: https://app.moqups.com/DaleMcGrew/EdffBLTLBI/view/page/aa31ff480

### Steps to reproduce the problem (1, 2, 3...), including links
1. Make sure you have the Facebook APP key in your local dev environment (Reach out to

[2017-05-20 01:37] DaleMcGrew commented on #836
This is now working! Thank you to everyone who contributed ideas, and to @jainanisha90 for implementing.

[2017-05-20 01:37] #836 closed

[2017-05-20 01:51] DaleMcGrew commented on #842
First version committed. Thank you @bharathdn!

[2017-05-20 01:51] #842 closed

[2017-05-22 22:04] SailingSteve opened #854 ""Your Mission" modal pop up opens at wrong time"
In a new session, login with Twitter, end up at http://localhost:3000/ballot, and you get the new "Your Mission" modal pop up.
The x button will not dismiss the modal.
Stepping through all the "Next" buttons, gets you to a "See your ballot" button that does nothing.
You have to manually change the URL in the browser to get unstuck.

[2017-05-22 22:06] DaleMcGrew commented on #854
Thank you Steve -- Bharath is working on a fix right now.

[2017-05-23 12:40] DaleMcGrew commented on #852
This works great! Thank you @bharathdn.

[2017-05-23 12:40] #852 closed

[2017-05-23 12:52] DaleMcGrew commented on #854
Fixed.

[2017-05-24 00:05] SailingSteve commented on #854
I updated with the latest from upstream/develop a few hours ago.
In a new session if you click the Sign in icon, the the Sign in with twitter, click the authorize app button, you get the twitter redirecting, then the wheel, then end up on http://localhost:3000/ballot
where you get the non-dismissable "Your Mission" dialog.

It may actually be dismissing, and immediately coming back, there is a fli

[2017-05-24 00:27] SailingSteve commented on #854
Found some more changes, checking.

[2017-05-24 00:31] SailingSteve commented on #854
My mistake

[2017-05-24 00:31] #854 closed

[2017-05-24 13:04] RohanVB opened #858 "Enter address where you are registered to vote: contains worldwide countries"
Under normal conditions, we would only have addresses within the United States.

When we run the webapp locally, by `npm start` the initial prompt on `http://localhost:3000/settings/location` allows users to view/enter world-wide locations.

![screen shot 2017-05-24 at 6 31 24 pm](https://cloud.githubusercontent.com/assets/15197846/26404393/5e559718-40af-11e7-83ee-c3fa7818e368.png)

[2017-05-25 02:11] DaleMcGrew opened #859 "In Ballot Introduction modal, the final "Get Started" button doesn't close the modal"
In Ballot Introduction modal, the final "Get Started" button doesn't close the modal

[2017-05-25 02:51] nickelser commented on #227
the problem actually stems from the default safari behavior -- which doesn't match any of the other browsers.

this SO answer describes the solution: https://stackoverflow.com/a/1914496

we could notify safari users that they should change their settings, but i assume that anyone who has accessibility needs and uses safari would already have it enabled.

i recommend actually not changing any code

[2017-05-25 02:51] #227 closed

[2017-05-25 03:13] DaleMcGrew opened #860 "Choose election modal: buttons should be same width"
Upcoming election(s) and Prior election(s) buttons should all be the same width, with text centered.
<img width="638" alt="screen shot 2017-05-24 at 7 46 44 pm" src="https://cloud.githubusercontent.com/assets/7756031/26434326/ff4c0208-40bc-11e7-8852-ea2c493093ca.png">

This component is in WebApp/src/js/components/Ballot/BallotElectionList.jsx

[2017-05-25 03:36] DaleMcGrew opened #861 "Bookmark explanation modal"
On the ballot page (in a component we can place everywhere a voter sees a bookmark), create a modal that explains what a bookmark is the first time you click it.

<img width="610" alt="13_friends_committee_on_national_legislation_-_we_vote" src="https://cloud.githubusercontent.com/assets/7756031/26434864/19376222-40c0-11e7-8158-c4f9ebdb5312.png">

This can be implemented using the "VoterStore.getI

[2017-05-25 16:20] DaleMcGrew opened #862 "Create a second layer of navigation to js/Navigation/HeaderBar.jsx"
While a new voter is getting acquainted with We Vote, we would like to include a horizontal bar directly below that current header. This bar will include links to initial tutorials, but can default to "/ballot" for now. These links should be: Issues, Organizations, Stance, Friends, Share, Vote
The bar should slide up at the same time the current header bar slides up.

This is the mobile mockup:
![

[2017-05-25 16:45] DaleMcGrew opened #863 "Add list of ballot items to js/Components/Navigation/BallotLeft.jsx"
To the left of the Ballot (in desktop mode) we want to show a list of all of the offices and measures (no candidates) that are on the ballot so that voters can jump quickly down to an office or measure. Please include an "anchor tag" when you click the office name or measure name.

The code powering this left component is js/Components/Navigation/BallotLeft.jsx