[2016-01-30 16:23] DaleMcGrew opened #2 "Ability for voter to save address"
When you come to We Vote, check to see if there is an address saved from voterAddressRetrieve API:
https://api.wevoteusa.org/apis/v1/docs/voterAddressRetrieve/

If there isn't an address already saved, retrieve the "best guess" address from: https://api.wevoteusa.org/apis/v1/docs/voterLocationRetrieveFromIP/
...and then save the address found "voterLocationRetrieveFromIP" with:
https://api.wevoteu

[2016-01-30 17:15] DaleMcGrew opened #3 "Ballot Candidate Page, Create & Style"
This is the page you click through to when you click on a Candidate's name from the Ballot list.
src/js/routes/Ballot/Candidate.jsx
- [x] Add Organization placeholder icon, web_app/assets/fonts/icon-org-placeholder-6_2.svg
- [x] If the organization has a logo (as displayed on the "More Opinions" or "Opinions I Follow" pages), show that instead of the placeholder.
- [x] Comment out the link on the

[2016-01-30 17:16] DaleMcGrew opened #4 "Candidate - One Position Page, Create & Style"
http://localhost:9090/ballot/candidate/2/org/27 (web_app/app/containers/ballot/BallotCandidateOnePositionPage.jsx)
- [ ] Like/Share icon positioning: Make the horizontal spacing of each action even relative to each other.
- [ ] Adjust the size of the text. Adjust the color of the text to be gray, even on roll-over.

[2016-01-30 17:23] DaleMcGrew opened #5 "Ballot Major Navigation style tweaks"
components/Navigator.jsx Styling
- [x] For the "Ballot", "Requests", "Connect" and "Activity" icons that are NOT selected (in both mobile and desktop mode), please make the navigation icons (and text links) gray instead of blue, with text underline on roll-over and darker gray for both text and icon
- [x] Do not use roll-over on the "selected" icon (as it currently works)
- [x] Create an "at" stat

[2016-01-30 17:56] DaleMcGrew opened #6 "Organization Page, Create & Style"
Correct Invision link here: https://projects.invisionapp.com/share/2R41VR3XW#/screens/94226088
File location: /src/js/routes/Guide/PositionList.jsx
In interface: http://localhost:3000/guidepositions/wv02org111

[2016-01-30 17:57] DaleMcGrew opened #7 "Organization Page - One Position, Create & Style"
Jeff (@ixley) is finishing up a new design for this, item 5.2. This is the current design brief: https://docs.google.com/document/d/1xlaUN6FyjKSp8lgctH5fC3bgOEYmpNqbyU8nBsm9vEY/edit#

[2016-01-30 17:58] DaleMcGrew opened #8 "More Opinions - Filter for One Candidate"
On the main ballot page, the More Opinions page takes you to a list of all Voter Guides that relate to any item on this ballot. This is great. What we need to add is this:
When you are on one candidate's page, clicking on the "More Opinions" should only offer the Voter Guides that have a position relating to that particular candidate. This is the API end point to use, and to example candidates to

[2016-02-04 03:10] DaleMcGrew opened #9 "Install Bootstrap Social CSS for Social Sign In Buttons"
Hi Rob, I would like to use these buttons for our social sign in pages:
https://lipis.github.io/bootstrap-social/

Could you please set up our style sheet(s) show these styles?
You can see test buttons here:
WebApp/src/components/Facebook/FacebookSignIn.jsx
WebApp/src/components/Facebook/FacebookDisconnect.jsx

Which can be seen on this page:
http://localhost:3000/more/sign_in

[2016-02-04 05:03] pertrai1 commented on #9
@DaleMcGrew What sign in options are going to be available? Facebook and Twitter?

[2016-02-04 05:18] DaleMcGrew commented on #9
Facebook, Twitter and Gmail for now. -Dale

Dale John McGrew
Co-founder, We Vote USA
dale.mcgrew@wevoteusa.org
www.WeVoteUSA.org <http://wevoteusa.org/>
415-516-8777
Twitter: @WeVoteUSA <https://twitter.com/WeVoteUSA>

On Wed, Feb 3, 2016 at 9:03 PM, Rob Simpson <notifications@github.com>
wrote:

[2016-02-04 13:31] DaleMcGrew opened #10 "Failed to decode downloaded font: http://localhost:3000/fonts/app-fonts.woff"
Hi Rob, with the 'develop' branch this morning (Feb 4, 2106) I am getting these two errors:
Failed to decode downloaded font: http://localhost:3000/fonts/app-fonts.woff
OTS parsing error: invalid version tag

[2016-02-04 13:40] DaleMcGrew commented on #10
This problem went away after I restarted gulp. Our new build environment doesn't automatically pick up changes.

[2016-02-04 13:40] #10 closed

[2016-02-04 14:38] pertrai1 opened #11 "Improve watch in Gulp task"
Gulp does not always see the changes and pick them up.

[2016-02-04 14:44] nf071590 commented on #10
Dale, so no. The build watches changes to src/index.html, src/js/** (all
js?x files), and src/sass/**/*.scss... I do not think that index file will
update in build after changes... The build environment does automatically
pickup changes just not for some directories that do not change often but
this will change.

Best,

Nick

On Thu, Feb 4, 2016 at 8:40 AM, Dale John McGrew <notifications@github.c

[2016-02-06 22:44] pertrai1 commented on #9
@DaleMcGrew Please code review and let me know also if there are any views that I have missed.

[2016-02-07 04:52] pertrai1 commented on #9
@DaleMcGrew I am going to close this now that the icons have been implemented.

[2016-02-07 04:52] #9 closed

[2016-02-11 07:06] DaleMcGrew opened #13 "Desktop mode: Ballot items dropping below the More Menu"
In desktop mode, the ballot items often drop beneath the left-hand "More" menu.

<img width="448" alt="screen shot 2016-02-10 at 11 03 42 pm" src="https://cloud.githubusercontent.com/assets/7756031/12971004/95f7ca6e-d04a-11e5-827b-11c942c8602f.png">

[2016-02-11 09:59] pertrai1 commented on #13
@DaleMcGrew Yes there are some major UI additions that will be added to stabilize the front end in the next couple of days. Hopes are to have them done for review on Saturday.

[2016-02-11 16:15] pertrai1 commented on #11
@nf071590 When you have time can you help the watch task. For some reason when I change a jsx file it does not build when watching

[2016-02-12 17:58] DaleMcGrew opened #16 "Get API server to use voter_device_id from WebApp"
We need to pass the voter_device_id from a cookie in the voter's browser, over the wire to the API server. The API server won't have access to the voter_device_id cookie from the WebApp running in the browser. If we pass voter_device_id as a GET variable, routers that pass along the URL will show the voter_device_id, which needs to remain secret. Do we need to convert all API calls to POST, so the

[2016-02-12 18:09] nf071590 commented on #16
No we can send it with the cookies. That is how we send all the requests so
far... They send the csrf Middleware token along with some other cookies to
the server on every request.
On Feb 12, 2016 12:58 PM, "Dale John McGrew" <notifications@github.com>
wrote:

[2016-02-12 18:36] nf071590 commented on #2
I reassigned this to me... I will begin work today...

[2016-02-12 18:48] nf071590 commented on #11
This has been fixed

[2016-02-12 18:51] nf071590 opened #17 "Multiple issues with More Menu component"
In desktop mode, the more menu pushes all the other components to the bottom.

Also, when in mobile view; More Menu hamburger icon displays more menu but clicking it again does not close the menu. There is no way to close the more menu when in mobile view.

[2016-02-12 19:30] DaleMcGrew commented on #16
Hi Nick, if you remove your "voter_device_id" cookie (this cookie is created every time you visit "https://api.wevoteusa.org"), and then try to use the WebApp, you get a cross-domain error. When we were all working on localhost, we didn't see this error. I think this is caused because api.wevoteusa.org doesn't have access to the locahost cookie that the WebApp sets. I don't think we want to set a

[2016-02-12 20:45] DaleMcGrew commented on #17
When the hamburger icon is clicked in mobile mode, please display a slide out more menu (populated from the "src/js/components/MoreMenu" component) that only fills ~250px of the left side of the screen. When you click anywhere to the right of the slide-out (or if you click the hamburger icon again), the more menu should slide off the screen.

[2016-02-12 20:55] DaleMcGrew opened #18 "Preload "More Opinions" & "Opinions I'm Following""
Currently when you go to the "More Opinions" or "Opinions I'm Following" pages, it takes 3-4 seconds to load the opinions. I would like to call VoterGuideStore.initialize and load this data from the API server right after the ballot is loaded, so the voter doesn't perceive a loading delay.

[2016-02-13 13:28] pertrai1 commented on #17
@nf071590 @DaleMcGrew - I created a pull request that should be handling this issue now. Dale, your comment about the hamburger should be a different issue created.

[2016-02-13 13:34] DaleMcGrew opened #21 "Convert "More" page to slide-out menu"
When the hamburger icon is clicked in mobile mode, please display a slide out more menu (populated from the "src/js/components/MoreMenu" component) that only fills ~250px of the left side of the screen. When you click anywhere to the right of the slide-out (or if you click the hamburger icon again), the more menu should slide off the screen.

[2016-02-13 13:36] pertrai1 commented on #17
merged #20

[2016-02-13 13:36] #17 closed

[2016-02-13 13:49] DaleMcGrew opened #22 "Header navigation transitions at different width than More Menu (hamburger and major icons)"
The responsive switching between mobile and desktop, turns on the More menu (on the left) at a different page-width than when the header/footer navigation changes.

[2016-02-13 13:54] DaleMcGrew commented on #13
Closing Issue #17 solved this. Thank you!

[2016-02-13 13:54] #13 closed

[2016-02-13 13:56] pertrai1 commented on #22
@DaleMcGrew Please take a screenshot so I can see this. I am not able to reproduce without the steps.

[2016-02-13 14:00] DaleMcGrew commented on #22
1. View the ballot in desktop mode.
2. Slowly narrow the width of the browser.
3. At right around 680px wide, the left navigation "More" menu goes away, but the header navigation doesn't switch down to the footer navigation until you narrow the browser about 5-10 more pixels.
![screen shot 2016-02-13 at 5 56 29 am](https://cloud.githubusercontent.com/assets/7756031/13028000/ac23bf5a-d216-11e5-8150

[2016-02-13 14:08] pertrai1 commented on #22
@DaleMcGrew I do see this very small difference. With all else that needs to go into Version 1, can this be pushed to after since it will be rare that someone will encounter this.

[2016-02-13 14:11] DaleMcGrew commented on #22
Yes, that's fine! I created a new milestone for issues we want to push off.

[2016-02-13 14:12] pertrai1 commented on #22
@DaleMcGrew perfect. Working on the bigger UI issues will be the main focus for these next few weeks.

[2016-02-13 14:17] DaleMcGrew opened #24 "Ballot List: Candidate name and support/oppose drop below photo"
1. Go to http://localhost:3000/ballot and make sure you see candidates
2. Shrink the browser width down to mobile size so the navigation is along the bottom of the screen
3. The Candidate name and "1 support  1 oppose" text is dropping below the photo, and should be to the right of the photo and candidate name (like it is in desktop mode)
![screen shot 2016-02-13 at 6 17 06 am](https://cloud.githu

[2016-02-13 15:21] pertrai1 commented on #24
Check pull request #25

[2016-02-13 16:14] DaleMcGrew opened #28 "PROCESS: Discuss procedure for approving pull requests"
Rob's proposal: If a pull request gets 2 thumbs up - it can be merged

[2016-02-13 16:35] lisamcho opened #29 "Error with voter_device_id"
When loading the root url, I get error logged to console:

Uncaught (in promise) Object {voter_device_id: "tAPbsZ8RlToFeproGtair2P6yW41scZDizoQbwpVt9vLXQjwGIRj3PtNcWZoymQEVSOOI5XEAgyZ9vbZiMngOSLu"}.

Tracing back it seems to be a problem with this code in service.js:
res.body.status is undefined, so it errors out.

return new Promise(function (resolve, reject) {
    return request.get(opts.WE_VOTE

[2016-02-13 16:38] pertrai1 commented on #29
@nf071590 Do you have any suggestions about this issue?

@lisamcho If you have any code to change this to work, please do so and when the pull request is there we can code review

[2016-02-13 16:40] pertrai1 commented on #28
@nf071590 @lisamcho If you agree or disagree with this process, share your thoughts on moving forward.

[2016-02-13 16:43] pertrai1 commented on #24
merged #25

[2016-02-13 16:43] #24 closed

[2016-02-13 16:45] pertrai1 commented on #18
@lisamcho Can you take a look at this?

[2016-02-13 16:45] pertrai1 commented on #11
:+1:

[2016-02-13 16:45] #11 closed

[2016-02-13 16:47] nf071590 commented on #29
Hey Lisa, I'll be working on this today. Dale is going to modify the
endpoints also to deal with some of this logic. We don't get a success =
true back which is why it throws and error.
On Feb 13, 2016 11:35 AM, "Lisa Cho" <notifications@github.com> wrote:

[2016-02-13 16:52] pertrai1 opened #30 "Base shell with concept of views"
@DaleMcGrew @nf071590 - I believe that we should have a base shell for the app and only certain views will change. Get away from the concept of pages and rather think in views. For example, on the ballot you have a base shell and the only thing that happens when you go to a candidate is that the candidate list view goes to a candidate view. By doing this we are limiting the changes of the view for

[2016-02-13 16:54] pertrai1 commented on #29
@nf071590 will take this one and work with @DaleMcGrew

[2016-02-13 18:39] DaleMcGrew opened #32 "Warning: flattenChildren(...): Encountered two children with the same key"
1. In WebApp, visit "More Opinions" page
2. Navigate back to Ballot
3. Visit "More Opinions" page again
4. You will see these "flattenChildren" errors in the browser console log

Warning: flattenChildren(...): Encountered two children with the same key, `.$wv02vg6`. Child keys must be unique; when two children share a key, only the first child will be used.

![screen shot 2016-02-13 at 10 17 52 am

[2016-02-15 19:28] pertrai1 commented on #30
@DaleMcGrew @nf071590 - with no discussion going on with this, I am going to close and discussion can strike up again in the future.

[2016-02-15 19:29] pertrai1 commented on #28
Approved

[2016-02-15 19:32] pertrai1 opened #34 "Update README for WebApp Only"
@DaleMcGrew @nf071590 Should we update the README so it only shows the steps to get the webapp started locally since it is now hitting external end points? At the bottom of the README we can have a link to the backend that someone can head over to that repo and fork if they want to have the backend locally.

[2016-02-16 02:00] pertrai1 commented on #4
@DaleMcGrew I am going to close this issue because I am not able to find this file anymore

[2016-02-16 02:08] pertrai1 commented on #5
@nf071590 Do you know how to do this with the routes? I am not able to get the regular CSS to match the selected or active href

[2016-02-16 02:11] pertrai1 commented on #6
@DaleMcGrew From the mockup, I believe that this is the correct view that has been styled from #36

[2016-02-16 02:13] pertrai1 commented on #8
@DaleMcGrew #6, #7, and this one all the look same to me in the wireframes. Possibly add more information as to what should be added.

[2016-02-16 04:52] DaleMcGrew commented on #34
Hi Rob, yes we will want to update the README, but I want to do this after our upcoming version 1 Milestone.

[2016-02-16 04:59] DaleMcGrew commented on #30
I agree with you Rob, I just suggest we hold off talking about this until we are past Version 1.0

[2016-02-16 05:02] DaleMcGrew commented on #28
I think requiring only one Admin to approve a pull request is enough. It would be ideal if we can have code reviews not hold up the acceptance of a pull request, but encourage code reviews. I think it would be to discuss this after version 1.0.

[2016-02-16 05:04] DaleMcGrew commented on #4
We can implement this page in version 1.1 (we can skip it for version 1.0), but it is still an outstanding task. I need to bring this page into the WebApp repository.

[2016-02-16 05:10] DaleMcGrew commented on #6
Hi Rob, somehow I pasted the wrong Invision link above, and need to run right at the moment. I still need to migrate the Organization page (with the basic page layout so you can style it) into WebApp.

[2016-02-16 06:08] lisamcho commented on #28
Hey,

I have some code for the candidate page, but I am confused about the git
process. Are the guidelines on Contributing.md now ok to use or should I
continue doing it the old way (push to a new branch, then pull request)?

Thanks!

On Mon, Feb 15, 2016 at 9:02 PM, Dale John McGrew <notifications@github.com>
wrote:

[2016-02-16 06:15] DaleMcGrew commented on #28
Hi Lisa, we have not completed the transition to the new process, so you
are welcome to push to a new branch and then do a pull request.

Thank you!

-Dale

Dale John McGrew
Co-founder, We Vote USA
dale.mcgrew@wevoteusa.org
www.WeVoteUSA.org <http://wevoteusa.org/>
415-516-8777
Twitter: @WeVoteUSA <https://twitter.com/WeVoteUSA>

On Mon, Feb 15, 2016 at 10:08 PM, Lisa Cho <notifications@github.com

[2016-02-16 07:10] lisamcho commented on #18
I think the main reason that this is slow is that there is a loop of callbacks which initiates a separate API call for each item in a list, and it waits for the last API call to finish before displaying data. My 2 cents -- Don't we also want to enable directly navigating to root/more_opinions? May be better idea to load the list, display whatever data is available immediately, then have the other

[2016-02-16 11:53] pertrai1 commented on #18
@DaleMcGrew I think that @lisamcho is right in that we can throttle the calls so the first can be returned immediately while the others will be requested responses based on actions if I am not mistaken?

[2016-02-16 12:00] pertrai1 commented on #28
@DaleMcGrew @lisamcho @nf071590 - The company I work for it closed today because of weather conditions here in VA. If you want to have a hangout to learn more about the branching techniques for Git, let me know and we can set one up.

[2016-02-16 12:01] pertrai1 commented on #6
@DaleMcGrew - Ok, I am available most all day today so we can catch up and look at the 50% left to do for this version 1 release. :

[2016-02-16 12:03] pertrai1 commented on #4
@DaleMcGrew Ah, must be one of those that did not get pulled in during the transition? Thanks for reopening so we have a history of what needs to be done.

[2016-02-16 12:06] pertrai1 commented on #34
Ok, I will delete my pull request #37

[2016-02-16 16:21] DaleMcGrew commented on #3
I am reopening since we are still working on building out this page. Lisa is checking in another version.

[2016-02-16 16:48] lisamcho commented on #28
Thanks Rob! I could really use help with git. Today is probably not going
to work for me, are you also free tomorrow by chance?

On Tue, Feb 16, 2016 at 4:00 AM, Rob Simpson <notifications@github.com>
wrote:

[2016-02-16 20:24] DaleMcGrew commented on #16
I have been researching this and testing some changes to no avail. Can I get someone's help with debugging this (I'm open to pair programming)? It is hard to tell if we aren't sending the right headers from WebApp, or if the API server has CORS set up correctly so we can see incoming cookies from other domains.

Notes:
* API SERVER COOKIE ONLY: Currently, if you have a voter_device_id cookie set u

[2016-02-16 22:10] pertrai1 commented on #16
@DaleMcGrew @nf071590 Maybe just setup JSONP to handle the issue with a callback that will take care of the security issue and then handle the request/response -  https://www.wikiwand.com/en/JSONP

[2016-02-16 22:14] DaleMcGrew commented on #16
Thanks Rob, Nick and I are working on this right now. We are switching things to pass the voter_device_id as a GET variable.

[2016-02-17 01:34] DaleMcGrew commented on #6
Basic framework in place. Need styling and population with live data.

[2016-02-17 01:35] DaleMcGrew commented on #16
@nf071590 @DaleMcGrew pair programmed and decided to just pass the voter_device_id as a GET variable. Live server is up to date now, and as soon as we have updated all of the WebApp endpoints to pass voter_device_id as a GET variable, we will be able to close this.

[2016-02-17 03:06] lisamcho opened #46 "Can't load ballot page"
Hmmmm, after pulling down the latest changes, the ballot page doesn't seem to load the list of candidates anymore. In previous versions when you just go to the root url or localhost:3000/ballot, the candidates appear after a brief delay, but now the spinner displays perpetually. The VoterGuideStore is not being initialized??

[2016-02-17 14:18] nf071590 commented on #46
Hey Lisa, this may be my fault. I’m going to see if I can revert changes to the VoterStore because I didn’t mean to check them in. I’m not sure what is going on with the VoterGuideStore.

[2016-02-17 15:57] DaleMcGrew commented on #29
As soon as Issue #46 is completed, we should be able to verify that this issue is fixed.

[2016-02-17 16:24] DaleMcGrew opened #48 "Add 'Refresh Voter' to VoterStore"
In order to get the sign in features to work, we need a way to call the API endpoint voterRetrieve and have the fresh data update '_voter' in the VoterStore. I can do this after Issues #46, #16 and #2 are resolved.

[2016-02-17 18:32] nf071590 commented on #46
I'm going to push through the issues I create a fix. Beginning work now... Apologize for any inconveniences... Possibly try and checkout a version before the change that broke this if you need access to the ballot page.

[2016-02-17 18:48] DaleMcGrew commented on #46
You are a rock star Nick! Thank you.

[2016-02-18 03:49] lisamcho opened #51 "Reconcile service.js functions"
There are functions in service.js such as "candidatesRetrieve" that seem to be duplicated by BallotAPIWorker in BallotStore.js
Needs to delete the ones we are not using.

[2016-02-18 04:24] DaleMcGrew commented on #46
We added a line to utils/service.js to automatically included voter_device_id with every call to any endpoint. If a full address in Virginia is saved (which can't be done from WebApp yet, see Issue #2) you will now see a full ballot.

[2016-02-18 04:24] #46 closed

[2016-02-18 06:51] DaleMcGrew commented on #29
Given the latest code in the develop branch, I was not able to reproduce this bug. I think it is fixed.

[2016-02-18 06:51] #29 closed

[2016-02-18 06:53] DaleMcGrew commented on #32
Hello Raph, I was able to reproduce this bug again in the latest version in the "develop" branch.

[2016-02-18 06:53] DaleMcGrew commented on #16
This issue is now resolved.

[2016-02-18 06:53] #16 closed

[2016-02-18 07:05] DaleMcGrew commented on #2
Hi Nick, I don't think its a good idea to store the voter's address (or the voter_id) in a cookie, but should instead use the VoterStore (in memory) as the single source for the location to display. I have seen scenarios over the years where data stored "temporarily" in cookies can quickly get out of sync with the live data, and this creates debugging nightmares.

[2016-02-18 14:06] nf071590 commented on #51
Hey Lisa, we should be migrating towards jQuery $ajax function. I will work on cleaning up these requests.

[2016-02-18 14:07] nf071590 commented on #32
@DaleMcGrew can you check the database and verify that there aren't two entries with the same we_vote_id?

[2016-02-18 14:09] nf071590 commented on #46
@DaleMcGrew now that the VoterStore is updated, we should be able to save address easily. I will commit code for this.

[2016-02-18 14:09] DaleMcGrew opened #52 "Discuss javascript method name prefix standards"
I'd like to propose that we take some time (no rush) when we are on a call together to discuss function name standards. I propose:

- retrieve for pulling data from permanent store (i.e., reaching out to an endpoint) (ex/ retrieveVoterObject)
- get for getting a value from local store (ex/ getVoterObject)
- save for saving to permanent store (i.e., saving to an endpoint) (ex/ saveVoterGuide)

[2016-02-18 14:12] nf071590 opened #53 "Address doesn't fit on top"
When address is populated in the header region, it goes beneath the icons to the left

[2016-02-18 14:13] DaleMcGrew commented on #32
@nf071590 The database enforces unique=True on the we_vote_id field in class Voter. My guess is that the way we are adding values to this variable "let _voter_guide_store = {};" (somewhere in /js/stores/VoterGuideStore.js) doesn't overwrite the prior value, like it would in a classic array, but instead tries to add another entry with the same key, leading to this error.

[2016-02-18 14:19] nf071590 opened #54 "Cannot pull ballot items from the server"
(https://files.slack.com/files-pri/T02GXHKU0-F0MUQRF28/pasted_image_at_2016_02_18_09_17_am.png)

Going to be troubleshooting and debugging this...

[2016-02-18 14:24] nf071590 opened #55 "Multiple requests for the same org data"
My network tab shows 3-5 requests for each unique organization on the more opinions page.

![network duplicate requests](https://cloud.githubusercontent.com/assets/7058732/13145941/657c9c52-d621-11e5-87d8-3bde2a290e8e.jpg)

[2016-02-18 16:46] DaleMcGrew opened #57 "Remove cookies for storing temp data"
Remove these cookies, and any dependencies on them: location, voter_id
Instead of using the cookies, reference the data in the VoterStore.
Leave these cookies in place: voter_device_id, voter_api_device_id

[2016-02-18 17:13] nf071590 commented on #53
I would prefer to put the location/address on the left of all the icons and let the icons float up against the right border and stay flush

[2016-02-18 19:09] DaleMcGrew opened #61 "Check in documentation suggestion: npm test"
nf071590 [10:45 AM]
We should add a step for committing. developers should run `npm test` before `git push —set-upstream origin my-branch` to make sure their code passes the build proccess. This alleviates issues for failing pull requests.(edited)
maybe also add references for eslint documentation to help resolve issues.

dalemcgrew [10:48 AM]
That makes a lot of sense. Perhaps in README_WORKING_W

[2016-02-19 00:27] lisamcho opened #62 "Opinions page has lots of setState warnings"
Load localhost:3000/opinions. Click some buttons.
Warning: setState(...): Can only update a mounted or mounting component. This usually means you called setState() on an unmounted component. This is a no-op. Please check the code for the undefined component.

[2016-02-19 01:22] lisamcho commented on #3
I think this is resolved, correct? Close out?

[2016-02-19 01:38] DaleMcGrew commented on #3
Hi @lisamcho I'd like to leave this issue open until the page is totally ready for the deadline. It looks great -- you did awesome work. Do you want to keep working on a few items on this page before I start making tweaks? I will add specific check-marked items that need attention in the Issue description.

[2016-02-19 01:51] nf071590 commented on #54
This can be closed, it was due to my address.

[2016-02-19 01:51] #54 closed

[2016-02-19 01:54] lisamcho commented on #3
Sure. go ahead and add issues and I will take a look. I know the candidate
page is missing the long blurb of text describing each person. I don't
actually know where in the API that can be found.

On Thu, Feb 18, 2016 at 5:38 PM, Dale John McGrew <notifications@github.com>
wrote:

[2016-02-19 01:57] DaleMcGrew commented on #3
The description of each candidate will be coming from Ballotpedia and Wikipedia, but our scraper isn't ready yet for prime time.

[2016-02-19 02:37] lisamcho commented on #3
What should I do about the timestamp? Right now it's dummy text "Yesterday at 2:18pm" Should that actually be the 'last_updated' field of positionRetrieve? It's hard to tell right now because that field always returns empty string with the data in the db right now.

[2016-02-19 03:18] DaleMcGrew commented on #3
Yes, it should be the last updated field. I will look into why it's returning  an empty value.

[2016-02-19 16:53] DaleMcGrew opened #65 "npm test: check more folders"
It seems like `npm test` is only checking certain folders for lint errors. Add all folders with code we want to verify. Does not seem to pick up .jsx files.

Specific folders that don't seem to be included:
/src/js/components
/src/js/routes

We might want to exclude:
/src/js/mock-data

[2016-02-19 22:03] #48 closed

[2016-02-19 22:45] DaleMcGrew commented on #2
I do believe we have a working first version of voter address save. As we need changes to address saving, we can enter new issues.

[2016-02-19 22:45] #2 closed

[2016-02-19 22:46] DaleMcGrew commented on #55
We can fix this after we complete version 1.

[2016-02-19 22:47] DaleMcGrew commented on #18
We can address this after hitting the Version 1 MVP.

[2016-02-19 23:41] lisamcho commented on #3
Question for team - Given a list of positions which contain the organization we_vote_id, I need the logo photo url for each organization. This information is in the organizationRetrieve API. I am currently storing the positions in the PositionStore. The easiest to implement solution would be to call the organizationRetrieve from within the PositionStore, and save the url as an attribute of each po

[2016-02-19 23:44] pertrai1 commented on #3
@lisamcho If all of the logic is stored in one place, I believe that it should be broken apart so that we keep the single responsibility and have the modules as small as possible.

[2016-02-19 23:49] DaleMcGrew commented on #3
Hi Lisa, organizations are pretty tightly coupled with voter guides, so I would recommend using VoterGuideStore, specifically the getOrganizationByWeVoteId method. If the "More Opinions" page hasn't been visited by the time you are listing positions, you could call VoterGuideStore.initialize when you need organization logos. Happy Friday!

[2016-02-19 23:52] pertrai1 commented on #3
@DaleMcGrew why would the organizations be tightly coupled with guides? Should we not have organization, voter, guides, etc. that stand alone and don't have to know anything about each other?

[2016-02-19 23:53] lisamcho commented on #3
getOrganizationByWeVoteId method only returns the org if it's already fetched. Do I really want to fetch all the organizations on the CandidateDetail page if they're not already loaded? VoterGuideStore also has no way of retrieving just one Organization.

[2016-02-19 23:54] lisamcho commented on #3
How many organizations will there be total?

[2016-02-19 23:59] DaleMcGrew commented on #3
If this method hasn't been called already, you can call VoterGuideStore.initializeGuidesFollowed and it will only retrieve the organizations that the voter is following.  There is definitely room for optimization in the coming weeks!

[2016-02-20 00:03] pertrai1 commented on #3
@DaleMcGrew Is there some type of UML that shows how all of the API's / data stores interact?

[2016-02-20 00:04] lisamcho commented on #3
Hmmm, ok, maybe we need to discuss on Saturday. This could be a bug, but it
seems that positionListForBallot item is retrieving organizations that I
have never followed, whereas the API page says it retrieves "A list of all
positions (support/oppose/info) for this Ballot Item (Office, Candidate or
Measure) from organizations, friends, and public figures this voter
follows."  I definitely never cli

[2016-02-20 00:08] DaleMcGrew commented on #3
I noticed that glitch with Hillary Clinton too and I think that is a bug. I will look into it. For now while testing, if you first visit the "opinions I follow" page, and then look at the positions, the organizations should be populated in the voter guide store so you can display logos.

[2016-02-20 00:53] lisamcho opened #67 "Ballot does not load when navigating from candidate page"
If you load the Ballot, then navigate to Candidate page, and then back to Ballot you are fine.
If you load the web app starting with the Candidate Page or refresh the page while you're on the Candidate Page (which fetches a single candidate), then navigate to the Ballot, the Ballot does not initialize. This is because the Ballot initialize method checks for a length of zero before fetching all the

[2016-02-20 10:25] pertrai1 opened #68 "Ballot not loading: If Ballot is empty tell voter to enter address"
I am working on another laptop and started up the app. When I went to the app I continued to get the loading spinner without any notice of why it continued to load. The response looks like so:

[code]

[code]

[code]

For any UI that there is no feedback or there is no data retrieved for one reason or the other, we should think about a timeout letting someone know possible reasons as to why we cou

[2016-02-20 11:18] #61 closed

[2016-02-20 11:19] pertrai1 commented on #53
:+1:  On alignment of location

[2016-02-20 11:20] pertrai1 commented on #52
@DaleMcGrew @nf071590 @lisamcho I believe it should be as simple as `getVoterObject` and `setVoterGuide` as examples. We are using getters and setters so starting functions with `get` and `set` are a normalized standard

[2016-02-20 11:21] #34 closed

[2016-02-21 00:13] pertrai1 commented on #53
@DaleMcGrew Do you want me to do anything with the ellipsis on this before end of this milestone?

[2016-02-21 00:15] DaleMcGrew commented on #53
Might as well -- we need to solve the problem of long addresses very soon. Thanks.

[2016-02-21 00:16] pertrai1 commented on #5
@DaleMcGrew what is the status of this? If it has to do with the routes handling state for changing the UI, might want to have @nf071590 or @lisamcho take a look at this in the next couple of days before the milestone deadline.

[2016-02-21 00:17] nf071590 commented on #5
sure I can take a look at this now. Do you have different icons?

[2016-02-21 00:18] pertrai1 commented on #5
@nf071590 No just need to add a class for the active state and we can give the icon a color of blue and the other 3 can be grey

[2016-02-21 00:19] pertrai1 commented on #53
Ok, position it in the center as well?

[2016-02-21 00:26] DaleMcGrew commented on #53
Either of these (whichever is easier, or in this order of preference if equally easy/difficult):
1) centered between "My Ballot" and the 4 icons
2) ~100px to the right of "My Ballot"

[2016-02-21 00:29] DaleMcGrew commented on #5
@pertrai1 yes this is still needed. Thank you @nf071590

The state of each icon is based on which route you are in.
Ballot icon: In <Route path="ballot
Requests icon: In <Route path="requests"
Connect icon: In <Route path="connect"
Activity feed icon: In <Route path="activity"

[2016-02-21 00:56] #53 closed

[2016-02-21 00:56] pertrai1 commented on #5
Great. I change assignee to @nf071590

[2016-02-21 04:45] DaleMcGrew opened #75 "If “Opinions I’m Following” is empty, redirect to “More Opinions”"
If the voter hasn't followed any organizations yet when they visit the "Opinions I'm Following" page, redirect to the "More Opinions" page. Ideally we would also show a message after the redirect to the "More Opinions" page ("You are not following any organizations or people yet. Please follow those that match your points of view."), but this can wait until we get our messages framework in place.

[2016-02-21 04:48] DaleMcGrew opened #76 "Make "Follow" and "Ignore" buttons work on More Opinions page"
On the "More Opinions" page page:
*) When you click "Follow" it should toggle to "Following"
*) When you click "Following" it should toggle to "Follow"

[2016-02-21 08:09] #5 closed

[2016-02-21 16:21] pertrai1 commented on #65
This has been fixed with #78 pull request

[2016-02-21 16:21] #65 closed

[2016-02-21 16:24] pertrai1 commented on #21
@DaleMcGrew Can this be closed?

[2016-02-21 16:34] DaleMcGrew commented on #21
Yes!

[2016-02-21 16:34] #21 closed

[2016-02-22 08:15] pertrai1 commented on #68
Changing to @nf071590 for capacity reasons to get done before EOD tomorrow - 23rd. @lisamcho already has the other 2 issues left in this milestone.

[2016-02-22 08:50] pertrai1 commented on #75
Completed with #80 merge

[2016-02-22 08:50] #75 closed

[2016-02-22 09:49] pertrai1 opened #81 "Start of unit test integration"
This will start with simple tests that can be worked on with hopes that eventually each commit will come with a test to demonstrate that it will not break the app.

We will use a very simple test names Tape. You can look at the package.json for more information.

[2016-02-22 15:53] lisamcho commented on #3
Saw the commit to add images and dates. Close this out?

[2016-02-22 15:54] lisamcho commented on #68
This is the redirect issue correct? Believe that it is already addressed.

[2016-02-22 15:59] DaleMcGrew commented on #3
Would you prefer we add checkbox items that we need to iterate on, to this existing Issue, or close this issue and open new Issues? (I don't have the latest version -- its been a busy last 24 hours -- but an example of something that needs work on that page is adding template level date formatting for position.last_updated since it was in an unfriendly format.)

[2016-02-22 16:15] lisamcho opened #84 "How to handle saving of address with no Google Civic Election"
I have redirected the 'Ballot' page to the address page when the ballot is empty, but there is still an issue...

If I delete all my browser cookies on localhost, it redirects and prompts to enter an address as expected. If I enter 2208 Ebb Tide Rd, Virginia Beach, VA, the page loads the ballot as expected.

If I enter the default San Francisco CA (or my full, valid home address in San Francisco),

[2016-02-22 16:15] lisamcho commented on #3
In terms of process, no strong preference either way. Was just checking in
to see what next highest priority item was for me to work on, now that
redirect is addressed (albeit without messages).

On Mon, Feb 22, 2016 at 7:59 AM, Dale John McGrew <notifications@github.com>
wrote:

[2016-02-22 16:55] DaleMcGrew commented on #84
Great point Lisa, it would be helpful to redirect to a component or route where we could create a custom page for this situation. The message on this page can be for now:
"Our data providers don't have ballot data for your address yet. Please check back 1-2 weeks before your election day."

[2016-02-22 17:03] DaleMcGrew commented on #68
Thank you @lisamcho and @nf071590. When we get our messages framework set up we will want to give an explanation for the redirect, but this Issue can be considered closed.

[2016-02-22 17:03] #68 closed

[2016-02-22 17:04] DaleMcGrew commented on #22
You nailed it Rob. Thank you.

[2016-02-22 17:04] #22 closed

[2016-02-23 02:09] lisamcho commented on #84
To review and close?

[2016-02-23 10:16] pertrai1 commented on #81
This has been started and will continue on throughout the development of the application.

[2016-02-23 10:16] #81 closed

[2016-02-23 10:17] pertrai1 commented on #3
@DaleMcGrew @lisamcho I would accept what would have been the requirements for this issue/story and open a new one for 1.1.

[2016-02-23 13:46] DaleMcGrew commented on #3
Thank you Lisa, you nailed it. We have a working version ready for Version 0.9.

[2016-02-23 13:46] #3 closed

[2016-02-23 13:48] DaleMcGrew opened #92 "Discuss policy for code comments"
There have been some questions about when to leave or remove comments in the code. Let's discuss.

[2016-02-23 13:51] DaleMcGrew commented on #84
Thank you Lisa, what you have implemented is ready for Version 0.9.

[2016-02-23 13:51] #84 closed

[2016-02-23 13:52] DaleMcGrew commented on #67
I confirmed that this is working now.

[2016-02-23 13:52] #67 closed

[2016-02-23 14:00] DaleMcGrew opened #93 "Sign in page doesn't have access to VoterStore (sometimes)"
I am no longer able to see the Facebook information needed to operate the Facebook sign in. Lisa, I think your changes with this pull request might have caused this. Can you please take a look?:
https://github.com/wevote/WebApp/pull/91/files

1. Visit the ballot
2. Click the Hamburger in the upper left, or use the navigation on the left side
3. Choose "Sign In" or "Account Settings"
4. You should

[2016-02-23 14:13] DaleMcGrew opened #94 "pre-commit check blocking check-ins"
I am no longer able to check in with PyCharm, and when I check in with the command line, files get picked up that I don't intend to check in. Would it be possible to resolve these errors early today (by removing the pre-commit test) so we can check in more easily today? In general I would prefer that we implement procedure once we hit Version 1.0.

Error:Native thread-sleep not available.
This wil

[2016-02-23 14:17] DaleMcGrew commented on #62
Since your most recent check in Lisa, I have not been able to reproduce this bug.

[2016-02-23 14:17] #62 closed

[2016-02-23 14:53] DaleMcGrew opened #95 "Your support (or opposition) should be more visible"
Main Ballot (In /src/js/components/ItemActionbar): If you have Supported a candidate, change the color of the up-arrow to green (red for down-arrow) and bump up the size of the word "Support" (or "Oppose") slightly.
Candidate Page (In /src/js/components/ItemActionBar2): If you have Supported a candidate, change the color of the up-arrow to green (red for down-arrow).

[2016-02-23 14:54] lisamcho commented on #93
Yes, I am sorry. I made the same change a bunch of places and clicked around to make sure nothing broke but I failed to re-test logging in/and out. All the more reason why we should start writing tests like Rob suggests :) Bug is in main.js:

But now how do we change this given that it's already merged? Should I make the change in a new branch and create a pull request or is there a way to edit my

[2016-02-23 14:55] DaleMcGrew commented on #93
No worries. New pull request is fine!

[2016-02-23 15:04] lisamcho commented on #93
I am able to resolve the setState warnings on Facebook login/logout and get rid of the  "Uncaught TypeError: listener must be a function" error.

Was there already an  error: FB.login() called when user is already connected.? I don't see an issue/bug filed in Github but it looks vaguely familiar.

[2016-02-23 15:05] DaleMcGrew commented on #93
Hi Lisa, yes that FB.login() error was already there. I will create an issue for that.

[2016-02-23 15:25] DaleMcGrew opened #97 "Facebook Login State Error: FB.login()"
This is related to Issue #93 (which happens if you refresh the page while on the Sign On screen), but is not a currently breaking warning.

1. Start not signed in on the ballot page
2. Go to the "Sign In" page
3. Click Sign In with Facebook
You will see a FB.login() error in the console

[2016-02-23 16:09] DaleMcGrew opened #98 "Hillary Clinton: 18 support, 11 oppose"
When I visit Hillary Clinton's candidate page:
http://localhost:3000/candidate/wv02cand1
I see 18 support and 11 oppose, even though I've only followed about 10 orgs. This is an issue with the API server and we have a bug for that:
https://github.com/wevote/WeVoteServer/issues/82

[2016-02-23 16:39] nf071590 commented on #76
Starting this now.

[2016-02-23 16:51] lisamcho commented on #93
OK, I think this can be closed as my fixes have been merged in.

[2016-02-23 17:27] DaleMcGrew commented on #93
Hi Lisa, I renamed this because the cause is different, but the symptoms are the same. I have bumped this to Version 1.0 since it only surfaces if you refresh on the sign in page. Thank you!
1. Visit http://localhost:3000/ballot
2. Visit "Sign In" and Sign in with Facebook: http://localhost:3000/more/sign_in
3. Refresh this page: http://localhost:3000/more/sign_in
4. The VoterStore is not initiali

[2016-02-23 18:08] DaleMcGrew opened #100 "Change Address -> No Ballot -> Address in header doesn't update"
1. Visit the Ballot page
2. Enter a valid address "2208 Ebb Tide Rd, Virginia Beach, VA 23451"
3. You are taken to the Ballot and see all of your ballot items
4. Go to "My Ballot Location" and update the address to an address that doesn't return ballot items, like "Oakland, CA 94608"
5. You are redirected to http://localhost:3000/ballot/empty but the address in the header doesn't update (it should

[2016-02-23 18:22] DaleMcGrew opened #101 "Multiple ballots for one voter: Allow single-click switching"
Let voters save and switch between multiple ballots, whether they be from this or prior elections. We can discuss the interface when it is time to implement. @lisamcho has updated the back end to work with an array of elections already.

[2016-02-23 18:58] DaleMcGrew opened #102 "City, State ZIP is not enough info to retrieve full ballot"
Since City, State ZIP (what we get from Geocoding) is not enough info retrieve a ballot from the Google Civic API, @dalemcgrew will be creating the following system to make sure voters always get an actual ballot (if they are in an area where we are supporting), even before they provide their full address.

Functional sequence:
1. Voter visits wevote.me, geolocation works and returns "City, State

[2016-02-23 19:01] DaleMcGrew commented on #94
I can work with this for now. It would be good to get this resolved as we fix bugs leading up to version 1.0, but it can wait if it must until Version 1.1.

[2016-02-23 19:12] nf071590 commented on #94
Dale, comment out line (or remove) with “pre-commit” in package.json. That should fix the issue.

[2016-02-23 19:27] DaleMcGrew commented on #94
Thank you Nick, I'll give that a try.

[2016-02-23 20:35] lisamcho commented on #93
Hmmm, that's odd. I don't see any error about VoterStore not being initialized while following those steps.   I get the FB.login() error. Can you doublecheck your steps to reproduce?

[2016-02-23 20:36] lisamcho commented on #102
Yes, I think that is a better approach. Please feel free to remove my code with the EmptyBallot route.

[2016-02-23 20:38] DaleMcGrew commented on #93
You need to do a browser refresh when you are on this page http://localhost:3000/more/sign_in
To clarify, this doesn't need to be finished today (today is Version 0.9) -- we are targeting Monday for all Version 1.0 features.

[2016-02-23 20:41] DaleMcGrew commented on #102
I think even when this feature (#102) is done, we will still need the EmptyBallot routine you created. There will be many areas of the country that won't have ballot data at any particular time which will need EmptyBallot. Issue #102 just makes sure we always deliver a ballot in regions we are supporting.

[2016-02-23 20:48] DaleMcGrew commented on #93
To clarify, there isn't an error printed to the console log. I can just tell by looking at the screen that the VoterStore data hasn't been brought into the browser.
![screen shot 2016-02-23 at 12 47 16 pm](https://cloud.githubusercontent.com/assets/7756031/13266169/9c475840-da2b-11e5-8e04-24e734efb383.png)

[2016-02-24 00:49] DaleMcGrew commented on #76
@nf071590 requested https://github.com/wevote/WeVoteServer/issues/86 so Ignore can be implemented.

[2016-02-25 00:41] lisamcho commented on #93
Hmmm, still can't replicate. I navigate to the page, click 'sign in with Facebook' and it immediately populates the signed_in_personal, signed_in_facebook, and we_vote_id. I refresh the page multiple times and those values are still populated. I click 'Disconnect from Facebook', and it immediately clears the fields, and then they stay clear as I refresh the page. Are you clicking the gray buttons?

[2016-02-25 01:03] lisamcho opened #105 "Inconsistency in data retrieving"
There's tons of calls to retrieve data from the API but the app is very inconsistent in terms of how information is passed, where API calls to fetch data are made, how the views update themselves.  Can we discuss the advantages/disadvantages and standardize it? Not sure what pattern to follow because there's so many in the app. Also it just makes it harder to work with when it's not consistent.

1

[2016-02-25 01:07] nf071590 commented on #105
Yeah Lisa, I agree.

The initial work patterns have been variable, as you noticed. I’ve been experimenting...

There’s a lot of architectural work that needs to be done in my opinion; Backend and front-end.

Should we discuss this on Saturday?

Nick

[2016-02-25 01:52] DaleMcGrew commented on #105
@nf071590 Can you create a brief cheat sheet of the WebApp code that you think we should be emulating for now, vs what we shouldn't? For example, you had said that we were moving away from API Worker, and that was helpful for me to know.

[2016-02-25 15:20] nf071590 commented on #105
I think that Opinions should generally make a network request every time a user navigates to the Opinions route when the store doesn't have 20 orgs in it... This way the user can grab a more Orgs to *follow* or *ignore* and remove them from the Org store.... Does that make sense?

[2016-02-25 15:36] nf071590 commented on #105
@DaleMcGrew Yeah, i'm working on some framework level stuff, been experimenting and prototyping with FluxStore and I will let you know when I have what I think is a good pattern. I'm not sure if there is a 1 size fits all answer to the project but I'll be brainstorming more today...

I wasn't expecting everyone to follow the same pattern of BallotStore initially, I was trying to get something up a

[2016-02-25 15:36] DaleMcGrew commented on #105
@nf071590 I agree we should "freshen up" the data frequently, yes. Ideally when you retrurn to the "More Opinions" page, we would display the orgs that are already in the local VoterGuideStore before retrieving more, so the "Loading" swirl shows up at the bottom of the existing data, and voters don't have to wait. PS. great work on the Opinions page Nick!

[2016-02-25 15:36] nf071590 commented on #105
@DaleMcGrew thanks Dale!

[2016-02-25 17:15] lisamcho commented on #105
Thinking about this more and also listening to some talks, I like using the idea of waitFor, and thinking of data loading as being caused by user actions (just the same as the user action FOLLOW or UNFOLLOW). IE would could have the action START_APP, which is fired by just loading the thing. The VoterStore could subscribe to the event and fetch the Voter. The BallotStore could fetch the Ballot. Th

[2016-02-25 17:17] lisamcho commented on #105
My other comment is that a lot of dependencies are caused by the structure of the API (i.e. some only accept regular ID and type (CANDIDATE or MEASURE), whereas we only have WE_VOTE_ID. Hence I'd try to get the ID and type from the BallotStore to call an API and it would be empty, so I'd have to wait for something to finish fetching to get the ID and TYPE from the store, and then call the API. If

[2016-02-25 17:21] DaleMcGrew commented on #105
Thank you @lisamcho, I am in the process of making sure all API endpoints accept we_vote_id as an input variable. If you need any in particular now, please let me know.

[2016-02-25 17:21] lisamcho commented on #105
Another idea I heard at a tech talk and liked that I haven't used myself is separating presentational vs container components.  A lot of my components initialize their state to what they get by props, then setState onChange. The other idea is that you try to get as much of the data connectivity into the state of a container component (all fetching and setting of State), and then the subcomponents

[2016-02-25 17:22] lisamcho commented on #105
@DaleMcGrew yes that would be great!

[2016-02-25 18:48] nf071590 commented on #105
I think I found a really clean way to approach the initialization problem... I can check this into a new branch if anyone is interested in taking a look...

[2016-02-25 20:44] DaleMcGrew opened #106 "Candidate display on Ballot and Candidate page (Column changes)"
On the ballot (/src/js/components/Ballot/CandidateItem.jsx) and candidate pages (/src/js/routes/Ballot/Candidate.jsx) the photo and candidate name info are both in a “col-xs-6”. Since the photo doesn’t need as much room as the candidate name, I was hoping to change the photo div to use “col-xs-4”, and the candidate name to use “col-xs-8”. When I tried this, I discovered some responsive code that d

[2016-02-25 20:45] nf071590 commented on #106
See here: http://getbootstrap.com/css/#grid <http://getbootstrap.com/css/#grid>

[2016-02-25 21:13] lisamcho commented on #105
I'd like to see! @nf071590

[2016-02-25 21:41] nf071590 commented on #105
@lisamcho checkout the new flux-prototype branch, ballots are the only thing that has changed and I did not do any additional work but to load additional data etc. It only does one request to populate page.

checkout the files
src/js/dispatcher/dispatcher.js (to see the dispatcher prototype extension)
src/js/actions/BallotActions.js (to see init action, which dispatches the `loadEndpoint("ballotRe

[2016-02-25 22:12] nf071590 commented on #105
What I like about this approach is that it allows stores to subscribe to network requests and populate when they return... Also network errors,which could probably prove to be useful... Ex:

`try{
 Action.init()
} catch (e) {
// ERROR LOADING BALLOT
// handle error logic at ui level
}
`

[2016-02-25 22:22] nf071590 commented on #105
Or possibly subscribe components to error events and trigger them on a network error is another possibility

[2016-02-27 00:31] DaleMcGrew commented on #51
It looks like @nf071590 resolved this.

[2016-02-27 00:31] #51 closed

[2016-02-27 00:32] DaleMcGrew commented on #95
Resolved. Some additional rework will be required as we adjust to the split between Vote Smart ratings and actual voter guide endorsements.

[2016-02-27 00:32] #95 closed

[2016-02-27 00:39] #76 closed

[2016-02-27 00:40] DaleMcGrew opened #108 "Make "Following" and "Ignore" buttons work on "Opinions I'm Following" page"
- [x] On the "Opinions I'm Following" page, all of the "Follow" buttons should instead say "Following".
- [x] When you click "Following" it should remove the group from the "Opinions I'm Following" list
- [x] When you click "Ignore" it should remove the group from the "Opinions I'm Following" list and add it to the Ignore list

[2016-02-27 00:41] DaleMcGrew commented on #55
@nf071590 is this now resolved with the fix to https://github.com/wevote/WeVoteServer/issues/85 ?

[2016-02-27 00:44] DaleMcGrew commented on #106
What I am commenting on is a We Vote specific style change to "col-xs-8" that causes display problems.

[2016-02-27 00:51] DaleMcGrew commented on #32
It looks like this was resolved when this was fixed: https://github.com/wevote/WeVoteServer/issues/85

[2016-02-27 00:51] #32 closed

[2016-02-27 02:02] pertrai1 opened #109 "CLA Agreement"
I just pushed some code to the NFL repo and was cool because you have to sign a CLA. There is a great app that has been created for GitHub. https://www.clahub.com/

- [x] Update current version of our CLA here to have the "We Vote USA" name: https://www.clahub.com/agreements/wevote/WebApp

[2016-02-27 15:44] DaleMcGrew commented on #93
Verified fixed.

[2016-02-27 15:44] #93 closed

[2016-02-27 16:10] DaleMcGrew commented on #105
@nf071590 This sounds like a good approach. Great work!

[2016-02-27 16:11] lisamcho commented on #105
Hey this is really great! Having the ajax utility take care of creating an action when it returns with name of API endpoint is genius, that will save us a lot of time. I'm onboard with moving in this direction. What about you guys? @pertrai1

[2016-02-27 16:18] nf071590 commented on #105
The wait for method can hopefully help with endpoint dependencies but I'm
not sure how.
On Feb 27, 2016 11:11 AM, "Lisa Cho" <notifications@github.com> wrote:

[2016-02-29 14:25] DaleMcGrew opened #115 "Return key should submit, after entering address"
1. On 'Ballot Location' page, enter an address
2. Hit the "Return/Enter" key
3. The form should submit (currently you must click the "Save Location" button with your mouse to submit)

[2016-03-01 13:35] DaleMcGrew opened #116 "Voter guide display: Reduce vertical screen real estate"
http://localhost:3000/more/opinions/followed is powered by "routes/More/OpinionsFollowed.jsx"
This loads: /src/js/components/VoterGuide/VoterGuideItem.jsx

- [x] Recapture vertical space, so we can get more Voter Guides displayed above the page fold. Each voter guide should fit into a 100px vertical space. Return to earlier design with 3 "columns". Column 1: image (on the left), Column 2: an area

[2016-03-01 16:49] DaleMcGrew opened #118 "Update WebApp Script: Problem with npm start"
Nick's comment: "There's already a server running on port 3003, don't think you killed the previous process."

-----------------------
(WebAppEnv)root@ip-172-31-18-20:/home/wevote/WebApp# npm start

[21:48:41] Using gulpfile /home/wevote/WebApp/Gulpfile.js
events.js:154
     throw er; // Unhandled 'error' event
     ^

Error: listen EADDRINUSE :::3003
   at Object.exports._errnoException (util.js:

[2016-03-01 17:54] josephevans commented on #118
You can't just run "npm start" to start a new process -- you have to kill the previous process. All of this is  managed by the upstart service that makes sure the process is always running (and starts it on boot.)

We have a script /root/update_code that updates all the code from git and restarts the npm process.

If you just want to restart the npm process, run "service wevote-www restart".

Both

[2016-03-01 17:55] #118 closed

[2016-03-01 18:08] DaleMcGrew commented on #118
Thank you Joe.

[2016-03-01 18:17] DaleMcGrew commented on #118
BTW, I updated /root/update_code from `git pull` to `git pull origin develop` since we haven't pushed the latest version from develop to master yet.

[2016-03-01 19:09] josephevans commented on #118
Ok, thanks for taking care of that Dale!

[2016-03-02 16:22] DaleMcGrew commented on #94
This issue was resolved.

[2016-03-02 16:22] #94 closed

[2016-03-02 16:23] DaleMcGrew commented on #8
This is almost done. There is still some work to be done creating the link to this page, from the candidate page.

[2016-03-06 06:37] #30 closed

[2016-03-06 06:37] #92 closed

[2016-03-06 06:38] pertrai1 commented on #52
No milestone needed for this issue

[2016-03-06 06:39] #28 closed

[2016-03-06 06:42] pertrai1 commented on #105
The major refactor from @lisamcho and @nf071590 should handle this issue and if there are more that are needed, a new issue can be opened up that is based on the refactoring from that change.

[2016-03-06 06:42] #105 closed

[2016-03-12 15:37] pertrai1 commented on #116
@DaleMcGrew Can you add a wireframe reference to view please?

[2016-03-12 15:40] pertrai1 commented on #106
@DaleMcGrew This was done because of the layout that did not work when going from desktop to mobile view with the layout that is being used. Will have to be researched more with how using Bootstrap can handle this.

[2016-03-12 15:41] DaleMcGrew commented on #116
@pertrai1 Description text updated with this link: https://projects.invisionapp.com/share/2R41VR3XW#/screens/89479670

[2016-03-12 16:23] DaleMcGrew opened #123 "Header Top Navigation, Desktop: Lock top bar in place"
Desktop
- [x] Make the top bar (that says “My Voter Guide”) always remain in place, even when you scroll down the page. In mobile, top bar can continue to scroll out of the way as it does currently.
- [ ] Keep the navigation icons in the top right in place when you scroll down the ballot
- [ ] Strangely, when I have google chrome developer tools open, the top bar scrolls up as it does in mobile mo

[2016-03-12 16:32] DaleMcGrew opened #124 "Mobile "More" Menu: Make it disappear when you click the hamburger a second time"
1. View 'My Voter Guide' in mobile mode
2. Click the hamburger icon in the upper left of the screen
3. When you click outside of the menu, the menu should go away
- [x] Clicking the hamburger when the menu is open should close the menu
- [x] On an iPhone 6 on Safari, clicking outside the menu did not close it. (Please let me know if you need more details.)

[2016-03-12 16:45] lisamcho commented on #115
Fixed with 519f853

[2016-03-12 16:45] #115 closed

[2016-03-12 16:46] pertrai1 commented on #115
:100:

[2016-03-12 19:14] lisamcho commented on #100
Resolved!

[2016-03-12 19:14] #100 closed

[2016-03-12 20:23] pertrai1 commented on #123
Desktop and Mobile is not possible with 2 elements with the current react plugin being used. The Desktop is being pushed now.

[2016-03-13 09:59] pertrai1 commented on #106
@DaleMcGrew This has been fixed now with changing and using a custom `col-xs-8-container` so the regular Bootstrap `col-xs-8` works as it should.

[2016-03-13 09:59] #106 closed

[2016-03-13 11:49] pertrai1 commented on #124
@DaleMcGrew Take a look at this and test while drinking :coffee:

[2016-03-13 11:52] pertrai1 commented on #123
@DaleMcGrew Can we create a backlog milestone and put the second part of this with the submenu :question:

[2016-03-13 11:54] pertrai1 commented on #116
@DaleMcGrew Let me know after reviewing this pull request if I have corrected the appropriate views :ok_hand:

[2016-03-13 12:03] pertrai1 opened #131 "Ability to infinitely scroll candidates and organizations"
At this time this will be a POC starting with the ballot.

[2016-03-13 16:54] DaleMcGrew commented on #131
By POC do you mean "proof of concept"? Can you clarify what would be the successful completion of this Issue? (Thank you!)

[2016-03-13 17:17] DaleMcGrew commented on #116
Hi Rob, thank you for your changes on the "Opinions I'm Following" page:
http://localhost:3000/more/opinions/followed (implemented in "/src/js/components/VoterGuide/VoterGuideItem.jsx") They are the right direction. Here are some comments on your changes:
- [ ] I would like to preserve the icon in mobile mode. It can be smaller in mobile mode, if necessary.
- [ ] To save horizontal space, I think

[2016-03-13 17:20] DaleMcGrew opened #132 "Header Navigation: Submenu slide down anywhere on ballot"
Desktop & Mobile
- [x] When you are 1/2 way down the ballot page, and then scroll back up, make the “Add Friends” and “More Opinions” bar animate down into place (just after the “My Voter Guide” bar does currently. Right now this “Add Friends” and “More Opinions” bar doesn’t animate down unless you are near the top of the ballot

[2016-03-13 17:23] DaleMcGrew commented on #123
Done. Second part moved to Issue #132. I also added "Keep the navigation icons in the top right in place when you scroll down the ballot" to the opening description of this Issue.

[2016-03-13 17:35] DaleMcGrew commented on #124
I love it! Great work. One minor glitch, the menu doesn't close when you click the hamburger and should.
- [ ] Clicking the hamburger when the menu is open should close the menu

[2016-03-13 17:37] DaleMcGrew commented on #106
Thank you @pertrai1

[2016-03-13 17:38] DaleMcGrew opened #133 "Candidate display: Make photo use 33% width instead of 50% width"
On the ballot (/src/js/components/Ballot/CandidateItem.jsx) and candidate pages (/src/js/routes/Ballot/Candidate.jsx) the photo and candidate name info are both in a “col-xs-6”. Since the photo doesn’t need as much room as the candidate name, I was hoping to change the photo div to use “col-xs-4”, and the candidate name to use “col-xs-8”.

[2016-03-13 17:40] DaleMcGrew commented on #109
I think weaving this into our process would be great. Why is this labeled "invalid"? I changed to Version 1.1 but could be done anytime.

[2016-03-13 17:51] DaleMcGrew opened #134 "If Ballot is empty tell voter to enter address"
1. Clear your address
2. Go to ballot page
3. If no address has been saved, you should be redirected to http://localhost:3000/settings/location
PS. This problem was originally fixed with Issue #68, but was reintroduced after location cookie was refactored away.

[2016-03-13 17:56] DaleMcGrew commented on #102
There will be ongoing refinement to this, but this is now working.

[2016-03-13 17:56] #102 closed

[2016-03-14 16:36] pertrai1 commented on #123
@DaleMcGrew So we can go ahead and close this one?

[2016-03-14 16:36] pertrai1 commented on #116
@DaleMcGrew Perfect. I will work on these so we can get this completed.

[2016-03-14 16:38] pertrai1 commented on #131
@DaleMcGrew The implementation would start with adding to the ballot view where we have a threshold of how many candidates to show and then as a person scrolls, more and more will continue to show up. I don't know how many candidates could be expected on the ballot page, so if it will not be a huge amount, we can close this concept.

[2016-03-14 16:40] DaleMcGrew commented on #123
Hi @pertrai1 there are two refinements I added as checkboxes to the opening description of this Issue.

[2016-03-14 16:41] pertrai1 commented on #124
Ah yes, did not look at that case. Will make sure the icon is not caught behind the body listener

[2016-03-14 16:43] DaleMcGrew commented on #131
Ah, now I understand. This will be an awesome and useful feature, especially on the "More Opinions" page. I think showing the top 20 items on an initial load is a good start, and I am seeing ballots that have 50+ ballot items.

[2016-03-14 16:45] DaleMcGrew commented on #124
@pertrai1 I just added one more issue I found on a mobile phone to the opening description.

[2016-03-14 17:41] DaleMcGrew opened #135 "Mobile display too wide, iPhone Safari"
- [x] Many pages are too wide (and offer left/right scrolling) in an iPhone 6 in Safari. (Note: I think our minimum phone width should be iPhone 5) These include Ballot, Candidate, More Opinions
- [x] "1 positive (up arrow)" and "0 negative (down arrow)" should fit on one line (See attached photos, for both ballot page and candidate page)
- [x] We can reduce the candidate photo to ~66% of the curr

[2016-03-14 18:31] DaleMcGrew opened #136 "setState error with "More Opinions" and "Opinions I'm Following""
1. Go to https://wevote.me
2. Enter "Charlotte, NC 28205" as your address.
3. Go to your ballot. (You should see many presidential candidates.)
4. Click on "More Opinions" icon in top right.
5. "Follow" 4 or 5 orgs.
6. Go to "Opinions I'm Following" in the More menu
7. Click on the "More Opinions" icon and follow more orgs. I get this error in the console log:
Warning: setState(...): Can only upda

[2016-03-14 18:33] DaleMcGrew opened #137 "Loaded over HTTPS, but requested an insecure XMLHttpRequest"
Hi @josephevans and @nf071590 , I am noticing errors in the console log that seem related to load balancing and a timeout:
1. Go to https://wevote.me
2. Enter "Charlotte, NC 28205" as your address.
3. Go to your ballot. (You should see many presidential candidates.)
4. Click on "More Opinions" icon in top right.
5. "Follow" 4 or 5 orgs.
6. Wait 5-10 minutes.
7. Go to "Opinions I'm Following" in th

[2016-03-14 19:14] josephevans commented on #137
Does the React/Flux stuff support using headers for determining it's self URL (like we did with the Django side?)

The page itself is generating the links on where to go, so we either need to change them there or have the application support looking for and using headers inserted by the proxy.

[2016-03-14 20:26] DaleMcGrew commented on #137
@nf071590 what do you think?

[2016-03-15 01:54] lisamcho commented on #108
So you click "Following" and it means you unfollow an org? and the org disappears from the list (like the More Opinions view)? What is the "Ignore list"? Is that meant to be a separate route/page (next to Opinions I'm Following we would also have Opinions I'm Ignoring)?

[2016-03-15 02:31] DaleMcGrew commented on #108
@lisamcho when you visit the "Opinions I'm Following" page, all of the buttons should say "Following" instead of "Follow". When you click the "Following" button, it should remove the org from that list, but will then be available again on the "More Opinions" page. We don't currently offer a way to view the orgs on your "Ignore" list, but we will add that in the future.

[2016-03-15 02:50] DaleMcGrew commented on #108
Actually, when I look at the way Twitter does it, hovering over the "Following" button on the "Opinions I'm Following" page should show a red button that says "Unfollow". If you click it, I am fine with either: A) you stop following the org, and the org disappears from the page, or B) the button should revert back to "Follow", but the org doesn't disappear until you leave the page (that is, it is

[2016-03-16 17:15] lisamcho opened #139 "address validation"
Click on address and enter bogus text (i.e. asdf) and hit Save.
The backend saves the bogus address to text_for_map_search and now all attempts to fetch the ballot result in server errors.

VoterAddressSave should not save the address if it is not valid, return appropriate error message? Then address component can handle gracefully with message to user.

[2016-03-16 17:26] DaleMcGrew commented on #137
Hi @josephevans, can you look into configuring the React side to solve this problem?
I was looking through the nginx logs and wish I understood better how the routing works. (the following is from /var/log/nginx/access.log)
172.31.9.218 - - [16/Mar/2016:17:18:54 +0000] "GET /apis/v1/voterGuidesToFollowRetrieve/?voter_device_id=q8NneOJbEWS5EY7l6pQyEcPI2gXhVo7LaikAkpjl8OUoB9X5rkkHVKMBhaYfwg1b3YdbQzs

[2016-03-16 17:29] nf071590 commented on #139
How do you know that the user has typed in a bogus address? I’m not sure if there is a regex for that. Wouldn’t you have to search a DB for address?

[2016-03-16 17:49] lisamcho commented on #139
@nf071590 Agree, no regex for that. I suppose the frontend could validate for empty string, but all other invalid addresses probably need to be detected by backend.

[2016-03-16 17:51] DaleMcGrew commented on #139
The  API server accepts empty strings in case a voter wants to blank out their address for some reason.

[2016-03-16 18:16] josephevans commented on #137
Hi Dale,

The part you highlighted in bold (http://localhost:3000/opinions) is the HTTP referrer -- which means someone is running the ReactFlux server on their local machine, which references the api.wevoteusa.org URL. This should be normal.

I will see what config options I can make to have node.js generate the correct URLs.

[2016-03-16 18:45] nf071590 commented on #137
Browser sync is running because we never made a build system for
production. I think if you go to we.vote:3003 (or 3001) you could see all
the browsers connected to the server lol.
On Mar 14, 2016 2:33 PM, "Dale John McGrew" <notifications@github.com>
wrote:

[2016-03-16 18:49] DaleMcGrew commented on #137
Thank you @nf071590, I will create an issue for "Create Build System for WeVote.me". Do you have any suggestions for how Joe can solve these error prior to creating the build system?

[2016-03-16 18:51] DaleMcGrew opened #140 "Create Build System for WeVote.me"
@nf071590 and @josephevans have discussed refining our build system for posting WebApp on the live WeVote.me servers.

[2016-03-16 18:54] nf071590 commented on #137
Remove browsersync task from the gulp file.
On Mar 16, 2016 2:49 PM, "Dale John McGrew" <notifications@github.com>
wrote:

[2016-03-16 23:19] josephevans commented on #137
@nf071590 We should remove browsersync from the production git repo?

[2016-03-17 23:04] lisamcho commented on #108
So the merged pull request should resolve this issue. I just tagged as VerifyFix. How does this new system work am I supposed to assign it to someone else to verify the fix and close the issue?

[2016-03-17 23:06] lisamcho commented on #139
@Dale why would user want to blank out their address? Is this where the frontend is supposed to redirect to the Address page if you click on Ballot? Also API returns 500 error when you try to save "asdf" so that is definitely a change needed on backend right?

[2016-03-17 23:06] DaleMcGrew commented on #108
Thanks Lisa, you can add the VerifyFix tag and then add a quick comment like "@dalemcgrew this is ready to test." with the name of the person who entered the issue. I think it is also fine for others (aside from the person who checked in the fix) to verify most issues.

[2016-03-17 23:07] lisamcho commented on #134
So initialize is always guessing a location based on IP address right now, so I'm not sure when this is supposed to occur. When you say clear your address, that is actually enter a blank value and hit save in the address box?

[2016-03-17 23:09] lisamcho commented on #134
To be clear, I did not refactor away the location cookie. I think it still exists along with voter_id cookie. VoterStore in general probably needs refactoring, to be done as soon as backend CreateVoter api is fixed.

[2016-03-17 23:10] lisamcho commented on #108
Got it @DaleMcGrew this is ready to test!

[2016-03-17 23:11] lisamcho commented on #136
@DaleMcGrew ready to test!

[2016-03-17 23:12] DaleMcGrew commented on #139
As we add more features, a voter might want to use those other features without saving an address. They might feel uncomfortable sharing their address for some reason and want to erase it.

You are correct, if you click ballot and there is no address, it should redirect to the "My Ballot Location" page. I think it is ok to return success = true with a garbage address, because I added a variable "b

[2016-03-17 23:15] DaleMcGrew commented on #134
Thanks Lisa. createVoter API is fixed as of about 4 hours ago. The geolocation doesn't always return an address, so in cases like that A) we will get a blank address, and B) if a voter deletes their address from "My Ballot Location" and saves.

[2016-03-17 23:25] lisamcho commented on #139
So the 500 API Error was from the invalid voter, not related to this.
But to be clear.. You want user to be able to save their address as "asdf"? I think pretty much all websites I've used prevent you from saving junk as your address with an error message and leave your address as it was until you enter something valid. WeVote API currently saves "asdf" to the database which I find very weird.

[2016-03-17 23:29] DaleMcGrew commented on #139
Yes, for now we want the voter to be in total control of that address text. We can react to useless address text by giving feedback to the user. I know it is a different philosophy than most websites, but it is intentional. I am not able to reproduce an error saving asdf -- can you describe steps?

[2016-03-18 03:10] DaleMcGrew commented on #136
Verified!

[2016-03-18 03:10] #136 closed

[2016-03-18 03:10] DaleMcGrew commented on #108
Verified!

[2016-03-18 03:10] #108 closed

[2016-03-18 23:24] DaleMcGrew opened #141 "Following/Unfollowing orgs should update positive/negative counts without browser refresh"
1. Find a ballot
2. Go to the More Opinions page and Follow orgs
3. The positive/negative counts don't update until you do a browser refresh.

Discuss a strategy for updating the positive/negative counts on the ballot without requiring a browser refresh.

[2016-03-19 00:19] lisamcho commented on #141
Ballot is currently being reloaded everytime the page mounts to get around this issue (thought we would make it more efficient in later versions), so browser refresh shouldn't affect it.

Are you positive the support/oppose counts are being updated after the refresh? I can't get the negative/positive counts to go beyond +1 and -1 (which is my own support/oppose opinion), no matter how many times I

[2016-03-19 01:04] DaleMcGrew commented on #141
Hi Lisa, with my latest pull request, which removes the "use_test_election" when voterBallotItemsRetrieve is called, you can use this address "Columbus, OH 43202" and then follow the top 20 or so orgs. When you refresh your ballot you will see Bernie Sanders has 12 positive and 6 negative. If you then stop following 5+ orgs on the "Opinions I'm Following" page and then return to the ballot, the nu

[2016-03-19 13:14] pertrai1 commented on #57
@DaleMcGrew when was the last discussion on this topic? Maybe can be an ongoing sprint discussion that is not part of a milestone, or I guess it can be. Just can be moved to the next milestone at the end of the current one.

[2016-03-19 13:16] pertrai1 opened #143 "Version 1.0 Deadline"
Right now there is no deadline for the 1.0 deadline. My opinion is that without having one there is no push for development work to be done. Whatever the timeline may be - 2/3 weeks - there has to be one for each milestone.

[2016-03-19 13:24] pertrai1 commented on #123
@DaleMcGrew I don't think the dev tools is an issue as our users won't be opening dev tools. I have seen this happen on apps that I have worked on in previous projects as the viewport in chrome does not recognize the change when the dev tools is opened below or to the right/left.

In regards to the icons on the top, this is not possible right now. We are literally taking the footer and moving it t

[2016-03-19 15:01] DaleMcGrew commented on #123
Thank you Rob for clarifying the challenges to finishing this. I'm bumping this to Version 1.0 (major bug fixes)

[2016-03-19 16:48] pertrai1 commented on #116
@DaleMcGrew Is the opinions also needing to be changed? I am not able to get that view to show up and get errors in the console. Does that view show for you?

[2016-03-19 17:02] #143 closed

[2016-03-19 17:50] DaleMcGrew opened #147 "Install Google Analytics Code in WebApp"
Please note that we will need to add the actual analytics code as an environment variable, as opposed to directly in the code. WeVote.me tracking code: UA-53643204-3
Please let @hdronamraju know when this is done.

This is the analytics code for https://wevote.me (click edit to see)
`<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(

[2016-03-19 19:05] DaleMcGrew commented on #116
Hi @pertrai1 I am able to go to:
1. My Ballot Location and enter "Columbus, OH 43202"
2. See a live ballot on the ballot page: http://localhost:3000/ballot
3. Follow about 20 opinions on this page: http://localhost:3000/opinions
4. Then I see those opinions on: http://localhost:3000/more/opinions/followed
As of Mar 19th Noon PT, this page is broken and can't be reached: http://localhost:3000/opini

[2016-03-21 16:09] DaleMcGrew commented on #57
Moved from main description to a comment:
From @DaleMcGrew:
Hi Nick, I don't think its a good idea to store the voter's address (or the voter_id) in a cookie, but should instead use the VoterStore (in memory) as the single source for the location to display. I have seen scenarios over the years where data stored "temporarily" in cookies can quickly get out of sync with the live data, and this crea

[2016-03-21 16:21] nf071590 commented on #57
We should think about storing cookies on the browser from the server using the set-cookie headers. Then we can read the cookies on the front-end when the application response is returned and not have to manage reading and writing on the front-end, only reading.

The server can put the location into the cookies and possibly device_id and other key/values we want to use on the front end.

[2016-03-21 16:40] DaleMcGrew opened #152 "Intro Opinions: Add "More Opinions to Follow" code"
Update http://localhost:3000/intro/opinions to use a copy of the code powering "More Opinions to Follow".

This page is slightly different than the way More Opinions currently retrieves voter guides. Right now the "More Opinions to Follow" page calls voterGuidesToFollowRetrieve with ballot_item_we_vote_id (paired with kind_of_ballot_item) or google_civic_election_id. If voterGuidesToFollowRetrieve

[2016-03-21 17:41] DaleMcGrew commented on #57
That shouldn't be a problem. Can you create a new issue for "Server should also return the voter device ID set header" in the WeVoteServer repo? @nf071590
Since the same voterRetrieve API endpoint (which currently returns a new voter device ID if one doesn't already exist) will be used for iOS and android apps, I'm curious to find out if those apps would be able to use a "set cookie" header from t

[2016-03-22 00:59] lisamcho commented on #57
Sounds like a good idea. I am going to refactor voterStore over to be a FluxMapStore like the others while I'm doing this.

[2016-03-22 01:21] DaleMcGrew commented on #152
The change to voterGuidesToFollowRetrieve to return values when neither ballot_item_we_vote_id (paired with kind_of_ballot_item) nor google_civic_election_id are passed in is now live. You do need to pass in 'google_civic_election_id' == 0

[2016-03-22 15:22] ixley opened #153 "Rapid clicks on Support/Oppose links excessively increment counts"
By rapidly clicking on support and oppose buttons, the counts can be moved by more than the intended single toggle. Bug seems to depend on the delay that that the clicks are registered.

Occurs on:
- both Ballot and Candidate pages.
- Mac, latest versions of Chrome, Safari, Firefox, and iOS versions of Safari and Chrome

*Will try to attach a screen capture when I get a chance

[2016-03-22 15:26] DaleMcGrew commented on #153
Thank you @ixley! It would be helpful to know: Browser you were using, whether in desktop or mobile mode, and whether you were on the ballot summary page or Candidate page.

[2016-03-22 22:42] DaleMcGrew opened #154 "Create a living style guide that displays multiple components on a single page"
Build out a team-only JSX page that includes various components. This will allow us to A) add comments (hardcoded into the page) that discusses the design elements, B) give developers code examples showing how to style new pages, C) confirm visually in one place that CSS changes haven't "broken" a desired look.

Full description (with video) here:
http://engineering.lonelyplanet.com/2014/05/18/a-m

[2016-03-24 07:18] minooo commented on #10
@nf071590 hello，I have the same problem, I don not know how to do with it;
[this is my problem](https://github.com/minooo/CSS-Modules-----React)
when you run `npm install` and `npm start`,open `localhost:5000`
you can see the problem like this
![image](https://cloud.githubusercontent.com/assets/9410091/14010823/a260517c-f1d3-11e5-8bb3-6924ff9fd30a.png)

[2016-03-24 14:23] pertrai1 commented on #10
You should be running `gulp` and then that will start on localhost:3001

[2016-03-24 20:37] DaleMcGrew commented on #109
Updated. Thanks @pertrai1!

[2016-03-24 20:37] #109 closed

[2016-03-25 04:32] lisamcho commented on #153
Just submitted a pull request to fix this.

[2016-03-26 12:31] DaleMcGrew commented on #153
@ixley would you be willing to verify this fix and close it? Code is live on https://WeVote.me

[2016-03-26 12:34] DaleMcGrew commented on #137
Fixed!

[2016-03-26 12:49] DaleMcGrew commented on #137
@josephevans I spoke too soon. When I did an update to https://wevote.me the problem returned. I left your changes in /home/wevote/WebApp/Gulpfile.js, but for some reason the problem has come back.

[2016-03-26 12:53] DaleMcGrew commented on #57
Verified. Great work Lisa!

[2016-03-26 12:53] #57 closed

[2016-03-26 12:55] DaleMcGrew commented on #134
Verified

[2016-03-26 12:55] #134 closed

[2016-03-26 14:10] DaleMcGrew commented on #133
I fixed this locally and will check in shortly.

[2016-03-26 14:45] pertrai1 commented on #153
@lisamcho Can you reference that pull request here so we will have a history of the changes with this issue?

[2016-03-26 14:49] pertrai1 commented on #154
Here are some very good examples for reference: http://styleguides.io/examples.html

[2016-03-26 15:19] lisamcho commented on #153
Sure, its' #158

[2016-03-26 15:57] ixley commented on #153
I only verified on mobile but it looms good to me.

[2016-03-26 15:57] #153 closed

[2016-03-26 16:12] DaleMcGrew commented on #153
Thank you Jeff!

[2016-03-26 18:43] lisamcho commented on #152
@DaleMcGrew ready to review and close!

[2016-03-26 18:58] DaleMcGrew commented on #131
@pertrai1 would you be ok with @lisamcho doing some work on this Issue?

[2016-03-26 19:03] DaleMcGrew commented on #18
Verified!

[2016-03-26 19:03] #18 closed

[2016-03-26 19:04] lisamcho commented on #131
I was just telling dale that it's irritating me just working on other areas of the project, because it takes so long for the ballot to load all the data right now.

[2016-03-26 23:39] pertrai1 commented on #131
Yes that would be great and we can pair if we need to so that it works as expected based on the fact that at a certain clientY value would have the view make a call to the server for more records, or have the next request of x records be returned after the first set of records have been loaded. Each set would be cached in a new object hash that would be stored in localStorage.

Ideas would be grea

[2016-03-27 13:57] DaleMcGrew commented on #152
Verified. Thank you @lisamcho!

[2016-03-27 13:57] #152 closed

[2016-03-27 14:26] DaleMcGrew commented on #140
Hello @josephevans and @nf071590 I have posted the latest code on https://wevote.me and it is ready for Joe to take a look. Here is the Pull Request where Nick mentions `npm run prod` and which shows the files he changed: https://github.com/wevote/WebApp/pull/162

Joe, I think the task is to use `npm run prod` when the "wevote-www" service is started.

I reverted the production-server-specific cha

[2016-03-28 14:49] lisamcho commented on #131
Cool, @pertrai1. I haven't seen performance issues on pages except for the ballot, because by default for Charlotte and Columbus, it is reasonably long, and with the way the API is structured, we need to make 5 API calls per item, plus download the candidate photo. We could use an existing React infinite scroll component, without having to store stuff in localStorage. What about... https://www.npm

[2016-03-29 05:31] DaleMcGrew commented on #6
Hi @lisamcho I finished a first version of positionListForOpinionMaker:
https://api.wevoteusa.org/apis/v1/positionListForOpinionMaker

Test with:
https://api.wevoteusa.org/apis/v1/positionListForOpinionMaker/?csrfmiddlewaretoken=thMROZneWOjA2nBBxQRjaMd5a1gy2o5j&voter_device_id=1JHUUGG2kUrbeiaoxTVO3j8mtlbORspEMSjYlv72OGQCk0i2tdgUQ8Y3cAHM3CsJR2rNjAicGhHkoTbxCxQMLFq2&kind_of_opinion_maker=ORGANIZATIO

[2016-03-29 06:34] DaleMcGrew commented on #133
Completed in my pull request #166 today.

[2016-03-29 06:35] DaleMcGrew commented on #8
Completed in my pull request #166 today.

[2016-03-29 14:19] lisamcho opened #167 "Failed to parse SourceMap"
This error shows up in the console when loading any page.
Failed to parse SourceMap: https://wevote.me/css/bootstrap.css.map

[2016-03-29 14:26] lisamcho commented on #141
We could do this by simply reloading those numbers everytime the page mounts. With infinite scroll in place in the future it wouldn't be quite as bad performance wise. Alternately, what about creating a voterSupportCountsRetrieve endpoint that returns a list of we_vote_ids and their respective counts of support and oppose for opinions voter follows? Could replace the 2xN queries on page load as we

[2016-03-29 14:28] lisamcho opened #168 "Replace broken image links?"
For opinions there seems to be a lot of dead links. Is there a placeholder image that we should display instead?

[2016-03-29 14:34] DaleMcGrew commented on #141
Hi @lisamcho, I think having an API endpoint that packages up all of the support/oppose values makes sense. Maybe it could get called when the voter views the ballot page (as opposed to every time there is a change in Follow status) to prevent churning. I could also do one for star status.

[2016-03-29 16:58] josephevans commented on #137
OK, this is actually now fixed. In Gulpfile.js we now check the environment variable "NODE_ENV" and if it is set to "production", we do not run browsersync.

[2016-03-29 16:58] #137 closed

[2016-03-29 18:46] ixley commented on #154
@pertrai1 I've looked at a number of those – it's definitely a great resource. The reason I specifically suggested referencing Lonely Planet's implementation, is because it's one of the only efforts (I'm aware of) that has successfully (and publicly) created a truly living style guide.

By building almost everything with component APIs, they are able to use a single design system for production te

[2016-03-29 19:43] DaleMcGrew commented on #168
Thank you Lisa, yes we need to investigate why those links are dead on the data side. That said, is there a way to detect in WebApp if an image link is broken, and replace it with our "default org" image?

Rob @pertrai1 will know for sure, but I think this is the style with the default org icon:
icon-icon-org-placeholder
<i className="icon-lg icon-main icon-icon-org-placeholder-6-2 icon-light"/>

[2016-03-29 21:15] DaleMcGrew opened #169 "Add "ballot_caveat" to top of "ballot" page"
- [x] Please display the "ballot_caveat" string at the top of the "ballot" page if it is returned. My goal is to have text explaining the state of this ballot data in all cases.
- [x] Please make available in the /src/js/routes/Ballot/Ballot.jsx page these variables returned from voterBallotItemsRetrieve: is_from_test_ballot, is_from_substituted_address, substituted_address_nearby, ballot_found, t

[2016-03-29 21:26] DaleMcGrew opened #170 ""What I Support" page"
- [ ] Add version of /src/js/routes/Ballot/Ballot.jsx page that only shows offices + candidate and measures where a voter has expressed support

[2016-03-29 21:27] DaleMcGrew opened #171 ""What I've Bookmarked" page"
- [ ] Add version of /src/js/routes/Ballot/Ballot.jsx page that only shows offices + candidate and measures that a voter has starred
The new API endpoint is available: https://api.wevoteusa.org/apis/v1/docs/voterAllStarsStatusRetrieve/

[2016-03-29 21:33] DaleMcGrew opened #172 "Add "Choices Remaining" page"
- [x] Add version of /src/js/routes/Ballot/Ballot.jsx page that only shows offices + candidate and measures where a voter has not yet expressed support for one option. The idea behind this page is that it brings a voter's attention to the ballot items that haven't been reviewed/chosen yet.

[2016-03-30 00:09] pertrai1 commented on #154
@ixley That is great that you want to contribute and if putting together the starting of the living style guide, that would be awesome. If you are, we can assign this to you and get you up and running.

[2016-03-30 00:09] #133 closed

[2016-03-30 00:17] ixley commented on #154
I don't think I quite have the right combination of experience + time to be
the one that spearheads this, but perhaps I could work with a developer to
begin outlining it?

On Tue, Mar 29, 2016 at 5:09 PM, Rob Simpson <notifications@github.com>
wrote:

[2016-03-30 16:11] lisamcho commented on #171
So if we use the Ballot view, candidates are nested under offices and both are star-able. If the voter has NOT starred an office, but HAS starred a candidate for that office, then do you show the unstarred office anyway?

[2016-03-30 17:24] DaleMcGrew commented on #171
That's correct! Thank you.

[2016-03-30 18:32] lisamcho commented on #8
@DaleMcGrew looking good! Not quite done though...
1. When you fetch new opinions for a candidate, then navigate to Opinions I'm following, then navigate to /opinions, it shows the opinions for the candidate still rather than all the opinions to follow.
2. When you refresh an opinions/wv12345 page, you get the address not found, even if there is an address (Enter your address so we can find voter

[2016-04-01 02:08] lisamcho commented on #168
@DaleMcGrew so if I'm the one who originally filed the bug should I just tag someone else like you to verify the fix and close the issue?

[2016-04-01 02:14] lisamcho opened #174 "Warning: React.findDOMNode is deprecated."
Console warning:
Please use ReactDOM.findDOMNode from require('react-dom') instead.

[2016-04-01 13:45] DaleMcGrew commented on #170
This API endpoint, which returns what a voter supports or opposes by ballot_item_we_vote_id, is on the live server now:
https://api.wevoteusa.org/apis/v1/docs/voterAllPositionsRetrieve/

[2016-04-01 13:51] DaleMcGrew opened #176 "Samsung Galaxy (Android), Navigator slides up - turn off autofocus"
1. Using a Samsung Galaxy, running Android, go to "More Opinions" page.
2. Tap the entry box so you can enter an organization's name to search for.
3. The Navigator buttons (Ballot, Requests, Connect, Activity) slide up above the keyboard. This restricts the voter's ability to see very much of the rest of the screen.

Please prevent the Navigator from appearing when the keyboard is shown on the sc

[2016-04-01 14:17] DaleMcGrew commented on #174
Verified.

[2016-04-01 14:17] #174 closed

[2016-04-01 14:18] DaleMcGrew commented on #168
Verified!

[2016-04-01 14:18] #168 closed

[2016-04-01 14:18] DaleMcGrew commented on #167
Verified.

[2016-04-01 14:18] #167 closed

[2016-04-01 14:24] DaleMcGrew commented on #6
Looks great! This is a huge step forward, having a summary organization page. I'll create new issues for any other needed modifications. Thank you @lisamcho.

[2016-04-01 14:24] #6 closed

[2016-04-01 14:32] DaleMcGrew opened #177 "More Opinions, showing only opinions about candidate"
Hi @lisamcho, I wasn't able to reproduce this (originally entered as a comment in Issue #8). Did I get the sequence correct?
1. Go to the Candidate page for a candidate.
2. Click on "More Opinions" or "Find More Opinions"
3. Click on "Opinions I'm following" in left navigation (or mobile drop down),
4. Click on "More Opinions"
It shows the opinions for the candidate still rather than all the opini

[2016-04-01 14:33] DaleMcGrew commented on #8
Thank you @lisamcho, I am going to create new issues for both items you found, and close this issue.

[2016-04-01 14:33] #8 closed

[2016-04-01 14:52] lisamcho commented on #177
Yes I am able to reproduce it.

[2016-04-01 15:38] lisamcho opened #179 "More Opinions page links cover the following/unfollowing buttons"
@DaleMcGrew sorry your last pull request changes didn't look that complicated so I read the code and merged without running it. Now I see that when you click on the More Opinions page and click Follow or Ignore, you are taken to the organization page because the link is covering those buttons.

[2016-04-01 15:40] DaleMcGrew commented on #179
No worries, I'll fix that in a new pull request. Good catch.

[2016-04-01 15:54] lisamcho commented on #171
That is kind of odd logic. I don't get the point of "starring" candidates. Why not just allow starring on offices and measures and not candidates? If you are interested in a candidate you can support/oppose them.

Otherwise I think that 2 of the 4 possibilities don't make a lot of sense.
A) User has starred an office, not starred any candidates under it => show just the office.
**(Maybe they starr

[2016-04-01 16:34] DaleMcGrew commented on #171
Hi @lisamcho thank you for articulating the logic/scenarios. Starring is just like how stars are used in Gmail. It is a reminder to spend more time on something (i.e., come back to it later). A voter might think:
"Heck, I don't know which District Attorney to support. I'm going to star the office and think about it later."
"Bernie or Hillary? How will I ever decide? I'm going to star both and come

[2016-04-02 02:55] pertrai1 commented on #176
@DaleMcGrew That is something I will look into tomorrow but do know that this is a feature of bootstrap that I don't know can be eliminated. If it can be, I am sure there are examples of how it is done out there for reference.

[2016-04-02 02:56] pertrai1 commented on #116
@DaleMcGrew Is this issue fixed or is the page still broken?

[2016-04-02 04:14] DaleMcGrew commented on #116
Hi @pertrai1 yes the check box items in the opening comment are all still active.

[2016-04-02 05:49] DaleMcGrew commented on #116
Actually, this is the comment with the active check boxes: https://github.com/wevote/WebApp/issues/116#issuecomment-196004430

[2016-04-02 14:08] pertrai1 commented on #176
@DaleMcGrew I am not sure we can say this is a bug just yet because I looked at this on my Samsung Note Edge and it worked just fine and was able to see the search box just fine. We might be best off having a self contained so to speak lab where the app is tested. I say this because when I worked on a Veteran Affair project, we had to test on over 65 different devices that they supported.

More di

[2016-04-02 14:16] pertrai1 commented on #135
@DaleMcGrew Are you testing this on the simulator? I have test on iPhone 4 and 5 without any issues except some with candidate photo. Let me know the test procedure you are using for this.

[2016-04-02 14:20] pertrai1 commented on #147
@DaleMcGrew I am not sure what the c3 site is. We can set environment variables but would need to know the process for determining what variable state to use during deployment. Maybe the context of the c3 site will help more.

[2016-04-02 14:22] pertrai1 commented on #116
@DaleMcGrew great thank you

[2016-04-02 14:22] DaleMcGrew commented on #176
Hi @pertrai1 yes testing across multiple devices will be no small undertaking. We can discuss next week.

When I user-tested this on the Samsung Galaxy, you could see and type into the search box, but the Navigator buttons prevented you from seeing the search results. The keyboard had to be hidden before you could see the results.

[2016-04-02 14:28] DaleMcGrew commented on #135
These screen shots were on an actual iPhone 6. I have noticed a change in the last couple of weeks that solved the problem with the page being too wide on many pages (described after first check box), but occasionally I see a page that is wider than the phone. (I will work on reproducing this.)

The other two check boxes are active issues.

[2016-04-02 14:42] DaleMcGrew commented on #147
Hi @pertrai1 because We Vote will eventually allow political conversation, the network we grow to 10 Million members will need to be running on servers paid for by our 501(c)(4) (due to IRS rules about what a 501(c)(3) can and can't do in order to maintain nonprofit status). This is http://wevote.me.

As long as we don't offer those communication features under the network paid for by our (tax ded

[2016-04-02 16:51] pertrai1 commented on #116
@DaleMcGrew Please verify fix

[2016-04-03 15:08] DaleMcGrew commented on #116
@pertrai1 these changes look great. Thank you!

[2016-04-03 15:08] #116 closed

[2016-04-03 15:14] pertrai1 commented on #172
@DaleMcGrew @lisamcho We have passed the 0.9 deadline. Let me know what we plan to do so I can tag this version.

[2016-04-03 15:15] DaleMcGrew commented on #135
Hi @pertrai1 I am looking at this now and am still seeing the problems described by all three check boxes. I added the specific pages where I see the width issue. Thank you for taking a look.

[2016-04-03 16:04] pertrai1 commented on #135
@DaleMcGrew Ok, this should not be an issue to fix with the changes that were now made on #116 that can be used to handle this issue when added. Will work on getting this one done this week, possibly today.

[2016-04-04 07:11] DaleMcGrew opened #183 "Retrieve all positions counts at once for faster speed - positionsCountForAllBallotItemsDocs"
We have a new API endpoint that retrieves the number of friends & orgs you follow that support/oppose a ballot item: https://api.wevoteusa.org/apis/v1/docs/positionsCountForAllBallotItemsDocs/

Replace the initial retrieval of all support/oppose counts with this new routine that retrieves all values in one single query.

[2016-04-05 01:25] lisamcho commented on #179
Verified!

[2016-04-05 01:25] #179 closed

[2016-04-06 21:31] lisamcho commented on #183
Should be resolved with #184

[2016-04-06 21:32] lisamcho commented on #141
Now that support/opposes are a single api call, I just said to fetch them everytime you mount the ballot. That should fix this. #184

[2016-04-06 23:35] lisamcho commented on #170
Implemented in #185

[2016-04-07 00:00] DaleMcGrew commented on #183
Wow load times are so much faster! Verified.

[2016-04-07 00:00] #183 closed

[2016-04-07 00:02] DaleMcGrew commented on #141
Verified.

[2016-04-07 00:02] #141 closed

[2016-04-07 00:33] DaleMcGrew commented on #170
Verified! Works like a charm. Great work!

[2016-04-07 00:33] #170 closed

[2016-04-07 00:33] DaleMcGrew commented on #147
Verified.

[2016-04-07 00:33] #147 closed

[2016-04-07 00:35] DaleMcGrew commented on #55
Verified.

[2016-04-07 00:35] #55 closed

[2016-04-07 00:40] DaleMcGrew commented on #140
Is there any more work left to do on our build system @nf071590 or @josephevans?

[2016-04-07 00:45] DaleMcGrew opened #187 "Reduce downtime caused by /root/update_code"
When I run `/root/update_code` the site currently goes down for about 30-45 seconds. I'm wondering if we can reduce this down time. @nf071590 @pertrai1 @josephevans

Would it be possible to run `npm install` while the wevote-www service is still running? Ideally we could leave the service running while the install is happening, and then run `service wevote-www stop` followed immediately by `servic

[2016-04-07 01:53] DaleMcGrew opened #188 "Add "at state" to left navigation item that you are on"
1. Go to Ballot in either desktop or mobile mode.
2. Choose an option like "What I Support"
3. The "What I Support" navigation item should have an "at state" showing that you are on that page

[2016-04-07 01:54] lisamcho opened #189 "Hard refreshes breaking the app"
There are some pages that break when you hard-refresh the page.

[2016-04-07 02:12] DaleMcGrew commented on #172
Verified. Great work!

[2016-04-07 02:12] #172 closed

[2016-04-07 02:37] lisamcho commented on #177
Should be fixed with #190

[2016-04-08 23:54] DaleMcGrew commented on #189
Verified.

[2016-04-08 23:54] #189 closed

[2016-04-08 23:55] DaleMcGrew commented on #177
Verified.

[2016-04-08 23:55] #177 closed

[2016-04-08 23:56] DaleMcGrew commented on #169
Awesome work!! This really helps clarify what the ballot is that you are looking at. Verified.

[2016-04-08 23:56] #169 closed

[2016-04-09 00:06] DaleMcGrew opened #193 "Add organization logo and follow/ignore changes to "Opinions I'm Following" in Mobile mode"
Replicate the work done on "More Opinions I can Follow" on the "Opinions I'm Following" page in mobile mode.
- [x] Include the organization's logo, but smaller
- [x] Stack the Follow and Ignore buttons

[2016-04-09 15:20] pertrai1 commented on #176
Options
* When there is a tap on the input elements, we will find the footer
* We will find the class `fixed`
* Remove the class `fixed`
* On blur we will add `fixed` back into the footer class

[2016-04-09 16:16] DaleMcGrew opened #194 "On "Choice Remaining" view, do not remove the "office" being viewed until you return to page"
- [x] On "Choice Remaining" view, do not remove the "office" being viewed until you navigate away and return to page. The experience of the item disappearing is jarring.
- [ ] We can leave the behavior as is on the "What I support" page, where the item disappears immediately

[2016-04-09 16:18] DaleMcGrew opened #195 "Add text at top of ballot describing which ballot filter is being used"
Display one of these at the top of the page:
Full Ballot
Choices Remaining
What I Support

[2016-04-09 17:09] lisamcho commented on #195
Resolved with #196

[2016-04-09 17:12] lisamcho commented on #194
Sorry I didn't see the note above, so I submitted a pull request to change them both to not disappearing. Did you mean that we SHOULD leave the behavior as is on "What I support"? Or that we could do either? I'd be for making them consistent.

[2016-04-10 00:00] DaleMcGrew commented on #195
Verified!

[2016-04-10 00:00] #195 closed

[2016-04-10 00:01] DaleMcGrew commented on #194
Verified!

[2016-04-10 00:01] #194 closed

[2016-04-10 00:02] DaleMcGrew commented on #188
Looks great in desktop mode. Same change needed in mobile drop-down menu.

[2016-04-10 02:09] lisamcho commented on #188
Are you talking about the hamburger dropdown? It makes sense for the left-menu but I've never seen at states in any dropdown menu.

[2016-04-10 04:46] pertrai1 commented on #188
:+1: on this work done @lisamcho

[2016-04-10 06:17] pertrai1 opened #200 "Incapsulate styles within JSX"

[2016-04-10 17:28] pertrai1 commented on #193
@DaleMcGrew Please verify fix

[2016-04-10 17:28] pertrai1 commented on #135
@DaleMcGrew Please verify fix

[2016-04-10 17:50] pertrai1 commented on #176
Relates to #201

[2016-04-10 17:51] pertrai1 commented on #123
@DaleMcGrew Will we need to focus on the 3rd issue seeing that the user base will not be looking at the app with the dev tools open?

[2016-04-10 20:49] DaleMcGrew opened #203 "Header Navigation, Desktop: Keep navigation icons in top right"
Keep the navigation icons in the top right in place when you scroll down the ballot

[2016-04-10 20:50] DaleMcGrew commented on #123
We can let go of the third checkbox ("when I have google chrome developer tools open, the top bar scrolls up..."). I have opened a new issue #203 for the second checkbox ("Keep the navigation icons in the top right in place when you scroll down the ballot")

[2016-04-10 20:50] #123 closed

[2016-04-10 21:02] DaleMcGrew commented on #135
Looks great!

[2016-04-10 21:02] #135 closed

[2016-04-10 21:57] DaleMcGrew opened #204 "Mobile display too wide -- prevent autozoom (round 2)"
Hi @pertrai1 this is a continuation of Issue #135. I tested the browser width on my desktop browser in the chrome emulator (iPhone 4 and iPhone 6) AND the safari emulator (iPhone 4s and iPhone 6s), and it works. But when I test it from https://wevote.me on my actual iPhone 6s, it still is too wide. May be an edge case related to my iPhone?

[2016-04-10 22:08] DaleMcGrew commented on #176
We will need to find someone with a Samsung Galaxy to verify this.

[2016-04-10 22:09] DaleMcGrew commented on #188
We can close this and take it up with design team.

[2016-04-10 22:09] #188 closed

[2016-04-10 22:11] DaleMcGrew commented on #193
Verified.

[2016-04-10 22:11] #193 closed

[2016-04-12 04:49] pertrai1 commented on #132
@lisamcho would you have any time this week to look into this at all? I can pair with you if you think you could take some time to investigate the level of effort in doing this.

[2016-04-12 22:20] lisamcho commented on #132
@pertrai1 Sure, I can look into this Wednesday night. No idea what kind of effort is required.

[2016-04-13 17:16] DaleMcGrew opened #205 "Organization Links on "Opinions I'm Following" Incorrect"
1. Go to https://wevote.me and Follow one or more organizations
2. Go to "Opinions I'm Following" (https://wevote.me/more/opinions/followed) and click on the Organization name or image.
Bug: You should be taken to an organization landing page, and instead you are taken back to the ballot

[2016-04-14 03:22] lisamcho commented on #132
I found a fix for this, low effort. Will submit a pull request shortly.

[2016-04-14 03:30] lisamcho commented on #132
See pull request #207

[2016-04-14 03:37] lisamcho commented on #124
I see a lot of issues around the burger menu. I came across this, wondering if it would be easier...
https://github.com/negomi/react-burger-menu

[2016-04-14 03:42] lisamcho opened #208 "Reconsider at state"
Now that we have an "at state" on the submenu in Desktop mode, it creates a bad UX when coupled with the redirects. I.e. When you click on the "Opinions I"m following" and you aren't following any, then you're redirected automatically to All Opinions page (which isn't a submenu item). Hence you expect the submenu item to turn blue but it doesn't. It's kinda jarring.

We need to reconsider how to d

[2016-04-14 04:21] lisamcho commented on #205
Should be fixed with #209

[2016-04-14 09:34] pertrai1 commented on #124
@lisamcho I love it. You can take this on if you have time or I can. whichever works best for you. Thanks for finding that.

[2016-04-14 16:34] DaleMcGrew commented on #132
Verified.

[2016-04-14 16:34] #132 closed

[2016-04-14 16:55] DaleMcGrew commented on #205
Verified.

[2016-04-14 16:55] #205 closed

[2016-04-14 17:00] DaleMcGrew opened #210 "Make Follow / Following button on Organization Voter Guide page work"
1. Go to https://wevote.me/voterguide/wv02org1310
2. Button to the right of organization name is permanently on "Following"
Button state should be based on the person viewing. Should also be a functioning button that can be toggled.
NOTE: We do not want to include an "Ignore" button on this page.

[2016-04-14 23:55] DaleMcGrew opened #211 "On "Opinions I'm Following" Page, mouse over "Following" button should show "Unfollow""
1. Go to "Opinions I'm Following"
2. Roll mouse over "Following" button
It should show "Unfollow" and be red as long as your mouse hovers over it.

[2016-04-15 01:54] lisamcho commented on #124
Today and tomorrow before our v1.0 milestone are kinda busy for me. Punting back to you :)

[2016-04-15 22:36] pertrai1 commented on #124
Ok the last 3 days have been very busy for me with the first of 3 releases this year for our cloud product and on premise. I will work hard on getting this and others done tonight. @DaleMcGrew @lisamcho

[2016-04-16 04:42] pertrai1 commented on #211
References #214

[2016-04-16 06:15] pertrai1 commented on #203
References #215

[2016-04-16 08:02] #203 closed

[2016-04-16 08:02] #211 closed

[2016-04-16 08:03] pertrai1 commented on #124
@DaleMcGrew @lisamcho I am close to having this done but don't think it can be done in the next 8 hours as I am going to get some sleep. This plugin looks good, just have run out of time to make sure it is implemented correctly.

[2016-04-17 13:47] pertrai1 commented on #171
@DaleMcGrew This issue and those from 1.0 should be moved to another milestone so this milestone and 1.0 can be closed and 1.0 can be tagged.

[2016-04-17 15:19] pertrai1 commented on #187
@DaleMcGrew @josephevans depending on the pipeline it would make more sense to have CI run the npm install and then take the workspace created and the `wevote-www-` service would not take long. It is the `npm install` that is taking this so long. If we need a more advanced CI we can move from Travis CI and have a Jenkins server?

[2016-04-17 20:27] nf071590 commented on #187
We can have a server process that runs and a build process that runs. The server process would never have to go down technically.

[2016-04-19 00:05] lisamcho opened #216 "More Opinions and More Opinions About Candidate Inconsistent"
When you click "Follow/Unfollow" from Opinions page, the items disappear off the page immediately with a CSS transition. When you are on the candidate-specific Opinions page, the items stay on the page (and the buttons stay the same) even though the Follow/Ignore is actually saved to the backend. These should be consistent. We've discussed both ways of doing this, but it should really be consisten

[2016-04-19 00:11] lisamcho opened #217 ""You Support" item - Should not link to organization page"
If you support a candidate it shows up in the opinions under each candidate on the candidate page with the text "You Support" and a link to an organization page with a "null" we_vote_id.
It's pretty weird. Should we be showing these as opinions? Seems weird.

[2016-04-19 00:16] lisamcho commented on #210
Please verify. Resolved with #218

[2016-04-19 00:18] DaleMcGrew commented on #216
Thank you for pointing out this inconsistency @lisamcho. The items should disappear off the page immediately. So the "More Opinions" page is correct, and the "More Opinions About Candidate" needs to be updated.

[2016-04-19 00:28] DaleMcGrew commented on #210
Hi Lisa, I am testing it and will be able to verify later tonight. I also did some work today I'm looking forward to checking in.

[2016-04-19 04:03] DaleMcGrew commented on #210
Hi Lisa, I am hoping you can get the "Following" button to show as red and show the word "Unfollow" when you roll over it and the button is in the "Following" state. Rob got this working in /src/js/components/FollowOrIgnore.jsx (although I took that component out of /src/js/components/VoterGuide/VoterGuideItem.jsx -- you can add it back in there to see it in action.)

[2016-04-20 01:01] lisamcho opened #220 "Refreshing candidate page"
When you refresh the candidate page, the support/oppose bar disappears.

[2016-04-20 01:55] lisamcho commented on #210
Done with #221

[2016-04-20 01:55] lisamcho commented on #216
See #221

[2016-04-21 23:33] lisamcho commented on #220
See #222

[2016-04-22 17:55] DaleMcGrew commented on #220
Verified.

[2016-04-22 17:55] #220 closed

[2016-04-22 18:01] DaleMcGrew commented on #210
Verified. Thank you!

[2016-04-22 18:01] #210 closed

[2016-04-22 18:03] DaleMcGrew commented on #216
Verified. Great work.

[2016-04-22 18:03] #216 closed

[2016-04-22 18:16] DaleMcGrew commented on #98
Even though https://github.com/wevote/WeVoteServer/issues/82 is not fully resolved, this Issue #98 is fixed.

[2016-04-22 18:43] DaleMcGrew commented on #217
You are right @lisamcho this needs to be fixed. Thank you for reporting.

[2016-04-22 19:06] DaleMcGrew opened #224 "Ballot not loaded unless you click "Save Address""
1. Make sure you are connected to API server (as opposed to local WeVoteServer)
2. Clear "voter_device_id" from cookies
3. Visit WebApp, and you are redirected to intro page: http://localhost:3000/intro
4. You should see an address in the top navigation bar. Do NOT click "Save Address"
5. Click on the "Ballot" icon, and you are taken to an empty ballot page.

Proposed solution: If we get to the ba

[2016-04-22 21:43] DaleMcGrew opened #225 "If no ballot_caveat, don't show message box"
1. Enter a full, real address like ("620 market st, prosser, WA 99350")
2. You will see at the top of the ballot page an empty blue box
Bug: If there isn't a ballot_caveat returned, don't show this blue box

[2016-04-22 22:52] lisamcho commented on #224
Can't reproduce. I get a blank address in top navigation bar in step #4.

[2016-04-22 22:53] DaleMcGrew commented on #224
@lisamcho Are you on Wifi connected to a building, or on a mobile device via cell phone service?

[2016-04-22 22:53] lisamcho commented on #217
@DaleMcGrew I was thinking that the backend should not return these items. Whether you support/oppose an organization is shown by the Support/Oppose arrows. Why show it twice? Also, if you click the arrows to change your mind, we'd have to make the "you support" item disappear in order for the page to stay accurate which would be a weird jump in the UX.

[2016-04-22 22:54] lisamcho commented on #224
Wifi on a building.

[2016-04-22 22:56] DaleMcGrew commented on #217
@lisamcho it is there for when you add a comment in addition to support or oppose. Shall we discuss the various cases tomorrow?

[2016-04-22 22:59] DaleMcGrew commented on #224
Do you get a geo-located address when you use https://wevote.me as opposed to your localhost? We might also need to update our GeoIP address database -- it sounds like your wifi device might have been assigned an IP address we don't recognize.

[2016-04-22 23:03] lisamcho commented on #224
I don't get a geo-located address for either wevote.me or localhost. I used to always get "none, none, none". Now I always get blank.

[2016-04-23 15:01] DaleMcGrew opened #226 "Create very fast initial page load"
On mobile device, away from wifi, the initial page load can take 5-7 seconds. I'd like to get an initial page load of 1 second (splash screen is ok)

[2016-04-23 15:07] DaleMcGrew opened #227 "Accessibility: Add ability to tab to bookmarks and support/oppose"
1. Go to the ballot
2. Tab through to the page and you find that you skip past bookmarks and support/oppose
   A person should be able to use the keyboard to get to all interface elements.

[2016-04-23 15:21] pertrai1 commented on #226
Lazy load what the user will not interact with and prioritize what needs to be seen right away for user

[2016-04-23 15:44] pertrai1 commented on #226
Here is a look at the possible reason for the slow load time. We will have to break apart the `bundle.js` into a couple file.

![screenshot 2016-04-23 11 40 58](https://cloud.githubusercontent.com/assets/442374/14762456/a14b0bba-0948-11e6-8bf3-4d9ebaa402b3.png)

It might be hard to see the popup, but the `bundle.js` is taking 4.6 seconds to completely download.

[2016-04-24 17:39] DaleMcGrew commented on #176
I saw this same problem in a demo this last week (Android phone -- sorry I didn't get the make/model), where the keyboard pushed the Ballot-Requests-Connect-Activity navigator above the keyboard. I think we should turn off the search box auto-focus when in mobile mode.
Having auto-focus in desktop mode is still good.

[2016-04-24 17:43] DaleMcGrew commented on #154
After conversation in mini-hackathon, @pertrai1 will implement an auto-style-guide-creator in conversation with @ixley.

[2016-04-24 17:46] DaleMcGrew opened #228 "Set up UI Automated Testing tool"
Implement a UI automated testing tool so we can catch breaking changes to the UI. @lisamcho pointed out the need for this. @pertrai1 has some experience with a system and will set this up.

[2016-04-24 17:51] DaleMcGrew opened #229 "Allow voter to sign in (Facebook) and sign out"
- [x] Get our Facebook sign in working (and debugged) again.
- [x] Finish building our "Sign Out" feature to delete the voter_device_id and create a new one.
- [x] Turn off the "Disconnect from Facebook" interface from Account settings page

[2016-04-25 01:30] DaleMcGrew opened #230 "React warning: `props.history` and `context.history` are deprecated"
bundle.js:54006 Warning: [react-router] `props.history` and `context.history` are deprecated. Please use `context.router`. http://tiny.cc/router-contextchanges

[2016-04-25 03:32] lisamcho commented on #226
There's a lot of files that currently aren't being used in the repo. It would make bundle.js smaller if we removed everything for example in the components/Guides folder. (keep the files in a separate branch somewhere?)

[2016-04-25 10:39] pertrai1 commented on #226
@lisamcho yes I agree. I also think we might want to go with the standard of having a vendor type file and an application file.

[2016-04-25 10:46] pertrai1 commented on #176
@DaleMcGrew yes we can handle turning off the `autofocus` and push an event to it when we want it to have one. I will look more into the docs of Bootstrap to find out if there are already resolved problems with a fixed footer being an issue on mobile devices.

[2016-04-25 13:27] DaleMcGrew commented on #226
@lisamcho @pertrai1 @nf071590 I will move the (currently) unused files into a separate branch today. I am thinking that we could break the application into these "single page" sections to reduce the size of the first bundle.js file that downloads:
1) A loading screen - should be split second load before initial display. I think a loading screen buys us maybe 3 seconds before voter will start perce

[2016-04-25 14:31] nf071590 commented on #226
Is bundle.js being minified?

[2016-04-25 15:06] lisamcho commented on #229
@DaleMcGrew before we re-implement this, I was thinking that I've never heard of this approach for login (i.e. swapping out a voter_device_id in the cookies). Most apps use a standard auth library because few developers are security experts. Are you positive that it doesn't have security vulnerabilities?

[2016-04-25 15:22] DaleMcGrew commented on #229
Hi @lisamcho, having worked as a software engineer for 8 years, I have been through over 20 hours of in-person and video courses on user security, ranging from OWASP to phishing to social engineering. Our security model is solid. We are actually using a standard auth library within Django/Python, as well as our Facebook auth within WebApp. Also, our entire network is https so data passed between t

[2016-04-25 15:37] DaleMcGrew commented on #229
If you would like to have a call as well, I can share what I think are the most likely areas we would be attacked, and how our approach protects against those attacks.

We can also ask for an audit from people with even more experience with security than I have.  It will be very important that we protect voter data!

[2016-04-25 15:41] lisamcho commented on #229
I think that your security experience is impressive. The implementation sounds solid to me, but audit with people who focus specifically 24/7 in security would be a good idea if we are doing anything custom at all. Then again, maybe we aren't doing anything custom....

On question I had (for example)....on logout we just delete the cookie and generate a new voter? I think we've also discussed havi

[2016-04-25 16:06] DaleMcGrew commented on #229
We should tell the server to delete the voter_device_id from the database, and then delete the cookie from the browser.  I will create an API endpoint called voterSignOut today that deletes voter_device_id from the database.

[2016-04-25 16:38] nf071590 commented on #226
does our server support compression?

[2016-04-25 16:44] nf071590 commented on #226
@pertrai1, lazy loading is a good thought.

First lets try compression methods to see what load times get down to.

Then we can maximizing our react-router from the advanced usage guides.

[Dynamic Routing](https://github.com/reactjs/react-router/blob/master/docs/guides/DynamicRouting.md)
[Minimizing Bundle Size](https://github.com/reactjs/react-router/blob/master/docs/guides/MinimizingBundleSize.

[2016-04-25 16:47] DaleMcGrew commented on #226
@josephevans Does our WebApp server support compression? (Question from @nf071590)

[2016-04-25 16:59] josephevans commented on #226
I just enabled gzip compression on the wevote.guide site. You should be able to compare it to wevote.me (without compression.)

[2016-04-25 19:07] DaleMcGrew commented on #226
I have updated both https://wevote.me and https://wevote.guide with the latest code so we can test the difference.

[2016-04-25 20:26] DaleMcGrew opened #233 "Two voter_device_id cookies created"
1. Visit ballot. Look in your cookies to make sure you have a voter_device_id
2. Navigate to the Save Address page.
3. Refresh the page, and it creates a second voter_device_id for the path "/settings"

App should only have one voter_device_id

[2016-04-25 20:54] DaleMcGrew commented on #229
@lisamcho The new API endpoint voterSignOut is now ready: https://api.wevoteusa.org/apis/v1/docs/voterSignOut/

[2016-04-25 23:00] ixley commented on #200
@pertrai1 This caught my attention and I was curious to get a better sense of what it implies.

Can you point me to any (straightforward) articles that outline strong cases for style encapsulation? As someone who is familiar with the downsides of CSS's default global scope, but still just wrapping my head around the principles and conventions of React, the idea of widespread (as opposed to selecti

[2016-04-25 23:35] pertrai1 commented on #200
@ixley Take a look at this to get both sides of the coin and some references to more material:

https://css-tricks.com/the-debate-around-do-we-even-need-css-anymore/

[2016-04-25 23:40] pertrai1 commented on #226
@DaleMcGrew Little over 2 second difference between wevote.guide and wevote.me when it comes to the download time of `bundle.js`

[2016-04-25 23:44] ixley commented on #154
Goals:
- document the styles, patterns, and conventions using agreed shared vocabulary
- ensure a consistent use of patterns and UI elements (and guidance on usage of patterns)
- encourage re-use of code, keeping redundancy to a minimum

Assumptions:
- It's a place where someone can easily see and review the wider-reaching implications of style changes
- The guide renders code snippets and styles

[2016-04-25 23:52] nf071590 commented on #200
@pertrai1 this is a really interesting read, and then to read the comments...

I like the idea of creating dynamic style modules but what about media queries?

[2016-04-25 23:53] ixley commented on #154
@pertrai1 I took a look at the SC5 Styleguide engine, and while I didn't completely wrap my head around everything it does, it looks pretty good on the surface. Did you have any other tools you think are worth reviewing alongside this one?

In particular, I wasn't clear what sort of tradeoffs might be involved with allowing style edits directly from the guide, and how much additional complexity th

[2016-04-25 23:54] pertrai1 commented on #200
@nf071590 Right now this is the best option out there: http://stack.formidable.com/radium/

CC: @ixley

[2016-04-25 23:59] pertrai1 commented on #154
@ixley We had no use of the ability to edit from the style guide. We used it strictly for the ability to iterate quickly with the designers as they could see what the values were for colors, type, box layout, etc. What it is really good for is that it makes you put the rules in files that are relevant, and it is from within those files that you add the comments that are used to build out the style

[2016-04-26 00:00] ixley commented on #200
@pertrai1 Hah - I actually did read the CSS Tricks post but found myself more familiar with, and aligned with the arguments against. I'll take a look at Radium. I *do* see the appeal of some sort of hybridized approach, especially to take advantage of stateful modules, but am wary of js polyfills for browser supported functions like browser state styles and media queries, or calls to *completely*

[2016-04-26 00:03] pertrai1 commented on #200
@ixley I don't know if we need to focus on it much as we will soon be making use of the abilities that CSS will offer for encapsulation now that everyone is slowly getting familiar with the shadow DOM and how to get past the first layer of the DOM that allows for a certain fragment to have its own `:root`

[2016-04-26 00:05] ixley commented on #200
@pertrai1 thanks. And just to reiterate, this is something I am still working to better understand, so my stance still reflects a limited familiarity.

[2016-04-26 00:06] pertrai1 commented on #200
@ixley you are welcome. Anything you need to get familiar with, let me know, and I might be able to help out.

[2016-04-26 00:21] ixley commented on #154
@pertrai1 aha - so perhaps I just misunderstood editing ability piece. And now I see that the snippets it renders come from comments within the stylesheets (I'm guessing this is part of the KSS notation).

What I am still hoping for is a guide that is able to display more complex patterns (rather than just basic elements), that also doesn't require redundant code (writing example snippets separate

[2016-04-26 02:58] lisamcho commented on #229
#234

[2016-04-26 02:59] lisamcho commented on #225
#234

[2016-04-26 03:01] lisamcho commented on #226
What if we just started index.html with a static loading page image or a gif (not javascript)? That way we'd immediately see something without having to split a separate loading.js file out of bundle.js. (once all the javascript files are loaded then the document ready function would just render the app and replace the loading div.). Hopefully the uglification and getting rid of extraneous files i

[2016-04-26 04:47] DaleMcGrew commented on #226
Exactly @lisamcho. I think starting with a simple index.html page that loads in a split second is a good starting point. Does anyone know how to set that up?
@josephevans it sounds like gzip compression on https://wevote.me will make a difference.

[2016-04-26 04:53] DaleMcGrew commented on #229
Works really well! Great work.

[2016-04-26 04:53] #229 closed

[2016-04-26 04:54] DaleMcGrew commented on #225
Verified.

[2016-04-26 04:54] #225 closed

[2016-04-26 05:00] #140 closed

[2016-04-26 05:01] nf071590 commented on #140
I sent you an email related to that
On Apr 26, 2016 12:00 AM, "Dale John McGrew" <notifications@github.com>
wrote:

[2016-04-26 05:01] DaleMcGrew opened #235 "Frontend server and gulp process need process management so that when they crash, they restart"
Frontend server and gulp process need process management so that when they crash, they restart.

To address the problem, I’ve added new `npm run prod` scripts and left `npm run prod` in place so it doesn’t break anything. If processes crash, they are restarted by forever.js. Output for the processes are logged to 4 separate files: server.log, server.err.log, gulp.log, & gulp.err.log. I will push t

[2016-04-26 06:14] nf071590 commented on #226
load time was cut in half for me using wevote.guide

![wevote loadtime](https://cloud.githubusercontent.com/assets/7058732/14808601/9f75bc64-0b54-11e6-9938-9b58422a1d1b.png)

[2016-04-26 06:25] nf071590 commented on #226
Lazy loading routes (what @pertrai1 suggested) is the solution that takes it further; Load ballot route quickly, then load the other routes when user needs them. Making a fake page is more work than what it's worth; We're not delivering content any faster and making our app size larger.

[2016-04-26 06:30] nf071590 commented on #226
@DaleMcGrew, also try changing vendor libraries to CDN

[2016-04-26 14:01] DaleMcGrew opened #237 "Sign in/sign out: voter_found == false"
There are cases where a voter_device_id that has been deleted from the server, but the browser still has a cookie with the (newly) invalid voter_device_id. (In the case where you sign out from device A (killing all voter_device_id's for that voter), and device B expects it's voter_device_id to still work.)

I propose that if voterRetrieve gets "voter_found" == false, the voter_device_id be deleted

[2016-04-26 14:31] DaleMcGrew commented on #233
Note that if verifying this fix on localhost in chrome, it will appear to still be broken:
http://stackoverflow.com/questions/335244/why-does-chrome-ignore-local-jquery-cookies/347997#347997
I verified that this works if we don't use "localhost", here for example: http://127.0.0.1:3000/more/opinions/followed

[2016-04-26 15:08] lisamcho commented on #237
Hmmm, that's a little odd, is there a way to make it so that if you sign out of the account on one device it does not affect your signin state on other devices?

[2016-04-26 15:13] lisamcho opened #238 "Facebook photo download and email save"
There is currently a button that downloads the user photo on the account/login page. Is this meant to eventually just be downloaded/saved to voter profile when you login to facebook (without clicking the button)?

[2016-04-26 15:34] DaleMcGrew commented on #237
Yes, just set "sign_out_all_devices" to false when calling voterSignOut. Changing this setting may allow us to avoid fixing this issue for a while, but eventually we will still need to deal with the case of the voter_device_id in the cookie not being valid.

[2016-04-26 15:37] DaleMcGrew commented on #238
That is correct -- ideally we would just download/save the Facebook photo upon sign in. We will also need the ability to refresh the photo from the account settings page (separate from the sign in process), but we won't need this probably until 2017.

[2016-04-27 01:31] DaleMcGrew opened #239 "Set up CDN service for wevote.me & wevote.guide"
Joe, can you set up the AWS CDN service for both wevote.me and wevote.guide so we can get these off our primary server?
Move dependencies: bootstrap.css, bootstrap-social, and font-awesome to CDN

[2016-04-27 01:34] DaleMcGrew opened #240 "voterAddressRetrieve loading is blocking app initialization"
Can we let the app initialize before voterAddressRetrieve completes? (Found by @nf071590)

![image](https://cloud.githubusercontent.com/assets/7756031/14839149/5db2cedc-0bdd-11e6-9844-a6bda4b3eb71.png)

[2016-04-27 01:51] pertrai1 commented on #239
@DaleMcGrew @josephevans We should take advantage of using S3 for any static assets, which is most all of the web app. We had discussed this in previous talks and would be a big advantage for the speed and reliability of the application.

[2016-04-27 01:59] pertrai1 commented on #235
The workflow will have to take into consideration the different servers that could be running. Most of these files will be picked up by S3, so wherever the daemon is running, there will have to be a maestro that knows where resources will have to go.

[2016-04-27 02:01] pertrai1 commented on #233
@DaleMcGrew your change does the trick for this. closing based on #236

[2016-04-27 02:01] #233 closed

[2016-04-27 02:03] pertrai1 commented on #226
@DaleMcGrew @nf071590 we should not need to use a CDN as we will have our own using Amazon S3.

[2016-04-27 08:52] pertrai1 commented on #154
@ixley - After looking at the concept in more detail - https://github.com/lonelyplanet/rizzo - at this time in the life cycle of our application, I don't feel we are at a place for a style guide UI implementation. A couple of blockers would be that we don't have a style yet, and we would have to take their code base - which is Ruby - and change it to React so that it can live inside of our React c

[2016-04-27 17:21] ixley commented on #154
That sounds totally reasonable. I mentioned this to Dale initially because I thought this approach would fit well with this project, but I didn’t expect it to be a priority and I had no sense of what the technical cost would be.

It might still make sense to put together a lighter weight style guide as we develop a style, for documentation and reference as we go. This doesn’t necessarily need to h

[2016-04-28 15:21] lisamcho commented on #237
OK, so we'll set sign_out_all devices to false and then put this on the backlog?

[2016-04-28 15:23] lisamcho commented on #226
I agree with @nf071590 We should use CDN for stuff user probably already has cached, like jQuery, it will be faster.

[2016-04-28 15:24] lisamcho commented on #217
per discussion lastnight, we shouldn't show this. @dale are you planning to remove this item on endpoint response then? (close this issue and open one on wevoteserver)?

[2016-04-28 15:54] DaleMcGrew commented on #237
Perfect.

[2016-04-28 16:04] ixley commented on #200
@pertrai1 @nf071590 What are your thoughts on Radium vs (React) CSS Modules? I don’t have anyway great sense of what key differences these approaches have, but the thinking and reasoning behind the CSS Modules project particularly appeals to me.

http://glenmaddern.com/articles/css-modules

[2016-04-28 16:13] DaleMcGrew commented on #217
Hi @lisamcho you are correct we should not be showing a card with only "You Support" on the candidate page, along with the organization cards (since your support or opposition will be shown in the Candidate header that Jeff designed). That needs to be fixed.

We will need to show a position card from the voter once a voter adds a comment (we will be adding voter comments in the next major version)

[2016-04-28 16:16] pertrai1 commented on #226
But that is what Amazon S3 is and we are going to use that for all static assets of web app

[2016-04-28 16:36] DaleMcGrew commented on #239
I am moving some recent comments from Issue #226 so we can continue the conversation here:
From @nf071590: @DaleMcGrew, also try changing vendor libraries to CDN. The argument for letting Google host vendor libraries is that the user most likely already has them cached.
From @pertrai1: @DaleMcGrew @nf071590 we should not need to use a CDN as we will have our own using Amazon S3.
From @lisamcho: I

[2016-04-29 04:59] lisamcho commented on #237
Just set this to false with last pull request, changing to backlog.

[2016-04-29 05:00] lisamcho commented on #97
#243

[2016-04-29 05:02] lisamcho commented on #98
Looks good!

[2016-04-29 05:02] #98 closed

[2016-04-29 13:02] DaleMcGrew opened #244 "Rename bundle.js on each new version so browsers are forced to refresh"
Whenever we create a new version of We Vote, I would like the browsers of voters to be forced to grab the latest version. I believe that currently bundle.js gets cached, and will only refresh when forced. Can we change the build process to change the name whenever there is a new version? @nf071590 @josephevans @pertrai1

[2016-04-29 13:08] pertrai1 commented on #244
@DaleMcGrew Yes we can add a cache buster timestamp to the name of the file so that it is seen as a new file and will be downloaded. The best way to do this is to add the timestamp to the end of the file name like so:

`bundle.xxxx.js` so that it is seen as a new file

Browsers are not all supportive of the use of `bundle.js?xxxx` and will not recognize the difference, so the safest way to do this

[2016-04-29 21:31] josephevans commented on #239
I created static.wevote.guide and static.wevote.me and put the following CSS files:

http://static.wevote.guide/css/bootstrap.css
http://static.wevote.guide/css/bootstrap-social.css
http://static.wevote.guide/css/font-awesome.css

What other files should be added here?

[2016-04-29 21:32] josephevans commented on #226
Please let me know what other assets should be added to the static.wevote.* sites. They are AWS S3 buckets.

[2016-04-29 21:34] josephevans commented on #235
We are already using upstart to manage the npm process for the websites. This monitors the PID of the node server and automatically restarts it if it dies. Are we actually having problems with it crashing and not coming back up?

[2016-04-30 12:32] DaleMcGrew commented on #239
Thank you @josephevans. I added a discussion tag and verify fix as a reminder for us to talk about the remaining questions.

[2016-04-30 12:35] DaleMcGrew commented on #226
I believe we have moved all related speed issues into different Issues. If someone else agrees, we can close this issue.

[2016-04-30 12:44] DaleMcGrew commented on #97
Verified.

[2016-04-30 12:44] #97 closed

[2016-04-30 13:35] pertrai1 commented on #239
@DaleMcGrew @nf071590 The files that @josephevans put on the static subdomain would be best served as minified files that are served as vendor file and one for application. As an example, having `vendor.xxx.css` and `app.xxx.css` would be efficient for the performance of the application. This would need to be added to the production build cycle.

[2016-04-30 13:37] pertrai1 commented on #238
@DaleMcGrew @lisamcho Is there consideration in the future to use OAuth?

[2016-04-30 13:41] pertrai1 commented on #171
@DaleMcGrew I am still wondering why this is stuck in this milestone. We have passed the milestone and this was not completed. My idea of milestones is that you set it and reach it. Anything that is committed to during that milestone will be completed, otherwise it is moved out. Also, we are not using semver, which leads me to trying to understand the semantics of the versioning of the application

[2016-04-30 13:42] DaleMcGrew commented on #238
We are using the standard Facebook/oauth.

[2016-04-30 15:10] pertrai1 opened #245 "Selenium AWS Instance"
@josephevans Can you set up Selenium grid on AWS so that we can start doing some automation testing? Let me know if you have done this before. The setup of selenium and the automation tests I can handle and add to the CI process, just need an instance of Selenium that can be started anytime there is an automation process that is started.

[2016-04-30 15:24] pertrai1 commented on #176
Add meta tag to prevent zooming

[2016-04-30 15:27] DaleMcGrew commented on #244
Bumping to @pertrai1 so we can tackle today.

[2016-04-30 15:32] DaleMcGrew commented on #240
We are going to look at this after we hit Milestone A.

[2016-04-30 20:11] DaleMcGrew opened #246 "Add Event Tracking to Google Analytics"
Request from Harsha. Documentation here: https://developers.google.com/analytics/devguides/collection/analyticsjs/events#implementation

Analytics Events - Google has a nice events tracking feature. Basically you can implement a tracking call for important "events" in the user experience. Having this in the code can help us navigate players to key points and see how we're doing relative to a goal.

[2016-05-03 02:47] lisamcho commented on #226
#248 added loading screen.

[2016-05-03 02:47] lisamcho commented on #226
Closing out

[2016-05-03 02:47] #226 closed

[2016-05-03 02:50] lisamcho opened #249 "Create beautiful "card" to display on Facebook when a We Vote page is shared to Facebook"
Facebook sharing now works. Add the open-graph meta tags to each page so that the snippet photo and title is customized depending on the url that the user wants to share.
- [ ] In WebApp/src/index.html fill in the "og:url" with the site url from /src/js/config.js WE_VOTE_HOSTNAME
- [ ] Make the URL that is shared "https://WE_VOTE_HOSTNAME/CANDIDATE_TWITTER_HANDLE"
- [ ] Make the the photo of the c

[2016-05-03 02:53] lisamcho opened #250 "Facebook share measure??"
So we currently have the share button on both candidates and measures.
Sharing on a candidate can be sharing a link to that candidate detail page.
We don't have any measure detail page currently, so not sure what we should be "sharing" for measures....just wevote.me? @DaleMcGrew

[2016-05-03 03:04] DaleMcGrew commented on #250
We will have a measure page soon, but for now you can share the ballot page with the we_vote_id as an anchor tag down to the measure.

[2016-05-03 05:45] lisamcho commented on #238
Implemented in #251

[2016-05-06 11:26] DaleMcGrew commented on #238
Verified.

[2016-05-06 11:26] #238 closed

[2016-05-06 11:28] DaleMcGrew commented on #217
This is now fixed and live. @lisamcho

[2016-05-06 11:35] DaleMcGrew commented on #204
I think this can be fixed by preventing auto-zoom when the focus is on a form field. @lisancho @pertrai1

[2016-05-06 13:37] DaleMcGrew opened #253 "Add "More Opinions about Candidate" listing to the Candidate Detail Page"
1. Enter an address that returns a ballot that has voter guides to follow (like "Charlotte, NC 28205"). Make sure you are following some orgs, but not all of them.
2. Go to one candidate, and click the "Find More Opinions" button. Find a candidate that has some opinions on this page.

We want to move this list directly to the "Candidate Detail" page, so that opinions you are following show up firs

[2016-05-07 14:26] nf071590 commented on #244
We should use version number instead of timestamp.

[2016-05-07 14:32] josephevans commented on #235
I tried changing the upstart config file to use "npm run prod:start" for starting the production server - it doesn't appear to work.

npm ERR! Linux 3.13.0-74-generic
npm ERR! argv "/home/NodeEnvironments/WebAppEnv/bin/node" "/home/NodeEnvironments/WebAppEnv/bin/npm" "run" "prod:start"
npm ERR! node v5.5.0
npm ERR! npm  v3.3.12

npm ERR! missing script: prod:start
npm ERR!
npm ERR! If you need hel

[2016-05-07 14:32] pertrai1 commented on #244
@nf071590 Can you work with me on this. I have been trying some gulp plugins for cache busting but have not been able to get it working with `bundle.js`

[2016-05-07 14:33] nf071590 commented on #235
I don't think anyone updated the npm script and dependencies yet.
On May 7, 2016 10:32 AM, "Joe Evans" <notifications@github.com> wrote:

[2016-05-07 14:34] pertrai1 commented on #244
@nf071590 so far I have tried gulp-rev and gulp-cache-bust but to no avail.

[2016-05-07 14:34] josephevans commented on #187
I changed the update_code script so that we just restart the npm process after pulling new code and running "npm install" -- this reduced the downtime to only about 15 seconds (from 30-45.)

[2016-05-07 14:35] #187 closed

[2016-05-07 15:09] josephevans commented on #245
I have not setup Selenium before, but it shouldn't be hard.

[2016-05-07 15:12] josephevans commented on #245
@pertrai1 We just want a headless Selenium instance, correct? Do these installation instructions seem OK to use?

https://christopher.su/2015/selenium-chromedriver-ubuntu/

[2016-05-07 16:35] DaleMcGrew commented on #124
@pertrai1 waiting on this to see if the design changes being discussed with @ixley will affect how this is implemented.

[2016-05-07 16:46] DaleMcGrew commented on #235
Per a discussion May 7th, 2016, we will be serving index.html via ngnx instead of node express.

[2016-05-07 16:46] #235 closed

[2016-05-07 17:37] DaleMcGrew commented on #176
We are going to turn off auto-focus for now to solve this.

[2016-05-07 17:57] DaleMcGrew commented on #253
I love it! Verified.

[2016-05-07 17:57] #253 closed

[2016-05-07 18:07] DaleMcGrew opened #256 "Reset any Twitter or Facebook App Ids that have been pushed to Github"
There are App Ids that should be private that have been pushed to github. Reset these.

[2016-05-07 19:19] DaleMcGrew commented on #204
Hi Lisa, I just tested the new version which is supposed to prevent auto-zoom. It still zooms when you visit the "More Opinions I Can Follow" from a iPhone, and click in the search box.

[2016-05-09 05:19] #217 closed

[2016-05-09 07:11] lisamcho commented on #224
I think that this bug is caused by the voterAddressRetrieve endpoint returning a bogus google_civic_id....see response below.
{address_found: true, normalized_state: "", normalized_line1: "", guess_if_no_address_saved: true, text_for_map_search: "San Francisco, CA 94110"…}
address_found
:
true
address_type
:
"B"
google_civic_election_id
:
"San Francisco, CA 94110"
guess_if_no_address_saved
:
true

[2016-05-09 21:41] DaleMcGrew commented on #224
Thank you @lisamcho, I will take a look ASAP.

[2016-05-10 23:46] ixley opened #259 "Prefix [Bootstrap] classes"
Since we are currently using Bootstrap but will also be using custom utility classes (along with everything else), let's prefix all Bootstrap classes for clarity, and namespace other classes, as appropriate. (This may just be a stopgap if we eventually move to more encapsulated styles, but it still seems helpful.)

**Does anyone know of a good package or tool to prefix classes** by path? We only n

[2016-05-11 05:31] DaleMcGrew commented on #204
Lisa's fix in pull request #258 worked.

[2016-05-11 05:31] #204 closed

[2016-05-11 16:40] josephevans commented on #239
OK, after a lot of research on how we could utilize Amazon's S3 or other services to serve up static content, I've come to the conclusion that using S3 is probably not the right solution.

First off, S3 does not support SSL - so the site would have to request insecure content which makes browsers not show the lock in the URL bar and possibly a security warning in the JS console. Amazon does have a

[2016-05-11 16:48] nf071590 commented on #239
The three files put on static.wevote.me <http://static.wevote.me/> should be on public CDNs.

[code]

[2016-05-11 16:52] nf071590 commented on #239
npm runs the gulp task which is basically the same thing so I’d have to say thats still say thats a requirement.

[2016-05-11 16:56] DaleMcGrew commented on #239
Thank you @josephevans for doing the research into S3 and Cloudfront. I'm fine with sticking with serving up the bundle-vxx.js file and cached candidate/organization images from our app server. When we have enough traffic to warrant a $600/month Cloudfront service we can explore it again then. Feel free to close this Issue unless there is anything else to discuss here.

[2016-05-11 17:02] josephevans commented on #239
Thanks Dale. I'll setup a build process that can run on our admin VM, then we can pull the generated files from it for the production VMs behind the load balancer.

[2016-05-11 21:57] josephevans commented on #245
I installed Selenium on our admin VM - emailed instructions to Rob on how to get to it.

[2016-05-11 21:57] #245 closed

[2016-05-12 02:28] DaleMcGrew opened #261 "wevote.me/TwitterHandle - Return Candidate or Organization"
I have created an API Endpoint https://api.wevoteusa.org/apis/v1/docs/twitterIdentityRetrieve/
If you pass it a twitter handle, it returns the "kind_of_owner" (CANDIDATE or ORGANIZATION) and the "we_vote_id" of the owner of the twitter handle.

In "src/js/routes/NotFound.jsx" (in Pull request #260) I show how to display a Candidate card once we have the we_vote_id.

The task at hand is to take the

[2016-05-12 15:24] lisamcho commented on #176
Close this out?

[2016-05-12 15:24] #176 closed

[2016-05-12 19:23] nf071590 commented on #239
Re-opening the issue. There is no solution that has been communicated yet or working in production.

[2016-05-12 19:25] DaleMcGrew commented on #239
I think we decided to not use a We Vote CDN at this point. (We will use public CDNs for the public libraries, but serve up the bundle-vxx.js and other assets from our app server cluster.)

[2016-05-12 19:33] nf071590 commented on #239
Oh, so we're doing the same thing that we were doing before and not changing the workflow?

We can give Joe an npm script that will build and serve files.

[2016-05-12 21:20] josephevans commented on #239
I am already using the "NODE_ENV=production gulp build" command to build the static files. These then get sync'd to the backend servers, eliminating the need to serve the files up with npm. This is already working on production now.

[2016-05-12 21:20] #239 closed

[2016-05-12 21:33] DaleMcGrew commented on #244
@josephevans is this renaming of bundle.js something you can do in your release process, or does @nf071590 need to do this update in the npm build process?

[2016-05-12 21:46] nf071590 commented on #239
npm doesn't serve files express did and you only used `npm run prod` previously to run `NODE_ENV=production gulp`. `npm run prod` runs scripts for you. https://docs.npmjs.com/misc/scripts

[2016-05-12 21:46] nf071590 commented on #239
Check out that link so you know what's going on!

[2016-05-12 21:50] josephevans commented on #239
I understand what's going on -- but there's no need to run express or anything to serve up files that are not changing per-request.

Previously, HTTP requests would come in to the ElasticLoadBalancer which would forward the request to nginx instances running on the back-end servers. Then nginx would proxy the request to express. I eliminated this step so that nginx can serve up the static files di

[2016-05-12 21:56] nf071590 commented on #239
I get that. Use npm to build the files instead of calling gulp directly.

[2016-05-12 22:16] josephevans commented on #239
Ok, so what npm command should I use to do a build?

[2016-05-12 22:18] josephevans commented on #244
Sure! I just finished this and it's running in production on wevote.me. When a new version is installed, it changes index.html to point to "bundle-TIMESTAMP.js" and renames the javascript file.

[2016-05-12 22:18] #244 closed

[2016-05-12 22:19] DaleMcGrew commented on #244
Thank you!

[2016-05-12 22:32] nf071590 commented on #239
You write one.

[2016-05-14 14:29] DaleMcGrew commented on #261
Lisa got this working! (on development machines) @josephevans is working on fixing the routing on the live servers.

[2016-05-14 14:29] DaleMcGrew commented on #259
@pertrai1 do you have any thoughts about this?

[2016-05-14 19:40] pertrai1 commented on #124
@DaleMcGrew please verify

[2016-05-14 19:46] pertrai1 commented on #259
@ixley @DaleMcGrew - There is some good ideas behind what Jeff is proposing. I would like to take the approach that I have taken since Harry Roberts gave the presentation [CSS for Software Engineers](https://speakerdeck.com/csswizardry/css-for-software-engineers-for-css-developers). This will come to discussion once the new UX is brought into the fold.

[2016-05-14 19:48] pertrai1 commented on #249
@lisamcho @DaleMcGrew I have experience in working with the FB meta tags if you need me to tackle this.

[2016-05-14 19:50] pertrai1 commented on #230
Now it is recommended to use higher order components for the router: [React Updates](https://github.com/reactjs/react-router/blob/master/upgrade-guides/v2.4.0.md)

[2016-05-14 19:51] pertrai1 commented on #200
Closing as this is off topic and can be opened as new issue in the future if it comes to light.

[2016-05-14 19:51] #200 closed

[2016-05-14 20:06] DaleMcGrew commented on #124
Hi @pertrai1 this is very nice. Great work! One reproducible issue I am seeing is:
1. Click the hamburger
2. Choose a menu option and it takes you to the page
3. Click the hamburger again -- it doesn't respond. (this is the bug)
4. Click the hamburger again and it works.

[2016-05-14 23:16] lisamcho commented on #249
@pertrai1 Sounds great, thanks for tackling this one.

[2016-05-14 23:17] lisamcho commented on #261
@DaleMcGrew What is wrong with the routing on live servers?

[2016-05-15 00:06] DaleMcGrew commented on #261
On my development machine, http://localhost:3000/defenders (an organization) routes correctly to the org page. But on the live server we get a 404 from the ngnx load balancer.

[2016-05-15 00:19] ixley commented on #259
@pertrai1 Yep - I am definitely on board with most of the conventions Harry Roberts is a proponent of certainly of keeping things DRY. I probably even read one of his posts suggesting namespacing classes a while back. There are a few new techniques I need to wrap my head around in terms of how styling can be done more efficiently with React (especially abstraction that's less dependent on naming),

[2016-05-15 10:53] pertrai1 commented on #259
@ixley That sounds great to me. It seems like you have a great handle on this which leads me to defer to you on the presentational layer decisions. Any help that you need I will be of assistance.

[2016-05-15 23:38] ixley commented on #259
I just wasn't sure what an appropriate tool might be – especially still being relatively unfamiliar with React. Basically, I just want something that will auto prefix all class selectors within the bootstrap directory – I assume there has to be a simple package out there that does just this. Any suggestions @pertrai1 or @nf071590?

[2016-05-18 10:56] #124 closed

[2016-05-18 11:02] DaleMcGrew commented on #261
Hi @josephevans here is more details: we just implemented a feature where you can take the twitter handle, and use it to find either an organization or candidate on We Vote. In React this is implemented by taking any route that doesn't exist and looking it up as if it is a Twitter handle.

https://twitter.com/defenders
becomes:
https://wevote.me/defenders

Currently when I try to visit any url lik

[2016-05-18 17:21] josephevans commented on #261
I modified the nginx config to route everything unknown to index.html, so it seems to be working now. Can someone verify and close this issue if everything seems to work?

Explanation: Previously, I had a list of URL paths that would be rewritten to index.html, but since there are potentially many more, I changed the logic to always redirect unless it's a known fonts/css/js/favicon/apple image lin

[2016-05-18 17:24] DaleMcGrew commented on #261
It works like a charm, thank you! (Can I assume you will update https://wevote.guide when you transfer the new build process over to that network?)

-Dale

[2016-05-18 17:24] #261 closed

[2016-05-18 18:00] ixley opened #266 "Update Candidate Card component JSX (markup + functionality)"
Update the Candidate Card markup and functionality in line with the updated design.

*I'm proposing updating the JSX first because that is my biggest stumbling block. I've created an outline for the markup with styling in mind. If we update with styling in mind, but leave most of it until after the jsx is updated, I can potentially help with it as well. I'm open to other approaches too – this brea

[2016-05-18 18:00] ixley commented on #266
@DaleMcGrew mentioned that @pertrai1 offered to take this

[2016-05-18 18:32] ixley commented on #259
Looks like [gulp-class-prefix](https://www.npmjs.com/package/gulp-class-prefix) will work. I realized that even though there is a local copy of Bootstrap in the repo, the app is using a CDN hosted version, so I will address this as a chore when I'm able to get to it.

[2016-05-18 23:07] pertrai1 commented on #266
@ixley - I can take this on or I can get on a Hangout with you and mentor you through the process of working with JSX/React.

CC - @DaleMcGrew

[2016-05-18 23:08] pertrai1 commented on #266
@ixley One more thing ... if you don't want to go through the Hangout process, just go ahead and assign the issue to me.

[2016-05-18 23:45] ixley commented on #266
@pertrai1 I appreciate the offer but it probably depends on how long you think it would take to pair through it as opposed to just going solo. I will be available tonight from about 6–8pm PT (working from Code for SF) if you're around tonight. In general, though, my availability is limited and sporadic, so I just figured it would probably be more efficient for you to tackle that part of it, and th

[2016-05-19 06:23] pertrai1 commented on #266
@DaleMcGrew I have started to make these changes and I am having issue getting candidates to load on localhost. When I go to `http://localhost:3003/ballot` I only get the spinner and never loads the candidates.

[2016-05-19 06:25] DaleMcGrew commented on #266
Hi Rob, I have seen this problem,  but have not had a chance to reproduce it and store it as an issue.  If you delete your voter_device_id  cookie, you will be able to see your ballot again.

[2016-05-19 06:27] pertrai1 commented on #266
perfect. thanks Dale.

[2016-05-19 06:31] pertrai1 commented on #266
Lol. I thought it was perfect, but even after I delete the cookie, it is bringing it back every time I reload.

[2016-05-19 06:34] DaleMcGrew commented on #266
Maybe try re-saving the address  to reload the ballot instead of refreshing the browser? This is a frustrating bug!

[2016-05-19 06:35] pertrai1 commented on #266
Final part of this conversation here. When I clear the cookie, stop gulp, start gulp, and then try to change my address, it will not let me change the address to try to get a new id

[2016-05-19 06:43] pertrai1 commented on #266
@DaleMcGrew   Actually this might be the final part of the conversation since we are here. When i look at the cookie, the expire date is `9999-12-31T23:59:59.000Z` where as the others are in the likes of `2018-05-19T06:41:29.000Z`. Is the date of the cookie expire date a possible cause of the issue?

[2016-05-19 14:34] DaleMcGrew commented on #266
Yes, this is a problem. I'm investigating. While unrelated to the problem we are seeing now, also note that Chrome has an issue where it will create a path specific voter_device_id cookie if you are using "localhost". This problem goes away if you use an IP address instead (ex/ "127.0.0.1"), and the "localhost" + Chrome problem doesn't seem to have a solution according to the internet.

[2016-05-19 15:59] DaleMcGrew commented on #266
Hi Rob, I updated the cookie expiration year to 2200 instead of 9999. This seems to solve the problem and is in Pull Request #267.

[2016-05-20 13:31] DaleMcGrew opened #269 "Twitter handle links not routing on 2nd click"
This relates to code in Pull Request #268.
1. Search for "TODO TwitterHandle"
2. Uncomment the line below this and comment out the 2nd line below this
3. Click on a candidate link like https://wevote.me/BernieSanders (this works)
4. Now click on an organization on his page like https://wevote.me/NumbersUSA
The second click does not change the display, although the url in the address bar changes.
5

[2016-05-20 13:47] DaleMcGrew opened #270 "On Candidate page, following org does not immediately add rating on same page"
1. Go to https://wevote.me/nancypelosi
2. Follow the Sierra Club.
3. The "Follow/Ignore" option disappears from the page (which is correct)
4. The positive/negative counter should instantaneously update, and the rating should appear below the Candidate card.
5. If you refresh the page, the positive/negative counter and the rating show up correctly. This issue is about getting the rating to appear,

[2016-05-20 16:42] DaleMcGrew commented on #269
Hi @nf071590 as our resident routing expert, can you think of any way around this problem? I wonder if what is displayed doesn't change because we are actually remaining on this route?: /src/js/routes/NotFound.jsx
Do you know what code we could add to this page that would refresh the data displayed?

[2016-05-20 17:54] DaleMcGrew commented on #224
I found the code that was returning "text_for_map_search" where it should have been returning "google_civic_election_id", and I believe that fixed this. It seems to be fixed on my machine.

[2016-05-20 18:58] lisamcho commented on #270
One way of doing this would be to re-fetch the counts when you click support/oppose.
Another way would be to keep it local, but the endpoint would need to be updated to show whether the org is support or opposing the candidate.
I am also thinking that the position should show whether the org supports or opposes the candidate right? In which case you'd need to update the endpoint anyway. @DaleMcGre

[2016-05-20 19:09] DaleMcGrew commented on #270
I would love it if you could refetch the counts for a particular Candidate when an org is followed from the list below the candidate.

You are right, on the Candidate page, the orgs/positions under "More Opinions About CANDIDATE" that you can Follow or Ignore, should show support/oppose/rating.

Am I correct that you are saying we should update http://localhost:8000/apis/v1/docs/voterGuidesToFollo

[2016-05-20 19:25] lisamcho commented on #270
@dale, we currently don't have that information. Yes, we need to change voterGuidesToFollowRetrieve. I think that positionListForBallotItem already has the information.

If we have this information, then we don't need to refetch the counts, we just need to update the info locally I think.

[2016-05-20 19:26] DaleMcGrew commented on #270
Awesome -- I'll update voterGuidesToFollowRetrieve. Thank you.

[2016-05-20 19:57] ixley opened #272 "Abbreviate Twitter follower counts"
Let's abbreviate Twitter follower counts like Twitter does. Basically, aim for the count to not go beyond 4 characters (excluding commas/decimals). The exact count can be kept – perhaps for 'title' to show on hover if it seems useful.

< 10,000 - add commas (5,035)
10,000 – 99,999 - round to one decimal place (45.8K)
100,000 – 999,999 - round to nearest thousand (847K)
1,000,000 – ?? - round to te

[2016-05-20 21:13] lisamcho commented on #224
I can still reproduce this, but I get the "Enter a different address" box instead of the indefinite loading screen. I think the problem is different now.
voterRetrieve creates a voterdeviceid fine.
voterAddressRetrieve is called and returns a google_civic_id of 0.
voterBallotItemsRetrieve is called with google_civic_id of 0, but it returns a ballot with google_civic_id of 1000000.

The BallotStore

[2016-05-20 23:24] pertrai1 commented on #249
@lisamcho - I am not confident that I will have time to get this done with some of the release stories I have at work going on right now. Going to have to pass this back to you.

[2016-05-20 23:39] lisamcho commented on #249
OK, ditto, I'm not confident I'll have time either, lol. Put back in milestone B)? @DaleMcGrew

[2016-05-20 23:48] DaleMcGrew commented on #249
That works for me.

[2016-05-20 23:56] lisamcho commented on #7
This design looks so much better! Close this out?

[2016-05-21 13:31] DaleMcGrew commented on #270
The API server now provides support/oppose and rating info in the endpoint voterGuidesToFollowRetrieve, and that data is brought into /src/js/components/VoterGuide/Organization in Pull Request #274

[2016-05-21 13:40] DaleMcGrew commented on #171
This is great @lisamcho! Verified.

[2016-05-21 13:40] #171 closed

[2016-05-21 13:41] DaleMcGrew commented on #7
Yes! Great work @ixley!

[2016-05-21 13:41] #7 closed

[2016-05-21 14:58] DaleMcGrew opened #275 "Up and down arrows not showing on live server"
1. Go here: https://wevote.me/cr
2. Under each candidate, the up and down arrows are not appearing. They *do* appear on our local development machines.

[2016-05-21 16:51] ixley commented on #266
Hey Rob - Dale mentioned that you might be a little slammed with other work right now so I wanted to check in to see whether you want to hand this off. Lisa might be a bit more available so just let me know what you guys think.

@pertrai1 @DaleMcrew @lisamcho

[2016-05-22 16:25] josephevans commented on #275
Change nginx config - added /img path to serve up actual files instead of index.html.

[2016-05-22 16:25] #275 closed

[2016-05-22 17:09] lisamcho opened #277 "Remove Facebook login information printout"
We have lots of random information shown on the logged-in screen. Let's remove this junk before the BBQ. Agree?

[2016-05-22 17:12] DaleMcGrew commented on #277
Great call, I agree.

[2016-05-23 07:07] ixley opened #278 "Show position in OrganizationPositionItem just like PositionItem"
Add position info to OrganizationPositionItem. Currently, it shows a rating without a timestamped year, but it doesn't show explicit positions. Show full position info with the same logic as in PositionItem.jsx.

Bonus points if you can put the code for .explicit-position in a component (like PositionRatingSnippet) and modularize the whole thing.

[2016-05-23 07:22] ixley opened #279 "Add org position to unfollowed orgs on Candidate page"
Currently, unfollowed orgs with positions on a candidate will show up below followed orgs on the candidate page, but without their positions. Show positions for unfollowed orgs too, beneath their twitter bio. (organization.jsx)

@DaleMcGrew can you confirm this is what you want?

[2016-05-23 07:32] ixley opened #280 "Store and resize scraped images on We Vote servers"
@nf071590: "storing images on wevote and scaling them will help client side load & render speeds"
YES!

Store and resize images for candidates, orgs, and any other relevant sets so they are optimized for the sizes we are using them at. We should always avoid serving oversized images if it can be helped.

Related to https://github.com/wevote/WeVoteServer/issues/103 and https://github.com/wevote/WeV

[2016-05-23 13:30] DaleMcGrew commented on #279
That is correct. It is helpful to see an organization's opinions about a
candidate before you follow it. The variables with the is_support /
is_positive _rating etc are already in the Organization Jsx card /
component, ready to style.

-Dale

On Monday, May 23, 2016, Jeff French <notifications@github.com> wrote:

--

Dale John McGrew
Co-founder, We Vote USA
dale.mcgrew@wevoteusa.org
www.WeVoteUSA.

[2016-05-24 06:23] lisamcho commented on #272
Hmmm, anyone know any good libraries that will take care of this for us? @DaleMcGrew @pertrai1 @nf071590

[2016-05-24 07:36] pertrai1 commented on #272
@lisamcho @ixley @DaleMcGrew
[code]

`nFormatter(2500)` => 2.5k

[2016-05-24 16:21] DaleMcGrew opened #281 "Turn off Appveyor github test for now?"
Hi @pertrai1 I notice that this 'Appveyor' test fails quite often, and we ignore it's failure. What do you think about removing this test from our build process until we are going to respond to it failing?

continuous-integration/appveyor/pr

[2016-05-24 18:41] ixley commented on #272
Awesome - thanks @pertrai1. I'll make some adjustments and attempt to add this.

[2016-05-24 21:24] pertrai1 commented on #281
@DaleMcGrew This has been done.

[2016-05-24 21:24] pertrai1 commented on #281
Here is the commit [7d1ef5aa](https://github.com/wevote/WebApp/commit/e7e2964f611fe3c8d94aca99795588f97d1ef5aa)

[2016-05-24 21:24] #281 closed

[2016-05-24 21:25] DaleMcGrew commented on #281
Thank you Rob!

[2016-05-25 03:15] DaleMcGrew commented on #224
I have updated https://wevote.me with a fix.

[2016-05-26 02:34] #272 closed

[2016-05-26 04:13] ixley opened #284 "Add source attribution (name and link) for (explicit) positions"
Add a source attribution for explicit positions by orgs (similar to how ratings are attributed to Vote Smart) when available. List name and link to url.

[2016-05-27 03:16] lisamcho commented on #224
Hey I looked at this again. @DaleMcGrew The exact same thing is happening on Api.wevoteusa (returning google civic id of 0 when you retrieve the user's address, then returning a ballot with a different google civic id.)

[2016-05-27 03:18] DaleMcGrew commented on #224
I think I found the problem a little bit ago. I will test in the next couple of hours.

[2016-05-27 04:54] DaleMcGrew commented on #224
Hi @lisamcho I just updated the API server and I think it is doing what it should be doing now. I think the solution is to either A) wait to call voterBallotItemsRetrieve until after we have gotten a response from voterAddressRetrieve, or B) Call voterBallotItemsRetrieve again when visiting the /ballot page if we don't have any ballot entries. Can you try that?

[2016-05-27 05:39] lisamcho commented on #224
@dale I just retested it, and I'm able to reproduce the issue in the api.wevoteusa.org (completely independent of the javascript app and timing issues). Can you retest it following the steps I've outlined above? I think that the problem is that voterAddressRetrieve returns a civic_id of 0 (when the actual civic id is something else). There's a hack-y way to fix it on the front end (just don't stor

[2016-05-27 05:44] DaleMcGrew commented on #224
When I test I always see a google civic election id come back from voterAddressRetrieve. You aren't?

[2016-05-27 10:45] DaleMcGrew commented on #224
I see voterBallotItemsRetrieve come back before voterAddressRetrieve completes. If voterBallotItemsRetrieve was delayed until after voterAddressRetrieve, it looks like to me that this problem would be solved. I think also calling voterBallotItemsRetrieve again when visiting the /ballot page (if we don't have any ballot entries) would also add get the data we need.
Note: I am seeing a new problem w

[2016-05-27 15:28] lisamcho commented on #224
I see 0 come back as civicid from voteraddressretrieve. That is wrong.

[2016-05-27 18:21] #266 closed

[2016-05-28 00:04] DaleMcGrew commented on #278
@ixley please verify fix once pull request #288 is approved.

[2016-05-28 00:04] DaleMcGrew commented on #284
Added in pull request #288. @ixley please verify fix.

[2016-05-28 00:06] DaleMcGrew commented on #279
@ixley you should be able to drop in this code now:
          { vote_smart_rating ?
          <PositionRatingSnippet {...position} /> :
              <PositionSupportOpposeSnippet {...position} /> }
I am about to lose internet connection or else I would do it!

[2016-05-28 18:01] #259 closed

[2016-05-28 18:15] pertrai1 opened #290 "Uncaught Invariant Violation"
I am getting this error in the console when running the app locally. It gives a link to the issue that Facebook has a response to: https://gist.github.com/jimfb/4faa6cbfb1ef476bd105

[2016-05-28 18:18] pertrai1 opened #291 "Loading Data Local Not Loading"
I am not able to get data to display locally. Pulled latest from dev branch.

![we_vote](https://cloud.githubusercontent.com/assets/442374/15629093/f6dc785a-24de-11e6-9d0d-7694c7d1dffb.jpg)

[2016-05-28 18:22] pertrai1 commented on #290
From the link I found out that if you `rm -rf node_modules` and then do `npm install`, it fixes the issue.

[2016-05-28 18:22] #290 closed

[2016-05-29 06:36] ixley commented on #279
I reordered the condition to be
[code]
but it doesn't seem like it's quite working because everything is currently showing up as ratings (I can't find any explicit positions). It's hard for me to check because I wasn't seeing many explicit positions before, but the ones I checked are all ratings now.

[2016-05-29 06:38] ixley commented on #278
I haven't been able to check this because nothing is showing up with explicit positions (only ratings). Were you seeing thumbed positions when you tested this?

[2016-05-29 12:14] pertrai1 commented on #228
@DaleMcGrew I looked more into this with being able to use AWS/Docker/Selenium, and there are price factors that would need to be considered if the need is great enough to have this in place. Obviously the testing of source code and functional testing is important to any good application, and also being aware of the pricing will determine if it can be done now. Also will need to keep in mind the t

[2016-05-29 12:18] pertrai1 commented on #269
@DaleMcGrew If I can get figured out what the issue is with data not being retrieved on my local I can help get to the bottom of this bug.

[2016-05-29 12:30] pertrai1 commented on #249
@DaleMcGrew @lisamcho - Using https://github.com/nfl/react-helmet I think the level of effort would be slightly high taking into effect the learning of how to use react-helmet and how to use it efficiently in the application.

[2016-05-29 15:45] lisamcho commented on #249
@pertrai1 That looks great

[2016-05-31 01:51] lisamcho commented on #291
@DaleMcGrew @pertrai1 This is weird. I pulled the latest down too. I can get my 'choices remaining' and 'ballot' pages to load, but bookmarks won't load no matter what. That was working fine before.

[2016-05-31 15:57] DaleMcGrew commented on #279
I created an organization called "We Vote Test Organization": http://localhost:3000/wevoteusa In the election 4209 (California June 7th), I added various support/oppose entries, including Duf Sundheim for US Senate, and Willie Wilson for Democrat for President.

[2016-05-31 16:39] pertrai1 commented on #154
@ixley Was playing around and one of the newsletters showed this off: http://atomicdocs.io/

[2016-05-31 17:33] ixley commented on #154
@pertrai1 Sweet - thanks for sharing. So many good options! Once I get a chance, I will probably try to pick something lightweight (per our previous discussion) that references the majority of our components and styles without too much redundancy or set up.

[2016-05-31 17:53] DaleMcGrew commented on #291
I'm looking at the "What I Have Bookmarked" problem.

To get "All Ballot Items" page to work, try deleting your voter_device_id cookie and then save a new ballot address like "Charlotte, NC 28205". We need to occasionally delete cookies manually (there are a few cases where the voter_device_id becomes invalidated on the API server, but the browser still thinks the voter_device_id cookie is valid)

[2016-06-01 00:24] ixley opened #294 "Prefixed Bootstrap classes makes it more difficult to use Bootstrap related tools"
I recently added a task to prefix all Bootstrap classes (https://github.com/wevote/WebApp/pull/289) for better maintainability. My thinking was that because we are mixing a variety of custom component and utility classes along with vendor utility classes (like Bootstrap), that it's best to have them clearly scoped and identifiable.

The downside, that I only realized more fully after the fact, is

[2016-06-01 00:38] DaleMcGrew commented on #294
Adding a custom prefix, which requires us to host our own version of the Bootstrap classes in a We Vote specific CDN, also means that we don't get the benefit of the caching of the Bootstrap file from a visit to another website that uses the default, used-by-many-sites, Bootstrap CDN. There are many trade offs to weigh though. I don't have strong feelings either way.

[2016-06-01 00:48] DaleMcGrew commented on #269
@pertrai1 thank you. I think we just need to re-render the page when the Twitter handle changes.

[2016-06-01 01:05] DaleMcGrew commented on #224
Hi @lisamcho, I hope you had a good weekend. Maybe we can watch the console together tomorrow night? I am seeing a positive value for google_civic_id in the console, so I'm not seeing voterAddressRetrieve returning 0 any more. I am seeing voterBallotItemsRetrieve getting called before voterAddressRetrieve. Is it difficult to call voterBallotItemsRetrieve on the ballot route if there aren't any bal

[2016-06-01 05:34] lisamcho commented on #224
@DaleMcGrew I can't make it tomorrow, but did you change the API Server? I can no longer reproduce the bug. When I fetch voterAddressRetrieve for a new voter_device_id, I am no longer getting google_civic_id of 0. The ballot is loading fine.

[2016-06-01 06:27] DaleMcGrew commented on #224
Hi Lisa, I made a few fixes over the last week to the API server. I still see this bug with the ballot not showing up if I don't save my address, even though I get a google_civic_id back from voterAddressRetrieve..

[2016-06-01 06:45] lisamcho commented on #224
@DaleMcGrew ok,  that is weird that is still shows up for you but not me. I'm guessing there is more than one root cause of this bug (wrong civic ids would certainly do it), but calling the api in the wrong order could do it too.

Re... " Is it difficult to call voterBallotItemsRetrieve on the ballot route if there aren't any ballot items in the BallotStore?" That wouldn't be difficult but I don't

[2016-06-01 15:08] DaleMcGrew commented on #224
Thank you @lisamcho, I don't believe voterBallotItemsRetrieve will return any items until voterAddressRetrieve is complete, so  I will try this: "You could try to change the BallotActions.retrieve() call in BallotStore to be called when the store registers an action of voterAddressRetrieve, not voterRetrieve."

Thank you for your help debugging this!

[2016-06-01 15:09] DaleMcGrew commented on #228
Hi @pertrai1, thank you for doing the research. How can I learn about the pricing considerations?

[2016-06-01 15:29] ixley commented on #284
okay, I see the endorsement and source info on http://localhost:3000/progressivekick now, but still almost no others. Are there any other orgs to look for explicit positions with?

[2016-06-01 15:29] #284 closed

[2016-06-01 15:31] DaleMcGrew commented on #284
@ixley we haven't entered very much data with explicit positions yet -- I'll keep adding more so we have more examples tonight. After the June 7th election I can write an importer to pull in explicit positions from Vote Smart.

[2016-06-01 16:20] DaleMcGrew commented on #277
👍

[2016-06-01 16:20] #277 closed

[2016-06-01 16:20] ixley commented on #284
Ok sounds good. Mostly just asking to verify things are working and showing
up as intended.

On Wednesday, June 1, 2016, Dale John McGrew <notifications@github.com>
wrote:

[2016-06-01 17:16] ixley commented on #294
I dismissed the front-end caching as a relevant concern for right now. The bootstrap file is still separate and not something we would edit often, so ultimately it's a small file that can still get cached.

Does anyone else have strong feelings or thoughts on how much we might want to rely on the Bootstrap ecosystem in the near future? There is a relatively clear (even if limited) value to me with

[2016-06-01 17:17] #278 closed

[2016-06-01 18:43] pertrai1 commented on #294
If you feel that you have a good system being put in place for handling bootstrap then I would not worry about the cache.

[2016-06-01 18:48] DaleMcGrew commented on #269
Maybe try http://127.0.0.1:3000 instead of http://localhost:3000 ?

[2016-06-01 18:50] pertrai1 commented on #269
I will give that a shot tonight and give feedback on result

[2016-06-01 18:52] DaleMcGrew commented on #269
Also, running on localhost in Chrome, there is a browser bug where the voter_device_id cookie will get created on the root AND a folder path, so you might have to delete two voter_device_id cookies.

[2016-06-01 20:24] ixley commented on #294
@pertrai1 Yeah, I'm not worried about caching. My concern was about not being able to use other Bootstrap related tools that depend on its (unmodified) classes. React-Bootstrap is one where I realized I could accommodate simple adjustments (like for buttons), but that other components like drop-down menu/buttons wouldn't be feasible anymore.

So my question is, how important do we think these Boot

[2016-06-01 20:42] pertrai1 commented on #294
@ixley It all depends. If there are not many of them that are going to be used, take the module, clone it, and make your version of it that accommodates this app. Now that npm has it where you can do private npm, you can use it just like any other. Might be the best route to go if you want to have full control over the React components you have.

[2016-06-02 13:45] DaleMcGrew commented on #224
To be verified after Pull Request #296 is merged.

[2016-06-02 13:54] DaleMcGrew commented on #270
Hi @lisamcho 'Following' an organization on a candidate page is updating the rating count on the position bar (which is good), but the position description disappears from the page after 'Following'. When you Follow an organization it should not disappear. The organization should still disappear when you click the "Ignore" button.

[2016-06-03 02:35] lisamcho commented on #270
So we are changing both the OpinionsToFollowPage as well as this?

[2016-06-03 02:43] lisamcho opened #297 "get support/oppose dropdown working"
We should change the 'remove position' link on itemactionbar to a dropdown per Jeff's design.
@ixley Are you working on this one? Wasn't sure if you need help with jsx stuff or are just using an existing opensource dropdown component.

[2016-06-03 02:45] lisamcho commented on #279
looks good!

[2016-06-03 02:45] #279 closed

[2016-06-03 03:32] lisamcho opened #299 "missing support/oppose actions on candidate card"
When you are on a url with twitterhandle on it (rather than we_vote_id), the support/oppose counts and bar are missing.

[2016-06-03 03:34] lisamcho commented on #299
@DaleMcGrew I think we added this feature too close to this milestone. Suggest reverting the twitter handle as a url. It doesn't work properly and there's not really time to debug it.

[2016-06-03 03:42] lisamcho commented on #299
nevermind I think my internet connection is being bogus.

[2016-06-03 03:42] #299 closed

[2016-06-03 03:43] DaleMcGrew commented on #270
It would be good to change the OpinionsToFollowPage as well, but is less important for this milestone.

[2016-06-03 04:01] ixley commented on #297
I have tried a couple different component plugins but without success. React Bootstrap would've worked except for the prefixing I added (for bootstrap classes) so if I roll those changes back OR customize the package to be compatible that could still work. It _seems_ like simple enough functionality that ideally I could write something custom with a basic state change but I just haven't had the ti

[2016-06-03 04:17] ixley commented on #294
Cloning a module and customizing it feels more overwhelming to me (mostly because I assume it means more manual maintenance). I am okay with customizing Bootstrap (via an automated task) but if we want to use many other BS dependent tools I would rather just roll back my prefixing than further customize everything.

My question was mainly whether others here had strong opinions or thoughts about a

[2016-06-03 04:46] lisamcho commented on #270
Should be fixed with #301

[2016-06-03 04:49] lisamcho commented on #224
Cool, I think we're ready to close, finally! That one was epic eh @DaleMcGrew ?

[2016-06-03 04:49] #224 closed

[2016-06-03 06:05] lisamcho commented on #297
Done! see #302

[2016-06-03 06:05] #297 closed

[2016-06-03 06:10] lisamcho opened #303 "add empty state for bookmarks"
When you haven't added any bookmarks, add a message (like when you haven't supported anyone on the SupportBallot page)

[2016-06-03 07:59] pertrai1 commented on #294
I do not have a strong opinion on the subject

[2016-06-03 16:49] pertrai1 commented on #294
@ixley At this time I believe that Dale and We Vote will be looking for you to be the driving force for the UI decision making. If there is something up in the air you are not sure about or ideas you want to bounce around, that is something I am happy to assist with. You take it from here. Looks like you are doing an amazing job.

This can probably be closed now.

CC: @DaleMcGrew @nf071590

[2016-06-03 16:50] ixley opened #304 "Support/Oppose Incrementing/Decrementing bug"
Clicking Support, Oppose, or Remove Position rapidly excessively increments or decrements the counts. This bug was addressed previously, but it seems to have been reintroduced recently, possibly with https://github.com/wevote/WebApp/pull/302.

There is also a significant delay/lag with registering these clicks, which is not the source of the problem, but makes it more apparent.

[Screenshot with n

[2016-06-03 17:04] ixley commented on #294
@pertrai1 Well thanks for the input and vote of confidence. I'll try to embrace that and just expect you and others to be vocal if you see something you think is questionable or disagree with. I will still probably continue to look for input with things like this but will try to not let it hold me up.

[2016-06-03 17:04] #294 closed

[2016-06-03 17:05] DaleMcGrew commented on #294
You don't have to worry about this group not being vocal. ;)  I really appreciate all of the experience and passion you bring to We Vote Jeff!

[2016-06-03 17:08] DaleMcGrew commented on #270
Awesome!!! I really like how this is working now. Great work @lisamcho.

[2016-06-03 17:08] #270 closed

[2016-06-03 17:30] DaleMcGrew commented on #224
Yes, that was a tough bug! Thank you for all of the analysis you did so I could solve the core API problems.

[2016-06-09 02:16] #291 closed

[2016-06-09 03:05] lisamcho commented on #304
Should be fixed with #305

[2016-06-09 03:23] lisamcho commented on #303
Fixed with #306

[2016-06-09 03:23] #303 closed

[2016-06-09 03:24] #52 closed

[2016-06-09 03:25] lisamcho commented on #131
More likely to implement a "more" feature where we show top 3-5 candidates for each race rather than the whole long ballot.

[2016-06-09 03:25] #131 closed

[2016-06-09 03:28] lisamcho commented on #4
closing out. No additional info to put on this page right now

[2016-06-09 03:28] #4 closed

[2016-06-09 03:38] DaleMcGrew commented on #304
Verified!

[2016-06-09 03:38] #304 closed

[2016-06-09 03:52] DaleMcGrew commented on #240
Closing this.

[2016-06-09 03:52] #240 closed

[2016-06-11 14:17] pertrai1 commented on #228
@DaleMcGrew @josephevans should be able to help with this in regards to the pricing considerations if UI automation was to be done on demand. https://aws.amazon.com/ecs/

[2016-06-13 14:22] DaleMcGrew opened #309 "Header link areas not working, top ~18px"
In desktop mode, try to click any icon or link in the top 18-20px of the browser display area. There seems to be something blocking all links / link areas from working.

[2016-06-15 00:18] DaleMcGrew opened #310 "Post Comment on Candidate Page"
On a candidate’s page, offer a comment box where a voter can comment on the candidate. This comment can be saved with this API endpoint:
http://localhost:8000/apis/v1/docs/voterPositionCommentSave/
Save a voter's comment about an office, candidate or measure, to be shared with friends.
Once saved, the voter who made the comment should be able to edit and re-save the comment. Once saved, the commen

[2016-06-15 00:22] DaleMcGrew opened #311 "Create Measure page where we can display positions"
Learning from the Candidate page (the page that has all of the positions related to the candidate), update the stub for the Measure page here: /src/js/routes/Ballot/Measure.jsx
Go to: http://localhost:3000/defenders

Please let @DaleMcGrew know if any API endpoints aren’t working for measures. FYI: There will be very few positions in the API database for Measures, so when you do your work, we will

[2016-06-17 03:21] #230 closed

[2016-06-19 03:14] #309 closed

[2016-06-23 05:05] lisamcho commented on #249
I looked at the react-helmet repo. It looks like a good way to manage the head so that we can dynamically set FB markup. Per the example in the react-helmet repo, we need to dynamically render the  html document (including head) on the server side. More specifically, I think we need to change our server.js to render the <head> with interpolated data from this component and also render the router c

[2016-06-23 16:29] DaleMcGrew commented on #249
Thank you @lisamcho. @josephevans & @nf071590 are we dynamically serving up the index page, or is it pre-rendered and served from the NGNX load balancer? Would the three of you be open to scheduling some time (perhaps this or next Saturday morning) to discuss?

[2016-06-23 16:32] josephevans commented on #249
We are serving up a static version of the file with nginx -- there is no running instance of node/npm/server.js to do this. Is there any alternative methods of getting the required data instead of having to dynamically generate the default index page?

[2016-06-23 19:14] DaleMcGrew opened #315 "Icons in top navigation bar hug right side of browser"
1. Grab latest code
2. View ballot in desktop mode, with the browser window (Chrome) opened wide
3. The top 4 navigation items float over to the edge of the browser. They should only float over to the edge of the bounded We Vote content
![screen shot 2016-06-23 at 12 11 07 pm](https://cloud.githubusercontent.com/assets/7756031/16316554/f84da35a-393b-11e6-876c-1a5bed66db5d.png)
area.

[2016-06-23 19:17] DaleMcGrew opened #316 "Update icons to Adam's new designs"
Adam has designed new icons that are ready for inclusion:
https://drive.google.com/drive/u/1/folders/0B_wLhwGZ781aQkQ0T2FpakZWdEU

Note: Design for bookmark icon is missing, but I think the one currently in use will match the new style?

[2016-06-23 19:45] ixley commented on #315
Hmm... I noticed this​ when I was working but thought it was gone by the
time I pushed my latest commit. I'll give it another look.

[2016-06-24 03:40] #269 closed

[2016-06-24 04:00] ixley commented on #315
@DaleMcGrew Can you double check to make sure your cache is cleared? I'm not able to reproduce this.

[2016-06-24 04:22] DaleMcGrew commented on #315
@ixley I apologize, you are correct that a full refresh of the browser gets rid of the problem. I'm sorry I didn't catch that!

[2016-06-24 04:22] #315 closed

[2016-06-24 04:41] ixley commented on #315
No worries!

[2016-06-27 15:55] DaleMcGrew opened #319 "Support/Oppose/Share Icons with Text instead of Buttons with Text"
Convert the visual look of the "Support", "Oppose" and "Share" buttons under a candidate to be the icon plus text similar to this image.
<img width="537" alt="screen shot 2016-06-27 at 8 53 58 am" src="https://cloud.githubusercontent.com/assets/7756031/16386218/c3a5ac4a-3c44-11e6-8269-9c19999e3469.png">
![pasted_image_6_27_16__11_38_am](https://cloud.githubusercontent.com/assets/160662/16391390/c1

[2016-06-30 17:22] ixley commented on #316
Waiting for Adam to finalize icons - paths need to be cleaned up to minimize subpixel anti-aliasing.

[2016-07-01 16:39] DaleMcGrew opened #322 ""Submit Feedback" Widget"
We are showing https://wevote.me to many people. In case any people see the site and would like to submit feedback, I would like to offer a link anyone can click to "Submit Feedback". This should like to a third-party service and include these features:
- [ ] Require your email to submit feedback. We Vote should have access to the emails submitted.
- [ ] Include a website where we can view comment

[2016-07-01 16:46] DaleMcGrew opened #323 "WeVote.me deployment has 3-5 minute delay"
Hi Joe, I was able to duplicate this.
1)
Sign into AWS:
ssh dmcgrew@admin.wevote.me

2)
sudo /root/update_www_code

For about 3-5 minutes, the site https://wevote.me showed only a blue screen. The source for the page showed a bundle file with timestamp:
<script src="/js/bundle-1467380377.js"></script>

...but when I clicked on the bundle link:
https://wevote.me/js/bundle-1467380377.js
I got:
404 N

[2016-07-01 17:30] josephevans commented on #323
When you run "update_www_code", this is updating the admin server with the latest code from github and then building it. This admin server is not an actual webserver -- it is just building the latest code and staging it. The backend webservers then have a cron job that runs every 5 minutes that grabs the latest code from the admin server (without having to restart any services.)

It was setup this

[2016-07-01 17:42] DaleMcGrew opened #324 "Display explanation of what a Vote Smart rating means"
Throughout We Vote we have ratings that have come from Vote Smart. When someone clicks on a rating, pop up a div that explains how the rating was created. (Use one of the bootstrap popups.)

<img width="381" alt="screen shot 2016-07-01 at 10 40 46 am" src="https://cloud.githubusercontent.com/assets/7756031/16529528/4e2d920c-3f78-11e6-9149-ac027e73fc57.png">

[2016-07-01 17:47] DaleMcGrew opened #325 "Clicking on Rating bar should take you through to Candidate page"
When you are on the ballot page, a click anywhere on the positions bar should take you to the candidate's page.
<img width="546" alt="screen shot 2016-07-01 at 10 47 03 am" src="https://cloud.githubusercontent.com/assets/7756031/16529691/323c3f84-3f79-11e6-9aac-9e9afd6621f5.png">

[2016-07-01 18:44] DaleMcGrew commented on #323
Hi Joe, did you make any changes to fix the 3-5 minute downtime?

[2016-07-01 19:27] josephevans commented on #323
There shouldn't be any downtime when updating the codebase. I am not sure why it seemed like it was down. Maybe you had a stale index.html loaded referring to the old javascript bundle that was deleted?

[2016-07-01 20:53] DaleMcGrew commented on #323
Prior to updating the site, WeVote.me loads fine. As soon as I start the "sudo /root/update_www_code" process, I get only a blue screen when I hard-refresh WeVote.me for about 3-5 minutes.

[2016-07-01 21:54] josephevans commented on #323
I can't duplicate this. There could potentially be a race condition when running update_www_code -- if the webserver attempts to copy the built files before they are finished, it could end up getting only the completed files. Let me think about how to avoid this.

[2016-07-03 04:50] pertrai1 commented on #323
@DaleMcGrew @josephevans Hey guys, just wanted to pipe in and see if I could be of help. It could be helpful to go the route of doing a nightly build that could be done during non-peak hours. Also, if there needs to be updates that are pushed to the production server during the day, have a static page that in put in place saying updates/upgrades are in progress(ex).

[2016-07-03 13:02] DaleMcGrew commented on #323
Hi @pertrai1 great to hear from you! Joe and I discussed this, and @josephevans thinks he can solve it by changing the order of how he builds and copies files into the production staging folder. The complication comes because we have a build server that prepares files that then get distributed to the Web servers that deliver these files to voters. What seems to be happening are partial builds were

[2016-07-06 17:05] pertrai1 opened #327 "Twitter redirect return issue"
Hey, playing around with site and went to sign in with Twitter. Did not sign in and instead hit the back button. Instead of bringing me back to the site, it would do a redirect and go right back to Twitter to the sign in. Take a look and see if you can reproduce. @DaleMcGrew

[2016-07-06 17:23] DaleMcGrew opened #328 "Instant search results display fixes"
Instant search box code is here: /src/js/components/SearchAllBox.js

- [x] Whenever we have results for instant search, put them (search_results) in a drop-down
- [x] The search box is floating down from the top of the page. Please bring it up to be in line with the "My Voter Guide" text and header icons.
- [x] When the view area is less than 330px wide, hide the "My Voter Guide demo" text, and sh

[2016-07-07 03:13] lisamcho commented on #249
I can't find any alternatives but open to suggestions. See the example on https://github.com/nfl/react-helmet

[2016-07-07 07:24] pertrai1 commented on #328
@DaleMcGrew For the first point, if the name is longer than the width, do  you want ellipsis used to mask the rest of the name or have it break to new line?

[2016-07-07 11:57] DaleMcGrew commented on #328
Ellipses please. We can also make the Instant Search box automatically scale to fill the available space in the header.

[2016-07-09 00:44] ixley commented on #324
@dalemcgrew Can you provide a sample of the text you'd like here?

[2016-07-09 03:47] DaleMcGrew commented on #324
Thank you @ixley, lets start with this:
Source: VoteSmart.org
Ratings are given by the organization, and collected by the nonprofit Vote Smart.
(down arrow icon) 0% is a low score, and (up arrow icon) 100% is a high score.
Ratings can be invaluable in showing where an incumbent has stood on a series of votes in the past one or two years, especially when ratings by groups on all sides of an issue a

[2016-07-09 13:35] pertrai1 commented on #328
@DaleMcGrew I wanted to make sure you are aware that the search results are not accurate when doing searches? Testing has continued to bring back results that had no relevance to what the characters were that I had in the input field. Here is an example:

Type in 'af' and the first result is Christy Afflerbach Hudson
Type in 'Christy' and there is no return of Christy Afflerbach Hudson

I believe

[2016-07-09 13:41] DaleMcGrew commented on #328
Hi @pertrai1, thank you for the bug report. @josephevans and I are still working on tuning the indexing of data (this will be an ongoing process), so specific reports like this one are very helpful. We can have temporary imperfections in the develop branch for the next couple of months as we work out kinks like this.

As you find more search problems, can you enter them as issues in https://github

[2016-07-09 13:43] pertrai1 commented on #328
@DaleMcGrew @josephevans I will certainly do so. Anytime there is an inconsistent result I will add issue with the steps to reproduce.

[2016-07-09 15:56] pertrai1 commented on #328
@DaleMcGrew I have pushed a PR for you to pull from and see what has been done and the small changes that are still needed to get this complete. #330 is the PR. If we need to discuss, let me know and I can jump on gmail or slack to talk.

[2016-07-09 16:23] DaleMcGrew commented on #328
Hi @pertrai1 I am checking out your pull request. We are off to a great start. It looks best in desktop mode (full width). Some comments from Chrome on a Mac:
- [ ] In narrow browser mode, limit the width of the search box so it stays on the same line with "My Voter Guide"
- [ ] Make sure the drop down is limited to the width of the search box + the search button.

[2016-07-09 18:53] pertrai1 commented on #322
@DaleMcGrew take a look at this one: https://usersnap.com/features/feedback-widget-bug-tracking

[2016-07-09 23:49] DaleMcGrew opened #331 "Instant Search: When a search result is clicked, close the drop down"
Instant search box code is here: /src/js/components/SearchAllBox.js
When a search result is clicked, close the drop down, and move the selected search term into the search box. We don't have anyone else who is an expert in React Router (although @lisamcho is working on React now at her day-job), so it would be great if you can see how some type of onClick can be used to have the search-container b

[2016-07-09 23:51] DaleMcGrew opened #332 "Instant search: When you click outside of the search drop-down, close the drop down."
Instant search box code is here: /src/js/components/SearchAllBox.js
I'm hoping we can mimic the behavior of the hamburger, slide out navigation, where the left navigation closes when you click outside of the navigation menu.

[2016-07-09 23:53] DaleMcGrew commented on #328
@pertrai1 I moved some of the elements of this issue to new issues #331 and #332. This issue is now completely focused on the styling of the instant search box.

[2016-07-10 10:56] pertrai1 commented on #328
* [x] When the view area is less than 330px wide, hide the "My Voter Guide demo" text, and show the "Search We Vote" box (with the navigation hamburger)
* [x] Between 696px and 770px the Search box drops down about 12-15px. Please remove this spacing.
* [x] Make the width of the search results dropdown match the width of the search input box, including the magnifying glass icon.

@DaleMcGrew Befor

[2016-07-10 12:52] DaleMcGrew opened #333 "Instant Search: Change color of search button based on input focus"
Instant search box code is here: /src/js/components/SearchAllBox.js
- [x] Prior to the instant search box having focus, make the magnifying glass icon (background) white.
- [x] When the instant search box has focus, make the magnifying glass icon (background) blue.

[2016-07-10 12:57] DaleMcGrew commented on #328
The latest version is almost there @pertrai1! It is exciting to see.

This is the only remaining item for this Issue: When the view area is between 330px wide and 695px wide, the search box should not drop down to a new line (which it currently does).

That said, I am totally open to your refactoring to use flexbox if that is a more maintainable solution.

[2016-07-10 13:02] DaleMcGrew opened #334 "Instant Search: submitting search with "Enter" should work"
1. Type a search term in the Instant search box
2a. One result appears
3a. Hit return on keyboard. Navigate to that one result

2b. Multiple results appear.
3b. Hit return on keyboard. Navigate to the first result

This works:
2c. Multiple results appear.
3c. Tab down to one result
4c. Hit return on keyboard. Navigate to the selected result