[2018-09-11 00:57] DaleMcGrew commented on #1636
Resolved. Thank you @edward-ly!

[2018-09-11 00:57] #1636 closed

[2018-09-11 00:58] DaleMcGrew commented on #1657
Resolved by cleaning up the data.

[2018-09-11 00:58] #1657 closed

[2018-09-11 00:59] DaleMcGrew commented on #1484
Verified! Thank you @ndrewr.

[2018-09-11 00:59] #1484 closed

[2018-09-15 15:51] DaleMcGrew opened #1676 "Install Zendesk support Widget"
### Please describe the issue (What happens? What do you expect?)
We Vote has created an extensive knowledge-base in Zendesk:
https://help.wevote.us/hc/en-us/categories/115000098688-Using-We-Vote
What I would like to do is use the widget that Zendesk offers to make it easy for voters to look up help while still using We Vote. To complete this issue, you will need to sign into We Vote's account (co

[2018-09-17 13:42] DaleMcGrew opened #1677 "Improve readability of Issues Modal"
### Please describe the issue (What happens? What do you expect?)
1) When a new user joins, they are presented with a list of issues to follow. These issues are presented in a grid with photo backdrops to help identify their preferences, and suggest organizations with endorsements relevant to these areas. To improve text readability, I suggest adding a subtle transparent background behind the div.

[2018-09-17 14:01] DaleMcGrew opened #1678 "Remove candidate description from Ballot page (Leave on candidate page)"
On our ballot page, we provide some background about each candidate. We would like to remove most of that description (ex/ "Xavier Becerra (b. January 26, 1958, in Sacramento, CA) is the current attorney general of California. Becerra was chosen by Gov. Jerry Brown on December 1, 2016, to succeed former California Attorney General Kamal..."). (Please leave the political party, and the "more" link.

[2018-09-17 14:05] DaleMcGrew opened #1679 "Move "Related Issues" on candidate page to the bottom of the page"
![screen shot 2018-09-17 at 7 04 34 am](https://user-images.githubusercontent.com/7756031/45628017-02ab6a00-ba48-11e8-855d-fc41f7d21ba9.png)

[2018-09-17 22:10] DaleMcGrew opened #1682 "On Candidate page: Give more space and spacing for Candidate bio"
When on the candidate page, show more lines of descriptive text, make the text larger, and give it more line padding.
<img width="669" alt="screen shot 2018-09-17 at 3 08 07 pm" src="https://user-images.githubusercontent.com/7756031/45653134-bc77fa00-ba8b-11e8-8d57-12b04c92b7ec.png">

[2018-09-17 23:49] DaleMcGrew commented on #1669
Closed.

[2018-09-17 23:49] #1669 closed

[2018-09-18 00:47] DaleMcGrew opened #1684 "Add Ballot Filtering: Federal, State, Local, Measures"
### Please describe the issue (What happens? What do you expect?)
On the ballot page, add these four "race level" filters (Federal, State, Local, Measures) underneath the "All Items, etc." tabs.

I have added a new value in the voterBallotItemsRetrieve API response called "race_office_level" that you can use to know whether or not to turn each item on or off based on the filter:
"race_office_level

[2018-09-18 00:49] DaleMcGrew commented on #1631
Thank you Edward, this is ready for us to hook up the API server call!

[2018-09-18 00:49] #1631 closed

[2018-09-20 06:10] MilcahHalili commented on #1676
I set up the widget and customized the color to match WeVote's color theme.

This must be inserted before the closing HEAD tag:

`
<script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=117d80d3-9e4e-4aac-8a1c-1ca9ade4266d"> </script>
`

Restricting the widget to appear only on the Ballot, Network, and profile pages can be achieved by applying the following snippet of code to

[2018-09-21 05:55] DaleMcGrew commented on #1684
Hi Edward, if you have any time tomorrow (Friday, Sept 21st), would you be able to turn off the "race_levels" that are empty? For example, in this screenshot, the Federal Offices and Measures button selectors, and from the right-hand "Summary of Ballot Items".

![screen shot 2018-09-20 at 10 50 17 pm](https://user-images.githubusercontent.com/7756031/45862680-b2722780-bd27-11e8-81c1-d8a104ebcc67.p

[2018-09-21 06:08] edward-ly opened #1691 "Glitch with "Related Issues" list popover position"
### Please describe the issue (What happens? What do you expect?)

When viewing the list of related issues on a candidate's page, the popovers that appear after clicking on an item can show up at a seemingly random position (far) above their respective issue.

![screenshot 2018-09-20 22 48 07](https://user-images.githubusercontent.com/11434331/45863060-54deda80-bd29-11e8-8e80-543191bdfdd4.png)
![s

[2018-09-27 19:28] DaleMcGrew commented on #1684
Excellent work @edward-ly!!!!

[2018-09-27 19:28] #1684 closed

[2018-09-27 19:28] DaleMcGrew commented on #1679
There is still a display issue (which I asked @edward-ly to leave so someone else can fix it), but this issue is now complete. Thank you Edward!

[2018-09-27 19:28] #1679 closed

[2018-09-27 19:30] DaleMcGrew opened #1693 "NPM package updates needed to remove vulnerabilities"
### Please describe the issue (What happens? What do you expect?)
![screen shot 2018-09-27 at 12 27 07 pm](https://user-images.githubusercontent.com/7756031/46169878-209b7a80-c251-11e8-98e9-07a0d77c2aea.png)

Note that some the packages that we do not want to update before the 2018 election (due to the level of upgrade and testing needed) include:
 - react
 - react-dom

[2018-09-27 19:33] DaleMcGrew opened #1694 "Google Search: Garbage text under description"
### Please describe the issue (What happens? What do you expect?)
Please implement a fix so that the garbage text under We Vote when you search with Google shows the description of We Vote. I believe this text should be coming from this file:
WebApp/src/index.html

<img width="821" alt="wevote-descriptiongarbagetext" src="https://user-images.githubusercontent.com/7756031/46170027-8425a800-c251-11e

[2018-09-27 20:19] DaleMcGrew opened #1695 "Embed We Vote in frame: Display fixes needed"
### Please describe the issue (What happens? What do you expect?)
We Vote can be used by partners who want to embed an interactive ballot on their website. We show this on a sample page example here:
http://localhost:3000/more/myballot
WebApp/src/js/routes/More/WeVoteBallotEmbed.jsx

Currently, the iframe area has these issues:
 - [ ] Display area for the ballot much too small
 - [ ] Make sure tha

[2018-09-27 20:34] DaleMcGrew opened #1696 "Header styling clean-up: hide_intro_modal=1"
### Please describe the issue (What happens? What do you expect?)
Currently when you visit this page: https://wevote.us/ballot?we_vote_branding_off=1
...we turn off the We Vote branding.

1) Please adjust the color of the navigation buttons (not selected, selected, and hover) in the header to fit with the dark gray header color (and be different enough that the changes are visible):
![screen shot

[2018-09-27 21:32] SailingSteve opened #1697 "Detached google address list on WebApp in mobile browsers"
1) Start up WebApp in Safari on an iPhone
2) Click "Issues" on the secondary bar
3) On the "verify your address" pane, if there is no address, enter one.
4) Press the X in the upper right corner, and you get a detached list with "powered by Google"

Other strange visual glitches happen, and exceptions are thrown in what looks like in Google code.
Same things happen in Cordova.

[2018-09-27 21:34] SailingSteve commented on #1697
![img_4062](https://user-images.githubusercontent.com/6923653/46175907-644ab000-c262-11e8-865b-b8c014e26b38.PNG)
![img_4065](https://user-images.githubusercontent.com/6923653/46175908-644ab000-c262-11e8-9fa0-56a6979817a8.PNG)
![img_4063](https://user-images.githubusercontent.com/6923653/46175909-644ab000-c262-11e8-8836-a6e070bdb03c.PNG)
![img_4064](https://user-images.githubusercontent.com/6923653

[2018-10-03 22:08] SailingSteve opened #1705 "BallotStatusMessage does not update when you change address"
Status message shows a fruitvale address.

<img width="1077" alt="screen shot 2018-10-03 at 3 02 21 pm" src="https://user-images.githubusercontent.com/6923653/46442066-56db6d00-c71d-11e8-8323-f1035732e25b.png">

Change it to 1000 Shattuck Ave, Berkeley
<img width="1077" alt="screen shot 2018-10-03 at 3 03 49 pm" src="https://user-images.githubusercontent.com/6923653/46442168-8d18ec80-c71d-11e8-94b

[2018-10-04 15:51] DaleMcGrew opened #1706 "Move "Share" option on Measure display page"
Move the "Share" to below the "Support"/"Oppose" comments (above the "Your thoughts..." box)

![img_5609](https://user-images.githubusercontent.com/7756031/46486427-9902be00-c7b2-11e8-9e08-54b2b75da6a3.jpeg)

[2018-10-05 03:02] SailingSteve commented on #1705
After all the react 16 and other npm updates that I have been making, as well as some bug fixing in SearchAllBox.js, this seems to have gone away in my dev environment.

Preliminary results!

[2018-10-05 03:13] DaleMcGrew commented on #1705
Hi @SailingSteve this may have been due to a server configuration problem on the live API servers. We just discovered that Geocoding was broken due to an incorrect Google Maps Key being used. We fixed this at 6:45pm this evening.

[2018-10-05 15:21] DaleMcGrew commented on #1678
Resolved by @hanhmchau. Thank you!

[2018-10-05 15:21] #1678 closed

[2018-10-05 15:32] DaleMcGrew opened #1707 "Alphabetize Measures on Ballot"
Measures are currently displayed out of order and should be alphabetized. (ex/ "California Proposition 1" is shown further down this page)

![screen shot 2018-10-05 at 8 31 35 am](https://user-images.githubusercontent.com/7756031/46544679-1bee4c00-c879-11e8-9e03-98679089e7e6.png)

[2018-10-06 11:07] DaleMcGrew opened #1708 "Email Sign In: Make input box wider on desktop"
Leave more room for someone's email address on the email settings page. (for example, the email in this screenshot is "Dale.McGrew@WeVote.US" and it is getting cut off.)

![screen shot 2018-10-06 at 4 06 02 am](https://user-images.githubusercontent.com/7756031/46570698-3417a700-c91d-11e8-8909-75f543858275.png)

[2018-10-06 11:10] DaleMcGrew opened #1709 "Move "Edit Address" Save Button to be Inline with Input Box"
Please move the "Save" button to be inline with the "Edit Address" input box.

![screen shot 2018-10-06 at 4 08 22 am](https://user-images.githubusercontent.com/7756031/46570714-abe5d180-c91d-11e8-89f5-5c54e5741437.png)

![screen shot 2018-10-06 at 4 07 58 am](https://user-images.githubusercontent.com/7756031/46570715-aee0c200-c91d-11e8-976c-40cde553341b.png)

[2018-10-06 11:22] DaleMcGrew opened #1710 "Reduce Search "Churn" on Network Page"
On the network page, a voter can search for organizations to follow. When you type in the search box, it starts searching as you are typing. What can happen is that the API call can cause "churn" as the responses come in and try to get loaded on the page. I think there are a few things we can do to reduce this problem:

- [ ] Do not start instant search until there are at least 3 characters
- [ ]

[2018-10-07 11:53] DaleMcGrew opened #1712 "Office/Race "Level" (Federal, State, Local) Filter buttons: Remove ability to de-select"
### Please describe the issue (What happens? What do you expect?)
Currently if you are looking at Federal races (or State, or Local) on the Ballot, and then you click the Office/Race "Level" filter button again, it "de-selects" the filter, and shows you ALL items. This is confusing, and the option to de-select a filter should be removed.

<img width="632" alt="screen shot 2018-10-07 at 4 49 26 am"

[2018-10-07 19:14] DaleMcGrew opened #1714 "Make sure ballot data shows, and add "Completed" Text: Items Decided + Office/Race Level"
### Please describe the issue (What happens? What do you expect?)
In 2019, we are starting to host special elections that don't have any Federal races. What happens is that when there aren't any Federal races, the page shows up as blank, until the button is clicked.

![screen shot 2019-01-23 at 2 35 29 pm](https://user-images.githubusercontent.com/7756031/51641856-362d6200-1f1c-11e9-8d7a-585d681c9

[2018-10-10 19:17] indefinitelee commented on #1708
how do you feel about using inline styles to accomplish this? or do you have another preferred method?

[2018-10-10 19:21] DaleMcGrew commented on #1708
Hello @indefinitelee, ideally you could add a specific style to WebApp/src/sass/components/_settings.scss and apply it to this input box.  For styles, we are big fans of BEM Naming:
http://getbem.com/naming/
https://css-tricks.com/bem-101/
https://css-tricks.com/snippets/sass/bem-mixins/

Thank you!

[2018-10-12 20:35] ericboucher opened #1717 "Issue with Facebook login when signing up for the first time"
### Please describe the issue (What happens? What do you expect?)
Using Facebook to login does not work. Nothing happens when clicking on the button.

<img width="944" alt="screen shot 2018-10-12 at 1 34 11 pm" src="https://user-images.githubusercontent.com/16843267/46892840-a7408200-ce23-11e8-8308-4fded7f975ab.png">

### Steps to reproduce the problem (1, 2, 3...), including links
If you have nev

[2018-10-17 14:00] DaleMcGrew opened #1723 "React 16 Upgrade: Popover positioning problem"
### Please describe the issue (What happens? What do you expect?)
We have recently upgraded to React 16/Bootstrap 4. Popovers that previously were positioning "top" or "bottom" are not opening over the "click to open" point. It seems like the "placement" attribute is being ignored.

1) Prior to click ("20 Network Opinions"):
![screen shot 2018-10-17 at 6 46 50 am](https://user-images.githubusercon

[2018-10-17 14:02] DaleMcGrew opened #1724 "React 16 Upgrade: Issues Modal width has changed"
### Please describe the issue (What happens? What do you expect?)
![screen shot 2018-10-16 at 9 24 24 am](https://user-images.githubusercontent.com/7756031/47091886-a0768e00-d1da-11e8-8911-0ebc92e165fe.png)

[2018-10-18 00:48] DaleMcGrew opened #1727 "React 16 Upgrade: Header and SecondaryHeader Icon Sizing"
### Please describe the issue (What happens? What do you expect?)
We recently upgraded to React16, Bootstrap 4. Since Glyphicons have been removed from the Bootstrap core, our header icons are a mish-mash of sizes. Please update the jss and styles so the icons are consistent size and color, in mobile mode, tablet and desktop.
<img width="664" alt="screen shot 2018-10-17 at 5 44 50 pm" src="https:/

[2018-10-18 01:28] josh-southern commented on #1694
Should this issue be closed?

[2018-10-18 01:30] josh-southern commented on #1682
Going to take this one. Will try and get it done tonight.

[2018-10-18 01:30] DaleMcGrew commented on #1694
Hi @josh-southern we approved the pull request, but because of our update to React 16 we haven't been able to update the live site to verify that it is working. I'm marking it Verify Fix.

[2018-10-18 01:37] DaleMcGrew commented on #1674
Dale tackling this.

[2018-10-18 01:37] #1674 closed

[2018-10-18 15:52] DaleMcGrew commented on #1708
Hi @josh-southern thank you for working on this last night. I don't think your changes made it into your pull request.

[2018-10-18 15:58] DaleMcGrew opened #1732 "Travis failing when we run tests"
### Please describe the issue (What happens? What do you expect?)
- [ ] There is a versioning problem with enzyme and chai that prevents our tests from running (since our upgrade to node 10.10+, React 16 and Bootstrap 4)
- [ ] We also need to programmatically provide a /WebApp/src/js/config.js file

![fireshot capture 023 - build 2661 - wevote__ - https___travis-ci org_wevote_webapp_builds_4434810

[2018-10-18 20:49] DaleMcGrew commented on #1709
Hi Josh, since there isn't room to put the "Save" button on the same line in mobile, perhaps move it to the far right, with the cancel link to the left of it?
![screen shot 2018-10-18 at 1 47 40 pm](https://user-images.githubusercontent.com/7756031/47183320-93da5e80-d2dc-11e8-875b-52c9261c2ae8.png)

[2018-10-18 20:49] DaleMcGrew commented on #1708
Please make sure to test your solution on mobile. Thank you!

[2018-10-18 21:18] DaleMcGrew opened #1734 "React 16 Upgrade: Please remove line breaks after election name"
### Please describe the issue (What happens? What do you expect?)
![screen shot 2018-10-18 at 2 18 09 pm](https://user-images.githubusercontent.com/7756031/47184870-b40c1c80-d2e0-11e8-9c34-68708fc8c52c.png)

[2018-10-18 23:57] josh-southern commented on #1709
I'll try and get that in on Saturday.

[2018-10-19 16:22] DaleMcGrew commented on #1707
Thank you @ACODE91 this is now resolved!

[2018-10-19 16:22] #1707 closed

[2018-10-20 15:50] josh-southern commented on #1709
Should be fixed now! Tell me if there needs to be more changes.

[2018-10-20 16:14] DaleMcGrew commented on #1709
Hi @josh-southern, since your prior pull request was approved, could you please submit a new pull request with your changes? Did you get a chance to also work on https://github.com/wevote/WebApp/issues/1708 ? Many thanks.

[2018-10-20 16:28] josh-southern commented on #1709
https://github.com/wevote/WebApp/issues/1708 Should be fixed already. I'll open a new PR.

[2018-10-20 23:01] gj262 commented on #1732
Hi @DaleMcGrew, I can take a look at this if no one has started on it yet,
Cheers,
-Gavin

[2018-10-20 23:46] DaleMcGrew commented on #1732
Hello @gj262, that would be excellent. Thank you! Do you know how I can give you the access you need to Travis to make any configuration changes that are needed?

[2018-10-20 23:53] gj262 commented on #1732
Hi @DaleMcGrew, I have my own Travis setup so I _should_ be able to get it working in that. I'll holler if I need access to the wevote Travis.
Cheers,
-Gavin

[2018-10-21 00:39] gj262 commented on #1732
Passing Travis run here: https://travis-ci.org/gj262/WebApp/builds/444230087

[2018-10-21 00:45] #1732 closed

[2018-10-21 00:59] gj262 commented on #1734
@DaleMcGrew, I can take a look unless someone has done it already?

[2018-10-21 01:02] DaleMcGrew commented on #1734
Yes, that would be great. Thank you!

[2018-10-21 18:31] #1734 closed

[2018-10-21 18:44] DaleMcGrew commented on #1709
Thank you @josh-southern!

[2018-10-21 18:44] #1709 closed

[2018-10-21 18:44] DaleMcGrew commented on #1708
Great work @josh-southern.

[2018-10-21 18:44] #1708 closed

[2018-10-21 21:01] DaleMcGrew opened #1743 "ItemSupportOppose - thumbs up/down showing duplicates"
### Please describe the issue (What happens? What do you expect?)
When in tablet width (wider than mobile, but not as wide as desktop), duplicate thumbs up icons and thumbs down icons are appearing, when we should only see one. Needs bootstrap class visibility fine tuning:
<img width="505" alt="screen shot 2018-10-21 at 1 58 39 pm" src="https://user-images.githubusercontent.com/7756031/47272376-a3

[2018-10-23 03:58] DaleMcGrew commented on #1533
Resolved! Thank you @gj262.

[2018-10-23 03:58] #1533 closed

[2018-10-23 03:59] DaleMcGrew commented on #1727
Awesome work @ixley.

[2018-10-23 03:59] #1727 closed

[2018-10-23 04:00] DaleMcGrew commented on #1712
Verified! Part of this solution is the "componentShouldUpdate" code that Dale did, so we might need to revisit this issue if that method changes. Thank you @ACODE91.

[2018-10-23 04:00] #1712 closed

[2018-10-23 15:13] DaleMcGrew commented on #1724
Thank you @edward-ly!

[2018-10-23 15:13] #1724 closed

[2018-10-23 22:28] DaleMcGrew commented on #1743
Fixed! Thank you @ACODE91.

[2018-10-23 22:28] #1743 closed

[2018-10-23 22:29] DaleMcGrew commented on #1706
Verified. @znrm - many thanks!

[2018-10-23 22:29] #1706 closed

[2018-10-23 22:40] DaleMcGrew opened #1754 "Clicking profile photo in Header slides it to the left"
- [ ] The profile icon should remain in the same position it is in prior to being clicked.
- [ ] The items in the drop down should be lined up and look like the second image

INCORRECT
![screen shot 2018-10-23 at 3 37 54 pm](https://user-images.githubusercontent.com/7756031/47394988-c23fab80-d6d9-11e8-902d-e8dff4665881.png)

CORRECT
![screen shot 2018-10-23 at 3 41 55 pm](https://user-images.githu

[2018-10-23 23:03] DaleMcGrew opened #1755 "Update Credits page to support Company Logos"
### Please describe the issue (What happens? What do you expect?)
Right now we have this page which displays organizations:
WebApp/src/js/routes/More/Credits.jsx

...from "organizationalDonors" (from this file: WebApp/src/js/routes/More/people.js)
Please add "logo" field in the "organizationalDonors" dict, where we can link to logos to be stored in this folder:
WebApp/src/img/global/logos

Please

[2018-10-23 23:09] DaleMcGrew opened #1756 "Fix size and spacing of icons under "Our Vision""
### Please describe the issue (What happens? What do you expect?)
In the upgrade from Bootstrap 3 to Bootstrap 4, the layout and sizing of these icons changed on this page: http://localhost:3000/more/organization

OLD (CORRECT)
![screen shot 2018-10-23 at 4 08 56 pm](https://user-images.githubusercontent.com/7756031/47396071-37ad7b00-d6de-11e8-81d1-786016981d58.png)

NEW (TO BE FIXED)
![screen sho

[2018-10-24 17:50] gj262 commented on #1710
I'll take a look at this if no one has started on it. I have some time today.
Cheers,
-Gavin

[2018-10-24 17:53] DaleMcGrew commented on #1710
Hi @gj262 I've been working on this -- may I suggest another Issue? I will tag you in another possible issue. Would you be willing to email me so we can connect by email? I am: Dale.McGrew@WeVote.US

[2018-10-24 17:56] DaleMcGrew commented on #1625
Hello @gj262, would you like to work on this issue?

[2018-10-24 18:05] DaleMcGrew commented on #1723
Hi @ixley, thanks to your help, I have been able to get this issue under control. We will have to work on the "Failed prop type: Invalid prop `outOfBoundaries`" after React does another release.

[2018-10-24 18:05] #1723 closed

[2018-10-24 20:00] gj262 commented on #1625
yeah, I can take a look.

[2018-10-24 21:35] DaleMcGrew opened #1758 "Sign In Buttons: Upgrade styling to Bootstrap 4"
### Please describe the issue (What happens? What do you expect?)
On this page: http://localhost:3000/settings/account
![screen shot 2018-10-24 at 2 34 37 pm](https://user-images.githubusercontent.com/7756031/47463088-114d1580-d79a-11e8-9e79-1616ab3ccc6f.png)

On this page: http://localhost:3000/more/network
![screen shot 2018-10-24 at 2 59 45 pm](https://user-images.githubusercontent.com/7756031/

[2018-10-24 21:40] DaleMcGrew opened #1759 "Welcome page style problems (broken during Bootstrap 4 upgrade)"
### Please describe the issue (What happens? What do you expect?)
We just upgraded to React 16/Bootstrap 4. Somehow during the upgrade, images that were in two columns (in desktop mode) have been reduced to one column. I would recommend looking at the history of the WebApp/src/js/routes/Welcome.jsx file to see what changed. Please test thoroughly in mobile mode, tablet and desktop.

### Steps to r

[2018-10-24 22:08] DaleMcGrew opened #1760 "Update styles of "Suggest Organization" buttons"
When the “Suggest” buttons below are clicked, we open a new browser tab to the link: https://api.wevoteusa.org/vg/create/

In our recent upgrade to Bootstrap 4, these buttons lost their basic Bootstrap formatting.

- [x] 1) “Suggest Organization” button on the “Listen to Organizations” page (at the bottom of the “Who Are you Listening To” promo box on the right side of the page), with this text un

[2018-10-24 22:19] gj262 commented on #1625
Here is how it could look below the logo:

![screen shot 2018-10-24 at 3 13 24 pm](https://user-images.githubusercontent.com/6854428/47464978-dfd74880-d79f-11e8-97fe-65c0c36ed631.png)

I think it is slightly nicer offset:

![screen shot 2018-10-24 at 3 15 51 pm](https://user-images.githubusercontent.com/6854428/47465013-fb425380-d79f-11e8-99af-1dc51c2a145a.png)

It can be lowercase or capitalized

[2018-10-24 22:22] DaleMcGrew commented on #1625
Hello @gj262, I think you are right -- I think the offset version looks better. I suspect all lower case will look best. Could you also add the "beta" to the mobile version, where it is just our "W" icon? I'd be interested to see how that looked.

[2018-10-24 23:01] gj262 commented on #1625
I'm not lovin all lowercase in mobile due to the proximity of "Ballot" & "Network"

![screen shot 2018-10-24 at 3 59 17 pm](https://user-images.githubusercontent.com/6854428/47466399-e4066480-d7a5-11e8-95a4-b2cb8f5e8ca7.png)

![screen shot 2018-10-24 at 3 57 18 pm](https://user-images.githubusercontent.com/6854428/47466338-abff2180-d7a5-11e8-93ea-8768a11551be.png)

[2018-10-24 23:02] DaleMcGrew commented on #1625
I’m cool with “Beta”!  It looks great.

[2018-10-24 23:05] DaleMcGrew commented on #1710
On further thought, @gj262 would you want to tackle optimizing this search within the WebApp? It will require a deeper dive than the prior issues you've worked on, and I'm happy to help if you have any questions on a Google hangout.

[2018-10-25 06:23] DaleMcGrew opened #1763 "Race Level & Decided State: Save in Store"
### Please describe the issue (What happens? What do you expect?)
When a voter dives in to look at a candidate or measure from the Ballot page, and then comes back to the ballot, the "Race Level" (Federal, State, Measure, Local), and the "Decided State" (Remaining Decisions, All Items, Items Decided) both get unset. Store these "states" in a Store so they remain the same when the voter returns to

[2018-10-25 16:40] DaleMcGrew opened #1764 "Header logo problem between 575px and 768px"
### Please describe the issue (What happens? What do you expect?)
The logo jumps to a strange (very small) size, and should remain the same as in the larger "Desktop" view.
![screen shot 2018-10-25 at 9 39 09 am](https://user-images.githubusercontent.com/7756031/47516243-dc909b00-d839-11e8-843c-20d6d6a91d75.png)

[2018-10-25 16:42] DaleMcGrew opened #1765 "Summary of Ballot Items problem between 575px and 768px"
### Please describe the issue (What happens? What do you expect?)
The Summary of Ballot Items displays below the ballot when the window size is between 575px and 768px. It should be hidden, like it is in mobile view.
![screen shot 2018-10-25 at 9 42 04 am](https://user-images.githubusercontent.com/7756031/47516407-43ae4f80-d83a-11e8-9713-cc5a9e8e8fdf.png)

[2018-10-25 16:53] gj262 commented on #1764
I will have this fixed as part of my work on #1625.

[2018-10-25 16:53] DaleMcGrew commented on #1764
Thank you @gj262!

[2018-10-25 17:17] #1625 closed

[2018-10-25 19:33] gj262 opened #1767 "TransitionGroup animations are not fully implemented"
A number of list displays use TransitionGroup/CSSTransition in what looks to be an attempt to add some kind of fade animation to items as they are added to/removed from the list.

However the code is missing the appropriate CSS to make the animation happen (i.e. .fade-enter/exit*) and the keys on the CSSTransitions should use a unique id related to the item if one wants to animate on exit.

I foun

[2018-10-26 00:16] DaleMcGrew commented on #1764
Resolved! Thank you @gj262.

[2018-10-26 00:16] #1764 closed

[2018-10-26 00:19] DaleMcGrew opened #1768 "Candidate name crunched when "Has the highest Issues Score" shown"
### Please describe the issue (What happens? What do you expect?)
![screen shot 2018-10-25 at 5 15 32 pm](https://user-images.githubusercontent.com/7756031/47537354-1a151880-d87a-11e8-9c1f-eb80aade8e8c.png)

[2018-10-26 00:57] DaleMcGrew commented on #1763
Almost done with this.

[2018-10-26 18:48] DaleMcGrew commented on #1763
Fixed.

[2018-10-26 18:48] #1763 closed

[2018-10-26 22:05] #1710 closed

[2018-10-26 22:07] #1754 closed

[2018-10-27 13:10] DaleMcGrew opened #1772 "Change “Edit” link to Button"
### Please describe the issue (What happens?
1. Click “change address or election”
2. Change the “(Edit)” link to an Edit button.

[2018-10-27 13:19] DaleMcGrew commented on #1694
Site updated with a fix Friday morning 10/26, Google not updated yet by Saturday morning 10/27.

[2018-10-27 13:27] DaleMcGrew opened #1773 "Public / Private Toggle, Icon not centered"
### Please describe the issue (What happens?
The public/private toggle needs style improvement. Icon not centered.

[2018-10-28 00:59] DaleMcGrew commented on #1773
Fixed, thank you @gj262.

[2018-10-28 00:59] #1773 closed

[2018-10-30 19:01] DaleMcGrew commented on #1694
Verified!

[2018-10-30 19:01] #1694 closed

[2018-10-30 21:57] DaleMcGrew commented on #1768
Resolved

[2018-10-30 21:57] #1768 closed

[2018-10-31 06:57] ixley opened #1780 "Colored 'Oppose' icon is misleading"
![image](https://user-images.githubusercontent.com/160662/47771123-46c49800-dc9f-11e8-9720-e7001235ee83.png)

For measures, the thumbs-down icon is colored red while the thumbs-up icon is a neutral gray. This gives the misleading impression that Oppose is already selected, and

### Please describe the issue (What happens? What do you expect?)
Oppose icon should appear neutral when unselected.

[2018-11-02 17:36] paliopolis commented on #1758
Sarvesh - Assigned to me :)

[2018-11-02 17:42] sarveshbhardwaj commented on #1758
sarvesh - assigned to Sarvesh.

[2018-11-02 18:21] DemiRonin opened #1787 "Right Side Bar 'Summary of ballot' not updating when changed address to diff state"
### Please describe the issue (What happens? What do you expect?)

1. Was at the site, not signed in.  Normally I see a California ballot.
2. Changed my address to Wisconsin.  No Street, entered.
3. When it update the race.  The right side bar still showed California Ballot Items.
4. When I hit refresh however, it did update the right bar/menu.

![screencapture-wevote-us-ballot-2018-11-02-11_09_12

[2018-11-02 22:11] ericboucher opened #1788 "California Prop 2 - <p> formatting showing"
### Please describe the issue (What happens? What do you expect?)
The html formatting is showing for California Prop 2.

<img width="970" alt="screen shot 2018-11-02 at 3 10 00 pm" src="https://user-images.githubusercontent.com/16843267/47943016-75b25800-deb1-11e8-88fc-af4b95e79fa9.png">

### Steps to reproduce the problem (1, 2, 3...), including links
Select an address in California and look at M

[2018-11-04 03:41] fulin426 commented on #1772
![45342051_286171172015962_8247877546801102848_n](https://user-images.githubusercontent.com/35435397/47959733-c062cb80-dfa8-11e8-8003-61f17f85272f.png)
This is how it looks like. It seems I created a new pull request on accident instead of pushing into this one. What should I do ?

[2018-11-05 16:28] DaleMcGrew commented on #1691
Replaced with updated issue component.

[2018-11-05 16:28] #1691 closed

[2018-11-05 16:31] DaleMcGrew commented on #1765
I am removing this as an Issue, because it is actually kind of helpful.

[2018-11-05 16:31] #1765 closed

[2018-11-05 17:36] DaleMcGrew commented on #1676
This mostly works great, but has display problems in iPhone 5. I also encountered a Javascript error that broke my ability to scroll on the page. There must be some conflict between our code and Zendesk's code. Needs to be debugged.

[2018-11-08 03:35] DaleMcGrew commented on #1717
Verified!

[2018-11-08 03:35] #1717 closed

[2018-11-08 04:09] ericboucher commented on #1717
Nice! What was the issue?

Eric Boucher

[2018-11-08 16:23] DaleMcGrew commented on #1717
https://github.com/wevote/WeVoteServer/pull/980 We will need to do more extensive sign in testing with new voters going forward.

[2018-11-09 17:33] fulin426 commented on #1787
Is anyone working on this one? I'd like to take a crack at it this weekend.

[2018-11-09 17:47] DaleMcGrew commented on #1787
Hello Fu Lin, you are welcome to take this issue. Thank you! Note: I think this has to do with ShouldComponentUpdate not letting the Summary of Ballot Items re-render.

[2018-11-09 18:04] fulin426 commented on #1787
Thanks, I'll take a look into shouldComponentUpdate lifecycle method as a starting point

[2018-11-12 21:14] DaleMcGrew commented on #1787
Hello Fu Lin, yes you can change that over to use the ballot in the state variable. I think this will be fine from a resource perspective. Thank you!

[2018-11-18 03:30] DaleMcGrew commented on #1676
It is in iPhone 5 size.

On Sat, Nov 17, 2018 at 7:28 PM Gavin Jefferies <notifications@github.com>
wrote:

--

Dale John McGrew
Co-Founder & CTO, We Vote
Dale.McGrew@WeVote.US
www.WeVote.US
415-516-8777
Download: iPhone
<https://itunes.apple.com/us/app/we-vote-voter-guide/id1347335726> or
Android
<https://play.google.com/store/apps/details?id=org.wevote.cordova&hl=en_US>
Twitter: @WeVote <https:/

[2018-11-18 19:13] gj262 commented on #1676
Using dev tools -> iphone 5 device size it _mostly_ seems to work. I say _mostly_ because I did see one set of zen widget errors in the console but did not record them and have not been able to repro that again.

[2018-11-18 19:17] DaleMcGrew commented on #1676
Thank you @gj262, could you also try it from your mobile phone of choice? If your phone is connected to the same Wifi as your computer, you should see an external link in the terminal where you run Browserify, like this:
 ----------------------------------
       Local: http://localhost:3000
    External: http://10.0.0.75:3000
 ----------------------------------
          UI: http://localhost:3001

[2018-11-18 23:00] gj262 commented on #1676
Yeah, it works ok on my samsung s8 w/ chrome. I'll submit a PR.

[2018-11-21 18:11] DaleMcGrew commented on #1676
Thank you @gj262, this new feature is on the live site now.

[2018-11-21 18:11] #1676 closed

[2018-11-21 20:55] #1787 closed

[2018-11-26 17:29] DaleMcGrew commented on #1760
Hello @ACODE91 would you like to keep working on this issue? Please let me know. Thank you!

[2018-11-26 17:34] ACODE91 commented on #1760
Hi Dale,

I think I won't be able to handle this issue at this time. Sorry for not
letting you know in advance!

On Mon, Nov 26, 2018 at 9:29 AM Dale John McGrew <notifications@github.com>
wrote:

[2018-11-26 17:40] DaleMcGrew commented on #1760
Thank you Aaron. @ACODE91

[2018-11-29 20:49] SailingSteve commented on #1693
Some of these addressed in https://github.com/wevote/WebApp/pull/1815

[2018-11-29 20:51] SailingSteve commented on #1693
Steves-MacBook-Pro-32GB-Oct-3171:WebApp stevepodell$ npm audit

                       === npm audit security report ===

# Run  npm install --save-dev browserify@16.2.3  to resolve 2 vulnerabilities
SEMVER WARNING: Recommended action is a potentially breaking change
┌───────────────┬──────────────────────────────────────────────────────────────┐
│ High          │ Prototype Pollution

[2018-11-29 21:08] SailingSteve commented on #1693
Steves-MacBook-Pro-32GB-Oct-3171:WebApp stevepodell$ npm audit | grep Path
│ Path          │ browserify > cached-path-relative                            │
│ Path          │ browserify > module-deps > cached-path-relative              │
│ Path          │ watchify > browserify > cached-path-relative                 │
│ Path          │ watchify > browserify > module-deps > cached-path-relative   │
│

[2018-11-29 21:13] DaleMcGrew commented on #1693
Hi @SailingSteve, running ```npm audit fix``` will solve 2 of these vulnerabilities.

[2018-12-10 21:56] SailingSteve commented on #1693
Steves-MacBook-Pro-32GB-Oct-3171:WebApp stevepodell$ npm audit

                       === npm audit security report ===

found 0 vulnerabilities
 in 28034 scanned packages
Steves-MacBook-Pro-32GB-Oct-3171:WebApp stevepodell$

[2018-12-11 19:08] DaleMcGrew opened #1822 "Work with FullStory support: Why some popovers not showing on replay?"
### Please describe the issue (What happens? What do you expect?)
We Vote uses the Full Story screen replay service to help us refine our usability. We are noticing that some popovers do not show when we replay sessions.

Please research the Full Story documentation and/or speak with Full Story support to figure out why every action that a voter takes does not display in the screen recordings.

[2018-12-12 17:50] SailingSteve commented on #1693
Had to back out some earlier changes, to get "npm start" to complete babelify.  Will get back to this.

[2018-12-18 01:52] DaleMcGrew opened #1829 "Remove "Upcoming Elections in STATE" when there are no upcoming elections"
### Please describe the issue (What happens? What do you expect?)
In this screenshot, there is the text "Upcoming Elections in California". That text and all text under it can be removed. Please work with Dale on this Issue.
![noupcomingelections](https://user-images.githubusercontent.com/7756031/50127040-3ef78d80-0224-11e9-85a7-f79911e301db.png)

[2018-12-19 19:05] DaleMcGrew commented on #1829
This has been fixed and merged, and now needs to be tested.

[2018-12-24 20:19] DaleMcGrew commented on #1829
Verified!

[2018-12-24 20:19] #1829 closed

[2018-12-24 20:30] DaleMcGrew opened #1836 "Convert Store files to use internal camel case variables"
### Please describe the issue (What happens? What do you expect?)
We recently converted to using the AirBNB ES Linting Rules. We are in the process of converting most of our internal variable names to camel case. The point of this task is to convert the internal variables in the files in /WebApp/src/js/stores from variable names like "data_list" to "dataList".

### Steps to reproduce the problem (

[2018-12-24 23:10] DaleMcGrew commented on #1695
Hi @lazorfuzz, when we are back from break, I would love to review this together, via screen share.

[2018-12-25 00:11] lazorfuzz commented on #1695
Hi @DaleMcGrew that sounds good. I tested for everything on the check list, the scrolling, modal position, etc. seem to work fine for me. The only issue I noticed was interactive ballot embed code not showing the iframe at full size, which I fixed in that last PR. Please let me know if I missed anything, thanks!

[2018-12-25 20:43] DaleMcGrew commented on #1755
- [ ] Please update logo display code to prevents the display of a logo image if one doesn't exist
- [ ] Please add a resized version of the We Vote logo, either https://github.com/wevote/DesignInventory/blob/master/WeVoteLogo/PNG/we-vote-logo-wordmark-horizontal-color-on-white-1500x495.png or https://github.com/wevote/DesignInventory/blob/master/WeVoteLogo/PNG/we-vote-logo-wordmark-horizontal-inv

[2018-12-25 20:46] DaleMcGrew commented on #1760
Verified. Thank you @ffrancetic!

[2018-12-25 20:46] #1760 closed

[2018-12-26 16:52] DaleMcGrew commented on #1607
Hi @SailingSteve I am going to combine "twitterSignInRequestAccessToken" and "twitterSignInRequestVoterInfo" to make room for "https://localhost:3000/twitter_sign_in".

Question: Are we using Twitter Kit for Cordova? "If you use Twitter Kit for iOS or Android, you will have to use the following callback URLs:"
- Android - twittersdk://
- iOS - twitterkit-CONSUMERKEY://

https://developer.twitter.c

[2018-12-27 14:47] DaleMcGrew commented on #1606
I have been unable to reproduce this error for Twitter. Closing.

[2018-12-27 14:47] #1606 closed

[2018-12-27 19:41] DaleMcGrew commented on #1607
I am able to sign in locally and on the live API server with the current (updated) Callback URL's.

[2018-12-27 19:41] #1607 closed

[2019-01-04 02:31] ltsinh commented on #1758
On this page: http://localhost:3000/more/network

I never successful stay in the production site because the login links take me to the live website.

[2019-01-04 02:34] ltsinh commented on #1758
Also, when you have signed in with Facebook, the orange "Signed in with Email" button doesn't show the envelope icon that it should under "Currently Signed In".

<img width="1141" alt="screen shot 2019-01-03 at 9 13 48 pm" src="https://user-images.githubusercontent.com/31012764/50671300-07683f80-0f9f-11e9-8bcb-0537a5faa5c5.png">
This is working fine now, I simply replaced it with a font awesome en

[2019-01-04 16:01] DaleMcGrew commented on #1758
Thank you @ltsinh! Could you please make the envelope white (instead of black) and slightly larger? Also, the Facebook icon seems to be vertically too high (by a few pixels).

[2019-01-04 17:42] ltsinh commented on #1758
<img width="1141" alt="screen shot 2019-01-04 at 12 39 50 pm" src="https://user-images.githubusercontent.com/31012764/50702156-16da9d80-101e-11e9-83e4-9d37b4ff9a30.png">
Here is how the 3 icons look together. I think twitter looks busy now?

[2019-01-04 18:52] ltsinh commented on #1758
@DaleMcGrew
<img width="935" alt="screen shot 2019-01-04 at 1 50 23 pm" src="https://user-images.githubusercontent.com/31012764/50705138-d849e080-1027-11e9-8f67-4ade4b67ab4f.png">
<img width="337" alt="screen shot 2019-01-04 at 1 50 16 pm" src="https://user-images.githubusercontent.com/31012764/50705139-d849e080-1027-11e9-9eb6-48137b2c71e4.png">

I think the icon images look better now. I have the

[2019-01-08 07:38] fulin426 commented on #1682
submitted as PR #1846
![screen shot 2019-01-07 at 11 37 16 pm](https://user-images.githubusercontent.com/35435397/50816365-351df300-12d5-11e9-8561-b294d600baf1.png)

[2019-01-08 17:01] DaleMcGrew opened #1847 "Remove all bookmark code"
We have decided to no longer use bookmarks. Please strip all bookmark code out of WebApp.

[2019-01-09 18:04] lazorfuzz commented on #1758
@ltsinh I think we just worked on the same thing 😅PR https://github.com/wevote/WebApp/pull/1849

[2019-01-09 23:13] DaleMcGrew commented on #1756
Verified!

[2019-01-09 23:13] #1756 closed

[2019-01-09 23:36] DaleMcGrew commented on #1755
Verified!

[2019-01-09 23:36] #1755 closed

[2019-01-10 00:15] #1696 closed

[2019-01-10 00:41] utsab opened #1850 "Convert Settings file to use internal camel case variables"
### Please describe the issue (What happens? What do you expect?)
We recently converted to using the AirBNB ES Linting Rules. We are in the process of converting most of our internal variable names to camel case. The point of this task is to convert the internal variables in the files in /WebApp/src/js/routes/Settings from variable names like "data_list" to "dataList".

### Steps to reproduce the

[2019-01-11 04:58] #1693 closed

[2019-01-12 17:27] DaleMcGrew opened #1855 "Switch "Select Issues" modal to use the new icons (instead of the photos)"
Instead of showing photos, we want to show the new SVG icons.
![screen shot 2019-01-12 at 9 26 39 am](https://user-images.githubusercontent.com/7756031/51076357-486ded00-164c-11e9-97ca-ca2ac4b23215.png)

You can display the Issue icons like this:
``` <ReactSVG src={cordovaDot(`/img/global/svg-icons/issues/${oneIssue.issue_icon_local_path}.svg`)} svgStyle={{ fill: "#4B4B4B", padding: "1px" }}   />`

[2019-01-13 19:55] DaleMcGrew commented on #1850
Hello @utsab, because of the work with updating our SignIn page, I am updating WebApp/src/js/components/Settings/SettingsAccount.jsx, working with @ltsinh.

[2019-01-16 16:28] DaleMcGrew opened #1861 "Eslint cleanup on Election List"
Please fix the eslint warnings for these files:
WebApp/src/js/routes/More/Elections.jsx
WebApp/src/js/components/Ballot/SelectBallotModal.jsx
WebApp/src/js/components/Ballot/BallotElectionList.jsx

Please update them, test with `npm test`, and verify that they continue to work in the browser:
http://localhost:3000/more/elections

[2019-01-16 22:34] fulin426 commented on #1759
Hello,

Is this one still open? I'd like to give it a try

[2019-01-16 22:40] DaleMcGrew commented on #1759
Hello @fulin426 this is still being worked on by another engineer. Thank you for checking though!

[2019-01-16 22:45] DaleMcGrew commented on #1758
Fixed!

[2019-01-16 22:45] #1758 closed

[2019-01-16 22:46] fulin426 commented on #1759
@DaleMcGrew Thanks for letting me know!

[2019-01-16 22:46] #1759 closed

[2019-01-16 22:46] DaleMcGrew commented on #1682
Thank  you Fu-Lin!

[2019-01-16 22:46] #1682 closed

[2019-01-17 03:55] DaleMcGrew opened #1863 "Fix eslint warnings for js/routes/TwitterHandleLanding.jsx"
Camel case updates:
WebApp/src/js/routes/TwitterHandleLanding.jsx

Fix the warnings that you get when you run `npm test`.

/Users/dalemcgrew/PythonProjects/PersonalGitForks/WebApp/src/js/routes/TwitterHandleLanding.jsx
   56:3   warning  _onTwitterStoreChange should be placed after getIncomingActiveRoute         react/sort-comp
   58:11  warning  Identifier 'twitter_followers_count' is not in came

[2019-01-17 17:55] fulin426 commented on #1863
Dale,

Should I focus on the camel case updates only? Or should try to eliminate
some of these types of warnings as well?
56:3 warning _onTwitterStoreChange should be placed after
getIncomingActiveRoute react/sort-comp
86:33 warning Expected 'this' to be used by class method
'organizationCreateFromTwitter' class-methods-use-this

So far I've fixed all the camel case warnings

On Wed, Jan 16, 2019

[2019-01-17 18:00] DaleMcGrew commented on #1863
Hello @fulin426, for now let's focus on the Camel case warnings. Make sure to run `npm test` to verify your changes before creating your pull request. Thank you!

[2019-01-17 19:51] DaleMcGrew commented on #1847
Verified

[2019-01-17 19:51] #1847 closed

[2019-01-17 20:53] DaleMcGrew commented on #1855
Thank you @lazorfuzz, using the icons is an improvement. Could you please make the following upgrade?
- [ ] For the issues selector, please make the gray backdrop behind the text fill the entire square.
- [ ] For the second slider page of this modal, please try making the gray backdrop behind the text fill the whole square too. I think that will look better.
- [ ] Please try center aligning the te

[2019-01-18 02:49] lazorfuzz commented on #1855
Will do!

[2019-01-21 00:15] DaleMcGrew commented on #1822
Hello @SailingSteve, Joe was able to get Full Story recording again on WeVote.US.

[2019-01-21 15:27] DaleMcGrew opened #1874 "Fix ESlint warnings on WebApp/src/js/components/VoterGuide/OrganizationVoterGuideTabs.jsx"
Please change the code to remove the ESlint warnings for WebApp/src/js/components/VoterGuide/OrganizationVoterGuideTabs.jsx

You can test this component at this page (on your local machine):
https://wevote.us/sfchronicle
It renders the tabs on this page:
![screen shot 2019-01-21 at 7 31 23 am](https://user-images.githubusercontent.com/7756031/51483737-a38b9800-1d4e-11e9-92b4-1dd13858c1b9.png)

[2019-01-21 16:06] DaleMcGrew opened #1875 "Fix ESlint warnings for WebApp/src/js/components/Widgets/OfficeNameText.jsx"
Please change the code to remove the ESlint warnings for WebApp/src/js/components/Widgets/OfficeNameText.jsx

This will require that you update the names of props pass into OfficeNameText in four other files.

Please trace out the route(s) where this component is used, and test this component before creating your pull request. Please also verify your changes with `npm test`.

[2019-01-21 19:24] DaleMcGrew opened #1877 "Fix ESlint warnings on ReadMore and LearnMore"
Fix the ESLint warnings on these two files:
- [x] WebApp/src/js/components/Widgets/LearnMore.jsx
- [ ] WebApp/src/js/components/Widgets/ReadMore.jsx

Figure at least one route in WebApp that uses each of these components, and test fully. Make sure to compare your local changes against the live WeVote.US site.

[2019-01-21 19:54] DaleMcGrew commented on #1855
Excellent work @lazorfuzz!

[2019-01-21 19:54] #1855 closed

[2019-01-21 19:54] DaleMcGrew commented on #1863
Thank you @fulin426!

[2019-01-21 19:54] #1863 closed

[2019-01-22 04:55] DaleMcGrew opened #1878 "About menu cannot be closed"
1. On live https://WeVote.US (and on local development environments with "https" turned on) click on the About menu, and then click again. The drop down menu opens, and then closes.
2. Now click on the About menu, and choose any of the three options. You are taken to the page, but the drop down stays in place. It is now impossible to get the drop down to go away.

[2019-01-22 19:45] DaleMcGrew commented on #1878
Verified. Thank you @lazorfuzz!

[2019-01-22 19:45] #1878 closed

[2019-01-23 05:12] user512 commented on #757
We started investigating this issue again to speed up the build process and we looked into Webpack and Parcel.
We think that either option would be an improvement.

Here is the comparison:
Both improve build speed and offer intelligent configuration and remove the custom wiring that needs to be done with Gulp.
Webpack is more robust because it's more mature. However Parcel is better designed to be

[2019-01-23 05:59] DaleMcGrew commented on #757
Thank you @user512! My biggest concern about Parcel is that it doesn't seem to end up with a single bundle file (which our deployment is set up around). If I am mistaken, and Parcel can bundle into a single file, that would be interesting. Otherwise my preference would be Webpack 4.

[2019-01-23 06:04] #1630 closed

[2019-01-23 18:48] DaleMcGrew commented on #1877
Thank you!

[2019-01-23 18:48] #1877 closed

[2019-01-23 19:01] SailingSteve commented on #1822
The Change address or election dialog is captured and displays in Safari.  The google suggestion pane also appears and works correctly.

Went over it with Dale, the problem seems to have disappeared.

[2019-01-24 17:20] SailingSteve commented on #757
Wow [Parcel](https://parceljs.org/) sounds amazing.  It has 29,000 stars and  43,000 downloads a week on [npm](https://www.npmjs.com/package/parcel-bundler).  (vs 6M/week for webpack)

I used Webpack a few years ago and it was both great and tragic, but a few years of improvement could mean a world of difference.

Gulp is slow and kind of dumb, few of those 30 seconds add any value.

I'd lean towa

[2019-01-24 19:21] DaleMcGrew opened #1884 "Incorrect "It is Voting Day..." message showing"
Today, January 24th, 2019, I visited the NY Public advocate election and it showed this incorrect message:
![screen shot 2019-01-24 at 11 13 53 am](https://user-images.githubusercontent.com/7756031/51703014-1bb1c200-1fca-11e9-9d09-0b6aaf3e1dc3.png)

You can recreate this by entering a "New York, NY" address.

[2019-01-25 05:06] DaleMcGrew commented on #1714
Hi @lazorfuzz the pull request you created did some excellent and critical work (in making sure that the measure data shows up on this page: http://localhost:3000/ballot/brooklyn_november_2017). Thank you!

The next step is to make sure the single "Measure" button goes away when there is only one option. I found this on line 955 of WebApp/src/js/routes/Ballot/Ballot.jsx
...with the div that includ

[2019-01-25 14:20] DaleMcGrew commented on #1874
Fixed

[2019-01-25 14:20] #1874 closed

[2019-01-25 17:13] fulin426 opened #1889 "Browser Freezes when location is Switched to New York"
### Please describe the issue (What happens? What do you expect?)
There is a repeating JavaScript error that overwhelms the browser and causes it to crash. Would need to pause JavaScript from running in order to see the error and track it down.

### Steps to reproduce the problem (1, 2, 3...), including links
Set the ballot location to New York, then try to change the address or location again, an

[2019-01-26 05:09] utsab commented on #757
That's an interesting idea @SailingSteve to try to run both gulp and parcel in parallel.  We can investigate that.

It looks the code splitting feature where Parcel splits the output into multiple bundles can be triggered by using the import() command as follows:

`import('./path/to/module').then(function(page)`

When Parcel sees the promise structure it knows that it's possible to split up the bu

[2019-01-26 16:45] DaleMcGrew opened #1896 "Fix ESlint warnings in routes/OpinionsFollowed.jsx"
This issue is for Urosh.

Update the code to remove most warnings for this file (when you run `npm test`):
WebApp/src/js/routes/OpinionsFollowed.jsx

Do not worry about these:
Expected 'this' to be used by class method 'getCurrentRoute'
Anchor used as a button

[2019-01-26 16:58] DaleMcGrew opened #1897 "Identify components that are not ultimately included in a route"
We keep stumbling upon files that aren't in use. Please go through all of the files in these folders:
WebApp/src/js/components/VoterGuide/
WebApp/src/js/components/Widgets/
...and list in the comments of this Issue any that are not ultimately called from a route. (There will be components that are used by other components that when you follow the includes back to the route, are used.)

[2019-01-26 19:31] utsab commented on #1850
@DaleMcGrew, sure I welcome @CoffeeWarrior's help.  I'll post updates to this thread listing the specific files that I and my team plan to work on.

[2019-01-26 19:33] DaleMcGrew commented on #1850
Hi @utsab, I would recommend that each of you post a comment about the files you are actually working on when you start the work. I want to make sure to avoid either of you "reserving" files to work on at a later time.

[2019-01-26 21:59] CoffeeWarrior commented on #1850
hey @utsab  I'm currently working on `VoterGuideSettingsPositions.jsx`

[2019-01-26 22:10] utsab commented on #1850
Sure @DaleMcGrew that makes sense.

[2019-01-28 04:45] fulin426 commented on #1897
The following components are not called from a route or have been turned off. They are some corresponding comments in the files.
WebApp/src/js/components/VoterGuide/
PledgeToVoteButton
PledgeToVoteStatusBar
VoterGuideItem

All the Widgets components are being called by at least one other component.
http://webapp/src/js/components/Widgets/

[2019-01-28 15:42] ltsinh commented on #1861
@DaleMcGrew I created a pull request for the above issue for review, I tested the functionality of the site in localhost and no glitching or problems. I did not cleanup the below due to future UI decision/changes:

Did not cleanup BallotElectionList.jsx
Do not use Array index in keys --awaiting update on UI changes
Button issues - awaiting updates on UI changes

[2019-01-28 16:44] DaleMcGrew commented on #1714
Great work @lazorfuzz!

[2019-01-28 16:44] #1714 closed

[2019-01-28 16:45] DaleMcGrew commented on #1695
Closed until this can be more thoroughly tested.

[2019-01-28 16:45] #1695 closed

[2019-01-28 22:08] CoffeeWarrior commented on #1850
@utsab I'm going to push my changes to `VoterGuideSettingsPositions.jsx` shorty, then after that Im getting to work on `settingselections.jsx`

[2019-01-29 01:00] DaleMcGrew commented on #1884
This seems to have happened when the election wasn't checked as being in the list of upcoming elections. Now that the election has been added to the list of upcoming elections, this bug seems to be gone.

[2019-01-29 01:00] #1884 closed

[2019-01-29 01:03] DaleMcGrew commented on #1697
We are removing the "verify your address" from this modal, so I am closing this bug.

[2019-01-29 01:03] #1697 closed

[2019-01-29 01:31] DaleMcGrew opened #1905 "Please update the following Actions files"
Please be careful to keep the current variable names as they are for calling the API server, but update the local variables to camel case.

For example, change this:
[code]

To this:
[code]

Please update these files:
- [x] WebApp/src/js/actions/FriendActions.js
- [x] WebApp/src/js/actions/IssueActions.js
- [x] WebApp/src/js/actions/OrganizationActions.js
- [x] WebApp/src/js/actions/SupportActions

[2019-01-29 06:32] uroshima commented on #1896
Done!

[2019-01-29 17:24] DaleMcGrew commented on #1897
Thank you Fu-Lin, this is very helpful!

[2019-01-29 17:24] #1897 closed

[2019-01-29 22:30] DaleMcGrew commented on #1896
Thank you @uroshima!

[2019-01-29 22:30] #1896 closed

[2019-01-29 22:31] DaleMcGrew commented on #1905
Resolved!

[2019-01-29 22:31] #1905 closed

[2019-01-30 20:17] DaleMcGrew opened #1910 "Fix ESLint warnings on BallotSideBar.jsx"
Please fix the ESlint problems in this file and test:
- [ ] WebApp/src/js/components/Navigation/BallotSideBar.jsx

[2019-01-30 20:22] DaleMcGrew opened #1911 "Remove unused intro files"
Please remove the files/components that power these URLs, starting from the Root definition:
WebApp/src/js/Root.jsx
- [ ] /intro/contests
- [ ] /intro/opinions
- [ ] /intro/story - Includes removing contents of js/components/Animation folder

Please make sure to remove all art assets that are used by these files, but make sure that the art assets you remove are not being used by any other componen

[2019-01-30 20:25] DaleMcGrew opened #1912 "Stop /intro from redirecting"
We want to stop /intro from redirecting. You can find the component that powers this URL in WebApp/src/js/Root.jsx

Please figure out why this component redirects to "/ballot" as soon as you visit the URL.

[2019-01-30 22:16] DaleMcGrew commented on #1596
Excellent work @lazorfuzz! Verified.

[2019-01-30 22:16] #1596 closed

[2019-01-31 11:11] DaleMcGrew commented on #1836
This issue is verified. Thank you @lazorfuzz for all of your hard work on this one.

[2019-01-31 11:11] #1836 closed

[2019-01-31 16:06] DaleMcGrew opened #1917 "Update Candidate page to use new endorsement filtering designs"
### Please describe the issue (What happens? What do you expect?)
We have a new design for how to filter through endorsements. This will require some conversations about the designs, and how we currently store the needed data in WebApp.

<img width="320" alt="screen shot 2019-01-31 at 8 01 38 am" src="https://user-images.githubusercontent.com/7756031/52067011-81ec9680-252e-11e9-8e03-2ec4fcb76241.p

[2019-02-01 19:34] DaleMcGrew opened #1920 "Bug with Ballot Completion & BallotSideBar"
### Please describe the issue (What happens? What do you expect?)
The "completion tabs" (All Items, Remaining Choices, Items Decided) and "race level buttons" ("Federal", "State", "Measure", "Local") should work in conjunction with the BallotSideBar ("Summary of Ballot Items"), but they are no longer jumping to the correct state.
![screen shot 2019-02-01 at 11 32 33 am](https://user-images.githubu

[2019-02-02 22:38] utsab opened #1922 "Documentation Improvement: Add instructions for how to run WebApp on a different port"
### Please describe the issue (What happens? What do you expect?)
WebApp currently does not run in an environment where port 3000 is not available.  This happens on cloud9, for example.

I'd like to add some documentation to show people how to run WebApp on a different port.

[2019-02-04 17:02] DaleMcGrew commented on #1911
Resolved, thank you @uroshima!

[2019-02-04 17:02] #1911 closed

[2019-02-04 17:40] DaleMcGrew commented on #1922
Completed. Thank you @utsab and @dignacio0815!

[2019-02-04 17:40] #1922 closed

[2019-02-04 19:00] DaleMcGrew opened #1926 "Fix ESLint warnings: warning Unexpected unnamed function func-names"
### Please describe the issue (What happens? What do you expect?)
Please fix all of the ESLint warnings (I believe there are ~10) like this:
https://code.luasoftware.com/tutorials/eslint/eslint-func-names-unexpected-unnamed-function/

[2019-02-05 17:53] DaleMcGrew commented on #1912
Completed!

[2019-02-05 17:53] #1912 closed

[2019-02-06 17:24] DaleMcGrew opened #1928 "Update "Organizational Values" page to use icons instead of Issue images"
### Please describe the issue (What happens? What do you expect?)
On the "Organizational Values" page in Settings section (only visible to Organizations), please make this section use the Issue icons instead of the images that show up now.
![screen shot 2019-02-06 at 9 20 38 am](https://user-images.githubusercontent.com/7756031/52360452-ead18400-29f0-11e9-9dc5-7e13d12c87b1.png)

[2019-02-07 20:17] DaleMcGrew opened #1932 "Change address or election: Needs gray background"
### Please describe the issue (What happens? What do you expect?)
When a voter clicks the "change address or election" link on the ballot page, a modal opens. The screen behind it should gray out (like it does with you click the "Issues" button on the ballot page, to open the Issue modal).

Also, when the modal opens, all of the Ballot page content center aligns, and it shouldn't.

[2019-02-12 22:20] DaleMcGrew commented on #1926
Verified

[2019-02-12 22:20] #1926 closed

[2019-02-12 22:21] DaleMcGrew commented on #1928
Verified

[2019-02-12 22:21] #1928 closed

[2019-02-16 01:49] DaleMcGrew opened #1941 "4 new package vulnerabilities"
### Please describe the issue (What happens? What do you expect?)
It seems like this pull request introduced these errors (see `npm audit`), possibly with`"react-headroom": "^2.2.4",`. `npm audit fix` did not automatically fix these.
https://github.com/wevote/WebApp/pull/1940/files

### Steps to reproduce the problem (1, 2, 3...), including links

(WebAppEnv)dalemcgrew:WebApp dalemcgrew$ npm audit

[2019-02-16 02:16] DaleMcGrew opened #1942 "New Header Style Refinements"
### Please describe the issue (What happens? What do you expect?)
Hi Leon, the new header looks amazing! Great work. I have a some style tweaks:

- [x] Mobile: When on the ballot, the top most header bar should not have a shadow--instead the shadow should be under the Federal, State, etc. chips. (like it shows after the top bar slides out of view.)

Current:
![screen shot 2019-02-15 at 6 03 04 pm]

[2019-02-16 16:15] DaleMcGrew commented on #1942
The mobile changes you made look excellent @lazorfuzz, thank you! There is still some spacing refinement to do in desktop. Also I added two more tweaks to the description of this issue (relating to the sign in button and the location pin) since they are related.

[2019-02-18 22:02] DaleMcGrew commented on #1942
Hi @lazorfuzz I reviewed the latest header with Ahmed and we added some updated comments to this issue relating to desktop. Thank you!

[2019-02-18 22:08] DaleMcGrew opened #1949 "Address & Elections Popover opened when you scroll down page"
### Please describe the issue (What happens? What do you expect?)
1. On the ballot page click the "Address & Elections" button, so that the popover opens
2. Close this popover
3. Scroll down the page and the popover opens again when it shouldn't (without clicking on the "Address & Elections" button

[2019-02-18 22:44] lazorfuzz commented on #1942
@DaleMcGrew I'm not seeing the extra space above and below the chips in desktop:

![image](https://user-images.githubusercontent.com/13378467/52979676-9aacd700-338b-11e9-8f5e-1aa3c131c90b.png)

Any ideas on how to reproduce it?

[2019-02-18 23:16] lazorfuzz commented on #1942
Just added the other changes

![image](https://user-images.githubusercontent.com/13378467/52980673-1ad53b80-3390-11e9-9611-d4531fa6c014.png)

[2019-02-18 23:20] lazorfuzz commented on #1942
I personally really like the way YouTube does it, (flat sign in button and icon buttons):

![image](https://user-images.githubusercontent.com/13378467/52980772-a8b12680-3390-11e9-948b-0d4c94817134.png)

[2019-02-19 00:20] DaleMcGrew commented on #1949
Fixed.

[2019-02-19 00:20] #1949 closed

[2019-02-19 00:41] DaleMcGrew commented on #1942
Thank you Leon for the changes. I will talk with @AhmedElgamal01 about the style of the Address & Elections and Sign in Buttons.

I've been trying to see if I can get the spaces above and below the chips to go away (so I can see what you are seeing). I still see these spaces above Federal, State, Measure on Chrome and Safari in Desktop mode, but only when I do *not* use the device emulator (the pr

[2019-02-19 00:50] lazorfuzz commented on #1942
@DaleMcGrew that's so weird. I use Yarn so anything I `yarn add` should be automatically added to package.json without a `--save`.

[2019-02-19 19:49] DaleMcGrew opened #1952 "Turn Zendesk help icon back on in mobile"
### Please describe the issue (What happens? What do you expect?)
Please turn the help icon back on in mobile mode, positioned above the footer bar.

[2019-02-21 01:28] DaleMcGrew commented on #1942
Spacing issues solved!

[2019-02-21 01:28] #1942 closed

[2019-02-21 01:30] DaleMcGrew opened #1954 "Both desktop header and footer showing up at same time"
### Please describe the issue (What happens? What do you expect?)
The latest version of the code always shows the Desktop navigation across the top, even when the footer navigation is being displayed.

![screen shot 2019-02-20 at 5 27 01 pm](https://user-images.githubusercontent.com/7756031/53136763-03838300-3535-11e9-8ffe-fa1cb3f1669f.png)

[2019-02-22 02:31] DaleMcGrew opened #1957 "Candidate placeholder image in ImageHandler has different spacing"
### Please describe the issue (What happens? What do you expect?)
![screen shot 2019-02-21 at 6 30 13 pm](https://user-images.githubusercontent.com/7756031/53215753-d69fa080-3606-11e9-9f5c-bcf0c991bf76.png)

Changes needed in this file:
WebApp/src/js/components/ImageHandler.jsx

...and most likely this file:
WebApp/src/sass/base/_images.scss

[2019-02-22 17:15] DaleMcGrew commented on #1954
Resolved. Thank you @lazorfuzz!

[2019-02-22 17:15] #1954 closed

[2019-02-22 18:40] DaleMcGrew opened #1959 "Update "Summary of Ballot Items" to jump to office page"
Update "Summary of Ballot Items" on the right side of the Ballot in desktop mode to:
A) jump to the office you click to
B) Update the state of the filter "chips" (Federal, State, Local, Measure) so that when you click "Back to Ballot" from the Office page, the ballot is in the correct state.

[2019-02-22 18:46] DaleMcGrew opened #1960 "Add right arrow to office name in OfficeItemCompressed"
### Please describe the issue (What happens? What do you expect?)
In this file: WebApp/src/js/components/Ballot/OfficeItemCompressed.jsx

...add an arrow to the right of the display of ballotItemDisplayName, and make the whole like show up as black, per this design:
<img width="280" alt="screen shot 2019-02-22 at 10 42 43 am" src="https://user-images.githubusercontent.com/7756031/53263678-fe3a4b80

[2019-02-22 18:51] DaleMcGrew opened #1961 "Style the "view all x candidates" and "show more" links"
### Please describe the issue (What happens? What do you expect?)
- [x] Please style the "view all x candidates" and "show more" links in WebApp/src/js/components/Ballot/OfficeItemCompressed.jsx:
![screen shot 2019-02-22 at 10 47 38 am](https://user-images.githubusercontent.com/7756031/53263887-83bdfb80-368f-11e9-8f64-76d03c3f9e75.png)

...including adding the right arrow, per this design:
<img wi

[2019-02-22 19:10] DaleMcGrew opened #1962 "Convert candidates display to horizontal cards in Desktop"
### Please describe the issue (What happens? What do you expect?)
In this file, WebApp/src/js/components/Ballot/OfficeItemCompressed.jsx

...update the display of the candidate cards in Desktop (NOT mobile -- the designs should remain as they currently are in mobile) to be in a left-to-right grid like this:
<img width="700" alt="screen shot 2019-02-22 at 11 00 30 am" src="https://user-images.githu

[2019-02-22 19:26] DaleMcGrew opened #1963 "Add office name to the sticky header"
### Please describe the issue (What happens? What do you expect?)
On the office page please add the office name to the sticky header like this in mobile:
<img width="295" alt="screen shot 2019-02-22 at 11 23 36 am" src="https://user-images.githubusercontent.com/7756031/53266017-72c3b900-3694-11e9-9f0d-3d60b1e2236a.png">

...and the same in desktop:
<img width="926" alt="screen shot 2019-02-22 at 1

[2019-02-22 19:39] DaleMcGrew opened #1964 "Add right column to office page, and one testimonial"
### Please describe the issue (What happens? What do you expect?)
We would like to add a right column to the Office Detail page, in Desktop mode. I have attached a photo of myself you can use for the photo in the design.
<img width="924" alt="screen shot 2019-02-22 at 11 36 12 am" src="https://user-images.githubusercontent.com/7756031/53266587-16619900-3696-11e9-89ed-c75cbf6a7022.png">

![dale_ny-

[2019-02-22 20:19] DaleMcGrew opened #1965 "Choose / Oppose / Comment: Update behavior of comment box"
### Please describe the issue (What happens? What do you expect?)
We use this component many places. Please cautiously update:
WebApp/src/js/components/Widgets/BallotItemSupportOpposeComment.jsx and
WebApp/src/js/components/Widgets/ItemActionBar.jsx and
WebApp/src/js/components/Widgets/ItemPositionStatementActionBar.jsx to match this new design.

- [x] Note that "Friends Only" should be the defaul

[2019-02-22 22:45] DaleMcGrew opened #1966 "New Design: Update Measure List to the new design (on main Ballot page)"
### Please describe the issue (What happens? What do you expect?)
We have a new design for the Measure List card. Please implement as much as you can in this file, using dummy text if necessary:
WebApp/src/js/components/Ballot/MeasureItemCompressed.jsx

Desktop version:
![screen shot 2019-02-22 at 2 42 02 pm](https://user-images.githubusercontent.com/7756031/53275467-14a4cf00-36b0-11e9-8f02-384027

[2019-02-25 19:11] DaleMcGrew commented on #1957
Fixed! Thank you @uroshima.

[2019-02-25 19:11] #1957 closed

[2019-02-25 20:12] DaleMcGrew commented on #1920
I am closing this Issue in favor of https://github.com/wevote/WebApp/issues/1959

[2019-02-25 20:12] #1920 closed

[2019-02-25 20:13] DaleMcGrew commented on #1941
Since we are waiting for another package to update their dependencies, I'm closing this for now.

[2019-02-25 20:13] #1941 closed

[2019-02-27 00:39] DaleMcGrew commented on #1952
Done

[2019-02-27 00:39] #1952 closed

[2019-02-27 00:41] DaleMcGrew commented on #1959
Thank you @lazorfuzz for upgrading the "Summary of Ballot Items" and finishing part A of this issue. Part B remains to be done. I would recommend storing the filter states in the BallotStore.

[2019-02-27 00:49] DaleMcGrew opened #1974 "Ballot Page: Search Chip optimization"
### Please describe the issue (What happens? What do you expect?)
When the search chip is first clicked, it looks like all filters are removed, and all items on the ballot are shown prior to typing any characters in the search. Given the performance hit of trying to show all ballot items at once, please update the first click to leave the ballot items that are currently being viewed in place (for

[2019-02-27 19:19] DaleMcGrew commented on #1974
Awesome work. Resolved.

[2019-02-27 19:19] #1974 closed

[2019-02-27 19:19] DaleMcGrew commented on #1959
Works great. Thank you @lazorfuzz!

[2019-02-27 19:19] #1959 closed

[2019-02-27 20:52] DaleMcGrew opened #1977 "IssuesByBallotItemDisplayList, update display options"
### Please describe the issue (What happens? What do you expect?)
In the component WebApp/src/js/components/Issues/IssuesByBallotItemDisplayList.jsx we show all of the issues related to a particular candidate. The styles of this component need to be updated to work in all of these situations. (Please read all scenarios before starting work.)

Office Detail Page (Desktop) and Candidate Detail Page

[2019-03-04 19:38] DaleMcGrew opened #1985 "New Design: Update Measure Detail page"
Desktop:
<img width="712" alt="screen shot 2019-03-04 at 11 33 14 am" src="https://user-images.githubusercontent.com/7756031/53757787-6f3ce880-3e71-11e9-8a02-c0ee51973b91.png">

Mobile:
<img width="297" alt="screen shot 2019-03-04 at 11 34 55 am" src="https://user-images.githubusercontent.com/7756031/53757841-8ed41100-3e71-11e9-99dd-c54b0083d3df.png">

Desktop Sticky Header:
<img width="704" alt="

[2019-03-05 21:12] DaleMcGrew opened #1987 "Add "Friends Requests" count to the footer"
### Please describe the issue (What happens? What do you expect?)
Currently the header (in desktop) shows the number of friend requests that have come in for a voter:
<img width="613" alt="screen shot 2019-03-05 at 1 11 09 pm" src="https://user-images.githubusercontent.com/7756031/53837747-2a37b580-3f48-11e9-8f2e-73b8cf36c2d9.png">

We want to show that same indicator in the footer (mobile view):

[2019-03-09 18:55] DaleMcGrew opened #1995 "When signed in, Settings and Address icon disappear from header"
In the header, when you sign in, the Settings and Address icons disappear, and they should remain.

Not signed in on ballot page:
<img width="233" alt="Screen Shot 2019-03-09 at 10 53 14 AM" src="https://user-images.githubusercontent.com/7756031/54075913-958bcb00-4259-11e9-8bdd-189401c28fdf.png">

Signed in on ballot page:
<img width="129" alt="Screen Shot 2019-03-09 at 10 55 46 AM" src="https://u

[2019-03-09 19:13] DaleMcGrew opened #1996 "Close image: Anchors are primarily expected to navigate (14 files)"
### Please describe the issue (What happens? What do you expect?)
In 14 different places in the code, we refer to this image:
/img/global/icons/x-close.png
https://quality.wevote.us/wevoteintro/network

I believe that the "click to close" code around many (if not all?) of these images is giving ESlint errors, like this:
WebApp/src/js/components/Ballot/OfficeItemCompressed.jsx
Line 374
Anchor used

[2019-03-10 18:51] DaleMcGrew commented on #1963
Hi @flurmbo, this is a great first pass! (I will run this by our design team.) I notice when I start on this candidate page now (https://localhost:3000/candidate/wv02cand55907/b/btdo/), I get this error:
![Screen Shot 2019-03-10 at 11 45 18 AM](https://user-images.githubusercontent.com/7756031/54089821-65f8c380-432a-11e9-8f2e-5b083777ccda.png)

...and if I start on this office page (https://localh

[2019-03-10 19:07] flurmbo commented on #1963
@DaleMcGrew good catch, I'll take a look at those

[2019-03-13 14:03] DaleMcGrew commented on #1977
Hi @lazorfuzz, your work on this is a big step forward. Thank you!

[2019-03-13 14:03] #1977 closed

[2019-03-13 14:05] DaleMcGrew commented on #1962
Good morning @lazorfuzz, I really appreciate your implementation of the horizontal cards. You have achieved the designers' vision! Thank you.

[2019-03-13 14:05] #1962 closed

[2019-03-13 14:08] DaleMcGrew commented on #1963
Thank you @flurmbo!

[2019-03-13 14:08] #1963 closed

[2019-03-13 14:11] DaleMcGrew commented on #1966
Thank you @lazorfuzz, this is a great first version.

[2019-03-13 14:11] #1966 closed

[2019-03-13 14:13] DaleMcGrew commented on #1960
Hello @uroshima I just wanted to flag that this Issue is still open.

[2019-03-13 14:18] DaleMcGrew commented on #1961
Hello @uroshima, the next step for this Issue is to migrate the "ShowMoreFooter" component to all places where "Show more" text is shown (including for the Measures). Also, did you check in your "hover over" code that you showed to Ahmed?

[2019-03-13 14:24] DaleMcGrew opened #2000 "Ballot List: When one candidate, take up full width"
### Please describe the issue (What happens? What do you expect?)
- [x] When on the ballot list in Desktop or Tablet, if there is only one candidate, have the card take up the full width.
- [x] When on the ballot list in Desktop or Tablet, if there are more than two candidates, have the third and fourth candidates wrap to the next line. If there are only three candidates, the third candidate card

[2019-03-13 14:28] DaleMcGrew opened #2001 "OfficeItemCompressed: Reintegrate voterSupportsThisCandidate code"
### Please describe the issue (What happens? What do you expect?)
Please reintegrate the "voterSupportsThisCandidate" condition in WebApp/src/js/components/Ballot/OfficeItemCompressed.jsx from this pull request:

https://github.com/wevote/WebApp/pull/1990/files

Thank you!

[2019-03-13 21:51] DaleMcGrew opened #2002 "Add "Found in..." text when voter searches for ballot item"
Please display like this:
<img width="584" alt="Screen Shot 2019-03-13 at 2 48 34 PM" src="https://user-images.githubusercontent.com/7756031/54317025-6221a700-459f-11e9-97dd-ab04177bfe86.png">

[2019-03-14 22:33] DaleMcGrew opened #2005 "Change Style of "Back to" buttons"
### Please describe the issue (What happens? What do you expect?)
This is the current style of the "Back to" button:
<img width="224" alt="Screen Shot 2019-03-14 at 3 27 44 PM" src="https://user-images.githubusercontent.com/7756031/54395844-328da000-466e-11e9-8e72-9e9f1cd2adda.png">

We want to upgrade the style to look like this:
<img width="200" alt="Screen Shot 2019-03-14 at 3 32 33 PM" src="ht

[2019-03-17 17:56] DaleMcGrew commented on #2001
Resolved - thank you @lazorfuzz.

[2019-03-17 17:56] #2001 closed

[2019-03-17 18:00] DaleMcGrew commented on #2000
Thank you @lazorfuzz!

[2019-03-17 18:00] #2000 closed

[2019-03-17 18:04] DaleMcGrew commented on #1960
Resolved. Thank you @uroshima!

[2019-03-17 18:04] #1960 closed

[2019-03-17 18:06] DaleMcGrew commented on #1961
Resolved!

[2019-03-17 18:06] #1961 closed

[2019-03-18 00:57] DaleMcGrew commented on #1917
Hi @lazorfuzz I'm doing some prep-work on this, starting from:
WebApp/src/js/routes/Ballot/Candidate.jsx
Instead of using the GuideList, like we discussed before, it is looking like it will be better to use WebApp/src/js/components/Ballot/PositionList.jsx

I can show you what I'm talking about when you are ready to work on this next.

[2019-03-18 02:32] flurmbo commented on #1995
@DaleMcGrew I've got something that works on the ballot page, should I try factoring it out into a separate component and add it to the "Back to X" components?

[2019-03-18 02:34] DaleMcGrew commented on #1995
Hi @flurmbo, I don't think we need the Settings and Address icons on the "Back to" pages.

[2019-03-18 04:13] flurmbo commented on #1995
@DaleMcGrew I PRed my changes, let me know what you think

[2019-03-19 17:31] DaleMcGrew commented on #1995
Thank you @flurmbo!

[2019-03-19 17:31] #1995 closed

[2019-03-19 17:35] DaleMcGrew opened #2013 "Address "Best Guess" Information Box on Ballot"
### Please describe the issue (What happens? What do you expect?)
At the top of the ballot page, add a new component that matches this design. It should work for both Desktop & Mobile. Please add an "X" that hides it. (We will work on the more complex behavior of hiding it after you've entered your full address in another Issue.)

<img width="812" alt="Screen Shot 2019-03-19 at 10 33 29 AM" src="h

[2019-03-19 23:10] DaleMcGrew opened #2015 "When on Voter Guide, "Ballot" at-state should not be selected on Desktop version"
The tab to display is in WebApp/src/js/components/Navigation/HeaderBar.jsx, and I believe is set on line ~217 with: value={this.getSelectedTab()}

This might be related to shouldComponentUpdate not firing when it needs to, so I would recommend doing initial testing with shouldComponentUpdate always returning True.

![Screen Shot 2019-03-19 at 4 09 18 PM](https://user-images.githubusercontent.com/7

[2019-03-20 01:58] SailingSteve commented on #757
Parcel is pretty easy to get going, but the startup fails when it gets to scss files.  It seems that node-sass doesn't handle concurrent threads well (deep in its 'c' implementation), and Parcel gets much of its boost by using multiple cores simultaneously.  [The Parcel team recommends going with 'dart-sass'.](https://github.com/parcel-bundler/parcel/issues/1836)

[2019-03-22 21:10] DaleMcGrew opened #2020 "OfficeDetail: Hover behavior (1. Values, 2. Endorsements count and 3. rest of card clickable)"
### Please describe the issue (What happens? What do you expect?)
On the office detail, we want *most* of the card to be clickable (to take voter to the Candidate Detail page), and turn link-color blue when you hover over it. Hover over most of the candidate card should also cause the "Choose" and "Oppose" buttons to appear, and be clickable.

There would be two exceptions:
1. Values Icons + text:

[2019-03-23 20:53] DaleMcGrew opened #2023 "Cannot change address in Chrome Incognito Browser"
### Please describe the issue (What happens? What do you expect?)
In Chrome, choose from the File menu "New Incognito Window" then go to https://quality.wevote.us/ballot

This is the screen I see:
![Screen Shot 2019-03-23 at 1 49 15 PM](https://user-images.githubusercontent.com/7756031/54871522-88e79680-4d72-11e9-848c-a939a3963e63.png)

When you click the position map pin in the top header, the po

[2019-03-25 04:10] flurmbo commented on #2005
Quick question about this @DaleMcGrew, do you think I should use the [arrow_back_ios](https://material.io/tools/icons/?search=arrow_back_ios&icon=arrow_back_ios&style=baseline) material icon for this? According to the [material design website](https://material.io/design/navigation/understanding-navigation.html) it seems like for android apps and web apps [this style of arrow](https://material.io/t

[2019-03-25 04:18] DaleMcGrew commented on #2005
Thank you for digging into this @flurmbo. Why don't we use the suggested "arrow_back" icon version as the default, but could you include the "arrow_back_ios" icon in that component with an if-statement for "if iOS", so we can easily use the iOS arrow on the Mac and iOS? (We can figure out how to detect that the voter is on Mac or iOS in the near future.)

[2019-03-27 00:07] DaleMcGrew opened #2026 "New Welcome Page Design!"
### Please describe the issue (What happens? What do you expect?)
We have a new Welcome page design! Please review the latest "Welcome Page for Voter" Sketch file (which shows both Desktop and Mobile view) in this folder:
https://github.com/wevote/DesignInventory/tree/master/Welcome

This is a screenshot of the top of the page:
![Screen Shot 2019-03-26 at 4 46 07 PM](https://user-images.githubuser

[2019-03-27 21:53] DaleMcGrew commented on #1964
Verified - Great work @uroshima!

[2019-03-27 21:53] #1964 closed

[2019-03-28 15:31] DaleMcGrew opened #2028 "Add Testimonial to Values landing page"
### Please describe the issue (What happens? What do you expect?)
Update this page: https://quality.wevote.us/values

- [x] to include the new WebApp/src/js/components/Widgets/Testimonial.jsx component. For now you can use the placeholder variables as they are passed in (around line 102) in this component: WebApp/src/js/routes/Ballot/Office.jsx
- [x] In desktop mode, please make sure it displays a

[2019-03-28 16:10] jarodpeachey opened #2029 "Homepage button has default styling"
### Homepage Button has Default Styling
The get started button on the homepage still has default styling.  Didn't know if it's supposed to or not.  I've attached a screenshot below.

![ButtonCapture](https://user-images.githubusercontent.com/46693952/55173508-37645080-5152-11e9-8940-a350f835c3c0.PNG)

[2019-03-28 16:23] DaleMcGrew commented on #2029
Thank you Jarod for catching this. We are completely replacing this welcome page, so we don't need to make any updates to the current version.

[2019-03-28 16:23] #2029 closed

[2019-03-28 16:28] DaleMcGrew opened #2030 "Values section: Update style of Twitter sign in box"
### Please describe the issue (What happens? What do you expect?)
Please note: This is related to https://github.com/wevote/WebApp/issues/2028

In desktop, please update the styling (and text) of the "Sign In to Find Voter Guides" Twitter sign in box on the values page:
https://quality.wevote.us/values

This is where the component is:
WebApp/src/js/routes/Values.jsx

And this is what the design sh

[2019-03-28 19:33] jarodpeachey commented on #2015
What jsx file would this be in?

[2019-03-28 19:45] DaleMcGrew commented on #2015
Hello @jarodpeachey, I have updated the description of this issue with some more notes.

[2019-03-29 02:03] DaleMcGrew commented on #2023
Resolved.

[2019-03-29 02:03] #2023 closed

[2019-03-29 18:25] DaleMcGrew opened #2032 "Popovers: Remove "ref" from OverlayTrigger"
### Please describe the issue (What happens? What do you expect?)
In this component: WebApp/src/js/components/Widgets/BallotItemSupportOpposeCountDisplay.jsx

...we are opening and closing a popover using this code:

  closeNetworkScorePopover () {
    this.refs['network-score-overlay'].hide();
  }

"Opinions about Tara..."
https://localhost:3000/candidate/wv02cand40532/b/btdb/
![Screen Shot 2019-

[2019-03-29 19:49] lazorfuzz opened #2034 "Measure Detail Page - BallotItemSupportOpposeComment component doesn't show up on scroll up"
### Please describe the issue (What happens? What do you expect?)

The support/oppose/comment component should reappear on the Measure page when the measure sticky header disappears.  In React dev tools, the component appears to be rendered, but the component doesn't show up in the DOM. The logic to appear/disappear the component is in MeasureItem.jsx.

### Steps to reproduce the problem (1, 2, 3.

[2019-03-31 01:41] flurmbo commented on #2005
Hey @DaleMcGrew, it looks like I'm going to need to override some Material UI styles. Do you know what is our preferred method to do that? I have been able to do it with the class property as described [here](https://material-ui.com/customization/overrides/#overriding-with-classes), but I've notcied that sometimes overrides are done in WebApp with "!important."

[2019-03-31 17:41] DaleMcGrew opened #2037 "Update Values Display to be Similar to Candidate display"
### Please describe the issue (What happens? What do you expect?)
On the following page, we want to update the display of the values (the top-most section of the "values" page): https://quality.wevote.us/values

How it should look in Desktop:
![Screen Shot 2019-03-29 at 11 52 09 AM](https://user-images.githubusercontent.com/7756031/55255978-33e7cc80-5219-11e9-9c45-b6ae89d80e9b.png)

How it should

[2019-04-01 21:11] DaleMcGrew opened #2038 "Turn off "All Items" tab until choices have been made"
### Please describe the issue (What happens? What do you expect?)
Prior to making any choices, we currently see this, and we want to NOT display "All Items" when it is the only option:
![Screen Shot 2019-04-01 at 2 10 12 PM](https://user-images.githubusercontent.com/7756031/55359926-e45b0800-5487-11e9-8df9-3913ffafcd13.png)

Once you make choices, we want the options tabs to appear.
![Screen Shot

[2019-04-08 00:34] DaleMcGrew commented on #2032
Hi @uroshima, I fixed the example shown above with this pull request:
https://github.com/wevote/WebApp/pull/2043/files

I am closing this issue given many of the other cases where we misuse refs will go away when we delete components we are no longer using.

[2019-04-08 00:34] #2032 closed

[2019-04-08 14:21] DaleMcGrew commented on #2013
Great work @uroshima!

[2019-04-08 14:21] #2013 closed

[2019-04-08 14:24] DaleMcGrew commented on #2015
Great work @jarodpeachey. This is now verified.

[2019-04-08 14:24] #2015 closed

[2019-04-08 21:12] flurmbo opened #2046 "Text showing twice in header button in when width is 319px or less"
### Please describe the issue (What happens? What do you expect?)

This is an issue I've encountered while working on #2005. Using Firefox, when I resize my window on an office page, the word "ballot" will appear twice if I resize the window small enough as in the following gif:

![wevoteballotresize](https://user-images.githubusercontent.com/35127144/55756992-7929ac80-5a18-11e9-9ef0-22bbb5b1cd64.

[2019-04-09 17:50] DaleMcGrew commented on #2046
Thank you @flurmbo for your awesome clarity on this issue, including the animated gif. It looks like with a screen width smaller than iPhone5 (our smallest supported device), the visibility limitations are lifted. I think you are right that we need to look into tweaking the style `u-show-desktop-tablet` to not allow visibility for very small screens.

[2019-04-09 19:12] DaleMcGrew commented on #1985
Thank you @lazorfuzz! Verified.

[2019-04-09 19:12] #1985 closed

[2019-04-09 19:27] DaleMcGrew opened #2047 "Candidate Page Sticky Header"
Please implement the candidate header elements related to Desktop and Mobile sticky header.

Mobile initial header:
<img width="342" alt="CandidateMobile" src="https://user-images.githubusercontent.com/7756031/55829047-97e47d80-5ac2-11e9-83a6-3a01a706cd63.png">

Mobile sticky header:
<img width="341" alt="CandidateMobile-StickyHeader" src="https://user-images.githubusercontent.com/7756031/55829073

[2019-04-10 05:41] jarodpeachey commented on #1932
Where does this code live?  I could try taking a look at it tomorrow.

[2019-04-11 17:54] #1932 closed

[2019-04-11 19:02] DaleMcGrew commented on #2028
Great work @jarodpeachey!!

[2019-04-11 19:02] #2028 closed

[2019-04-11 19:03] DaleMcGrew commented on #2030
Well done. Verified.

[2019-04-11 19:03] #2030 closed

[2019-04-11 19:04] DaleMcGrew commented on #2026
First version complete. Thank you @lazorfuzz!

[2019-04-11 19:04] #2026 closed

[2019-04-11 21:42] DaleMcGrew opened #2053 "How it Works (For Voters)"
### Please describe the issue (What happens? What do you expect?)
We have new designs for a "How It Works" page. There will be a total of three of these pages, so this first one is "For Voters".

Text for the numbered items across the top (#4 is different than the image below):
1: Choose
2: Follow
3: Review
4: Decide
5: Friends

Desktop, step 1:
<img width="956" alt="Screen Shot 2019-04-11 at 1 56

[2019-04-11 22:10] DaleMcGrew opened #2054 "Mobile Onboarding Screens (Update)"
### Please describe the issue (What happens? What do you expect?)
These are our new designs:
<img width="1021" alt="Screen Shot 2019-04-11 at 3 00 15 PM" src="https://user-images.githubusercontent.com/7756031/55995971-dddc4580-5c6a-11e9-8803-19951a606730.png">

These starting screens will only be visible on our App Store Apps, so only shown on mobile devices and tablets.

And these are the pages t

[2019-04-11 22:29] DaleMcGrew commented on #1987
Hi @jarodpeachey, this looks great, and I am marking this issue as "complete". I do notice that there are a few new warnings in the Chrome console log that might be related to your changes. Could you please take a look?

[2019-04-11 22:29] #1987 closed

[2019-04-14 17:53] DaleMcGrew opened #2058 "Ballot Search Box: When it's the only icon, default to opening the text box"
Currently for elections that only have one category of "Federal", "State", "Measure" or "Local", we *only* display the search box like this:
<img width="196" alt="Screen Shot 2019-04-14 at 10 28 24 AM" src="https://user-images.githubusercontent.com/7756031/56096937-16fefa80-5ea3-11e9-82a9-b0e96e582531.png">

For elections like this, please adjust the vertical spacing so it looks like it does when

[2019-04-15 16:38] DaleMcGrew opened #2062 "Create new "Follow/Ignore" button interface"
We offer the ability to follow voter guides (organizations or public figures), or ignore them.

Currently in WebApp/src/js/components/VoterGuide/GuideList.jsx (around line 199) we combine the component WebApp/src/js/components/Widgets/FollowToggle.jsx with a ```<button``` for "Ignore". Please update the FollowToggle component to include Ignore, and upgrade to a Material component.

These are the n

[2019-04-15 18:13] DaleMcGrew opened #2063 "Create "Add Endorsements" Promo-box"
### Please describe the issue (What happens? What do you expect?)
![Screen Shot 2019-04-15 at 9 54 39 AM](https://user-images.githubusercontent.com/7756031/56155211-3d8a6780-5f6f-11e9-8c89-b14e2892418d.png)

Please start with this component WebApp/src/js/components/Twitter/TwitterSignInCard.jsx and create a new component WebApp/src/js/components/Widgets/AddEndorsements.jsx

Please add to the WebAp

[2019-04-15 18:34] jarodpeachey commented on #2063
I can grab this issue, shouldn't be too different from the Twitter Sign In.

Quick question, though.  For the ''Missing Endorsements" on the candidate profile page, should the component look the same as on the values page?  Or will it be something different?

[2019-04-15 18:37] DaleMcGrew commented on #2063
Hi @jarodpeachey, it should be the same "AddEndorsements" in each location. It is primarily meant for a narrow side bar (or the wider column for mobile). Some of the current locations might make it stretch to be too wide, so we may want to move it to a side column when on desktop, or make other adjustments. We will have to see how it looks.

[2019-04-15 18:45] DaleMcGrew commented on #2063
Ahmed just added the new image to the repo to use on the button:
https://github.com/wevote/WebApp/blob/develop/src/img/global/svg-icons/positions-icon-24-x-24.svg

[2019-04-15 18:46] DaleMcGrew commented on #2054
Awesome work! Verified.

[2019-04-15 18:46] #2054 closed

[2019-04-15 19:02] DaleMcGrew commented on #2005
Hi @flurmbo this new "back to" look is awesome! Thank you for implementing. Great work. Verified.

[2019-04-15 19:02] #2005 closed

[2019-04-15 20:57] jarodpeachey commented on #2063
Here's three images showing what I've got so far.  I updated the values page sidebar, as well as the candidate page "Endorsements missing" buttons.  Let me know what you think.

### **Values Page**
![ValuesPage_Endorsements](https://user-images.githubusercontent.com/46693952/56164760-64f92880-5f9f-11e9-96b2-c64e7c081ed0.PNG)

### **Candidate Mobile**
![Candidate_Mobile_Endorsements](https://user-i

[2019-04-15 21:11] DaleMcGrew commented on #2063
Thank you Jarod, I think this is a good start!  On the candidate page
please include the icon in the button, or better yet use the same button
with the different text.

-Dale

On Mon, Apr 15, 2019 at 1:57 PM Jarod Peachey <notifications@github.com>
wrote:

--

Dale John McGrew
Co-Founder & CTO, We Vote
Dale.McGrew@WeVote.US
www.WeVote.US
415-516-8777
Download: iPhone
<https://itunes.apple.com/us/a

[2019-04-17 17:20] DaleMcGrew commented on #2063
Verified!

[2019-04-17 17:20] #2063 closed

[2019-04-17 21:39] DaleMcGrew commented on #2062
Hi @lazorfuzz we wanted to get your advice (myself and @jarodpeachey ). Would it make sense to start with this component and try to customize? https://material-ui.com/demos/menus/

[2019-04-17 22:33] DaleMcGrew opened #2071 "Update Value Cards on Values Listing Page"
### Please describe the issue (What happens? What do you expect?)
Please update the cards on https://quality.wevote.us/values/list to use Value/Issue cards in two columns:
![Screen Shot 2019-04-17 at 3 29 07 PM](https://user-images.githubusercontent.com/7756031/56325081-c0552300-6125-11e9-9852-b38384bc2452.png)

To finish this issue, you do not need to add the line that shows who else is following

[2019-04-17 23:52] lazorfuzz commented on #2062
Yes, that would make the most sense. Just use style overrides!

[2019-04-19 19:18] DaleMcGrew commented on #2053
Amazing work @lazorfuzz! Would you be able to make the numbered "step" chips jump to the related step when clicked on, in both mobile and desktop?
![Screen Shot 2019-04-19 at 12 18 07 PM](https://user-images.githubusercontent.com/7756031/56440099-421b8c80-629d-11e9-839f-0133f61e5a92.png)

![Screen Shot 2019-04-19 at 12 18 19 PM](https://user-images.githubusercontent.com/7756031/56440105-46e04080-6

[2019-04-19 21:26] lazorfuzz commented on #2053
@DaleMcGrew Sure, I can make them clickable. The step chips are responsive though, and are returned twice in the HowItWorks component. Should I label them with some other attribute?

[2019-04-19 21:28] DaleMcGrew commented on #2053
Thank you @lazorfuzz you can give the mobile chips one id name and the desktop chips another (but similar) id name.

[2019-04-20 00:37] DaleMcGrew commented on #2053
Verified!

[2019-04-20 00:37] #2053 closed

[2019-04-20 00:56] DaleMcGrew commented on #2034
Verified.

[2019-04-20 00:56] #2034 closed

[2019-04-22 16:27] DaleMcGrew commented on #2046
Thank you Jarod for tackling this issue. Please do not mark issues as closed, but instead label them "Verify Fix" so QA can verify them before closing them.

[2019-04-22 18:28] DaleMcGrew commented on #2046
I am able to reproduce this bug in Chrome if you use the "Responsive" display:
![Screen Shot 2019-04-22 at 11 27 38 AM](https://user-images.githubusercontent.com/7756031/56517392-b3ec1400-64f1-11e9-9d1b-7e59aa8da618.png)

[2019-04-22 19:05] jarodpeachey commented on #2046
For a solution, should I just change the 'small' variable breakpoint in _variables.scss to 100 pixels or so?  That should fix it.

[2019-04-22 19:10] DaleMcGrew commented on #2046
Hi @jarodpeachey I think the solution would be to adjust `u-show-desktop-tablet` and `u-show-desktop` in:
/WebApp/src/sass/utilities/_u-layout.scss

...to "display: none" when smaller than "small". You might need to add a lower end breakpoint called `width-zero` with a setting of "0".

[2019-04-24 03:54] DaleMcGrew commented on #1996
Verified.

[2019-04-24 03:54] #1996 closed

[2019-04-24 16:20] DaleMcGrew commented on #2038
Verified!

[2019-04-24 16:20] #2038 closed

[2019-04-24 16:21] DaleMcGrew commented on #2046
Verified! Thank you @jarodpeachey for fixing this, and thank you @flurmbo for reporting this.

[2019-04-24 16:21] #2046 closed

[2019-04-24 16:26] DaleMcGrew commented on #757
Hello @utsab and @SailingSteve would you be able to work together to get to a new version of the Webpack bundle generator? Steve would like to use a new PDF display package that requires webpack.

[2019-04-24 16:33] DaleMcGrew commented on #2062
Awesome work @jarodpeachey!

[2019-04-24 16:33] #2062 closed

[2019-04-25 00:38] utsab commented on #757
Hi @DaleMcGrew, I will follow up with @SailingSteve.  Making the new webpack bundle generator work with Cordova has been a challenge so far.  I have been meaning to reach out to Steve in any case to get his insight on this.

[2019-04-25 01:24] DaleMcGrew commented on #757
Hi @utsab, thank you for the update. You might want to create a WebApp pull request (merged with all of the most recent changes) that @SailingSteve can review prior to your conversation.

[2019-04-25 16:08] DaleMcGrew commented on #2058
Hi @flurmbo while you are working on this, could you also please remove this line between the election name and the search chip when the "All Items" tabs are turned off?
![Screen Shot 2019-04-25 at 9 06 49 AM](https://user-images.githubusercontent.com/7756031/56750946-b345be80-6739-11e9-98fb-78e824c09c19.png)

[2019-04-25 17:43] DaleMcGrew opened #2092 "Office Detail: Add Choose/Oppose buttons"
### Please describe the issue (What happens? What do you expect?)
On the office detail, hovering over most of the candidate card should also cause the "Choose" and "Oppose" buttons to appear, and be clickable.

This design image is slightly incorrect -- the values icons + text would not be link-blue, based on where the pointer is over the card.
<img width="491" alt="Screen Shot 2019-03-22 at 1 36

[2019-04-25 18:34] DaleMcGrew opened #2093 "FollowToggle vertical line shows through measure sticky header"
The component src/js/components/Widgets/FollowToggle.jsx has a vertical line between the word "Follow" and the down arrow. That vertical line shows through the sticky header on the measure page:
1. Go to https://quality.wevote.us/ballot/id/wv02ballot16447
2. Click on "Measure"
3. Click on the first measure and scroll down on the page after positions appear on the screen

![Screen Shot 2019-04-25 a

[2019-04-25 18:39] DaleMcGrew opened #2094 "Measure and Candidate Sticky header: Remove shadow under Back to Ballot bar"
Measure pages and Candidate pages have a "Sticky header" that appears when you scroll down the page that shows either the measure name, or the candidate name. Please remove the shadow under the header bar <- Ballot when the Stick header is displayed:

1. Go to https://quality.wevote.us/ballot/id/wv02ballot16447
2. Click on "Measure"
3. Click on the first measure and scroll down on the page after p

[2019-04-25 20:59] flurmbo commented on #2058
It looks like that line is shown on a separate line on smaller screens. On my desktop browser, it is shown on the same line as "US 2020 Presidential Primary Election" with a dash between them. When all items is turned off, do you want the date removed only for mobile/smaller screens or altogether?

[2019-04-25 21:24] DaleMcGrew commented on #2058
Hi @flurmbo I should have said "the thin horizontal line between the election name + date, and the search box". There isn't a need to adjust the date -- I am only talking about the thin horizontal line.

[2019-04-26 02:49] jarodpeachey commented on #2071
Does this issue take priority over issue #2037 as far as the design and layout goes?  Should the other issue be ignored, or would that be an entire separate component that we'll get to later, like `IssueCardCondensed.jsx`?

[2019-04-26 03:02] DaleMcGrew commented on #2071
Hi @jarodpeachey both issues *could* be solved with the same IssueCard component, but it might be easier to implement two components -- `IssueCard` for this page, and `IssueCardCompressed` for issue #2037. Feel free to tackle issue #2037 and issue #2071 in any order you would like -- both need to be implemented.

[2019-04-26 03:08] jarodpeachey commented on #2071
Ok.  And does the values list use the compressed, and the values page the standard from above, or the other way around?  I'm thinking you want /values/list page to look like this
![image](https://user-images.githubusercontent.com/46693952/56780857-e6766500-67ae-11e9-87f7-4b73119b66c9.png)
and the /values page to look like this (with the new toggle button)
![image](https://user-images.githubusercon

[2019-04-26 03:10] jarodpeachey commented on #2071
Also, for this issue, is the green button going to be changed to look as on the designs above with the dropdown when you're following it?

[2019-04-26 03:22] DaleMcGrew commented on #2071
Hi @jarodpeachey, correct, the green Follow button powered by IssueFollowToggleButton will need to be upgraded to this new design.

I was thinking that IssueCardCompressed could be created for the ValuesToFollowPreview component which is shown on https://quality.wevote.us/values and called by WebApp/src/js/routes/Values.jsx
![image](https://user-images.githubusercontent.com/46693952/56780881-f9893

[2019-04-26 12:39] DaleMcGrew opened #2098 "Activate radio button text in PositionPublicToggle"
### Please describe the issue (What happens? What do you expect?)
In this component, we are not accepting a click on the words "Friends Only" or "Public". Clicking on those words should change the radio button setting, and change the mouse pointer.
WebApp/src/js/components/Widgets/PositionPublicToggle.jsx

![Screen Shot 2019-04-26 at 5 34 57 AM](https://user-images.githubusercontent.com/7756031/56

[2019-04-26 15:38] flurmbo commented on #2058
Got it!

[2019-04-26 16:05] DaleMcGrew opened #2100 "Add "id" attributes to all links in Footer"
### Please describe the issue (What happens? What do you expect?)
Please update all of the footer links to include "id" attributes:
WebApp/src/js/components/Welcome/Footer.jsx

Please create id names that start with "footerLink" like:
footerLinkForVoters
footerLinkSupportedElections

You will need to upgrade the OpenExternalWebSite component to include a "linkIdAttribute" prop that passes through

[2019-04-26 20:24] DaleMcGrew opened #2102 "Add rollover to "Our Team" photos"
### Please describe the issue (What happens? What do you expect?)
https://quality.wevote.us/more/about
The left 1/2 of the image below shows our current display for one team member. We want to upgrade it to change when you rollover with your mouse (for Desktop) or click (for Mobile), and show the image on the right 1/2 of the image below (shrunken team member photo and title, with the bio shown be

[2019-04-27 17:05] DaleMcGrew opened #2104 "FollowToggle light mode and moveDownArrowFunctionToButton"
### Please describe the issue (What happens? What do you expect?)
Please take the existing FollowToggle component and add two new variables as props.
- [x] moveDownArrowFunctionToButton: When set to true, turn off the down arrow when "Follow" is shown, and change a click on "Follow" to show the drop down menu. There is no need to remove the drop down arrow from the "Following" state.
- [x] lightMo

[2019-04-30 16:36] DaleMcGrew commented on #2100
Verified, thank you @uroshima!

[2019-04-30 16:36] #2100 closed

[2019-04-30 16:39] DaleMcGrew commented on #2020
Verified, thank you @jarodpeachey!

[2019-04-30 16:39] #2020 closed

[2019-04-30 16:49] DaleMcGrew commented on #2037
Great work on this Issue @jarodpeachey. I wanted to request these fixes:

- [ ] Change "Following" text to "Unfollow"
![Screen Shot 2019-04-30 at 9 43 55 AM](https://user-images.githubusercontent.com/7756031/56978505-8411c180-6b2c-11e9-9286-146d52e2d2a9.png)

- [ ] When you unfollow issue, it leaves white "Follow" button visible on the screen under the dark blue Follow button:
![Screen Shot 2019-0

[2019-05-01 04:45] jarodpeachey opened #2114 "Twitter Button Padding Error"
### Please describe the issue (What happens? What do you expect?)
The padding for the Twitter icon on the values page twitter button is off by a few pixels.

![TwitterBTNIssue](https://user-images.githubusercontent.com/46693952/57005946-481d4180-6baa-11e9-96e0-5742c2ea1403.PNG)

[2019-05-02 00:27] flurmbo commented on #2058
@DaleMcGrew, quick question about this issue. In this situation, do you think anything should be done with the "X" symbol on the right of the search bar?

[2019-05-02 00:28] DaleMcGrew commented on #2058
Hi @flurmbo the "X" should remain and clear the contents of the search box, but would not shrink the search box.

[2019-05-03 23:23] flurmbo opened #2119 "header rendering oddly when ballot route is capitalized in url"
See the attached image. Accidentally stumbled upon this problem when mistakenly going to quality.wevote.us/Ballot, with the 'B' capitalized. The url is recognized as valid and the page loads, but the header is rendered off-kilter. This is probably due to the stringContains utility function checking if the path contains the string "ballot", which would fail if someone happened to use different lett

[2019-05-04 14:16] jarodpeachey commented on #2119
We could also go into the header control component and use a less-strict check on what the url path is.  By that, I mean update it to include all cases of the word 'ballot' or whatever page you are on.  That way, even BALLOT would work if someone's caps lock was on.

[2019-05-04 14:24] jarodpeachey commented on #2119
I just found a fix for this, but I can't commit it through my editor through the main.css file for some reason.  However, here's the fix.
Change this:
`.ballot__heading,.ballot__heading__unpinned {
    position: fixed;
    transition:all .1s ease-in-out 0s;
}`

To this:
`.ballot__heading,.ballot__heading__unpinned {
    position: fixed;
    transition:all .1s ease-in-out 0s;
    left: 0;
}`

The c

[2019-05-04 14:46] DaleMcGrew commented on #2119
Hi Jarod- main.css is a compiled file built-up from the sass files.

On Sat, May 4, 2019 at 7:26 AM Jarod Peachey <notifications@github.com>
wrote:

--

Dale John McGrew
Co-Founder & CTO, We Vote
Dale.McGrew@WeVote.US
www.WeVote.US
415-516-8777
Download: iPhone
<https://itunes.apple.com/us/app/we-vote-voter-guide/id1347335726> or
Android
<https://play.google.com/store/apps/details?id=org.wevote.co

[2019-05-07 01:45] DaleMcGrew commented on #2114
Verified.

[2019-05-07 01:45] #2114 closed

[2019-05-07 01:54] DaleMcGrew commented on #2104
Great work @jarodpeachey! I found two problems to resolve from the candidate page, for example:
https://quality.wevote.us/candidate/wv02cand40208/b/btdb/

1)
When the browser window is wide, the drop down gets cut off on the left.
![Screen Shot 2019-05-06 at 6 47 01 PM](https://user-images.githubusercontent.com/7756031/57266117-8ba30000-702f-11e9-9cd3-ab544e139d2d.png)

2)
When the window is narro

[2019-05-07 14:08] DaleMcGrew opened #2126 "How It Works, Go to next step automatically"
On the How It Works page ( https://quality.wevote.us/how/for-voters ), we want to have the slides automatically advance after a specified time for each slide.
WebApp/src/js/routes/HowItWorks.jsx

- [x] Please add a timer on each "tab" (to the dict in the HowItWorks component code). When the timer runs out, advance to the next step. We need to be able to customize the amount of time we stay on each

[2019-05-07 15:22] DaleMcGrew commented on #2037
Verified!

[2019-05-07 15:22] #2037 closed

[2019-05-07 15:23] DaleMcGrew commented on #2098
Verified

[2019-05-07 15:23] #2098 closed

[2019-05-07 15:31] DaleMcGrew commented on #2093
Verified.

[2019-05-07 15:31] #2093 closed

[2019-05-07 15:32] DaleMcGrew commented on #2071
Verified.

[2019-05-07 15:32] #2071 closed

[2019-05-07 16:11] DaleMcGrew commented on #2058
Thank you @flurmbo. The functionality of this new feature is great. There is a visual display glitch (an extra horizontal line) in mobile and tablet mode underneath the search box, when open or closed:
![Screen Shot 2019-05-07 at 9 08 31 AM](https://user-images.githubusercontent.com/7756031/57315190-f3952d00-70a7-11e9-973f-0c7ee2b8b550.png)

[2019-05-08 03:52] utsab commented on #757
@SailingSteve I believe the the new webpack work is ready to be tested in Cordova. Would you be up for testing it on your side and giving us your feedback?

We successfully launched the app in Cordova (using the webpack generated bundle.js) following the [Xcode ios instructions](https://github.com/wevote/WeVoteCordova), and the app correctly ran in ios simulator.

 Here are the instructions you ca

[2019-05-09 15:14] DaleMcGrew commented on #2104
Great work! Resolved.

[2019-05-09 15:14] #2104 closed

[2019-05-09 15:16] DaleMcGrew commented on #2047
Hi @jarodpeachey, please make sure to include the Support/Oppose/Comment component in the sticky header.

[2019-05-09 17:01] DaleMcGrew opened #2132 "Measure Page Sticky Header"
- [x] Please center the sticky header (similar to how the Candidate Page Sticky Header looks). Currently it stick to the left side of the browser:
![Screen Shot 2019-05-09 at 9 57 54 AM](https://user-images.githubusercontent.com/7756031/57472039-5c63dd00-7241-11e9-9d4c-635c462b86f9.png)

- [x] Please add the WebApp/src/js/components/Widgets/BallotItemSupportOpposeCountDisplay.jsx

[2019-05-11 15:26] DaleMcGrew commented on #2132
Great work @jarodpeachey! Verified.

[2019-05-11 15:26] #2132 closed

[2019-05-11 21:19] DaleMcGrew opened #2140 "Make the ToolBar visible on the About page"
For some new reason, the WebApp/src/js/routes/More/ToolBar.jsx isn't visible on the WebApp/src/js/routes/More/About.jsx page:
https://quality.wevote.us/more/about

This is where we want them (the text should say "About We Vote"):
<img width="235" alt="Screen Shot 2019-05-11 at 2 12 19 PM" src="https://user-images.githubusercontent.com/7756031/57574986-ed2fe980-73f6-11e9-9293-6c963eff4fbf.png">

Th

[2019-05-11 21:23] DaleMcGrew opened #2141 "Founder images smaller before roll-over"
Hi Jarod, I made some changes to the About page after your team photo changes, and the size of the founder images are now smaller than the rest of the team. Could you please figure out what I broke so they are the same size as the other team photos?
![Screen Shot 2019-05-11 at 2 20 53 PM](https://user-images.githubusercontent.com/7756031/57575054-35034080-73f8-11e9-97e8-f6960cb55988.png)

[2019-05-11 21:26] DaleMcGrew opened #2142 "About page: Linebreaks where there shouldn't be"
https://quality.wevote.us/more/about
For some reason on WebApp/src/js/routes/More/About.jsx there are line breaks where there shouldn't be:
![Screen Shot 2019-05-11 at 2 25 31 PM](https://user-images.githubusercontent.com/7756031/57575070-ae9b2e80-73f8-11e9-97ca-7a37726cc14a.png)

And:
![Screen Shot 2019-05-11 at 2 25 39 PM](https://user-images.githubusercontent.com/7756031/57575071-b2c74c00-73f8-

[2019-05-11 21:27] DaleMcGrew commented on #2102
Thank you @jarodpeachey, in mobile mode, could you please make the Team names and job definitions  centered horizontally?

[2019-05-12 00:03] DaleMcGrew commented on #2142
Fixed! Thank you @jarodpeachey.

[2019-05-12 00:03] #2142 closed

[2019-05-12 00:03] DaleMcGrew commented on #2141
Fixed.

[2019-05-12 00:03] #2141 closed

[2019-05-12 00:03] DaleMcGrew commented on #2102
Fixed.

[2019-05-12 00:03] #2102 closed

[2019-05-12 00:46] DaleMcGrew opened #2145 "Welcome for Campaigns: Button Styling"
This is the file to work on:
WebApp/src/js/routes/WelcomeForCampaigns.jsx
http://localhost:3000/for-campaigns

- [x] Please make the first "Get Started" button on the Welcome Page for Campaigns to look like this:
<img width="265" alt="Screen Shot 2019-05-11 at 5 38 11 PM" src="https://user-images.githubusercontent.com/7756031/57576402-05623180-7414-11e9-847f-896f7947df7c.png">

- [x] Make the "How

[2019-05-12 00:59] DaleMcGrew opened #2146 "Welcome for Organizations: Button Styling"
http://localhost:3000/for-organizations
WebApp/src/js/routes/WelcomeForOrganizations.jsx

- [x] Please make first "How it Works for Organizations" button centered horizontally

- [x] Make the "Get Started" button narrower

- [x] Make the "How it Works for Voters" button narrower

- [x] Make the "View Pricing" button centered and gold like this:
<img width="644" alt="Screen Shot 2019-05-11 at 5 58

[2019-05-12 01:04] DaleMcGrew opened #2147 "New Component: Testimonial from Company"
Please start with this component:
WebApp/src/js/components/Widgets/Testimonial.jsx

Create a new component for company testimonials that is formatted like this:
<img width="981" alt="Screen Shot 2019-05-11 at 6 02 03 PM" src="https://user-images.githubusercontent.com/7756031/57576550-ee710e80-7416-11e9-90e3-1b5c3c173eec.png">

Please place the new component on this page:
WebApp/src/js/routes/Welco

[2019-05-12 01:07] DaleMcGrew opened #2148 "Footer: "Contact Sales" button has outline cover button text"
When you resize the browser width when looking at a Welcome page, there are some widths when the "Get Started" and "Contact Sales" buttons in the footer have the outer border overlapping the button text:
<img width="129" alt="Screen Shot 2019-05-11 at 6 04 45 PM" src="https://user-images.githubusercontent.com/7756031/57576576-866ef800-7417-11e9-9125-af1939bc9835.png">

[2019-05-12 17:13] DaleMcGrew opened #2149 "Integrate "Contact Sales" form with Copper CRM"
We Vote uses a customer relationship management system called Copper.com to keep track of people interested in paying for premium We Vote services. We need help setting up a "Contact We Vote Sales" form to capture interest.

If you are interested in tackling this issue, please contact Dale.McGrew@WeVote.US for the necessary credentials.

These are the articles I found describing how to do it:
http

[2019-05-13 03:53] DaleMcGrew commented on #2146
Great work @jarodpeachey, it looks great! -Dale

[2019-05-13 03:53] #2146 closed

[2019-05-13 19:48] DaleMcGrew opened #2153 "Mobile SignInModal: Make wider"
When you are in mobile mode, and not signed in, we open the component WebApp/src/js/components/Widgets/SignInModal.jsx when you click "Get Started" from any welcome page. Currently this SignInModal is too narrow in mobile mode and should fill the entire width of the mobile phone.

[2019-05-14 00:12] DaleMcGrew commented on #1917
Thank you @lazorfuzz for moving this effort forward! There is of course more to do, but this is at a good spot for now.

[2019-05-14 00:12] #1917 closed

[2019-05-14 00:13] DaleMcGrew commented on #2145
Verified!

[2019-05-14 00:13] #2145 closed

[2019-05-14 12:54] DaleMcGrew opened #2157 "Pricing Page: Show 3 options"
An empty page already exists here:
https://quality.wevote.us/more/pricing
WebApp/src/js/routes/More/Pricing.jsx

Please add these columns in desktop:
<img width="756" alt="Screen Shot 2019-05-14 at 5 40 10 AM" src="https://user-images.githubusercontent.com/7756031/57698915-9b13e180-760b-11e9-883d-f1c3521456c4.png">

In mobile, please only show one column at a time, with a toggle (against the dark

[2019-05-14 22:55] flurmbo commented on #2058
@DaleMcGrew, are you talking about the grey line that appears and fades away after toggling the search box in mobile, like in the attached gif? It looks a little different than what I see in your image, which I cannot reproduce

![Peek 2019-05-14 17-54](https://user-images.githubusercontent.com/35127144/57737460-68043900-7671-11e9-9b86-601251cd197b.gif)

[2019-05-14 23:04] jarodpeachey commented on #2058
On my side of things, when we hit the mobile mode (when the header nav goes away and the footer nav appears) this gray disabled scrollbar appears.  Might be something with the scrollX being set to scroll or auto on mobile mode.

![WeVoteIssueScrollbar](https://user-images.githubusercontent.com/46693952/57737821-0648cc80-767b-11e9-9852-4d99fa8ae3f9.gif)

[2019-05-14 23:28] flurmbo commented on #2058
@jarodpeachey thanks I'm able to see those scroll bars pop in now

[2019-05-15 20:33] DaleMcGrew opened #2161 "Our Network Logos too tall in mobile"
https://quality.wevote.us/welcome
WebApp/src/js/routes/WelcomeForVoters.jsx
In the "Our Network" section of all three Welcome pages, some of the logos are too tall when viewed in mobile:
![Screen Shot 2019-05-15 at 1 29 34 PM](https://user-images.githubusercontent.com/7756031/57807303-c125a880-7715-11e9-85d7-4ab0e9c3cf51.png)

Ideally we would show two logos side-by-side in mobile, and have them b

[2019-05-16 14:36] jarodpeachey opened #2165 "Update margins on Our Team Cards"
### Please describe the issue (What happens? What do you expect?)
On hover for the desktop and mobile modes, the name of the team member is too close to the image, and too far from the subtitle.

The fix should be somewhere around line 174 in the TeamMemberDisplayForList.jsx file.

![AboutCardMobile](https://user-images.githubusercontent.com/46693952/57862315-2a64f480-77c6-11e9-83fd-4d7610f45085.P

[2019-05-16 14:39] jarodpeachey commented on #2148
I'll tackle this.  There's also an issue that the contact sales button does not go to the page unless you click the text.  Something with the "Get Started" button being a link, but the "Contact Sales" button only containing a link.  I'll take a look at this tomorrow.

[2019-05-17 06:02] flurmbo opened #2172 "Cordova onboarding screens have extra top padding"
### Please describe the issue (What happens? What do you expect?)
On Cordova iOS and Android, some extra padding appears at the top of the introductory dialog screens. This pushes everything down and leaves a gray box at the top. I believe this is coming from either [this](https://github.com/wevote/WebApp/blob/618276deec359a2abe962db5bd21dbbb788936dc/src/js/Application.jsx#L262) line or [this](htt

[2019-05-17 16:46] DaleMcGrew commented on #2157
Great work @jarodpeachey!

[2019-05-17 16:46] #2157 closed

[2019-05-17 16:52] DaleMcGrew opened #2175 "Refactor Pricing to use Data array for options"
https://quality.wevote.us/more/pricing

Without changing the look or functionality of the current pricing page, refactor it so that all of the options and text are in a new data structure as proposed here:
https://github.com/wevote/WebApp/pull/2174/files

WebApp/src/js/routes/More/Pricing.jsx

This file has examples of how to use this type of data structure:
WebApp/src/js/routes/HowItWorks.jsx

Pl

[2019-05-17 17:28] DaleMcGrew commented on #2165
Thank you @jarodpeachey -- I made some updates yesterday that should fix this problem. Could you please verify?

[2019-05-17 17:33] DaleMcGrew opened #2176 "Ballot Search Box: On mac in mobile mode, extra horizontal line appears"
This only happens on Mac/Chrome. Related to: https://github.com/wevote/WebApp/issues/2058

![Screen Shot 2019-05-07 at 9 08 31 AM](https://user-images.githubusercontent.com/7756031/57315190-f3952d00-70a7-11e9-973f-0c7ee2b8b550.png)

[2019-05-17 17:33] DaleMcGrew commented on #2058
Thank you for tackling this Issue @flurmbo! I moved the remaining Mac bug into a new issue.

[2019-05-17 17:33] #2058 closed

[2019-05-17 17:34] DaleMcGrew commented on #2147
Thank you @jarodpeachey for tackling this.

[2019-05-17 17:34] #2147 closed

[2019-05-17 17:37] DaleMcGrew commented on #2047
Thank you for upgrading the Candidate Sticky Header. We will deal with the disappearing Support/Oppose box in a separate issue.

[2019-05-17 17:37] #2047 closed

[2019-05-18 00:49] jarodpeachey commented on #2165
@DaleMcGrew Looks good! 👍

[2019-05-18 01:41] #2165 closed

[2019-05-18 06:28] flurmbo commented on #2161
A possibly related issue is the way the network logos render in Firefox (tiny and smushed):

![Screenshot from 2019-05-18 01-27-07](https://user-images.githubusercontent.com/35127144/57965611-28a54900-790c-11e9-8a17-8dd1b8d8d197.png)

[2019-05-18 14:29] jarodpeachey commented on #2175
Hey @DaleMcGrew.  I just finished refactoring the ForCampaigns data, and I just copied that to use as the forOrganizations data because I don't have the correct data for that.

Anyways, should I submit this pull request, or update the pricing page to use the same slider method as the How It Works page to toggle between campaign and organization pricing cards?

[2019-05-18 14:32] DaleMcGrew commented on #2175
Good morning @jarodpeachey, using a copy of the same data forCampaigns and forOrganizations is perfect. I will adjust it per Hillary Lehr, our marketing writer. It sounds like you are ready to submit. I think I will set up the choice between forCampaigns and forOrganizations based on the URL the voter is visiting.

[2019-05-18 14:33] DaleMcGrew commented on #2148
Verified!

[2019-05-18 14:33] #2148 closed

[2019-05-19 14:51] DaleMcGrew commented on #2140
It is awesome to see these icons again! Thank you.

Two requests:
- [ ] I noticed that with the new font awesome icons in place, these icons are no longer showing correctly:
![Screen Shot 2019-05-19 at 7 47 13 AM](https://user-images.githubusercontent.com/7756031/57983775-7c965780-7a0a-11e9-87fe-9d68a1bf5822.png)

 - [ ] I would prefer to put this include:
<link rel="stylesheet" href="https://use.

[2019-05-19 17:14] DaleMcGrew opened #2185 "Problem with rendering organization placeholder image"
When looking at the positions for a candidate:
https://localhost:3000/candidate/wv02cand40208/b/btdb/

...if a logo is missing for the person/organization, we see a big "C":
![Screen Shot 2019-05-19 at 7 53 46 AM](https://user-images.githubusercontent.com/7756031/57985529-0ac80900-7a1e-11e9-9f43-f3de9948e177.png)

We should be showing our default icon, and this used to work.

I am also seeing this

[2019-05-19 17:26] jarodpeachey commented on #2092
What component should I use? I was looking and there doesn't seem to be a component for just the choose/oppose buttons.  How should I approach making sure the buttons fire the function they are supposed to?

[2019-05-19 17:30] DaleMcGrew opened #2186 "Update designs of positions on Candidate page"
The positions beneath a candidate can be updated to our new designs.

Desktop (green vertical line appears if the organization is supporting the candidate, red vertical line if opposing, and gray vertical line if information only):
<img width="641" alt="Screen Shot 2019-05-19 at 10 21 06 AM" src="https://user-images.githubusercontent.com/7756031/57985668-45cb3c00-7a20-11e9-9731-85b7c4bfa465.png">

[2019-05-19 17:33] DaleMcGrew commented on #2092
@jarodpeachey I believe you could use this component for the Choose / Oppose buttons:
WebApp/src/js/components/Widgets/ItemActionBar.jsx

You would need to pass in the prop: commentButtonHide

[2019-05-19 17:41] DaleMcGrew commented on #2175
Minor bug:
- [ ] Between browser width 960px and 991px the "Start With..." buttons don't line up horizontally.
<img width="721" alt="Screen Shot 2019-05-19 at 10 40 01 AM" src="https://user-images.githubusercontent.com/7756031/57985823-888e1380-7a22-11e9-9fa2-5c4bab23f799.png">

[2019-05-19 19:42] DaleMcGrew commented on #2161
Thank you for fixing this @flurmbo! Verified.

[2019-05-19 19:42] #2161 closed

[2019-05-19 19:42] DaleMcGrew commented on #2153
Verified!

[2019-05-19 19:42] #2153 closed

[2019-05-19 23:48] DaleMcGrew opened #2190 "OrganizationPopoverCard Styling"
We have a new popover on the Candidate page.
WebApp/src/js/components/Organization/OrganizationPopoverCard.jsx
If you hover over the logo or name of an organization that has a position, a popover will appear. We want to style it to look like this:
![Screen Shot 2019-05-19 at 4 47 27 PM](https://user-images.githubusercontent.com/7756031/57989858-d07a5e00-7a55-11e9-9654-439e73a930ed.png)

[2019-05-19 23:53] DaleMcGrew commented on #2175
Well done! Verified.

[2019-05-19 23:53] #2175 closed

[2019-05-20 01:05] DaleMcGrew opened #2191 "Keep OrganizationPopoverCard open"
In WebApp/src/js/components/Ballot/PositionItem.jsx we have an OverlayTrigger that opens a Popover that shows OrganizationPopoverCard. Right now when you move your mouse down into the OrganizationPopoverCard, you are moving your cursor away from the OverlayTrigger, so the Popover closes. We want to keep the popover open as long as the mouse is over either the OverlayTrigger or the OrganizationPopo

[2019-05-20 02:16] jarodpeachey commented on #2092
This would be on the CandidateItemCompressed, correct?

[2019-05-20 02:21] DaleMcGrew commented on #2092
No, it looks like it is in:
WebApp/src/js/components/Ballot/CandidateList.jsx
WebApp/src/js/components/Ballot/CandidateItem.jsx

[2019-05-20 02:33] jarodpeachey commented on #2092
OK

[2019-05-20 21:21] DaleMcGrew commented on #2176
Closed for now because no one but Dale can reproduce.

[2019-05-20 21:21] #2176 closed

[2019-05-20 21:28] DaleMcGrew opened #2194 "Make Zendesk help icon smaller in mobile mode"
The Zendesk help icon could take up less screen space. It is turned on in the function "setZenDeskHelpVisibility" here:
WebApp/src/js/utils/applicationUtils.js

Ideally it would have the same width as any of the footer icons.

![Screen Shot 2019-05-20 at 12 44 39 PM](https://user-images.githubusercontent.com/7756031/58052960-0d545c80-7b0b-11e9-9123-d92b77ce127b.png)

[2019-05-22 13:47] DaleMcGrew commented on #2092
Great work @jarodpeachey, verified.

[2019-05-22 13:47] #2092 closed

[2019-05-22 13:47] DaleMcGrew commented on #1633
Archive for Later.

[2019-05-22 13:47] #1633 closed

[2019-05-22 13:49] DaleMcGrew commented on #2149
Archive for Later.

[2019-05-22 13:49] #2149 closed

[2019-05-22 16:59] jarodpeachey opened #2199 "Remove scrollbar underneath CandidateItem on mobile"
### Please describe the issue (What happens? What do you expect?)
There is an unwanted (I assume) scrollbar under the candidate item on the candidate page on mobile.

![WeVote CandidateItem Scrollbar](https://user-images.githubusercontent.com/46693952/58193598-5fbf8580-7c91-11e9-83f9-0184a75e67b8.PNG)

[2019-05-22 18:31] DaleMcGrew opened #2200 "Update Cloning Code documentation to include Windows LF eslint workaround"
Please add instructions for Windows users for how they can set up their environment to avoid the Eslint warnings around linefeeds, at the end of this file:
WebApp/docs/installing/CLONING_CODE.md

Please also add a section on this page:
WebApp/docs/contributing/CREATING_PULL_REQUEST.md

[2019-05-22 20:58] DaleMcGrew opened #2201 "Sign in modal styling"
In this file:
WebApp/src/js/components/Settings/SettingsAccount.jsx

We want to change this mobile view:
![Screen Shot 2019-05-22 at 1 49 16 PM](https://user-images.githubusercontent.com/7756031/58207922-88974900-7c98-11e9-8e78-5b30d1dcffa8.png)

To look like this:
![Screen Shot 2019-05-22 at 1 49 53 PM](https://user-images.githubusercontent.com/7756031/58207927-8af9a300-7c98-11e9-9761-37928ff7467

[2019-05-23 15:28] DaleMcGrew commented on #2200
Thank you @jarodpeachey, I appreciate your documentation.

[2019-05-23 15:28] #2200 closed

[2019-05-23 16:15] DaleMcGrew commented on #2140
Thank you @jarodpeachey! Verified.

[2019-05-23 16:15] #2140 closed

[2019-05-23 16:24] DaleMcGrew opened #2209 "Convert icons from font-awesome 4.7.0 to 5.8.2"
In the file: WebApp/src/index.html we currently set in const cssTags an older version of font-awesome (4.7.0) and the newer version (5.8.2). Please convert existing font-awesome icons to the latest version (please only use "free" versions):
https://fontawesome.com/icons?d=gallery&m=free

In our code, you can search for `className="fa` to find prior versions that need to be updated. For example, on

[2019-05-23 16:54] DaleMcGrew commented on #2186
Hi @jarodpeachey this is looking very good. I commented out the issues line and the links along the bottom to buy us time to implement those in the coming weeks. A few comments:

- [ ] Please fix the horizontal spacing in desktop when there is no descriptive text:
<img width="611" alt="Screen Shot 2019-05-23 at 9 26 12 AM" src="https://user-images.githubusercontent.com/7756031/58269849-3ceaab00-7d

[2019-05-23 17:15] DaleMcGrew commented on #2201
Great work @jarodpeachey! Verified.

[2019-05-23 17:15] #2201 closed

[2019-05-24 01:14] DaleMcGrew opened #2212 "Vote page: Create "Empty State""
When no candidates or measures have been chosen on the ballot, please update the area of the page that has the text "Please choose items from the ballot." to instead look like this:

Desktop:
<img width="859" alt="Screen Shot 2019-05-23 at 5 54 07 PM" src="https://user-images.githubusercontent.com/7756031/58295508-70045d00-7d84-11e9-9ede-4a15a7bd3a9b.png">

Mobile:
<img width="269" alt="Screen Sho

[2019-05-24 01:19] DaleMcGrew opened #2213 "Vote page: Fix search box format when on ballot page"
This is the new design Desktop:
<img width="860" alt="Screen Shot 2019-05-23 at 6 18 20 PM" src="https://user-images.githubusercontent.com/7756031/58296103-3719b780-7d87-11e9-8cd4-86e289aeb756.png">

Mobile:
<img width="340" alt="Screen Shot 2019-05-23 at 6 18 40 PM" src="https://user-images.githubusercontent.com/7756031/58296110-3d0f9880-7d87-11e9-852c-649d77714832.png">

Top level file is:
WebAp

[2019-05-24 01:26] DaleMcGrew opened #2214 "Vote page: Find Polling Location"
Currently on this page:
WebApp/src/js/routes/Vote.jsx

...we include the <AddEndorsements component in two places. Please make a copy of that component and call it "FindPollingLocation". When the button is clicked, it should open a modal like we see on this page, but over the "Vote" page:
https://quality.wevote.us/polling-place-locator
WebApp/src/js/routes/Ballot/PollingPlaceLocatorModal.jsx

Plea

[2019-05-24 20:16] ffrancetic opened #2217 "Donation buttons not working on refresh."
The donation buttons work fine once navigated to the actual page but once you get there and refresh the page the buttons don't work anymore.

http://localhost:3000/more/donate

<img width="906" alt="Screenshot 2019-05-24 at 12 37 23" src="https://user-images.githubusercontent.com/36188818/58352556-c1622a00-7e20-11e9-85d3-6187ba1f5bef.png">

[2019-05-25 15:23] DaleMcGrew commented on #2209
Verified. Great work @ffrancetic.

[2019-05-25 15:23] #2209 closed

[2019-05-25 19:35] jarodpeachey commented on #2190
I'll take this, but I'll wait until Phil submits his changes to keeping it open, so we don't create a merge conflict

[2019-05-25 21:15] jarodpeachey commented on #2185
Sure thing, I'll take this next

[2019-05-26 03:00] #2172 closed

[2019-05-26 05:28] DaleMcGrew commented on #2186
Great work @jarodpeachey! This is now verified.

[2019-05-26 05:28] #2186 closed

[2019-05-26 05:30] DaleMcGrew commented on #2199
Verified.

[2019-05-26 05:30] #2199 closed

[2019-05-28 18:06] ffrancetic opened #2225 "Change My Location icon on the ballot page not working correctly on slow load"
<img width="830" alt="Screenshot 2019-05-28 at 10 58 11" src="https://user-images.githubusercontent.com/36188818/58500783-ba485e00-8137-11e9-9b01-b8f0c1efbec7.png">

Once the page has been reloaded partially, click on the Change My Location icon and the modal will close automatically as soon as the other content is loaded. This shouldn't be happening.

To reproduce this error you will need to swit

[2019-05-29 16:27] DaleMcGrew commented on #2185
Thank you @jarodpeachey, this looks great. Could you please figure out a way to show the placeholder icon smaller when in mobile?

![Screen Shot 2019-05-29 at 9 25 21 AM](https://user-images.githubusercontent.com/7756031/58573993-da3d5780-81f3-11e9-9910-852a3b55e5dc.png)

[2019-05-29 16:31] DaleMcGrew commented on #2194
Great work. Verified.

[2019-05-29 16:31] #2194 closed

[2019-05-29 16:55] DaleMcGrew commented on #2213
Thank you @lazorfuzz this looks amazing!

- [ ] While the new search box looks great on its own (and can remain as you have implemented it), please switch back to the old search "Chip" version of the search box when the "Federal", "State", "Local", and "Measure" chips appear:
![Screen Shot 2019-05-29 at 9 28 08 AM](https://user-images.githubusercontent.com/7756031/58574192-4a4bdd80-81f4-11e9-9e19-

[2019-05-29 16:58] DaleMcGrew commented on #2212
Thank you @lazorfuzz!

[2019-05-29 16:58] #2212 closed

[2019-05-29 22:34] flurmbo commented on #2191
Hi @DaleMcGrew, it looks like the functionality we want here is not supported out of the box in React Bootstrap. However it looks like someone more clever than me has worked out a custom solution in [this public gist](https://gist.github.com/lou/571b7c0e7797860d6c555a9fdc0496f9). Are you okay with me using their code and adapting it for our purposes here?

[2019-05-29 23:19] DaleMcGrew commented on #2191
Hi @flurmbo that should be fine!

[2019-05-30 16:32] DaleMcGrew commented on #2225
I believe the first step in fixing this is to move "<SelectBallotModal" out of the WebApp/src/js/routes/Ballot/Ballot.jsx to WebApp/src/js/components/Navigation/HeaderBar.jsx in the same place "<SignInModal" exists, around line 347.

[2019-05-30 21:29] DaleMcGrew opened #2244 "Update Vote page notification box to new design"
On the Vote page, please update this notification:
<img width="668" alt="Screen Shot 2019-05-30 at 2 18 43 PM" src="https://user-images.githubusercontent.com/7756031/58665547-f8838000-82e5-11e9-9d20-72a95752594d.png">

See: WebApp/src/js/routes/Vote.jsx
Rendered from lines 478 - 506, (search for text "We Vote helps you get ready to vote")

...with a duplicate of this component:
<img width="664" al

[2019-05-30 21:47] DaleMcGrew commented on #2185
Solved!

[2019-05-30 21:47] #2185 closed

[2019-05-31 00:19] DaleMcGrew commented on #2244
Verified. Thank you @ffrancetic!

[2019-05-31 00:19] #2244 closed

[2019-05-31 14:26] jarodpeachey commented on #2225
Yeah sure, I can tackle this next!

[2019-05-31 22:38] SailingSteve opened #2250 "On X* iPhones, the Next “button” comes up black on darkblue for the first tab in Cordova"
On X* iPhones, the Next “button” comes up black on darkblue for the first tab.  On the second and third, it starts white on darkblue, and animates to black after you press it, until it transitions off the screen.

<img width="584" alt="Screen Shot 2019-05-31 at 2 20 05 PM" src="https://user-images.githubusercontent.com/6923653/58738192-98f6a480-83b9-11e9-96e6-7f85fb0f3e84.png">

[2019-05-31 22:40] SailingSteve opened #2251 "On iPhone X* and iPad, the sign in buttons are no longer blue"
They were with yesterday's code

<img width="842" alt="Screen Shot 2019-05-31 at 12 49 38 PM" src="https://user-images.githubusercontent.com/6923653/58738377-5e413c00-83ba-11e9-84d7-3de6e0d6d122.png">

[2019-05-31 22:52] SailingSteve commented on #2251
Dale said you were working on this.   Steve

[2019-06-02 18:56] jarodpeachey commented on #2225
Hey, how would I go about changing this over?  What props would I have to pass in and how would I format this?

[2019-06-02 20:27] DaleMcGrew commented on #2225
Hi Jarod, I’m away from my computer today, but I tried to put all the
instructions in the issue. We can also take a look at it together before or
after the hang out tomorrow morning if you prefer.

I hope you’re having a good weekend.

-Dale

On Sun, Jun 2, 2019 at 11:56 AM Jarod Peachey <notifications@github.com>
wrote:

--

Dale John McGrew
Co-Founder & CTO, We Vote
Dale.McGrew@WeVote.US
www.WeV

[2019-06-07 12:12] jarodpeachey commented on #2190
@DaleMcGrew Am I clear to work on this now? Just wanted to make sure.

[2019-06-07 12:13] DaleMcGrew commented on #2190
Yes!

On Fri, Jun 7, 2019 at 8:12 AM Jarod Peachey <notifications@github.com>
wrote:

--

Dale John McGrew
Co-Founder & CTO, We Vote
Dale.McGrew@WeVote.US
www.WeVote.US
415-516-8777
Download: iPhone
<https://itunes.apple.com/us/app/we-vote-voter-guide/id1347335726> or
Android
<https://play.google.com/store/apps/details?id=org.wevote.cordova&hl=en_US>
Twitter: @WeVote <https://twitter.com/WeVote> &

[2019-06-07 15:30] jarodpeachey opened #2259 "Organization Follow Toggle Not Full Width"
### Please describe the issue (What happens? What do you expect?)
On the organization page, when you're following that organization, the button is full width. However, if you're not following, the button is not full width.
![Capture](https://user-images.githubusercontent.com/46693952/59115632-af4fb380-8917-11e9-8f39-871965e02738.PNG)
![Capture2](https://user-images.githubusercontent.com/46693952/5

[2019-06-07 16:47] jarodpeachey commented on #2259
I'll take this issue, because the entire component has issues. For example, the drop down menu still is hidden behind the edge of the card in most places, and the horizontal separator line is still out of whack.  I'll see what I can do to fix this.

[2019-06-10 00:01] DaleMcGrew commented on #2225
This is ready for @ffrancetic to verify that this issue is fixed.

[2019-06-10 00:02] DaleMcGrew commented on #2191
Great work @flurmbo -- this is now verified.

[2019-06-10 00:02] #2191 closed

[2019-06-10 00:03] DaleMcGrew commented on #2214
Fixed.

[2019-06-10 00:03] #2214 closed

[2019-06-10 00:22] DaleMcGrew commented on #1965
Closing this issue -- mostly done! Thank you @jarodpeachey.

[2019-06-10 00:22] #1965 closed

[2019-06-10 00:33] DaleMcGrew opened #2262 "ItemPositionStatementActionBar: Stack "Friends only" and "Public" options in mobile"
Stack the "Friends only" and "Public" options in mobile:
<img width="652" alt="screen shot 2019-02-22 at 12 13 47 pm" src="https://user-images.githubusercontent.com/7756031/53268586-6000b280-369b-11e9-931f-35663264f8ff.png">

Currently they make the interface too wide when shown left-to-right:
![Screen Shot 2019-06-09 at 5 32 18 PM](https://user-images.githubusercontent.com/7756031/59166262-98a689

[2019-06-10 00:33] DaleMcGrew opened #2263 "ItemPositionStatementActionBar: Change background color when saved"
Input box color when a comment saved:
<img width="949" alt="screen shot 2019-02-22 at 12 18 07 pm" src="https://user-images.githubusercontent.com/7756031/53268806-f0d78e00-369b-11e9-90ac-74efbf29b7ca.png">

Input box color when adding or editing comment:
<img width="946" alt="screen shot 2019-02-22 at 12 17 32 pm" src="https://user-images.githubusercontent.com/7756031/53268777-ddc4be00-369b-11e9-9

[2019-06-10 01:31] jarodpeachey commented on #2262
My bad, I missed this. I'll grab this issue.

[2019-06-10 01:31] jarodpeachey commented on #2263
I'll take this one as well

[2019-06-10 01:34] DaleMcGrew opened #2264 "ItemPositionStatementActionBar: Must click "Save" twice to actually save"
When you are editing your comment about a candidate:
![Screen Shot 2019-06-09 at 5 36 41 PM](https://user-images.githubusercontent.com/7756031/59167202-e6bf8b00-8ae4-11e9-89fe-f3424a968dde.png)

When you click "Save" the first time, it shrinks the box:
![Screen Shot 2019-06-09 at 5 36 52 PM](https://user-images.githubusercontent.com/7756031/59167209-f0e18980-8ae4-11e9-9968-44c0ecf61a60.png)

...bu

[2019-06-10 01:37] jarodpeachey commented on #2264
Ahh, I see. The onBlur event that decides the height of the input is firing BEFORE the onClick event, so the button doesn't actually get clicked. I'll see what I can do.

[2019-06-10 16:06] jarodpeachey commented on #2262
Hey @DaleMcGrew ! I'm working on this now and found another way we can fit this on the mobile screen. I've made the buttons smaller and took away the button text on mobile (The toggle still isn't stacked, but I'm still working on this.) Does this method look okay?

[2019-06-10 18:15] DaleMcGrew commented on #2263
Great work @jarodpeachey! Resolved.

[2019-06-10 18:15] #2263 closed

[2019-06-10 18:16] DaleMcGrew commented on #2264
Works very well. Resolved.

[2019-06-10 18:16] #2264 closed

[2019-06-10 19:20] DaleMcGrew opened #2270 "Vote page: Election name doesn't show in browser"
When you go tot he Vote page, the Election name/date doesn't show.
1. Start signed out
2. On the ballot page, make sure an election is chosen
3. Go to the vote page
4. The election name and date is not being shown because the subheader doesn't go down far enough on the page

<img width="322" alt="Screen Shot 2019-06-10 at 12 04 46 PM" src="https://user-images.githubusercontent.com/7756031/59219951

[2019-06-10 19:37] DaleMcGrew opened #2271 "Polling Location "Close" Icon broken"
Please update the modal that opens this Polling Location box, found here:
https://localhost:3000/polling-place-locator

...to use the same Material UI popover we use for the Sign In.

Please remove the color from the background, so it is white (as opposed to our brand color).

<img width="530" alt="Screen Shot 2019-06-10 at 11 13 39 AM" src="https://user-images.githubusercontent.com/7756031/592213

[2019-06-10 19:47] DaleMcGrew opened #2272 "Sign in buttons should have "Sign In With Twitter" and "Sign In with Facebook" text"
Hi Leon, I'd like to keep the "Sign In With Twitter" and "Sign In With Facebook" button text in these components:
 src/js/components/Facebook/FacebookSignIn.jsx
and
 src/js/components/Twitter/TwitterSignIn.jsx

<img width="308" alt="Screen Shot 2019-06-10 at 12 46 13 PM" src="https://user-images.githubusercontent.com/7756031/59222195-c7c10780-8b7d-11e9-9f3d-7533dc81ac63.png">

We use those compone

[2019-06-10 19:51] DaleMcGrew commented on #2213
Thank you @lazorfuzz!

[2019-06-10 19:51] #2213 closed

[2019-06-10 20:39] DaleMcGrew commented on #2262
Verified. Thank you @jarodpeachey!

[2019-06-10 20:39] #2262 closed

[2019-06-10 20:40] DaleMcGrew commented on #2225
Verified!

[2019-06-10 20:40] #2225 closed

[2019-06-10 23:18] DaleMcGrew commented on #2272
On the Values page, the text on the button is too big to fit: @lazorfuzz
<img width="318" alt="Screen Shot 2019-06-10 at 4 09 08 PM" src="https://user-images.githubusercontent.com/7756031/59232663-3318d280-8b9a-11e9-9539-0578615dbb1b.png">

Ahmed was shooting for the buttons to be equal width and height in mobile, like this:
<img width="257" alt="Screen Shot 2019-06-10 at 4 11 44 PM" src="https://

[2019-06-11 06:12] DaleMcGrew opened #2278 "Cordova: pop-down header cuts off candidate photo, iPhone 8"
![Canidate-photo-cutoff](https://user-images.githubusercontent.com/7756031/59247709-16e65700-8bd5-11e9-976f-99a7098f5ae8.jpeg)

[2019-06-11 15:36] jarodpeachey opened #2279 "Choose/Oppose Icons are too small"
### Please describe the issue (What happens? What do you expect?)
The icons for the choose/oppose buttons are too small on desktop

![Snip3](https://user-images.githubusercontent.com/46693952/59286106-200b0e80-8c3d-11e9-98d7-355d1ae57073.PNG)

[2019-06-11 16:30] DaleMcGrew opened #2280 "Improve Print view of Vote section"
When a voter chooses print from their desktop machine, make sure the output sent to their printer is reasonable.

[2019-06-11 16:54] DaleMcGrew opened #2281 "Convert top "Toast" alerts to bottom "Snackbar" alerts"
We currently use the functions `showToastError` and `showToastSuccess` from /WebApp/src/js/utils/showToast.js to display messages. We want to convert all of these to instead use:
<Snackbar

You can see examples of how we have used it here:
/WebApp/src/js/components/Ballot/BallotStatusMessage.jsx

/WebApp/src/js/components/Widgets/BrowserPushMessage.jsx

Please make sure the messages also show up i

[2019-06-11 17:34] jarodpeachey opened #2282 "After viewing an organization and clicking on a candidate, the candidate page is not the same"
### Please describe the issue (What happens? What do you expect?)

### Steps to reproduce the problem (1, 2, 3...), including links
1. Go to the values page
2. Click on a public figure
3. Click on a candidate from that page
4. Scroll down

You'll notice that the sticky header does not work. The PositionItems are also showing up twice, one with the old design and one with the new.

[2019-06-11 20:03] ffrancetic opened #2283 "Selenium/Appium: Cannot change address text in addressBoxText for iOS App"
### Please describe the issue (What happens? What do you expect?)
The testing is not working for iOS because it has a problem entering the exact address that is needed in the addressBoxText. The test should actually show the specific Oakland address being entered in the address box and then being saved. Since this address is not being entered, the test is not able to select the right candidates wh

[2019-06-11 20:34] DaleMcGrew commented on #2119
Fixed!

[2019-06-11 20:34] #2119 closed

[2019-06-11 20:36] DaleMcGrew commented on #2272
Thank you @lazorfuzz!

[2019-06-11 20:36] #2272 closed

[2019-06-11 21:48] #2251 closed

[2019-06-11 21:52] #2250 closed

[2019-06-11 22:13] DaleMcGrew opened #2285 "Move the Follow button down into comment box"
Whether there is a comment or not, please move the "Follow" button down into the shaded box where comments go so we don't have so much empty vertical space:

![IMG_6059](https://user-images.githubusercontent.com/7756031/59310466-50fa3c00-8c5b-11e9-85a9-54afaca282ac.jpeg)

[2019-06-11 22:19] DaleMcGrew opened #2286 "Ballot Header overhang tweaks needed (Browser vs. Cordova)"
I did this testing on an iPhone 8, but I've observed this problem on other iPhones (in Browserstack). On the ballot page, there is too much "overhang" space for the browser:

![FullSizeRender-1](https://user-images.githubusercontent.com/7756031/59310656-f01f3380-8c5b-11e9-876f-8267817c6bf2.jpeg)

...and not enough "overhang" space in Cordova:

![FullSizeRender-2](https://user-images.githubusercont

[2019-06-12 00:17] jarodpeachey opened #2288 "When at 575px, the screen shows two different breakpoints"
### Please describe the issue (What happens? What do you expect?)
When the screen size is 575px, both the mobile and desktop versions of everything show up. This is something to do with the media querys.

**Below, the ballot text shows up twice, the PositionItem shows up twice and other errors**
![Capture5](https://user-images.githubusercontent.com/46693952/59315022-e3afd080-8c85-11e9-9fd0-89edaa6

[2019-06-12 03:12] SailingSteve commented on #2278
![Simulator Screen Shot - iPhone 8 - 2019-06-11 at 20 10 33](https://user-images.githubusercontent.com/6923653/59320930-10afb380-8c85-11e9-9624-419af0193473.png)

[2019-06-12 03:14] SailingSteve commented on #2278
Does not reproduce in the simulator.  Retest with the latest from TestFlight?

[2019-06-12 03:16] DaleMcGrew commented on #2278
Hi @SailingSteve the problem happens when you are scrolled down the page, and you are looking at the popdown header -- as opposed to the top of the page when you first arrive on the Candidate page. (I am seeing the problem in the latest TestFlight version on my phone.)

[2019-06-12 04:09] SailingSteve commented on #2270
This is a WebApp style issue, the changes I made for Cordova should not have any effect on this.  (When debugging this problem I could see that the Cordova specific  styles were not included).  Once this is fixed for the webapp, it will probably break the layout in cordova.

<img width="1135" alt="Screen Shot 2019-06-11 at 9 06 45 PM" src="https://user-images.githubusercontent.com/6923653/59322825

[2019-06-12 16:30] DaleMcGrew commented on #2270
Thank you @SailingSteve, would you like me to ask another teammate to take a look at this?

[2019-06-13 00:48] SailingSteve commented on #2286
Vertical real estate is precious in mobile.  This overhang is consistent with other devices in cordova.

[2019-06-13 00:51] SailingSteve commented on #2217
There are lots of other issues that have been introduced into this page.  I'm working on them.

[2019-06-13 00:52] DaleMcGrew commented on #2286
Hi @SailingSteve, I'm referring to the vertical gap we designed between the shadow underneath the search box, and the card containing "Democratic Presidential Primary". The design has the top of the "Democratic Presidential Primary" card visible under the shadow (the browser version still shows too much space, but allows you to see the top of the card.)

[2019-06-13 02:06] DaleMcGrew commented on #2281
Great work! This is now resolved.

[2019-06-13 02:06] #2281 closed

[2019-06-13 02:30] DaleMcGrew opened #2294 "Issue popover: X positioning wrong, and popover centering instead of being at bottom"
When you click an Issue under a candidate:
<img width="303" alt="Screen Shot 2019-06-12 at 7 25 42 PM" src="https://user-images.githubusercontent.com/7756031/59399274-4b2e5480-8d48-11e9-85e9-51432cdec538.png">

The popover opens with two problems:
<img width="309" alt="Screen Shot 2019-06-12 at 7 25 33 PM" src="https://user-images.githubusercontent.com/7756031/59399293-55505300-8d48-11e9-9891-6852

[2019-06-13 15:32] #2278 closed

[2019-06-13 17:14] DaleMcGrew opened #2299 "Mobile: Long single-word organization names push page wider than screen width"
On an iPhone5, a long single-word organization name will push the page wider than the allowed screen width.
![Screen Shot 2019-06-13 at 10 10 10 AM](https://user-images.githubusercontent.com/7756031/59453035-e0bafa00-8dc3-11e9-883f-90cb1662cb4a.png)

Perhaps add the word wrap style to the span or div around the organization name?

[2019-06-13 17:23] DaleMcGrew commented on #2190
Hi @jarodpeachey this is looking very good! I have the following feedback:

- [ ] The background seems to be always the mountain range, as opposed to the organization's background photo
- [ ] The delay `delay={{ show: 700, hide: 100000000 }}` in src/js/components/Ballot/PositionItem.jsx should roll back to 100 so the popover goes away more quickly.
- In desktop on the candidate page, if you hover

[2019-06-13 17:31] DaleMcGrew commented on #2217
Hi @SailingSteve, I am testing this latest version. If I load We Vote (on the welcome page for instance) and then navigate to the page using the footer link, I can open this popover by clicking on a button:
![Screen Shot 2019-06-13 at 10 29 39 AM](https://user-images.githubusercontent.com/7756031/59454092-31335700-8dc6-11e9-8503-2105fe918fca.png)

If I start directly on the https://localhost:3000/

[2019-06-13 20:35] ffrancetic opened #2301 "The Polling Location Modal: Contents too wide"
### Please describe the issue (What happens? What do you expect?)
The Polling Location Modal needs to be styled properly

http://localhost:3000/polling-place-locator
<img width="753" alt="Screenshot 2019-06-13 at 13 29 38" src="https://user-images.githubusercontent.com/36188818/59465417-b6773580-8ddf-11e9-93ea-f2ad1687c9e6.png">

### Steps to reproduce the problem (1, 2, 3...), including links
See

[2019-06-13 20:58] jarodpeachey commented on #2285
@DaleMcGrew Did you just fix this in your latest pull request?

[2019-06-13 21:00] DaleMcGrew commented on #2285
No, I did not. I am just about (in the next 5 minutes) to commit some changes to the code around this, fyi.

[2019-06-13 21:22] DaleMcGrew commented on #2259
Works great!

[2019-06-13 21:22] #2259 closed

[2019-06-14 15:03] DaleMcGrew opened #2305 "Update Bootstrap Button with Twitter icon"
I couldn't figure out how to add a white Twitter bird icon to this Bootstrap social button. It should be easy, but I ran out of time.
Code is here: WebApp/src/js/components/Widgets/ThisIsMeAction.jsx
![Screen Shot 2019-06-14 at 8 00 38 AM](https://user-images.githubusercontent.com/7756031/59518632-db6cb680-8e7a-11e9-8fdb-d774ccdecc2a.png)

[2019-06-14 15:04] DaleMcGrew commented on #2271
Verified! Thank you @ffrancetic.

[2019-06-14 15:04] #2271 closed

[2019-06-14 15:07] DaleMcGrew commented on #2190
This popover really looks fantastic. Thank you @jarodpeachey!

[2019-06-14 15:07] #2190 closed

[2019-06-14 15:09] DaleMcGrew commented on #2279
Verified!

[2019-06-14 15:09] #2279 closed

[2019-06-14 15:15] DaleMcGrew opened #2306 "Choose / Oppose / Save Buttons: Fix relative sizes in mobile"
On a candidate's page in mobile view, please adjust these items. (Please verify your changes don't cause any problems in desktop.)
![Screen Shot 2019-06-14 at 8 10 41 AM](https://user-images.githubusercontent.com/7756031/59519184-2804c180-8e7c-11e9-8cfe-2cd3fb298b0f.png)
- [x] Make the size of the "Save" button the same as the "Choose" and "Oppose" buttons
- [x] Reduced the size of the "Your thoug

[2019-06-14 15:20] jarodpeachey commented on #2305
@DaleMcGrew I can take this. I do have one comment though. Currently, the Add Endorsements button, as well as this Claim button, are using the bootstrap social buttons. This leads to the buttons having the blue outline when clicked, and they don't have the ripple. Should I fix all of these and use the technique I used for the Follow/Toggle  component, which is to use a Material UI button with the

[2019-06-14 15:22] DaleMcGrew commented on #2305
Yes please @jarodpeachey, that would be awesome!

[2019-06-14 15:25] jarodpeachey commented on #2285
The reason there's so much empty space is because the issues are not there yet. Should I go ahead and make this change, but eventually change it back when the issues are displayed? The issues would be right below the image, and then there would be less vertical blank space.

[2019-06-14 15:39] jarodpeachey commented on #2294
@DaleMcGrew Should this be a hover popover as well, sort of like the OrganizationPopoverCard? I can use the sticky popover component, that way all the popovers have a consistent look and feel.

[2019-06-14 15:42] jarodpeachey commented on #2270
@DaleMcGrew I can take this as soon as I finish the Issue Popover issue 👍

[2019-06-14 15:46] DaleMcGrew commented on #2285
Great question @jarodpeachey. We have swapped the Follow and the "+1", but aside from that I think this layout still is a good target to shoot for with the "Follow" within the darker background area where the comment lives (when there is a comment), and the Issues right underneath the organization name:
<img width="603" alt="Screen Shot 2019-06-14 at 8 37 33 AM" src="https://user-images.githubuser

[2019-06-14 15:53] DaleMcGrew commented on #2294
Yes @jarodpeachey, that sounds great to use the same kind of popover as we are for OrganizationPopoverCard. In this case we want to open it with a click, and include an "x" to close it with another click. I am also fine with the popover closing when you move your mouse away from it. Please make sure to test extensively in mobile, since the OrganizationPopoverCard isn't used in mobile, so this code

[2019-06-14 17:36] DaleMcGrew opened #2308 "Selenium/Appium: Add ability to clarify between "isCordova" and "isMobile""
Thank you for tackling this @flurmbo!

[2019-06-14 17:38] DaleMcGrew opened #2309 "Selenium/Appium: We need way to scroll down (or up) "X" pixels, or scroll to an element"
We need way to scroll down (or up) "X" pixels, or scroll to an element.

[2019-06-14 18:03] DaleMcGrew opened #2310 "Add "Back" navigation to top of voter guide pages"
### Please describe the issue (What happens? What do you expect?)
Right now in mobile and desktop, if you click on an Organization from the candidate page, there is no easy way (in the mobile apps especially) to get back to the candidate you were just looking at.

We currently have a scheme in place for the Ballot / Office / Candidate section with URL's like this that tell the "Back" button what t

[2019-06-14 19:58] DaleMcGrew opened #2311 "Sign in with email leads to problem with header placeholder photo"
### Please describe the issue (What happens? What do you expect?)
If you sign in with an email address, such that you don't have a photo associated with your account, leads to this header display error where the map pin icon appears above the placeholder photo:
<img width="624" alt="Screen Shot 2019-06-14 at 11 34 23 AM" src="https://user-images.githubusercontent.com/7756031/59534630-bd677c00-8ea3

[2019-06-15 13:23] DaleMcGrew opened #2315 "Welcome Pages: Our Network Section too large on desktop"
The "Our Network" section of all three welcome pages has changed, and the logos are no longer in two columns like they were:
<img width="707" alt="Screen Shot 2019-06-15 at 6 21 27 AM" src="https://user-images.githubusercontent.com/7756031/59551940-dcaee980-8f35-11e9-856b-b3bc3fcf60c3.png">

Also in mobile the logos need some space between them:
<img width="300" alt="Screen Shot 2019-06-15 at 6 21

[2019-06-17 03:19] DaleMcGrew opened #2318 "OrganizationPopoverCard: If no banner photo, spacing is off"
For organizations without any banner photo, the OrganizationPopoverCard spacing is off at the top. You can reproduce this on this page:
http://localhost:3000/candidate/wv02cand40208/b/btdb/

<img width="416" alt="Screen Shot 2019-06-16 at 8 16 21 PM" src="https://user-images.githubusercontent.com/7756031/59576239-eb031f80-9073-11e9-96e6-0660ad911534.png">

Make sure to grab the latest code, becaus

[2019-06-17 03:21] DaleMcGrew commented on #2285
Verified! Also, I implemented and checked in `IssuesByOrganizationDispayList` this weekend.

[2019-06-17 03:21] #2285 closed

[2019-06-17 21:26] DaleMcGrew commented on #2318
This looks great! Resolved.

[2019-06-17 21:26] #2318 closed

[2019-06-17 21:27] DaleMcGrew commented on #2315
Resolved!

[2019-06-17 21:27] #2315 closed

[2019-06-17 21:28] DaleMcGrew commented on #2294
@jarodpeachey your solution works beautifully. Great work!

[2019-06-17 21:28] #2294 closed

[2019-06-17 22:15] DaleMcGrew opened #2324 "Update Popovers in BallotItemSupportOpposeCountDisplay"
Please update to the new popover approach the popovers in this file:
WebApp/src/js/components/Widgets/BallotItemSupportOpposeCountDisplay.jsx

![Screen Shot 2019-06-17 at 3 09 27 PM](https://user-images.githubusercontent.com/7756031/59640302-7cc16a00-9112-11e9-871c-1cbc55a54a9c.png)

![Screen Shot 2019-06-17 at 3 14 20 PM](https://user-images.githubusercontent.com/7756031/59640336-99f63880-9112-11

[2019-06-18 02:06] jarodpeachey commented on #2324
Just submitted this, but I have one suggestion. I don't know how often users will be viewing the popover and scrolling, but if you do, the popover re-positions so it doesn't scroll out of the view port (normal behavior). However, when you scroll, the popover re-positions and disappears because the mouse is no longer over it. If you wanted to fix this, we could set the hide delay to 400 or 500 mill

[2019-06-18 17:40] jarodpeachey opened #2328 "Redundant Show More Link on Candidate Card"
On the party candidate list, the candidate item shows the "Show More" link, which takes you to the candidate page. However, since the entire card is clickable, this seems to be unneeded. @DaleMcGrew should this be removed since we don't use it?

![SnipForIssue](https://user-images.githubusercontent.com/46693952/59706505-97f1af80-91ce-11e9-9aed-f472d7c3b25c.PNG)

[2019-06-18 18:06] DaleMcGrew commented on #2328
Hi @jarodpeachey thank you for sharing this. We are creating a design language and want to include the "Show more" link here so that people who are zipping through the site can have a regular interface element to click on.

[2019-06-18 18:06] #2328 closed

[2019-06-18 19:03] DaleMcGrew opened #2330 "ItemActionBar: Update "Choose or Oppose" Modal"
Please update SupportOrOpposeHelpModal to the Material modal in WebApp/src/js/components/Widgets/ItemActionBar.jsx.

[2019-06-18 19:08] DaleMcGrew commented on #2282
Thank you for pointing this out @jarodpeachey. We will be changing the design of how we look at candidates under voter guides (organizational endorsements), so we will be able to fix this issue when we get to that.

[2019-06-18 19:11] DaleMcGrew commented on #2324
Hi @jarodpeachey, yes, please feel to play with the hide delay so it feels good to you. These new popovers look amazing!

[2019-06-18 19:11] #2324 closed

[2019-06-18 19:11] DaleMcGrew commented on #2305
Great work!

[2019-06-18 19:11] #2305 closed

[2019-06-18 19:14] DaleMcGrew commented on #1655
We have turned off the friends section for now, and we will reopen this issue when we turn our attention to the friends section.

[2019-06-18 19:14] #1655 closed

[2019-06-18 22:33] DaleMcGrew commented on #2308
Works like a charm! Thank you @flurmbo.

[2019-06-18 22:33] #2308 closed

[2019-06-19 05:59] DaleMcGrew commented on #2330
Verified.

[2019-06-19 05:59] #2330 closed

[2019-06-19 06:05] DaleMcGrew commented on #1588
Archiving for later.

[2019-06-19 06:05] #1588 closed

[2019-06-19 14:06] DaleMcGrew commented on #2270
Hello @jarodpeachey, thank you for working on this! I notice that in both mobile and desktop, when you scroll up, the header slides up and obscures the election name.

- [ ] Could you turn off the "sliding up" behavior in the Vote section?
- [ ] Could you reduce the space (in mobile and desktop) beneath the header and the start of the content beneath it? There will need to be dynamic spacing based

[2019-06-19 16:51] DaleMcGrew opened #2341 "Selenium/Appium: Figure out a way to close Material UI Modal"
We currently don't have a way to close a Material UI Modal within the testing scripts, for example, the sign in Modal.

[2019-06-19 20:43] LohitG opened #2344 "The follow and ignore button on My Values page is broken"
If you hit ignore, and then hit follow, it seems to stack the ignore and the follow. So when you unfollow, it automatically sets to ignore. The symbols are also stacked vertically.
<img width="1280" alt="Screen Shot 2019-06-19 at 13 41 37" src="https://user-images.githubusercontent.com/23069689/59798906-0fd7dc80-9298-11e9-8fb9-b25e3e2bc5d2.png">
There is also no way to undo an ignore without hitti

[2019-06-19 20:49] jarodpeachey commented on #2344
I just tested this on the quality.wevote.us site, and it seems that the icons are stacked only for a small moment. Could your internet be slow? Either that, or the quality.wevote.us site does not have that bug yet. @DaleMcGrew when was the last time you updated it?

[2019-06-19 20:52] LohitG commented on #2344
Yeah now it disappears after a small instant. That's weird...

[2019-06-19 20:54] jarodpeachey commented on #2344
I would just close this issue, it's just because of a re-render with React. This isn't the first time i've thought something was a bug, but it was just loading slow at the moment.

[2019-06-19 21:04] DaleMcGrew opened #2345 "Cordova: Header spacing on Terms, Privacy and Attributions pages"
The header spacing in Cordova for the "Terms of Service", "Privacy Policy" and "Attributions" pages need adjustment since the tops of these pages is slightly cut off.  (The bottom of "Attributions" is also cut off.)

[2019-06-19 22:07] LohitG opened #2347 "Need to change color of text when printing"
In the ballot badge in Ballot.jsx, there is a styled theme. The theme turns the background blue and the text grey when the badge is selected. However when printing, the background turns white, leaving the grey text very hard to read. I can't seem to figure out how to turn the grey text a darker color when printing. Dale told me that you were very well versed in this so I was hoping you could help

[2019-06-20 03:58] #2345 closed

[2019-06-20 15:37] DaleMcGrew commented on #2344
Hi @jarodpeachey, yesterday afternoon @LohitG and myself did more debugging, and we found that because of an API server bug, it was possible to get the WebApp into a weird display state. We fixed the display state, and I have updated the broken API. @LohitG could you please verify this is fixed? (The latest code is up on the Quality site.)

[2019-06-20 15:39] LohitG commented on #2344
Awesome! I’ll take a look at it as soon as possible.

On Thu, Jun 20, 2019 at 8:37 AM Dale John McGrew <notifications@github.com>
wrote:

[2019-06-20 17:16] DaleMcGrew commented on #2306
Hi @jarodpeachey, could you please make the font size and weight of the "SAVE" button (in mobile) match "CHOOSE" and "OPPOSE"?

[2019-06-20 17:20] LohitG commented on #2344
It looks good. Sometimes it takes a bit for the sign to disappear but that's probably a re-render issue.

[2019-06-20 17:20] #2344 closed

[2019-06-20 17:26] ffrancetic opened #2350 "Cordova: Candidate not visible once the user has scrolled through the candidate page (iPhone 5/SE)"
### Please describe the issue (What happens? What do you expect?)
On the iPhone 5/SE (we don't see this problem on the iPhone 6), after scrolling down and then scrolling back up, part of the candidate's image and name are cut off when interacting with the candidate page. The page does not allow the user to fully scroll back up to the top of the page.

<img width="417" alt="Screenshot 2019-06-20 at

[2019-06-20 17:43] DaleMcGrew opened #2351 "Mobile, iPhone 5/SE: Issues push Thumbs up/down square to the right"
On the iPhone 5/SE, Positions from organizations (underneath a candidate) that have issues with long names will push over the Thumbs up/down square off screen.  The layout looks great on the iPhone 6 and larger, so please only make changes that affect the smallest phones.

![Screen Shot 2019-06-20 at 10 34 45 AM](https://user-images.githubusercontent.com/7756031/59869365-fdb57700-9347-11e9-9158-b8

[2019-06-20 17:50] ffrancetic opened #2352 "Cordova: iPhone 5/6 and Nexus Android header hiding the "If your ballot does not appear momentarily..." message on initial start"
### Please describe the issue (What happens? What do you expect?)
The Cordova iPhone 5/6 and Nexus Android header is hiding the "If your ballot does not appear momentarily..." message on initial start.
This issue is visible on the iPhone 5/6 and Nexus Android when an address in the United States is not entered, or the address is from overseas (which is happening since Browserstack seems to be host

[2019-06-20 18:09] ffrancetic opened #2353 "Cordova: Click "Your Polling Location" button on the Vote tab. Exit the page. Not returned to correct page."
### Please describe the issue (What happens? What do you expect?)
When clicking the "Your Polling Location" button on the Vote tab and exiting the page, there's nothing being displayed (Android Issue)
### Steps to reproduce the problem (1, 2, 3...), including links
<img width="286" alt="Screenshot 2019-06-20 at 11 07 41" src="https://user-images.githubusercontent.com/36188818/59871188-c9dc5080-934

[2019-06-20 18:43] ffrancetic opened #2354 "Cordova: Images of candidates not displaying on the Vote tab (Android and iOS)"
### Please describe the issue (What happens? What do you expect?)

Images of candidates not displaying on the Vote tab after choosing them. (Android and iOS)

### Steps to reproduce the problem (1, 2, 3...), including links

<img width="286" alt="Screenshot 2019-06-20 at 11 39 27" src="https://user-images.githubusercontent.com/36188818/59873104-22ade800-9350-11e9-9a9b-67c63b7e9f39.png">

[2019-06-20 18:55] DaleMcGrew opened #2355 ""source" link in Position is outside shaded box"
Please bring the "source" link up so it is completely within the shaded box. On many desktop screens it is hard to see the shading, so you may need to adjust your contrast.
![Screen Shot 2019-06-20 at 11 40 14 AM](https://user-images.githubusercontent.com/7756031/59873811-aa482680-9351-11e9-8efa-84c66bc83db0.png)

[2019-06-20 21:12] ffrancetic opened #2357 "Gray area formed on the bottom of the page for the Samsung Galaxy S4 (10.5 inches)"
### Please describe the issue (What happens? What do you expect?)
Gray area formed on the bottom of the page for the Samsung Galaxy S4 (10.5 inches). It is only on the very start of the app. https://localhost:3000/wevoteintro/network

### Steps to reproduce the problem (1, 2, 3...), including links
<img width="404" alt="Screenshot 2019-06-20 at 14 04 39" src="https://user-images.githubusercontent.

[2019-06-20 22:22] ffrancetic opened #2359 "Once the tabs are clicked on the position page the page returns to the top. (iPhone SE and smaller screens)"
### Please describe the issue (What happens? What do you expect?)
Once the tabs are clicked on the position page the page returns to the top. (iPhone SE and smaller mobile screens). It should just stay fixed and the info should be loaded at the spot.
### Steps to reproduce the problem (1, 2, 3...), including links
Link: https://quality.wevote.us/pdamerica/positions

<img width="249" alt="Screensho

[2019-06-21 00:20] SailingSteve commented on #2354
<img width="508" alt="Screen Shot 2019-06-20 at 5 17 18 PM" src="https://user-images.githubusercontent.com/6923653/59889065-666c1600-937f-11e9-8840-e5928afa98cf.png">
<img width="559" alt="Screen Shot 2019-06-20 at 5 19 57 PM" src="https://user-images.githubusercontent.com/6923653/59889118-b519b000-937f-11e9-96fc-9b43fcd26275.png">

[2019-06-21 00:21] SailingSteve commented on #2359
No testing has been done for 4" screens on iOS, since iPhone 6 was the minimum.

[2019-06-21 00:39] SailingSteve commented on #2357
**Suggest "Priority: 3" for this issue.**

The largest device I can simulate with Android Studio, is a Galaxy Tab A, a 10.1" device.  We need a list of devices that we support, and every device on the list will need to be tested fixed by a developer, then tested again in our test suite.  My testing matrix for margins now has 352 permutations to check.  That is without 4" iPhones and 10.1 in Galaxy

[2019-06-21 00:47] #2352 closed

[2019-06-21 00:47] #2353 closed

[2019-06-21 04:13] #2354 closed

[2019-06-21 14:43] DaleMcGrew commented on #2270
Verified!

[2019-06-21 14:43] #2270 closed

[2019-06-21 16:08] SailingSteve commented on #2357
Info:  Does not reproduce on the 12.9" iPad Pro

[2019-06-21 17:17] #2350 closed

[2019-06-21 17:26] DaleMcGrew opened #2365 "FacebookActions warning: Unexpected unnamed function"
A warning being thrown on line 137:

WebApp/src/js/actions/FacebookActions.js
  137:43  warning  Unexpected unnamed function  func-names

[2019-06-21 17:28] SailingSteve commented on #2357
Samsung Galaxy Tab A -- in simulator
window.screen.width = 902
window.screen.height = 1443

[2019-06-21 17:29] ffrancetic opened #2366 ""Next" button sitting too low on larger iPhone screens(iPhone XS, Iphone 8...)"
### Please describe the issue (What happens? What do you expect?)

"Next" button sitting too low on larger iPhone screens

### Steps to reproduce the problem (1, 2, 3...), including links

Page: https://localhost:3000/wevoteintro/network

<img width="368" alt="Screenshot 2019-06-21 at 10 23 05" src="https://user-images.githubusercontent.com/36188818/59940330-45530600-940f-11e9-9b60-6396e73365da.pn

[2019-06-21 17:55] DaleMcGrew commented on #2355
Fixed.

[2019-06-21 17:55] #2355 closed

[2019-06-21 18:13] ffrancetic opened #2367 "Popover "X" for the issues needs to be tapped twice in order to be closed. (iPhone)"
### Please describe the issue (What happens? What do you expect?)
Popover "X" for the issues needs to be tapped twice in order to be closed. (iPhone related) This was not created through the site itself, it was present in the App Live of Browserstack.
### Steps to reproduce the problem (1, 2, 3...), including links
Link: https://quality.wevote.us/office/wv02off28320/b/btdb/
<img width="380" alt="S

[2019-06-21 18:39] DaleMcGrew commented on #2351
Hi Jarod, I think it would be better to roll back your changes and use responsive HTML/CSS to move the issues over to the left only for very small screens like the iPhone 5/SE. Specifically:

- [ ] Please make sure the organization name is vertically centered compared to the organization logo, and I want to make sure to keep the BallotItemSupportOpposeCountDisplay to the right of the organization

[2019-06-21 18:40] DaleMcGrew commented on #2299
Hi @jarodpeachey, the word-wrapping is causing problems with wrapping names that were previously fine. I'm hoping you can find another solution?
![Screen Shot 2019-06-21 at 11 16 07 AM](https://user-images.githubusercontent.com/7756031/59942982-007e9d80-9416-11e9-8e9e-9dc919e6a5f8.png)

[2019-06-21 18:43] DaleMcGrew commented on #2306
Beautiful, thank you!

[2019-06-21 18:43] #2306 closed

[2019-06-21 18:48] DaleMcGrew commented on #2311
Verified!

[2019-06-21 18:48] #2311 closed

[2019-06-21 19:09] LohitG opened #2368 "API server does not update properly when selecting and unselecting oppose/support"
When you are logged in and choose oppose or support and then unselect it, a +1 still appears. Your endorsement doesn't seem to revert after you deselect your preference
<img width="1280" alt="Screen Shot 2019-06-21 at 12 07 57" src="https://user-images.githubusercontent.com/23069689/59945709-4ab74d00-941d-11e9-9f61-4acc2b29d7b1.png">
<img width="1280" alt="Screen Shot 2019-06-21 at 12 08 45" src="

[2019-06-21 19:15] LohitG commented on #2280
Most major problems have been resolved. I delegated a small part that I did not know how to do to Leon in a separate issue.

[2019-06-21 21:46] ffrancetic opened #2373 "Sign In Modal too narrow for the iPhone SE"
### Please describe the issue (What happens? What do you expect?)
Sign In Modal too narrow for the iPhone SE which causes the button's text to be changed.
### Steps to reproduce the problem (1, 2, 3...), including links
<img width="371" alt="Screenshot 2019-06-21 at 14 44 01" src="https://user-images.githubusercontent.com/36188818/59953023-32522d00-9433-11e9-9de5-a09695f0a4a9.png">

[2019-06-22 16:01] jarodpeachey opened #2377 "Update Styling for Summary of Ballot Items Component"
### Please describe the issue (What happens? What do you expect?)
On the ballot page, the sidebar contains the Summary of Ballot Items component. This is the the new design.

- [x] Please make each major ballot item type (e.g., "Federal", "State", "Measure") open when you switch to that ballot item type, and roll up by default when you choose another major ballot item type. So for example, when th

[2019-06-22 16:05] DaleMcGrew commented on #2377
Ahmed did a design for this that I can add to this issue later this weekend.

On Sat, Jun 22, 2019 at 9:01 AM Jarod Peachey <notifications@github.com>
wrote:

--

Dale John McGrew
Co-Founder & CTO, We Vote
Dale.McGrew@WeVote.US
www.WeVote.US
415-516-8777
Download: iPhone
<https://itunes.apple.com/us/app/we-vote-voter-guide/id1347335726> or
Android
<https://play.google.com/store/apps/details?id=org

[2019-06-23 18:32] DaleMcGrew commented on #2299
Resolved.

[2019-06-23 18:32] #2299 closed

[2019-06-23 18:33] DaleMcGrew commented on #2351
Resolved.

[2019-06-23 18:33] #2351 closed

[2019-06-23 21:51] DaleMcGrew commented on #2373
Resolved.

[2019-06-23 21:51] #2373 closed

[2019-06-23 22:04] DaleMcGrew commented on #2301
I still see this problem on an iPhone 6 in a browser (Safari). I think it is a problem with the interaction between the iFrame and the mobile phone. The Polling location widget looks fine in iPhone 5/SE screensize on my Mac in emulation mode, but only shows the left-most half of the widget (as shown above) when viewed from any browser on a phone.

[2019-06-23 22:13] DaleMcGrew commented on #1767
Resolved.

[2019-06-23 22:13] #1767 closed

[2019-06-24 17:27] LohitG opened #2382 "Footer shows up when keyboard is open - Cordova"
The footer appears above the keyboard when the keyboard is opened. In Cordova, always turn off the Footer when the keyboard is open.
![IMG-7613](https://user-images.githubusercontent.com/23069689/60038934-6bc0ad80-966a-11e9-8aa4-c7fbc2b0109d.PNG)

[2019-06-24 17:30] LohitG opened #2383 "Testimonial is not centered - iPhone SE"
The testimonial block is not centered and seems to float to the right.
![IMG-7611](https://user-images.githubusercontent.com/23069689/60039192-00c3a680-966b-11e9-82aa-88e2b48a3d7a.PNG)

[2019-06-24 17:33] LohitG opened #2384 "Long Names push endorsement counts to the bottom - iPhone SE"
Candidates with relatively longer names cause the endorsement count to be pushed down.
![IMG-7612](https://user-images.githubusercontent.com/23069689/60039378-6dd73c00-966b-11e9-8795-1c9455dde278.PNG)

[2019-06-24 17:36] LohitG opened #2385 "Disable footer navigation for the page you are on"
Clicking on either Ballot, Values, or Vote when on the app while you are on that page causes you to go to the top of the page. This disorients the user and may confuse them as to what page is where.

If you are on the "root" page for that section (e.g., if you on the Values landing page), turn off the link so your page does not scroll to the top if you click on the "Values" icon in the footer. If

[2019-06-24 17:48] DaleMcGrew commented on #2367
The actual app does not have this problem. This issue only appears within BrowsterStack.

[2019-06-24 17:48] #2367 closed

[2019-06-24 17:49] DaleMcGrew commented on #2366
Fixed!

[2019-06-24 17:49] #2366 closed

[2019-06-24 17:49] DaleMcGrew commented on #2341
Verified. Thank you @flurmbo!

[2019-06-24 19:24] flurmbo commented on #2341
@DaleMcGrew I think this issue should still be open because I haven't finished with the automated tests yet

[2019-06-24 21:25] ffrancetic opened #2387 "Too much space left at the bottom when scrolling through the ballot tab and values tab on mobile devices"
Too much space left at the bottom when scrolling through the ballot tab and values tab on mobile devices.

![Screenshot_20190624-142017](https://user-images.githubusercontent.com/36188818/60053032-b0a90c00-968b-11e9-8c19-629ec20fbe68.jpg)
![Screenshot_20190624-142023](https://user-images.githubusercontent.com/36188818/60053033-b272cf80-968b-11e9-8a8e-67cee317beb6.jpg)

[2019-06-24 21:50] LohitG opened #2388 "Name of Election is not visible - iPhone SE"
The name of the election is not visible. This can be seen on the Ballot page when on an iPhone SE. After supporting a candidate, a bar pops up that lets you choose between Decided, Choices, and All. If you select Decided or Choices, you will not be able to see the name of the election. Sometimes a pop up appears and this allows you to see the name of the election. However closing the popup leads t

[2019-06-25 18:47] SailingSteve opened #2390 "Push to empty empty object locks up iPhone 5s in cordova"
https://stackoverflow.com/questions/5129544/javascript-arrays-braces-vs-brackets

[Error] TypeError: positionListFromAdvisersFollowedByVoter[candidateId].push is not a function. (In 'positionListFromAdvisersFollowedByVoter[candidateId].push(one)', 'positionListFromAdvisersFollowedByVoter[candidateId].push' is undefined)
CandidateStore L 254

I would prefer not to make the change, since it would ta

[2019-06-25 18:48] SailingSteve commented on #2390
<img width="1478" alt="Screen Shot 2019-06-25 at 11 46 51 AM" src="https://user-images.githubusercontent.com/6923653/60124669-05598f00-973f-11e9-80c1-8acd78091d6c.png">

That first error is a known issue, we can't put fixed paths to images in css and expect them to work in Cordova.  I haven't found where the image is not appearing, so maybe not a big problem.

[2019-06-27 02:06] jarodpeachey opened #2394 "Update button style after hitting cancel on Location Update modal"
### Please describe the issue (What happens? What do you expect?)
When you open the location modal and hit cancel, the form appears and has a bootstrap button, rather than a material ui button. @DaleMcGrew is there a certain design you have for this, or does this need to be thought about?

![WEVOTEISSUE6-26-19](https://user-images.githubusercontent.com/46693952/60227779-89eeff00-985e-11e9-98d6-8ea

[2019-06-27 04:22] DaleMcGrew opened #2395 "Animate "Supercharge your..." on "For Organizations" page"
On the "For Organizations" page (triggered by "onComponentDidMount"), we want to animate the text at the top of the page, “Supercharge Your Members” to change the word "Members" every 2 seconds. We want the word "Members" to change to each of these words:
Staff, Constituents, Fans, Subscribers, Followers, Voters

It can rest on "Voters".

This is the page: WebApp/src/js/routes/WelcomeForOrganizati

[2019-06-27 04:44] DaleMcGrew commented on #2390
I believe I have fixed this.

[2019-06-27 04:49] DaleMcGrew commented on #2382
Lohit checked in a potential fix for this in the file:
src/sass/components/_footer.scss
around line 53, but wasn't able to test it in Cordova.

[2019-06-27 20:19] SailingSteve commented on #2382
@DaleMcGrew @LohitG
For bugs like these, please list the devices that you reproduced the problem on.  I'm just guessing, but that looks like a small screen Android?  Is it an emulator, or an actual device?  If I wanted to see it exactly like you see it, what would the steps be?

[2019-06-27 22:53] LohitG commented on #2382
@SailingSteve
I found this bug of the iPhone SE and it would happen in every instance where the keyboard would be opened. An example would be the search bar on the Ballot page. Also I wasn't able to find this bug on Browserstack on the iPhone SE or any other devices. I can only see the error on my iPhone SE with the current We Vote app installed.

[2019-06-28 12:57] jarodpeachey commented on #2383
This seems to have been fixed from a change I made 2 days ago regarding an extra card around the testimonial item.

[2019-06-28 13:00] jarodpeachey commented on #2387
I can't reproduce this using the Chrome dev tools mobile view, is this a testing-only issue?

[2019-06-28 14:15] DaleMcGrew commented on #2387
Thank you @jarodpeachey, this is in the Cordova mobile app. I don't believe it is visible in the browser.

[2019-06-28 14:19] DaleMcGrew commented on #2394
Hi @jarodpeachey, in this context I believe "Cancel" should close the modal. You are welcome to update the bootstrap Edit button to the new Material button we are using, but not required to satisfy this issue.

[2019-06-28 14:23] jarodpeachey commented on #2394
Sure thing, I'll update the modal to close on cancel and I'll also update the button today!

[2019-06-28 15:17] jarodpeachey commented on #2394
@DaleMcGrew Should I update all the bootstrap buttons across the site to the material-UI buttons?

[2019-06-28 15:23] DaleMcGrew commented on #2394
I want to make sure to only update them if we can test them. Some of the
old bootstrap buttons are in components that may need to be removed.  So if
you can find and render the page where it’s being displayed, feel free to
update any button.

-Dale

On Fri, Jun 28, 2019 at 8:17 AM Jarod Peachey <notifications@github.com>
wrote:

--

Dale John McGrew
Co-Founder & CTO, We Vote
Dale.McGrew@WeVote.US

[2019-06-28 17:24] ffrancetic commented on #2280
Should this be a concern?

<img width="546" alt="Screenshot 2019-06-28 at 10 22 22" src="https://user-images.githubusercontent.com/36188818/60359741-c6217d00-998e-11e9-9145-108835d99791.png">

 The "+1"s do not have a border. I realized that this happens on Chrome.

[2019-06-28 17:25] LohitG commented on #2280
I will send in a fix for that. This is interesting because I thought a border showed up previously.

[2019-06-28 17:27] LohitG commented on #2383
Yeah it look great now. The border around the testimonial has disappeared but the next is entered so i think it looks great.

[2019-06-28 17:27] #2383 closed

[2019-06-29 01:03] SailingSteve opened #2402 "Choosing an old Voter Guide: Performance and functionality issues"
When I choose my voter guide from from the settings menu, the app locks up until the "You have 318 positions..." dialog appears.  My current address is 94612.  When I click Ballot, I go to an election from Pennsylvania.

On Cordova, the lock up goes on longer, and various events time out.  Occasionally resulting in an app hang.  Old voter guides is probably a rarely used feature, for other than de

[2019-07-01 15:59] flurmbo commented on #2309
@DaleMcGrew does [this](https://webdriver.io/docs/api/element/scrollIntoView.html) look like what you're looking for? If so, let me know where in the test script we need this functionality and I can add it in

[2019-07-01 16:27] DaleMcGrew commented on #2309
That looks exactly right @flurmbo. Feel free to add it anywhere in the test script as an example.

[2019-07-01 17:18] DaleMcGrew commented on #2286
Resolved!

[2019-07-01 17:18] #2286 closed

[2019-07-02 19:02] DaleMcGrew commented on #2388
Verified!

[2019-07-02 19:02] #2388 closed

[2019-07-02 19:41] DaleMcGrew commented on #2394
Closed.

[2019-07-02 19:41] #2394 closed

[2019-07-02 19:42] DaleMcGrew commented on #2365
Verified!

[2019-07-02 19:42] #2365 closed

[2019-07-02 20:06] ffrancetic commented on #2347
[Values, Public Figures & Organizations - We Vote.pdf](https://github.com/wevote/WebApp/files/3352121/Values.Public.Figures.Organizations.-.We.Vote.pdf)
The text colors are still off. This is only Firefox related.

[2019-07-02 21:32] DaleMcGrew commented on #2126
Verified and closed!

[2019-07-02 21:32] #2126 closed

[2019-07-02 21:34] #2282 closed

[2019-07-02 21:35] #2390 closed

[2019-07-02 21:36] #2385 closed

[2019-07-02 21:36] #2384 closed

[2019-07-02 22:36] ffrancetic commented on #2288
Cannot be reproduced on a Mac for some reason. Made multiple attempts.

[2019-07-03 13:09] DaleMcGrew commented on #2280
This issue is resolved. Thank you @LohitG.

[2019-07-03 13:09] #2280 closed

[2019-07-03 17:23] DaleMcGrew opened #2409 "Update "Create New Voter Guide" to Material UI Button"
Please update this "Create New Voter Guide" link to a button:
![Screen Shot 2019-07-03 at 9 36 09 AM](https://user-images.githubusercontent.com/7756031/60611873-390a6980-9d7c-11e9-8192-aaa7ac75592a.png)

You can find this on this page:
http://localhost:3000/settings/voterguidesmenu

Please make the text "New Voter Guide":
<img width="431" alt="Screen Shot 2019-07-03 at 10 22 49 AM" src="https://us

[2019-07-03 17:26] #2341 closed

[2019-07-03 19:37] ffrancetic commented on #2347
@lazorfuzz Setting the MuiButton print color to white globally doesn't seem to change the text color for the FireFox browser.
<img width="964" alt="Screenshot 2019-07-03 at 12 36 53" src="https://user-images.githubusercontent.com/36188818/60620151-4e3cc380-9d8f-11e9-8e40-e914ba411e75.png">

[2019-07-03 21:38] DaleMcGrew opened #2412 "Value Box at top of page"
For each value page, like this one: http://localhost:3000/value/climate_change
please update the styling to look like this:

DESKTOP:
<img width="956" alt="Screen Shot 2019-07-03 at 2 35 03 PM" src="https://user-images.githubusercontent.com/7756031/60626570-096d5880-9da0-11e9-9643-3f578031f9da.png">

MOBILE:
<img width="723" alt="Screen Shot 2019-07-03 at 2 36 09 PM" src="https://user-images.githu

[2019-07-03 21:41] DaleMcGrew opened #2413 "Values Listing page: Add number of orgs and public figures under each issue"
<img width="217" alt="Screen Shot 2019-07-03 at 2 40 23 PM" src="https://user-images.githubusercontent.com/7756031/60626733-944e5300-9da0-11e9-908e-cb6e9d19c49e.png">

[2019-07-04 17:29] DaleMcGrew commented on #2412
Verified.

[2019-07-04 17:29] #2412 closed

[2019-07-04 18:14] DaleMcGrew commented on #2409
Verified!

[2019-07-04 18:14] #2409 closed

[2019-07-04 18:18] DaleMcGrew commented on #2377
Great job @jarodpeachey!

[2019-07-04 18:18] #2377 closed

[2019-07-04 18:18] DaleMcGrew commented on #2288
Resolved.

[2019-07-04 18:18] #2288 closed

[2019-07-05 15:29] LohitG commented on #2347
Yeah when I was trying to fix this I found that Firefox seemed to resist print related CSS while other browsers changed accordingly.

[2019-07-05 17:42] DaleMcGrew opened #2419 "Domain Settings: Create First Draft Interface"
http://localhost:3000/settings/domain
Please update src/js/components/Settings/SettingsDomain.jsx to include these interface elements. Please note that the API calls haven't been created yet, so all data can be saved locally in a state in the SettingsDomain component:
<img width="557" alt="Screen Shot 2019-07-05 at 10 34 30 AM" src="https://user-images.githubusercontent.com/7756031/60737796-d0082a

[2019-07-05 18:09] DaleMcGrew opened #2420 "Pricing: Free vs. Professional "Chip" Component"
Please create a chip component that we can use a variety of places, that shows a voter if the feature is available to their account level, and to offer them a way to upgrade when they want a particular feature. We have three kinds of account levels:
1) Free
2) Professional
3) Enterprise

You can create some temporary variables within the component to specify "voterHasFreeAccount", "voterHasProfess

[2019-07-05 18:25] DaleMcGrew opened #2421 "Settings-Sharing: Configure social media sharing information"
Please note all of these blue-ish buttons should actually be the We Vote blue button. We offer various features, some that are available to voters using a Free account, and others that they need to upgrade to "Professional" to use. We have three kinds of account levels:
1) Free
2) Professional
3) Enterprise

You can create some temporary variables within the component to specify "voterHasFreeAccou

[2019-07-05 18:43] DaleMcGrew opened #2422 "Analytics Settings: Create first draft with interface elements"
http://localhost:3000/settings/analytics
Please update src/js/components/Settings/SettingsAnalytics.jsx to include these interface elements. Please note that the API calls haven't been created yet, so all data can be saved locally in a state in the SettingsAnalytics component:
<img width="682" alt="Screen Shot 2019-07-05 at 11 39 22 AM" src="https://user-images.githubusercontent.com/7756031/607401

[2019-07-09 19:58] ffrancetic opened #2430 "ValuesList Follow Toggle is Leaving "Follow" Artifact"
### Please describe the issue (What happens? What do you expect?)
On the initial load, the follow toggles don't work properly. When selecting Follow or Unfollow the Follow/Unfollow button stays fixed and does not disappear.
### Steps to reproduce the problem (1, 2, 3...), including links
When navigating to the /values/list page from the candidate page:

<img width="706" alt="Screenshot 2019-07-18

[2019-07-10 17:12] DaleMcGrew commented on #2413
Verified. Thank you @ffrancetic!

[2019-07-10 17:12] #2413 closed

[2019-07-10 17:12] DaleMcGrew commented on #2395
Verified!

[2019-07-10 17:12] #2395 closed

[2019-07-15 20:55] DaleMcGrew commented on #2382
Verified by @ffrancetic

[2019-07-15 20:55] #2382 closed

[2019-07-16 22:55] DaleMcGrew commented on #2419
Verified!

[2019-07-16 22:55] #2419 closed

[2019-07-16 22:57] DaleMcGrew commented on #2422
Verified. Thank you @jarodpeachey!

[2019-07-16 22:57] #2422 closed

[2019-07-17 02:48] SailingSteve opened #2436 "Candidate page when reached via "your voter guides" needs a "back to" or menus"
Then needs a header sizing fix in Cordova and "Mobile"  There is also no consistent way to navigate away.

![IMG_1172](https://user-images.githubusercontent.com/6923653/61343437-984b8d80-a802-11e9-9c47-cea0aeaa2029.PNG)

[2019-07-17 02:49] SailingSteve commented on #2436
<img width="461" alt="Screen Shot 2019-07-16 at 7 48 53 PM" src="https://user-images.githubusercontent.com/6923653/61343514-d8127500-a802-11e9-8b93-ffaff3a71fed.png">

[2019-07-18 17:34] DaleMcGrew opened #2439 "Extend Ballot Test Script: July 18, 2019"
Please make sure our BallotTest script includes the following:

Candidate Page
- [x] Click "Choose" for candidate prior to scrolling down page
- [x] Add comment about candidate and save prior to scrolling down page
- [x] Click "Oppose" for candidate prior to scrolling down page
- [x] Clear your comment about the measure and save prior to scrolling down page
- [x] Follow endorsing organization (mak

[2019-07-18 17:35] SailingSteve commented on #2217
Donations are massively messed up.
The problem this issue mentions is a minor timing problem, that will be fixed with an extra line in Application.jsx
The results table is a mess, partially due to untested refactors.
There is probably a few days of work here, to get this back in shape.

[2019-07-18 18:14] jarodpeachey commented on #2430
@ffrancetic What browser etc, are you using? I can't duplicate the issue on Chrome using Windows. Could you attach a GIF clip with the problem?

[2019-07-18 18:36] ffrancetic commented on #2430
![ezgif com-video-to-gif (1)](https://user-images.githubusercontent.com/36188818/61482564-cab6d100-a94f-11e9-8f6c-adfd04187a80.gif)
This is on Chrome. Make sure you are not refreshing anything. And you can't start off on the values/list page, it must be from another page just like in the video.

[2019-07-19 00:01] #2217 closed

[2019-07-22 18:34] ashwinigawande11 opened #2445 "Testing Script: Ballot page "Address and Election" pop up is not closing."
While Testing the Ballot page on mobile devices, the Address and election link pops up, and when we try to choose an election (that is below the fold), the we are not proceeding to the election.

![addresspopup](https://user-images.githubusercontent.com/48735376/61656023-9fe0bb80-ac74-11e9-86b1-e8ef63dc2945.png)

Notes from Dale:
When I look at videos like this, and review the step-by-step history

[2019-07-24 20:18] DaleMcGrew commented on #2420
Verified. Thank you @flurmbo!

[2019-07-24 20:18] #2420 closed

[2019-07-24 20:19] DaleMcGrew commented on #2430
Hi @jarodpeachey I am still seeing this issue in the latest version.

[2019-07-24 20:20] DaleMcGrew commented on #2402
I will be rearchitecting the way we deal with this to optimize. Archiving for Later.

[2019-07-24 20:20] #2402 closed

[2019-07-24 21:38] DaleMcGrew opened #2451 "Payment Process: Add payment choice and Stripe processing"
We already have this modal (Desktop) WebApp/src/js/components/Settings/PaidAccountUpgradeModal.jsx and we want to add the following logic to this component, using the switch statement variable "paidAccountProcessStep".
![Screen Shot 2019-07-24 at 2 08 31 PM](https://user-images.githubusercontent.com/7756031/61828897-98f4ad00-ae1c-11e9-972c-28fa38212c2c.png)

Add slide 2 (Desktop). The Stripe proce

[2019-07-26 00:23] jarodpeachey commented on #2002
@DaleMcGrew What are the details for this? I could give this a go if you'd like

[2019-07-26 00:24] jarodpeachey commented on #2002
@DaleMcGrew What are the details for this? I could give this a go if you'd like

[2019-07-26 13:31] DaleMcGrew commented on #2002
Hi @jarodpeachey, I don't know if you saw my email about the other issue that is more important. I'm going to Archive this issue for later.

[2019-07-26 13:31] #2002 closed

[2019-07-26 16:03] DaleMcGrew opened #2454 "Artifact of Material UI 4 upgrade?"
![Screen Shot 2019-07-26 at 9 02 30 AM](https://user-images.githubusercontent.com/7756031/61965052-328a9e80-af84-11e9-9890-90f870c66bcc.png)

[2019-07-26 16:35] DaleMcGrew opened #2455 "Popover Feature to Values Section"
Currently in the positions list under a candidate, we have a popover that appears on hover (it currently has visual glitch we are fixing seperately):
![Screen Shot 2019-07-26 at 9 24 11 AM](https://user-images.githubusercontent.com/7756031/61966278-26541080-af87-11e9-8184-7940a0b9ca84.png)

Please migrate this functionality to the values listing pages:
![Screen Shot 2019-07-26 at 8 59 50 AM](https

[2019-07-26 18:13] flurmbo opened #2456 "Expanding tags on candidate page has no function when tags are not overflowing"
### Please describe the issue (What happens? What do you expect?)

On a candidate's page, there is a list of tags beneath the candidate's name. There is a three dotted button that expands these tags when they would otherwise overflow their container. However, the button is still present even when the tags do not overflow the container, making the button useless. See the gif below for a clear demon

[2019-07-26 22:41] ashwinigawande11 commented on #2445
So here'sand little change in the script and the modal is getting closed now proceeding further to click "ballotBadge-State" and the other ballotBadges. And regarding element "ballotElectionListWithFiltersButton-6000" , the script is given for a simple click command only.

Below is the link of closing modal:
https://automate.browserstack.com/builds/3e16d4972183f1fee90328ac18e2410bb0f05280/sessions

[2019-07-26 23:27] jarodpeachey commented on #2454
Hey @DaleMcGrew

I can't seem to replicate the issue on Chrome... what candidate was this on?

[2019-07-26 23:32] DaleMcGrew commented on #2454
I see the issue on every candidates’ page.  Maybe do a shift refresh on
the browser to make sure you have all the updated style sheets?  I’m out
taking a walk now, but we can do a screen share in about 30 minutes if
you’d like.

On Fri, Jul 26, 2019 at 4:27 PM Jarod Peachey <notifications@github.com>
wrote:

--

Dale John McGrew
Co-Founder & CTO, We Vote
Dale.McGrew@WeVote.US
www.WeVote.US
415-516

[2019-07-27 16:32] DaleMcGrew commented on #2430
I fixed this and verified it.

[2019-07-27 16:32] #2430 closed

[2019-07-29 16:28] DaleMcGrew opened #2461 "Endorsed vs. Add to Voter Guide: Implement Navigation Tabs"
On this page, we have a sticky header:
https://quality.wevote.us/vg/wv02vg11135/settings/positions

In that sticky header, we want to implement a toggle that lets the person building their voter guide switch between seeing the endorsements they have already made and the search interface to find new candidates to endorse.

DESKTOP:
<img width="623" alt="Screen Shot 2019-07-29 at 9 14 19 AM" src="ht

[2019-07-29 19:32] DaleMcGrew opened #2462 "Settings: Build Subscription Page"
Please implement these two pages for Desktop and Mobile. We can implement what you see when you click "View Invoice" later.

Desktop version (First page):
![Screen Shot 2019-07-31 at 4 00 01 PM](https://user-images.githubusercontent.com/7756031/62253978-72022200-b3ac-11e9-9693-6d0c5c2d1f7d.png)

Mobile version (First page):
![Screen Shot 2019-07-31 at 4 00 26 PM](https://user-images.githubusercont

[2019-07-30 20:56] SailingSteve opened #2465 "Webpack issues"
Issues resulting from https://github.com/wevote/WebApp/pull/2230:
1) Problem loading the css for the loading screen (minor problem)
[code]
2)  Problem loading google-tag-manager (need to fix, but would merge to develop with this)
NOTE to @SailingSteve: We don't include these files (/javascript/google-tag-manager.js and /javascript/google-analytics.js) on local machines, and in fact put the filenam

[2019-07-30 22:33] SailingSteve commented on #2465
5) `/sign_in_email/` no longer works.
It appears that webpack redirects `/sign_in_email/obsDdRz0PUfO` to `/sign_in_email/bundle.js`
When you look at SignInEmailProcess.jsx in the debugger, it looks like it has been  heavily "instrumented" by WebPack, and never appears to get to any code in  the original JavaScript file.

[2019-07-31 17:34] SailingSteve commented on #2465
6. Running behind ngrok allows for twitter sign in, but loses the automatic update of the screen when the code changes -- you have to hit the browser refresh, which takes a couple of minutes to complete.

[2019-07-31 18:04] flurmbo commented on #2465
Hi @SailingSteve, I'm experiencing an issue with the Webpack live reloading and thought I'd add it here. When I modify a javascript file (e.g. add console.log('hello world') to a component) I am not seeing anything change in the terminal that's running webpack, and refreshing the browser does not show the changes. It could be an issue with Ubuntu 18.04, just wondering if it's just me experiencing

[2019-07-31 23:09] DaleMcGrew opened #2467 "Settings-Sharing (Mobile): Configure social media sharing"
Upgrade the current http://localhost:3000/settings/sharing page to use the following layout in mobile mode:
![Screen Shot 2019-07-31 at 4 08 14 PM](https://user-images.githubusercontent.com/7756031/62254309-7da21880-b3ad-11e9-82dc-726c27447f15.png)

[2019-07-31 23:11] DaleMcGrew commented on #2421
Thank you @lazorfuzz, this page looks great! Do you have time to implement the mobile version?
https://github.com/wevote/WebApp/issues/2467
Please note that we just updated our build system, so unless you want to make these changes without grabbing the latest code, you might want to wait until Friday or Saturday to tackle this.

[2019-07-31 23:11] #2421 closed

[2019-08-07 14:36] DaleMcGrew commented on #2461
I have this working on my local development environment now.

[2019-08-07 14:36] #2461 closed

[2019-08-07 18:00] flurmbo opened #2471 "When ballot does not appear, link to set address is not clearly hyperlinked"
### Please describe the issue (What happens? What do you expect?)
A span with the id of "ballotIfBallotDoesNotAppear" is colored black, which means people won't necessarily realize it's a hyperlink.
### Steps to reproduce the problem (1, 2, 3...), including links
1) Not sure how to consistently reproduce it. Under some circumstances the ballot will not load and ask for the user to input an address